<template>

    <div style="text-align: left">

        <v-autocomplete

            v-model="item"
            label="Текст для поиска"

            :items="itemList"
            :search-input.sync="search"
            :loading="loading"

            autocomplete="off"

            filled
            full-width
            single-line
            dense

            return-object
            item-text="name"
            item-value="id"

            :append-icon="itemList.length ? 'mdi-chevron-down' : ''"
            :allow-overflow="false"

            @input---="onInput"
            @change="onChange"
            @keydown.enter.prevent="onEnter"

        ></v-autocomplete>

    </div>

</template>

<script>
// import debounce from 'debounce'

export default {

    data () {

        return {

            search: null,
            item: null,
            itemList: [],
            loading: false,

        }

    },

    watch: {

        search( newVal, oldVal ) {

            if ( !!newVal && newVal.length >= 3 ) {

                this.loadData();

            }

        },

    },

    methods: {

        loadData() {

            this.loading = true;

            // https://geocode-maps.yandex.ru/1.x/?apikey=ваш API-ключ&geocode=Тверская+6

            let _url = new URL( 'https://geocode-maps.yandex.ru/1.x/' );
            // let _url = new URL( 'https://api-maps.yandex.ru/services/search/v2/?callback=id_15797810181015203912&format=json&lang=ru_RU&token=355180c6059f54b06efd44e102338f6f&rspn=0&results=10&origin=jsapi2SearchControl&snippets=businessrating%2F1.x%2Cmasstransit%2F1.x&ask_direct=1&experimental_maxadv=200&apikey=f1d03e63-82b9-4586-8be2-5723669ef7eb&text=%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5&ll=37.6027385%2C55.74317193254726&spn=0.47378499999999946%2C0.3347230000000039' );
            // let _url = new URL( 'https://api-maps.yandex.ru/services/search/v2/?format=json&lang=ru_RU&token=355180c6059f54b06efd44e102338f6f&rspn=0&results=10&origin=jsapi2SearchControl&snippets=businessrating%2F1.x%2Cmasstransit%2F1.x&ask_direct=1&experimental_maxadv=200&apikey=f1d03e63-82b9-4586-8be2-5723669ef7eb&text=%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5&ll=37.6027385%2C55.74317193254726&spn=0.47378499999999946%2C0.3347230000000039' );

            let _options = {

                geocode: this.search,

                ll: [ 37.6027385, 55.74317193254726 ],
                spn: [ 0.47378499999999946, 0.3347230000000039 ],

                // rspn: 0,
                // token: '355180c6059f54b06efd44e102338f6f',
                apikey: 'f1d03e63-82b9-4586-8be2-5723669ef7eb',

                lang: 'ru_RU',
                format: 'json',

            };

            Object.keys( _options ).forEach( key => {

                _url.searchParams.append( key, _options[ key ] );

            } );

            fetch( _url ).then( response => response.json() ).then( json => {

                console.dir( json.response.GeoObjectCollection.metaDataProperty.GeocoderResponseMetaData.found );
                console.dir( json.response.GeoObjectCollection.featureMember );

                let _items = [];
                json.response.GeoObjectCollection.featureMember.map( feature => _items.push( {

                    name: feature.GeoObject.name,
                    id: JSON.stringify( feature.GeoObject.Point.pos ),
                    coordinates: feature.GeoObject.Point.pos,
                    // bbox: feature.GeoObject.Point.pos,

                } ) );

                // let _items = [];
                //
                // response.features.map( feature => _items.push( feature.properties ) );
                this.itemList = _items;

                setTimeout( () => {

                    this.loading = false;

                }, 300 );

            } );

        },

        onInput( e ) {

            this.$emit( 'input', payload );
            //
            // console.log( 'input', e)
            //
            // // if (event.target.value.length > 2) {}
            // console.dir(e)

        },

        onEnter( e ) {

            // console.log( 'enter', e );

            // alert( 'Enter' )
            // e.preventDefault();

        },

        onChange( payload ) {

            this.$emit( 'change', payload );

            console.log( 'change', payload );

            // if (event.target.value.length > 2) {}
            alert( payload.coordinates );

        },

    }

}
</script>
