<template>
  <ul class="breadcrumbs">
    <li
      v-for="(item, i) in items"
      :key="i"
      class="breadcrumbs__item"
    >
      <nuxt-link v-if="item.link" :to="item.link" class="breadcrumbs__link">
        {{item.name}}
      </nuxt-link>
      <ArrowIcon3 v-if="i < items.length - 1" class="breadcrumbs__icon"/>
      <span class="breadcrumbs__current" v-if="!item.link">{{item.name}}</span>
    </li>
  </ul>
</template>

<script>
  import ArrowIcon3 from '~/components/svg/ArrowIcon3';
  export default {
    props: ['items'],
    components: {
      ArrowIcon3,
    },
    data() {
      return {}
    }
  }
</script>

<style lang="scss" scoped>
  .breadcrumbs {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 28px;
    &__icon {
      transform: rotate(-90deg);
      margin: 0 10px 2px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    &__item {
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
    }
    &__link {
      text-decoration: none;
      color: #767676;
    }
    &__current {
      color: #0194d3;
    }
  }
</style>
