<template>
  <div
    class="editor-description"
    :class="{
      'editor-description_hidden': !menuVisible
    }"
  >
    <div class="editor-description__header">
      <button
        @click="menuVisible = !menuVisible"
        class="editor-description__header-btn"
        v-tooltip="menuVisible ? 'Скрыть меню' : 'Показать меню'"
      >
        <ArrowIcon/>
      </button>
      <h4 class="editor-description__title">
        <span v-if="proposal">{{proposal.routeID ? 'Существующий маршрут' : 'Новый маршрут' }}</span>
        <div v-if="routeData">{{routeData.properties.name}} ({{routeData.properties.fullname}})</div>
      </h4>
    </div>
    <div v-if="proposal" class="editor-description__body" v-bar>
      <div>
        <div class="editor-description__container">
          <div class="editor-description__controls">
            <div class="editor-description__status">{{proposal.status === "В работе" ? "На рассмотрении" : proposal.status}}</div>
            <v-btn v-if="proposal.isMine" @click="historyModalVisible = true">История изменения статуса</v-btn>
          </div>
          <p v-if="proposal.username">Автор: <span>{{proposal.username}}</span></p>
          <p v-if="proposal.createdAt">Дата {{ proposal.status == 'Новая' || proposal.status == 'На модерации' ? 'создания' : 'публикации'}}: <span>{{moment.utc(proposal.createdAt).format('DD-MM-YYYY HH:mm')}}</span></p>
          <p v-if="proposal.reason">Описание: <span>{{proposal.reason}}</span>
          </p>
          <p v-if="proposal.desiredFrom">Начало маршрута: <span>{{proposal.desiredFrom}}</span>
          </p>
          <p v-if="proposal.desiredTo">Конец маршрута: <span>{{proposal.desiredTo}}</span>
          </p>
          <p v-if="proposal.desiredDays">Дни недели: <span>{{proposal.desiredDays}}</span>
          </p>
          <p v-if="proposal.desiredTime">Время суток: <span>{{proposal.desiredTime}}</span>
          </p>
          <p v-if="proposal.desiredVehicleType">Тип транспортного средства: <span>{{proposal.desiredVehicleType}}</span>
          </p>
          <p v-if="proposal.desiredInterval">Желаемый интервал движения: <span>{{proposal.desiredInterval}}</span>
          </p>
        </div>
      </div>
    </div>
    <v-dialog
      v-model="historyModalVisible"
      max-width="550px"
      persistent
    >
      <div v-if="historyModalVisible" class="modal">
        <div class="modal__header">
          <div class="modal__title">
            История изменения статуса
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="historyModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <table class="editor-description__statuses">
            <thead>
            <tr>
              <th>Статус</th>
              <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr
              v-for="(item, key) in proposalHistory"
              :key="key"
            >
              <td>{{item.status}}</td>
              <td>{{moment.utc(item.changedAt).format('DD-MM-YYYY HH:mm')}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn modal__btn_color" @click="historyModalVisible = false">Закрыть
          </button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import moment from 'moment';
  import CloseIcon from '~/components/svg/CloseIcon';

  export default {
    props: ['proposal', 'routeData'],
    components: {
      ArrowIcon,
      CloseIcon,
    },
    data() {
      return {
        menuVisible: true,
        historyModalVisible: false,
        moment,
      }
    },
    computed: {
      proposalHistory() {
        return this.$store.state.proposals.statuses;
      }
    },
    watch: {
      menuVisible() {
        this.$nuxt.$nextTick(() => this.$bus.$emit('resizeMap'));
      },
    }
  }
</script>

<style lang="scss">
  .editor-description {
    width: 400px;
    border-left: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      border-bottom: 1px solid #ebebeb;

      &-btn {
        padding: 5px;
        border-right: 1px solid #ebebeb;
        min-height: 64px;

        svg {
          transform: rotate(180deg);
          transition: transform 0.175s;
        }
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 300;
      padding: 17px 23px 16px;
    }

    &_hidden {
      width: 22px;

      .editor-description__title,
      .editor-description__body {
        display: none;
      }

      .editor-description__header-btn {
        svg {
          transform: rotate(0deg);
        }
      }
    }

    &__container {
      padding: 17px 23px 16px;
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &__status {
      color: rgba(102,111,120,.8);
      font-weight: 300;
      font-size: 16px;

    }

    p {
      font-size: 16px;
      & > span {
        font-weight: 300;
        color: rgba(102,111,120,.8);
      }
    }

    &__statuses {
      width: 100%;
      text-align: left;

      th,
      td {
        padding: 5px;
        font-size: 16px;
      }
    }
  }
</style>
