<template>
  <div v-if="!cablewayEdit"
       class="editor-legend editor-legend_master-copy"
       :class="{
            'editor-legend_sub-menu-open': $store.state.editor.data.subMenuOpen,
            'editor-legend_operator': operator,
        }"
  >
    <div
      class="editor-legend-master-copy custom-scroll"
      :class="{
               'editor-legend-master-copy_visible': legendVisible
            }"
    >
      <button @click="legendVisible = !legendVisible" class="editor-legend-master-copy__hide-btn">{{legendVisible ?
        'Скрыть' : 'Показать легенду'}}
      </button>
      <div v-if="legendVisible"
           class="editor-legend-master-copy__column"
           :class="{
                    'editor-legend-master-copy__column_visible': legendVisible
                 }"
      >
        <span class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_master-main"></span>
          Существующая остановка прямой маршрут
        </span>
        <span class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_master-back"></span>
          Существующая остановка обратный маршрут
        </span>
        <span class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_term"></span>
          Конечная остановка
        </span>
        <span class="editor-legend-master-copy__item editor-legend-master-copy__item_o-mod">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_master">
            <svg class="editor-legend-master-copy__icon-bus" width="23px" height="23px" viewBox="0 0 23 23"
                 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path
                      d="M14.24968,12.499472 C14.66416,12.499472 14.99968,12.8359412 14.99968,13.249448 C14.99968,13.6639148 14.66416,13.999424 14.24968,13.999424 C13.83616,13.999424 13.49968,13.6639148 13.49968,13.249448 C13.49968,12.8359412 13.83616,12.499472 14.24968,12.499472 Z M8.75032,12.499472 C9.16384,12.499472 9.50032,12.8359412 9.50032,13.249448 C9.50032,13.6639148 9.16384,13.999424 8.75032,13.999424 C8.33584,13.999424 8.00032,13.6639148 8.00032,13.249448 C8.00032,12.8359412 8.33584,12.499472 8.75032,12.499472 Z M8.00032,10.99952 L14.99968,10.99952 L14.99968,7.99961601 L8.00032,7.99961601 L8.00032,10.99952 Z M11.00032,6 C9.18712,6 7,6.11903619 7,7.99961601 L7,13.49976 C7,13.9432658 7.19512,14.3358933 7.49968,14.6087645 L7.49968,15.499376 C7.49968,15.7748872 7.7248,16 8.00032,16 L8.5,16 C8.77552,16 8.99968,15.7748872 8.99968,15.499376 L8.99968,14.999712 L14.00032,14.999712 L14.00032,15.499376 C14.00032,15.7748872 14.22448,16 14.5,16 L14.99968,16 C15.2752,16 15.50032,15.7748872 15.50032,15.499376 L15.50032,14.6087645 C15.80512,14.3358933 16,13.9432658 16,13.49976 L16,7.99961601 C16,6.11903619 13.81288,6 11.99968,6 L11.00032,6 Z"
                      id="Fill-1" fill="#FFFFFF"></path>
                </g>
            </svg>
          </span>
          Существующая остановка вне маршрута
        </span>
      </div>
      <div
        v-if="legendVisible"
        class="editor-legend-master-copy__column"
        :class="{
                    'editor-legend-master-copy__column_visible': legendVisible
                 }"
      >
        <span v-if="routeID" class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_new"></span>
          Добавленная остановка
        </span>
        <span v-if="routeID" class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_del"></span>
          Удаленная остановка
        </span>
        <span class="editor-legend-master-copy__item">
          <span class="editor-legend-master-copy__icon editor-legend-master-copy__icon_user"></span>
          Новая пользовательская остановка на маршруте
        </span>
      </div>
      <div
        v-if="legendVisible"
        class="editor-legend-master-copy__column"
        :class="{
                    'editor-legend-master-copy__column_visible': legendVisible
                 }"
      >
        <span class="editor-legend-master-copy__item editor-legend-master-copy__item_line"><span
          class="editor-legend-master-copy__line"
          :style="{backgroundColor: linesColors.main}"></span> Прямой маршрут</span>
        <span class="editor-legend-master-copy__item editor-legend-master-copy__item_line"><span
          class="editor-legend-master-copy__line" :style="{backgroundColor: linesColors.back}"></span> Обратный маршрут</span>
      </div>
    </div>
  </div>
</template>

<script>
  import Checkbox from "~/components/base/Checkbox";
  import {ngptOptions} from '~/components/map/layers/editor';
  import NgptIcon from '~/components/svg/NgptIcon';
  import NgptIcon2 from '~/components/svg/NgptIcon2';


  export default {
    data() {
      return {
        legendVisible: true,
        ngptOptions,
        originalRouteVisible: false,
      }
    },
    props: ['viewMode', 'operator', 'routeID'],
    components: {
      Checkbox,
      NgptIcon,
      NgptIcon2
    },
    computed: {
      cablewayEdit() {
        return this.$store.state.editor.cablewayEdit;//
      },
      linesColors() {
        const styleOptions = this.ngptOptions.bus;
        return {
          main: styleOptions.lineColor,
          back: styleOptions.lineColorDark
        }
      },
    },
    beforeMount() {
      if (this.operator || this.proposalModal) {
        this.legendVisible = false;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .editor-legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-left: 250px;

    hr {
      background-color: #ebebeb;
      height: 1px;
      border: 0;
      margin: 15px 0;
    }

    &__icon {
      min-width: 23px;
      height: 23px;
      margin-right: 5px;
      margin-left: 25px;
      vertical-align: middle;
    }

    &_sub-menu-open {
      padding-left: 420px;
    }

    &_master-copy {
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 280px;
      display: flex;
      justify-content: flex-end;

      &.editor-legend_sub-menu-open {
        padding-left: 593px;
      }
    }

    &_operator {
      padding: 20px !important;

      .editor-legend-master-copy:not(.editor-legend-master-copy_visible) {
        top: -10px;
        right: 10px;
      }
    }

    &__row {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .editor-legend-param {
    &__diff {
      white-space: nowrap;
    }
  }

  .editor-legend-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      white-space: nowrap;
      margin-bottom: 15px;
    }
  }

  .editor-legend-master-copy {
    background-color: #fff;
    position: relative;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 4px;
    }

    &_visible {
      width: 100%;
      padding: 19px 19px 12px;
      background-color: rgba(255, 255, 255, .925);

      .editor-legend-master-copy__hide-btn {
        position: absolute;
        padding: 0;
        font-size: 12px;
        box-shadow: none;
      }
    }

    &:not(.editor-legend-master-copy_visible) {
      .editor-legend-master-copy__hide-btn {
        padding: 7px 10px;
        color: #333;
      }

      &:hover {
        .editor-legend-master-copy__hide-btn {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }

    &__hide-btn {
      font-size: 13px;
      right: 12px;
      top: 8px;
      padding: 5px 10px;
      box-shadow: 0 3px 10px rgba(10, 30, 50, 0.1), 0 1px 2px rgba(10, 30, 50, 0.152768);
      border-radius: 5px;
    }

    &__item {
      font-weight: 300;
      display: flex;
      align-items: center;
      padding-right: 15px;

      &:not(:last-child) {
        margin-bottom: 9px;
      }

      .editor-legend__icon {
        margin-left: 0;
      }

      &_o-mod {
        opacity: .5;
      }

      .checkbox {
        margin-bottom: 10px;
        margin-top: 9px;
        align-items: center;
      }

      &_line {
        display: flex;
        align-items: center;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &_visible {
        padding-bottom: 14px;
      }

      // &:nth-child(2) {
      //   padding-right: 48px;
      // }
    }

    &__line {
      width: 20px;
      height: 4px;
      margin-right: 12px;
    }

    &__icon {
      min-width: 23px;
      height: 23px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;

      &-bus {
        transform: scale(1.4);
      }

      &_master {
        background-color: #72b8eb;
      }

      &_master-main {
        background-color: #0080ff;
      }

      &_master-back {
        background-color: #008000;
      }

      &_user {
        background-color: #09BA92;
      }

      &_del {
        background-color: #ff0000;
      }

      &_term {
        background-color: #163354;
      }

      &_new {
        background-color: #b55d10;
      }

      &_user {
        background-color: #09BA92;
      }
    }
  }
</style>
