<template>
  <div class="editor-footer">
    <v-btn
      class="editor-footer__back-btn "
      color="info"
      dark
      @click="goBack"
    >
      Назад
    </v-btn>
    <div class="editor-footer__votes">
      <div v-if="!fromOperator && proposal && proposal.status !== 'Отклонена'" class="editor-footer__votes-buttons">
        <button
          class="editor-footer__votes-btn editor-footer__votes-btn_for"
          :disabled="voteBtnDisabled"
          @click="onVote(true)"
        >
          <HandIcon class="editor-footer__votes-btn-icon"/>
          <span class="editor-footer__votes-btn-count">{{proposal.voteFor}}</span>
          За идею
        </button>
        <button
          class="editor-footer__votes-btn editor-footer__votes-btn_against"
          :disabled="voteBtnDisabled"
          @click="onVote(false)"
        >
          <HandIcon class="editor-footer__votes-btn-icon"/>
          <span class="editor-footer__votes-btn-count">{{proposal.voteAgainst}}</span>
          Против идеи
        </button>
      </div>
      <div v-if="!fromOperator && proposal && proposal.status !== 'Отклонена'">
        <div v-if="proposal.status === 'Новая' || proposal.status === 'На модерации'">
          Голосование еще не началось
        </div>
        <div v-else-if="proposal.status === 'Закрыто'">
          Голосование завершено
        </div>
        <div v-else-if="proposal.isMine" class="editor-footer-votes__info">
          За свои идеи голосовать нельзя
        </div>
        <div v-else-if="proposal.isVoted">
          Вы уже проголосовали {{ proposal.vote ? 'ЗА' : 'ПРОТИВ' }}
        </div>
      </div>
    </div>
    <div class="editor-footer__controls">
      <v-btn @click="answerModalVisible = true" v-if="proposal && proposal.lastTextField"
             class="editor-footer__controls-btn">Ответ на идею
      </v-btn>
      <Discussions/>
    </div>
    <v-dialog
      v-model="answerModalVisible"
      max-width="550px"
      persistent
    >
      <div v-if="answerModalVisible" class="modal">
        <div class="modal__header">
          <div class="modal__title">
            Ответ оператора на идею
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="answerModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <p>{{proposal.lastTextField}}</p>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn modal__btn_color" @click="answerModalVisible = false">Закрыть
          </button>
        </div>
      </div>
    </v-dialog>
    <v-dialog v-model="voteModalVisible" max-width="494px">
      <div
        v-if="voteModalVisible"
        class="modal editor-footer-votes-modal"
        :class="{
              'modal_vote-for': voteType,
              'modal_vote-against': !voteType
            }"
      >
        <div class="modal__header">
          <div class="modal__title">
            Голосовать
            <span v-if="voteType">за идею</span>
            <span v-else>против идеи</span>
            {{proposal && proposal.title || ''}}
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="voteModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="voteModalVisible = false">Отменить</button>
          <button
            v-ripple class="modal__btn modal__btn_color"
            @click="onVoteConfirm"
          >
            <span v-if="voteType">
              Голосовать за
              <HandIcon class="vote__btn-icon btn__handicon"/>
            </span>
            <span v-else>
              Голосовать против
              <HandIcon class="vote__btn-icon btn__handicon"/>
            </span>
          </button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import HandIcon from '~/components/svg/HandIcon';
  import Discussions from '~/components/editor/Discussions';
  import CloseIcon from '~/components/svg/CloseIcon';
  import {mapActions} from 'vuex';

  export default {
    props: ['proposal'],
    components: {
      Discussions,
      HandIcon,
      CloseIcon
    },
    data() {
      return {
        voteProcess: false,
        voteModalVisible: false,
        voteType: null,
        answerModalVisible: false,
      }
    },
    methods: {
      ...mapActions({
        saveVote: 'proposals/saveVote',
      }),
      onVoteConfirm() {
        this.voteModalVisible = false;
        this.voteProcess = true;
        this.saveVote({
          commentary: this.voteComment,
          id: this.proposal.routeID || this.proposal.newRouteID,
          proposalID: this.proposal.id,
          vote: this.voteType
        });
      },
      goBack() {
        let url = '/proposals';
        if (this.$route.params.fromRoute) {
          this.$router.push({
            name: this.$route.params.fromRoute,
            params: this.$route.params,
          });
        } else {
          this.$router.push({
            path: url,
            query: this.$route.params.pageQuery,
            hash: '',
          });
        }
      },
      onVote(vote) {
        if (this.proposalClosed) {
          return;
        }
        if (!this.authorized) {
          this.$store.commit('auth/setRedirectParams', {
            cancelBtn: true,
            routeParams: {
              name: this.$route.name,
              query: this.$route.query,
              params: {
                ...this.$route.params,
                info: {
                  status: 'info',
                  text: 'Голосование за идеи доступно только зарегистрированным пользователям'
                }
              }
            }
          });
          this.$router.push('/login');
          return;
        }
        this.voteType = vote;
        this.voteComment = '';
        this.voteModalVisible = true;
      },
    },
    computed: {
      fromOperator() {
        return this.$route.params.fromRoute === 'operator-proposals';
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      proposalClosed() {
        return this.proposal.status === 'Закрыто';
      },
      voteBtnDisabled() {
        return this.proposal.isVoted || this.proposal.isMine || this.voteProcess || this.proposalClosed;
      }
    }
  }
</script>

<style lang="scss">
  .editor-footer {
    border-top: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-shrink: 0;

    &__back-btn {
      color: #fff !important;
      font-size: 14px !important;
      font-weight: 400;
      line-height: 14px;
      min-width: 128px !important;
      padding: 0 15px;
      height: 32px !important;
      border-radius: 3px;
      background-color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 1px !important;
      text-transform: none;
      box-shadow: none;

      .v-btn__content {
        line-height: 34px !important;
      }
    }

    &__votes {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__votes-buttons {
      display: flex;
      margin-bottom: 3px;
    }

    &__votes-btn {
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      min-width: 295px;
      padding: 8px 10px 8px 8px;
      font-weight: 300;

      &:first-child {
        margin-right: 15px;
      }

      &[disabled] {
        opacity: .5;
      }

      &-count {
        margin: 0 10px;
      }

      &-icon {
        g {
          fill: #fff;
        }
      }

      &_for {
        background-color: #2f7ce6;
      }

      &_against {
        background-color: #f07f2f;

        .editor-footer__votes-btn-icon {
          transform: rotate(180deg);
        }
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      margin-left: 15px;

      .discussions-header {
        display: flex;
        align-items: center;
      }

      .discussions-box {
        margin-left: 15px;
        margin-right: 15px;
      }

      .discussions-header__btn {
        svg {
          display: block;
        }
      }

      &-btn {
        background-color: #2f7ce6 !important;
        color: #fff !important;
        text-transform: none;
        font-size: 16px !important;
      }
    }
  }

  .editor-footer-votes-modal {
    .modal__btn {
      padding: 8px 20px;

      &_color {
        padding-left: 36px;
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;

        }
      }
    }

    &.modal_vote-for {
      .modal__btn.modal__btn_color {
        background-color: #2f7ce6 !important;
        border-color: #2f7ce6 !important;
      }
    }

    &.modal_vote-against {
      .modal__btn.modal__btn_color {
        background-color: #f07f2f !important;
        border-color: #f07f2f !important;
      }
    }
  }
</style>
