<template>
  <div class="editor">
    <div class="editor__container">
      <div class="editor__wrapper">
        <Menu :viewMode="viewMode" :routeID="routeID"/>
        <div class="editor__map">
          <map-box
            v-if="dataLoaded"
            :routeID="routeID"
            :viewMode="viewMode"
            class="editor__map-box"
          />
          <Params :routeID="routeID"/>
        </div>
        <div class="editor__info" v-if="noRouteDataVisible">Геометрическое изображение маршрута <br> отсутствует</div>
      </div>
      <Description :proposal="proposal" :routeData="routeID ? routeData : null"/>
    </div>
    <EditorFooter :proposal="proposal"/>
    <div v-if="!dataLoaded" class="loader_all" style="z-index: 100;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import Menu from '~/components/editor/Menu';
  import {startRouteProperties} from '../../components/map/layers/editor';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from '~/components/map/layers/editor';
  import EditorFooter from '~/components/editor/Footer';
  import MapBox from '~/components/map/MapBox';
  import Params from '~/components/Proposal/Params';
  import Description from '~/components/editor/Description';
  import {mapMutations} from 'vuex';

  export default {
    components: {
      Menu,
      EditorFooter,
      MapBox,
      Params,
      Description,
    },
    data() {
      return {
        masterCopy: null,
        subMenuOpen: true,
        routeName: null,
        routeType: null,
        transportType: 'bus',
        editorData,
        editorHistory,
        routeID: null,
        viewMode: null,
        dataLoaded: false,
      }
    },
    methods: {
      ...mapActions({
        getRoutes: 'ngpt/getRoutes',
        getStops: 'ngpt/getStops',
        getMetroStations: 'metro/getMetro',
        getMetroEntrances: 'metro/getMetroEntrances',
        getDistricts: 'districts/getDistricts',
        getRouteData: 'ngpt/getRouteData',
        getAllProposals: 'proposals/getAllProposals',
        getProposal: 'proposals/getProposal',
        getJdStations: 'jd/getStations',
        getStopByRouteID: 'ngpt/getStopByRouteID',
        clearNgptStore: 'ngpt/clearNgptStore',
        clearMetroStore: 'metro/clearMetroStore',
        clearDistrictsStore: 'districts/clearDistrictsStore',
        clearProposalStore: 'proposals/clearProposalStore',
        clearJdStore: 'jd/clearJdStore',
        clearTelematicsStore: 'telematics/clearTelematicsStore',
        getProposalDiscussions: 'proposals/getProposalDiscussions',
        getStatuses: 'proposals/getStatuses',
        getTelematics: 'telematics/getTelematics',
      }),
      ...mapMutations({
        clearTelematics: 'telematics/CLEAR_TELEMATICS_STORE'
      }),
      loadData() {
        const promises = [
          this.getRoutes(),
          this.getStops(),
          this.getMetroStations(),
          this.getMetroEntrances(),
          this.getDistricts(),
          this.getAllProposals(),
          this.getJdStations(),
        ];
        if (this.routeID && this.routeID !== '0') {
          promises.push(this.getStopByRouteID(this.routeID))
        }
        return Promise.all(promises);
      },
    },
    computed: {
      noRouteDataVisible() {
        return this.viewMode && this.dataLoaded && this.proposal && !this.proposal.routeID && !this.proposal.forwardStopsParams && !this.proposal.backwardStopsParams;
      },
      cablewayEdit() {
        return this.$store.state.editor.cablewayEdit;
      },
      routes() {
        return this.$store.state.ngpt.routes;
      },
      route() {
        return this.routes.find(r => r.routeID === this.routeID);
      },
      routeData() {
        return this.allRoutes.find(r => r.properties.routeID.toString() === this.routeID.toString())
      },
      proposals() {
        return this.$store.state.proposals.allProposals;
      },
      proposal() {
        return this.proposals.find(p => p.id === this.viewMode);
      },
      allRoutes() {
        return this.routes.map(r => ({id: r.id, properties: r}))
      },
      fromAccount() {
        return this.$route.params.fromAccount;
      }
    },
    beforeMount() {
      this.routeID = this.$route.query.routeID;
      this.viewMode = this.$route.query.viewMode;
    },
    beforeDestroy() {
      this.clearNgptStore();
      this.clearMetroStore();
      this.clearDistrictsStore();
      this.clearProposalStore();
      this.clearJdStore();
      this.clearTelematicsStore();
      this.editorData.currentTS.routesByStopID = {};
      this.editorData.currentTS.routes = {};
      this.editorData.currentTS.features = {};
      this.editorData.currentTS.status = "halted";
      this.editorData.currentTS.count = 0;
      this.editorData.currentTS.show = false;
      this.clearTelematics();
    },
    async mounted() {
      this.editorData.stopsList.mainRoute.stops = [];
      this.editorData.stopsList.backRoute.stops = [];
      this.editorData.routesList.mainRoute = {};
      this.editorData.routesList.backRoute = {};
      if (this.redirectParams) {
        this.$store.commit('auth/setRedirectParams', null);
      }
      if (this.$route.params.info) {
        this.$snotify[this.$route.params.info.status](
          this.$route.params.info.text,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        )
      }
      Object.keys(startRouteProperties).forEach(routeName => delete startRouteProperties[routeName]);
      const time = performance.now();
      await this.loadData();

      if (this.viewMode) {
        await this.getProposal({
          guid: this.viewMode,
          add: true,
        }).catch((e) => {
          console.info(e)
        });
        if (this.proposal.isMine) {
          this.getStatuses(this.proposal.id);
        }
      }

      if (this.routeID && !this.viewMode) {
        const route = this.allRoutes.find(r => r.properties.routeID.toString() === this.routeID.toString());
        await this.getRouteData(route.properties.routeID);
      }

      if (this.viewMode && this.proposal.routeID) {
        if (!this.routeID) {
          this.routeID = this.proposal.routeID;
        }
        const route = this.allRoutes.find(r => r.properties.routeID === this.proposal.routeID);
        await this.getRouteData(route.properties.routeID);
      }

      if (this.route) {
        this.routeName = this.route.name;
        this.editorData.routeProperties.vehiclesNum.value = this.route.vehiclesNum;
        this.editorData.routeProperties.intervalMinutes.value = `${this.route.peakIntervalMinutes}${this.route.semipeakIntervalMinutes ? `/ ${this.route.semipeakIntervalMinutes}` : ''} мин`;
      } else {
        this.editorData.routeProperties.vehiclesNum.value = null;
        this.editorData.routeProperties.intervalMinutes.value = null;
      }
      if (this.proposal) {
        this.getProposalDiscussions({
          id: this.proposal.id,
        });
        this.editorData.viewMode = true;
        this.routeName = this.proposal.title || this.proposal.reason;
        this.editorData.newProposal.title = this.proposal.title || '';
        this.editorData.newProposal.reason = this.proposal.reason || '';
        this.editorData.description.routeStart = this.proposal.desiredFrom || '';
        this.editorData.description.routeFinish = this.proposal.desiredTo || '';
        this.editorData.description.weekDays = this.proposal.desiredDays || '';
        this.editorData.description.dayTime = this.proposal.desiredTime || '';
        this.editorData.description.typeTS = this.proposal.desiredVehicleType || '';
        this.editorData.description.interval = this.proposal.desiredInterval || '';
      } else {
        this.editorData.description.routeStart = '';
        this.editorData.description.routeFinish = '';
        this.editorData.description.weekDays = 'Все';
        this.editorData.description.dayTime = 'Любое';
        this.editorData.description.typeTS = 'Любой';
        this.editorData.description.interval = '20';
        this.editorData.viewMode = false;
      }
      this.editorData.userStopsById = {};
      this.editorData.activeRoute = 'mainRoute';
      this.editorData.showOriginalMasterCopy = false;
      this.editorData.routeProperties.from.value = null;
      this.editorData.routeProperties.to.value = null;
      this.editorData.routeProperties.mainRouteLengthKm.value = null;
      this.editorData.routeProperties.backRouteLengthKm.value = null;
      this.editorData.routeProperties.lengthKm.value = null;
      this.editorData.routeProperties.stopsNum.value = null;
      this.editorData.routeProperties.mainRouteTime.value = null;
      this.editorData.routeProperties.backRouteTime.value = null;
      this.editorData.routeProperties.time.value = null;

      this.editorData.segmentsListGenerated = false;
      this.editorData.focusedStop = null;
      this.editorHistory.id = null;
      this.editorHistory.state = [];
      if (this.routeID && !this.route) {
        this.editorData.routeProperties.intervalMinutes.value = this.routeData ? `${this.routeData.peakIntervalMinutes}${this.routeData.semipeakIntervalMinutes ? `/ ${this.routeData.semipeakIntervalMinutes}` : ''} мин` : '';
        this.routeName = this.routeData ? this.routeData.properties.name : '';
      }

      if (this.viewMode && this.proposal.routeID && this.routeData) {
        this.editorData.routeProperties.intervalMinutes.value = `${this.routeData.peakIntervalMinutes}${this.routeData.semipeakIntervalMinutes ? `/ ${this.routeData.semipeakIntervalMinutes}` : ''} мин`;
      }

      this.dataLoaded = true;
      console.info('загрузка данных: ' + (performance.now() - time) / 1000 + ' сек.');
    }
  }
</script>

<style lang="scss">
  .editor {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__wrapper {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      position: relative;
    }

    &__container {
      flex-grow: 1;
      display: flex;
      overflow: hidden;
    }

    &__map-container {
      display: flex;
      height: 100%;
      flex-grow: 1;
    }

    &__map {
      flex-grow: 1;
      display: flex;
      position: relative;
    }

    &__map-box {
      flex-grow: 1;
    }

    &.container {
      max-width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .mapboxgl-ctrl-attrib-inner {
      display: none;
    }

    .mapboxgl-ctrl-logo {
      display: none !important;
    }

    &__info {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: grey;
      z-index: 100;
      background-color: rgba(255, 255, 255, .75);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      user-select: none;
    }
  }
</style>
