<template>
  <div class="account-subscriptions">
    <h3 class="account-subscriptions__title">Управление подпиской на уведомления</h3>
    <div class="loader_all" style="z-index: 100;" v-if="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <v-simple-table class="account-subscriptions__table">
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">Подкатегория</th>
          <th v-for="ref in refs" :key="ref.latinName">{{ref.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(subscription, key) in subscriptions" :key="key" v-if="subscription">
          <td class="text-center" v-if="subscription.categoryDesc" :colspan="1 + refs.length">
            {{subscription.categoryDesc}}
          </td>
          <td v-if="subscription.subCategoryDesc">{{subscription.subCategoryDesc}}</td>
          <td v-if="!subscription.categoryDesc" v-for="ref in refs" :key="ref.latinName">
            <v-btn :disabled="loading" @click="onSubscribeChangeClick('subscribe', {
              category: subscription.subCategory,
              ref: ref.latinName
            })">Подписаться
            </v-btn>
            <v-btn :disabled="loading" @click="onSubscribeChangeClick('unsubscribe', {
              category: subscription.subCategory,
              ref: ref.latinName
            })">Отписаться
            </v-btn>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    data() {
      return {
        loading: false,
      }
    },
    methods: {
      ...mapActions({
        getCategories: 'notifications/getCategories',
        getSubCategories: 'notifications/getSubCategories',
        getRefs: 'notifications/getRefs',
        subscribe: 'notifications/subscribe',
        unsubscribe: 'notifications/unsubscribe',
      }),
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      onSubscribeChangeClick(type, params) {
        this.loading = true;
        this[type](params)
          .then(({data}) => {
            this.loading = false;
            if (data.isSub) {
              this.showMessage('success','Вы успешно подписаны');
            } else {
              this.showMessage('success','Вы успешно отписаны');
            }
          })
          .catch(e => {
            console.info(e);
            this.loading = false;
            this.showMessage('error','Ошибка изменения подписки');
          })
      },
    },
    computed: {
      headers() {
        return [
          {text: 'Категория', value: 'category'}
        ];
      },
      categoriesById() {
        return this.$store.state.notifications.categoriesById;
      },
      subCategoriesByCategoryId() {
        return this.$store.state.notifications.subCategoriesByCategoryId;
      },
      refs() {
        return this.$store.state.notifications.refs;
      },
      subscriptions() {
        const subscriptions = [];
        for (const categoryId in this.subCategoriesByCategoryId) {
          subscriptions.push(this.categoriesById[categoryId]);
          for (let sc = 0; sc < this.subCategoriesByCategoryId[categoryId].length; sc++) {
            subscriptions.push(this.subCategoriesByCategoryId[categoryId][sc]);
          }
        }
        return subscriptions;
      }
    },
    mounted() {
      this.loading = true;
      Promise.all([
        this.getCategories(),
        this.getSubCategories(),
        this.getRefs()
      ]).then(() => {
        this.loading = false;
      });
    }
  }
</script>

<style lang="scss">
  .account-subscriptions {
    &__title {
      font-size: 18px;
      font-weight: 400;
      margin: 30px 0;
    }

    &__table {
      margin-bottom: 50px;

      th {
        font-size: 16px;
      }
    }
  }
</style>
