<template>
  <div v-if="authorized" class="account-messages">
    Мои сообщения
  </div>
</template>

<script>
  export default {
    layout: 'new',
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
    },
    mounted() {
      if (!this.authorized) {
        this.$router.push('/login');
      }
    },
  }
</script>
