<template>
  <div v-if="authorized" class="account-notifications">
    <div v-if="this.tabs.length">
      <Tabs class="account-notifications__tabs" v-model="activeTab" :tabs="tabs"/>
      <v-data-table
        :headers="headers"
        :items="notificationsList"
        item-key="guid"
        class="v-datatable"
        :items-per-page="15"
      >
        <template v-slot:body="{ items }">
          <tbody>
          <tr
            @click="showNotification(item)"
            v-for="item in items"
            :key="item.name"
            :class="{
                'active': !item.seen
              }"
          >
            <td>{{item.dateTime}}</td>
            <td>{{item.event}}</td>
            <td><span @click.stop="onMessageClick(item, $event)" v-html="item.message"></span></td>
            <td @click.stop="" class="link" v-if="tabs[activeTab].value === 'PROFILE'">
              <nuxt-link to="/account">Перейти к профилю</nuxt-link>
            </td>
            <td v-else>
              <a @click="onLinkClick(item)" v-if="item.proposalID" href="javascript:void(0)">Просмотреть идею</a>
              <span v-else>-</span>
            </td>
          </tr>
          </tbody>
        </template>
      </v-data-table>
      <v-dialog
        v-model="modal.visible"
        max-width="550px"
        persistent
      >
        <div v-if="modal.visible" class="modal">
          <div class="modal__header">
            <div class="modal__title">
              Просмотр уведомления
            </div>
            <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="modal.visible = false">
              <CloseIcon class="modal__close-icon"/>
            </button>
          </div>
          <div class="modal__body">
            {{subCategories[modal.subCategory].subCategoryDesc}}
          </div>
          <div class="modal__footer">
            <button v-ripple class="modal__btn" @click="modal.visible = false">
              Закрыть
            </button>
            <button v-if="modal.proposalID" v-ripple class="modal__btn modal__btn_color" @click="onLinkClick(modal)">
              Просмотреть идею
            </button>
          </div>
        </div>
      </v-dialog>
    </div>
    <h3 v-if="!Object.keys(allNotifications).length">Уведомления отсутствуют</h3>
    <div v-if="loading" class="loader_all" style="z-index: 100;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import Tabs from '~/components/base/Tabs';
  import {mapActions} from 'vuex';
  import moment from 'moment';
  import CloseIcon from '~/components/svg/CloseIcon';

  export default {
    layout: 'new',
    components: {
      Tabs,
      CloseIcon,
    },
    data() {
      return {
        moment,
        activeTab: 0,
        modal: {
          visible: false,
        },
        headers: [
          {text: 'Дата/время', value: 'dateTime'},
          {text: 'Событие', value: 'event'},
          {text: 'Уведомление', value: 'message'},
          {text: 'Ссылка', value: 'link', sortable: false}
        ],
        loading: false,
      }
    },
    methods: {
      ...mapActions({
        getAllNotifications: 'notifications/getAllNotifications',
        setNotificationSeen: 'notifications/setNotificationSeen',
        getCategories: 'notifications/getCategories',
        getSubCategories: 'notifications/getSubCategories',
      }),
      getSearchParams(link) {
        return link.search.slice(1).split('&').reduce((acc, curr) => {
          const params = curr.split('=');
          acc[params[0]] = params[1];
          return acc;
        }, {})
      },
      goToLink(link) {
        if (link.host === 'ms.mgtniip.ru' && link.pathname === '/editor') {
          this.$router.push({
            name: 'editor',
            params: {
              fromRoute: this.$route.name,
            },
            query: this.getSearchParams(link),
          })
        } else if (link.href.startsWith('http') || link.href.startsWith('//')) {
          location.href = link.href;
        } else {
          this.$router.push(link.href);
        }
      },
      onMessageClick(item, e) {
        e.preventDefault();
        this.setNotificationSeen(item.guid);
        const link = e.target.getAttribute('href');
        if (link) {
          this.goToLink(e.target);
        } else {
          this.showNotification(item);
        }
      },
      showNotification(notification) {
        if (!notification.seen) {
          this.setNotificationSeen(notification.guid);
        }
        this.modal = {
          visible: true,
          ...notification
        };
      },
      onLinkClick(notification) {
        if (notification.proposalID) {
          this.$router.push({
            name: 'editor',
            params: {
              fromRoute: this.$route.name,
            },
            query: {
              viewMode: notification.proposalID,
            },
          });
        }
      }
    },
    computed: {
      allNotifications() {
        return this.$store.state.notifications.all;
      },
      notificationsList() {
        return this.allNotifications[this.tabs[this.activeTab].value].map(n => {
          return {
            ...n,
            dateTime: moment.utc(n.time).format('DD-MM-YYYY HH:mm'),
            event: this.subCategories[n.subCategory] && this.subCategories[n.subCategory].subCategoryDesc,
            message: n.text || '-',
          }
        });
      },
      categories() {
        return this.$store.state.notifications.categories;
      },
      subCategories() {
        return this.$store.state.notifications.subCategories;
      },
      tabs() {
        const tabs = [];
        Object.values(this.categories).forEach(category => {
          if (this.allNotifications[category.category]) {
            tabs.push({
              name: category.categoryDesc,
              value: category.category,
              count: this.allNotifications[category.category].filter(n => !n.seen).length,
            })
          }
        });
        return tabs;
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
    },
    async mounted() {
      if (!this.authorized) {
        this.$router.push('/login');
      }
      this.loading = true;
      Promise.all([
        this.getCategories(),
        this.getSubCategories(),
        this.getAllNotifications()
      ]).then(() => {
        this.loading = false;
      });
    },
  }
</script>

<style lang="scss">
  .account-notifications {
    &__tabs {
      margin-bottom: 30px;

      &.nav-pills-big .nav-link {
        font-size: 15px;
      }
    }

    td.link {
      cursor: default;
    }
  }
</style>
