<template>
  <Proposals v-if="authorized" />
</template>

<script>
  import Proposals from '~/components/Account/Proposals';
  import {mapActions} from 'vuex';
  export default {
    layout: 'new',
    components: {
      Proposals
    },
    methods: {
      ...mapActions({
        clearAccountStore: 'account/clearAccountStore',
      }),
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
    },
    mounted() {
      if (!this.authorized) {
        this.$router.push('/login');
      }
    },
  }
</script>
