<template>
  <div class="login-page">
    <vue-snotify/>
    <div class="login-page__content">
      <form
        ref="form"
        class="login-form"
        @submit.prevent="onsubmit"
      >
        <div class="login-page__header">
          <img
            src="../../assets/menu/logo.svg"
            alt="logo"
            class="login-page__header-img">
          <span class="login-page__header-text">Голосование по маршрутам</span>
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="username"
            v-model="username"
            label="E-mail"
            required
            class="login-form__input"
            autocomplete="username"
            :rules="[rules.required, rules.email]"
          />
        </div>
        <div class="login-form__field">
          <v-text-field
            ref="password"
            v-model="password"
            label="Пароль"
            type="password"
            required
            class="login-form__input"
            autocomplete="current-password"
            :rules="[rules.required]"
          />
        </div>
        <div class="login-form__field-btn">
          <button
            v-ripple
            :disabled="disableLoginButton"
            :class="{'disabled': disableLoginButton}"
            type="submit"
            class="login-form__btn login-form__btn_submit">Войти
          </button>
          <button
            v-ripple
            @click="onCancelBtnClick"
            v-if="redirectParams && redirectParams.cancelBtn"
            type="button"
            class="login-form__btn login-form__btn_cancel">Отмена
          </button>
        </div>
        <div class="login-form__footer">
          <nuxt-link
            class="login-form__link"
            to="/register">Регистрация
          </nuxt-link>
        </div>
        <div class="login-form__footer">
          <nuxt-link
            class="login-form__link"
            to="/restore-password/">Забыли пароль?
          </nuxt-link>
        </div>
        <div class="login-form__footer">
          <button type="button" class="login-form__link" @click="feedbackVisible = true">
            Обратная связь
          </button>
        </div>
      </form>
    </div>
    <Feedback v-model="feedbackVisible" />
  </div>
</template>

<script>
  import Snotify from 'vue-snotify'
  import {mapActions} from 'vuex'
  import Feedback from '~/components/base/Feedback';

  export default {
    components: {
      Feedback,
      Snotify
    },
    data() {
      return {
        feedbackVisible: false,
        username: '',
        password: '',
        rules: {
          required: value => !!value || 'Обязательно для заполнения.',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9_]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Неверный адрес электронной почты.'
          },
        }
      }
    },
    computed: {
      disableLoginButton() {
        return !this.username || !this.password
      },
      redirectParams() {
        return this.$store.state.auth.redirectParams;
      },
      role() {
        return this.$store.state.users.role;
      },
      homePages() {
        return this.$store.state.users.homePages;
      }
    },
    mounted() {
      this.$refs.username.$refs.input.addEventListener(
        'animationend',
        this.fixAutoFilledInput
      );

      this.$refs.password.$refs.input.addEventListener(
        'animationend',
        this.fixAutoFilledInput
      );

      this.$refs.form.addEventListener('input', event => {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Заполните поле')
        } else {
          event.target.setCustomValidity('')
        }
      });

      this.$refs.form.addEventListener('change', event => {
        if (event.target.validity.valueMissing) {
          event.target.setCustomValidity('Заполните поле')
        } else {
          event.target.setCustomValidity('')
        }
      })
    },
    methods: {
      ...mapActions({
        authenticate: 'auth/authenticate',
        getRole: 'users/getRole',
        getSummary: 'account/getSummary',
        getNotificationsCount: 'notifications/getNotificationsCount',
      }),
      onsubmit() {
        const data = {
          username: this.username,
          password: this.password,
        };
        this.authenticate(data)
          .then(() => {
            this.$store.commit('auth/SET_DATA', {
              authorized: true,
            });
            Promise.all([
              this.getRole(),
              this.getSummary(),
              this.getNotificationsCount(),
            ])
              .then(() => {
                if (this.redirectParams) {
                  const routeParams = JSON.parse(JSON.stringify(this.redirectParams.routeParams));
                  routeParams.params.info = null;
                  this.$store.commit('auth/setRedirectParams', null);
                  this.$router.push(routeParams);
                } else {
                  this.$router.push(this.homePages[this.role])
                }
              });
          })
          .catch(err => {
            this.$snotify.error(
              `Информация об ошибке: ${err.response && err.response.data.Error}`,
              `Не удалось авторизоваться!`,
              {
                position: 'centerTop',
                titleMaxLength: 100
              }
            )
          })
      },
      fixAutoFilledInput(e) {
        e.target.previousSibling.classList.add('v-label--active')
      },
      onCancelBtnClick() {
        if (!this.redirectParams) {
          return;
        }
        const routeParams = JSON.parse(JSON.stringify(this.redirectParams.routeParams));
        routeParams.params.showComments = false;
        routeParams.params.modalOpen = false;
        this.$store.commit('auth/setRedirectParams', null);
        this.$router.push(routeParams);
      },
    }
  }
</script>
