<template>
  <div class="popup-wrapper">
    <v-container fluid>
      <v-layout row>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.capacityType }}</v-list-tile-title>
            <v-list-tile-sub-title>Тип вместимости</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.dir == 0 ? 'Прямой' : 'Обратный' }}</v-list-tile-title>
            <v-list-tile-sub-title>Направление маршрута</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
      </v-layout>
      <v-layout row>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.fullname }}</v-list-tile-title>
            <v-list-tile-sub-title>Полное название маршрута</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.id }}</v-list-tile-title>
            <v-list-tile-sub-title>ID маршрута</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
      </v-layout>
      <v-layout row>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
          <v-list-tile-title>{{ data.properties.name }}</v-list-tile-title>
          <v-list-tile-sub-title>Сокращённое название маршрута</v-list-tile-sub-title>
        </v-list-tile-content>
        </v-list>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.orp }}</v-list-tile-title>
            <v-list-tile-sub-title>ОРП</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
      </v-layout>
      <v-layout row>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.peakIntervalMinutes }}</v-list-tile-title>
            <v-list-tile-sub-title>Интервал на маршруте в пиковые часы</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.routeType }}</v-list-tile-title>
            <v-list-tile-sub-title>Тип маршрута</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
      </v-layout>
      <v-layout row>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.semipeakIntervalMinutes }}</v-list-tile-title>
            <v-list-tile-sub-title>Интервал на маршруте</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
        <v-list subheader>
          <v-list-tile-content class="popup-item">
            <v-list-tile-title>{{ data.properties.vehiclesNum }}</v-list-tile-title>
            <v-list-tile-sub-title>Число ТС на маршруте</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'route',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
}
</script>