<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="16" viewBox="0 0 17 16"><defs><path id="3m3ja" d="M339.158 222c4.502 0 8.158 3.585 8.158 8s-3.656 8-8.158 8c-4.502 0-8.158-3.585-8.158-8s3.656-8 8.158-8zm0 .695c-4.117 0-7.449 3.265-7.449 7.3 0 4.036 3.332 7.3 7.45 7.3 4.117 0 7.447-3.264 7.447-7.3 0-4.035-3.33-7.3-7.448-7.3zm.355 3.131v3.822h3.9v.695h-3.9v3.82h-.71v-3.82h-3.901v-.695h3.902v-3.822z"/></defs><g><g transform="translate(-331 -222)"><use fill="#0194d3" xlink:href="#3m3ja"/></g></g></svg>
</template>
