<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px"
       viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
    <g>
      <g>
        <g>
          <path d="M207.841,363.616c4.651,3.447,16.872,21.808,26.724,40.247c1.745,3.266,5.143,5.288,8.818,5.288
            c0.165,0,0.33-0.004,0.496-0.012c3.864-0.191,7.271-2.594,8.748-6.17c7.471-18.085,17.5-36.248,21.909-39.795
            c86.217-16.435,148.683-91.955,148.683-179.955C423.219,82.191,341.027,0,240,0S56.781,82.191,56.781,183.219
            c0,43.476,15.506,85.631,43.66,118.7C128.05,334.345,166.156,356.228,207.841,363.616z M240,20
            c89.999,0,163.219,73.22,163.219,163.219c0,78.693-56.064,146.182-133.313,160.475c-5.833,1.082-12.907,5.314-25.081,28.751
            c-0.845,1.628-1.663,3.248-2.444,4.83c-1.077-1.779-2.208-3.613-3.373-5.458c-13.615-21.545-20.549-26.67-26.772-27.736
            C133.748,330.632,76.781,262.98,76.781,183.219C76.781,93.22,150.001,20,240,20z"/>
          <path d="M321.906,371.244c-5.384-1.204-10.736,2.183-11.944,7.573c-1.206,5.389,2.185,10.736,7.573,11.943
            c38.87,8.705,56.574,22.028,56.574,30.724c0,5.96-9.235,16.039-35.263,24.832C312.727,455.141,277.805,460,240.51,460
            c-37.309,0-72.242-4.859-98.364-13.684c-26.03-8.793-35.267-18.872-35.267-24.832c0-8.013,15.829-20.594,50.584-29.283
            c5.357-1.34,8.615-6.769,7.275-12.127c-1.34-5.358-6.768-8.614-12.127-7.276c-42.388,10.597-65.732,27.888-65.732,48.686
            c0,12.442,8.478,30.138,48.865,43.78C163.876,474.767,201.082,480,240.51,480c39.415,0,76.611-5.233,104.738-14.735
            c40.385-13.643,48.861-31.338,48.861-43.78C394.109,399.513,368.467,381.671,321.906,371.244z"/>
          <path d="M151.746,159.737v83.16c0,5.523,4.478,10,10,10h13.285v24.934c0,5.523,4.477,10,10,10c5.522,0,10-4.477,10-10v-24.934
            h96.451v24.934c0,5.523,4.478,10,10,10c5.522,0,10-4.477,10-10v-24.934h13.285c5.522,0,10-4.477,10-10v-83.16h24.934
            c5.522,0,10-4.477,10-10c0-5.523-4.478-10-10-10h-24.934v-36.584c0-5.523-4.478-10-10-10h-58.234h-46.568h-58.219
            c-5.522,0-10,4.477-10,10v36.584h-24.949c-5.522,0-10,4.477-10,10c0,5.523,4.478,10,10,10H151.746z M268.184,232.898h-49.869
            v-26.584h49.869V232.898z M314.768,232.898h-26.584v-26.584h26.584V232.898z M171.746,113.153h48.219h46.568h48.234v73.16
            H171.746V113.153z M171.746,206.314h26.568v26.584h-26.568V206.314z"/>
        </g>
      </g>
    </g>
  </svg>
</template>
