<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="6" viewBox="0 0 9 6"><defs><path id="y0uba" d="M1398.95 28l-3.45 3.73-3.45-3.73-1.05 1.135 4.5 4.865 4.5-4.865z"/></defs><g><g transform="rotate(90 714 -678.5)"><use fill="#fff" xlink:href="#y0uba"/></g></g></svg>
</template>
