<template>
  <svg width="513px" height="512px" viewBox="0 0 513 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="cable-car-cabin" fill="#9b9b9b" fill-rule="nonzero">
        <path d="M511.673,6.763 C510.82,1.643 505.7,-0.917 501.433,0.79 L285.466,67.241 C279.418,57.591 268.692,51.136 256.526,51.136 C237.753,51.136 222.393,66.496 222.393,85.269 C222.393,86.164 222.439,87.047 222.507,87.925 L6.5,154.39 C1.38,155.243 -1.18,160.363 0.527,164.63 C2.234,168.043 5.647,170.603 9.06,170.603 C9.913,170.603 10.767,170.603 10.767,170.603 L227.904,103.791 C232.503,110.858 239.635,116.143 247.993,118.315 L247.993,170.603 L112.313,170.603 C103.78,170.603 96.1,174.016 90.98,179.99 C71.851,201.51 57.015,224.142 46.432,247.403 L45.753,247.403 L43.193,252.523 C26.126,293.483 21.86,335.296 30.393,377.11 L32.1,383.937 L32.265,383.937 C41.988,425.434 64.43,466.088 99.514,503.404 C104.634,508.524 112.314,511.937 119.994,511.937 L393.06,511.937 C400.74,511.937 408.42,508.524 414.393,503.404 C452.62,462.397 475.699,417.569 483.698,372.148 C491.615,331.99 486.251,291.864 469.86,252.524 L467.701,248.207 C457.135,224.614 442.208,201.707 422.926,179.991 C417.806,174.018 410.126,170.604 401.593,170.604 L265.06,170.604 L265.06,118.316 C279.739,114.502 290.66,101.1 290.66,85.27 C290.66,84.571 290.632,83.879 290.59,83.191 L505.7,17.003 C510.82,16.15 513.38,11.03 511.673,6.763 Z M56.847,264.47 L136.207,264.47 L137.06,265.323 L136.207,366.87 L45.753,366.87 C39.78,332.736 44.047,297.75 56.847,264.47 Z M467.3,366.87 L375.993,366.017 L376.846,264.47 L456.206,264.47 C469.007,297.75 473.273,332.736 467.3,366.87 Z M410.127,191.083 C426.163,209.268 438.981,228.127 448.605,247.403 L376.847,247.403 C366.607,247.403 358.927,255.936 358.927,265.323 L358.927,366.016 C358.927,376.256 367.46,383.936 376.847,383.936 L464.023,383.936 C454.399,420.902 433.606,457.289 401.594,491.456 C399.034,494.016 396.474,494.869 393.061,494.869 L119.993,494.869 C116.58,494.869 113.166,494.016 111.46,491.456 C79.448,457.289 58.655,420.902 49.031,383.936 L136.207,383.936 C146.447,383.936 154.127,376.256 154.127,366.869 L154.127,265.323 C154.127,255.083 145.594,247.403 136.207,247.403 L64.449,247.403 C74.073,228.127 86.891,209.268 102.927,191.083 C104.634,189.376 108.047,187.67 111.46,187.67 L401.593,187.67 C405.007,187.67 408.42,188.523 410.127,191.083 Z M256.527,102.337 C247.14,102.337 239.46,94.657 239.46,85.27 C239.46,75.883 247.14,68.203 256.527,68.203 C265.914,68.203 273.594,75.883 273.594,85.27 C273.593,94.657 265.913,102.337 256.527,102.337 Z" id="Shape"></path>
        <path d="M178.873,270.443 L178.873,360.896 C178.873,373.696 189.966,383.936 202.766,383.936 L310.286,383.936 C323.086,383.936 333.326,373.696 332.473,360.043 L332.473,270.443 C332.473,257.643 322.233,247.403 309.433,247.403 L202.767,247.403 C189.113,247.403 178.873,257.643 178.873,270.443 Z M315.407,270.443 L315.407,360.043 C315.407,363.456 312.847,366.016 309.434,366.016 L202.767,366.016 C198.5,366.016 195.94,363.456 195.94,360.043 L195.94,270.443 C195.94,267.03 199.353,264.47 202.767,264.47 L309.434,264.47 C312.847,264.47 315.407,267.03 315.407,270.443 Z" id="Shape"></path>
        <path d="M290.66,452.203 L222.393,452.203 C217.273,452.203 213.86,455.616 213.86,460.736 C213.86,465.856 217.273,469.269 222.393,469.269 L290.66,469.269 C295.78,469.269 299.193,465.856 299.193,460.736 C299.193,455.617 295.78,452.203 290.66,452.203 Z" id="Path"></path>
        <path d="M307.727,409.537 L205.327,409.537 C200.207,409.537 196.794,412.95 196.794,418.07 C196.794,423.19 200.207,426.603 205.327,426.603 L307.727,426.603 C312.847,426.603 316.26,423.19 316.26,418.07 C316.26,412.95 312.847,409.537 307.727,409.537 Z" id="Path"></path>
      </g>
    </g>
  </svg>
</template>
