<template>
  <svg width="219px" height="219px" viewBox="0 0 219 219" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="cancel2" fill="#000000">
        <path d="M214.3,4.9 C209,-0.4 200.5,-0.4 195.2,4.9 L109.6,90.5 L24,4.9 C18.7,-0.4 10.2,-0.4 4.9,4.9 C-0.4,10.2 -0.4,18.7 4.9,24 L90.5,109.6 L4.9,195.2 C-0.4,200.5 -0.4,209 4.9,214.3 C7.5,216.9 11,218.3 14.4,218.3 C17.8,218.3 21.3,217 23.9,214.3 L109.5,128.7 L195.1,214.3 C197.7,216.9 201.2,218.3 204.6,218.3 C208.1,218.3 211.5,217 214.1,214.3 C219.4,209 219.4,200.5 214.1,195.2 L128.7,109.6 L214.3,24 C219.6,18.7 219.6,10.2 214.3,4.9 Z" id="Path"></path>
      </g>
    </g>
  </svg>
</template>
