<template>
  <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <g id="Добавление-предложения" transform="translate(-916.000000, -366.000000)" stroke="#333333" stroke-width="1.3">
        <g id="Group-9-Copy-2" transform="translate(451.000000, 337.000000)">
          <g id="Group-8" transform="translate(466.000000, 30.000000)">
            <path d="M10.3125,0.537109375 L0.537109375,10.3125" id="Line"></path>
            <path d="M10.3125,1.22460938 L0.537109375,11" id="Line-Copy" transform="translate(5.156250, 5.843750) scale(1, -1) translate(-5.156250, -5.843750) "></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
