<template>
  <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-436.000000, -424.000000)" fill="#9B9B9B" fill-rule="nonzero">
        <g transform="translate(444.000000, 431.500000) scale(-1, 1) translate(-444.000000, -431.500000) translate(436.000000, 424.000000)">
          <path d="M13.800293,0 L2.19970703,0 C0.9868164,0 0,1.00536698 0,2.24150169 L0,9.47570586 C0,10.7090542 0.982519525,11.712829 2.19189453,11.7172076 L2.19189453,15 L6.8216797,11.7172076 L13.800293,11.7172076 C15.0131836,11.7172076 16,10.7116415 16,9.47570586 L16,2.24150169 C16,1.00536698 15.0131836,0 13.800293,0 Z M15.0625,9.47570586 C15.0625,10.1848265 14.4962891,10.761895 13.800293,10.761895 L6.52753905,10.761895 L3.12939452,13.171472 L3.12939452,10.761895 L2.19970702,10.761895 C1.50371095,10.761895 0.9375,10.1848265 0.9375,9.47570586 L0.9375,2.24150169 C0.9375,1.53218209 1.50371095,0.9553126 2.19970702,0.9553126 L13.800293,0.9553126 C14.4962891,0.9553126 15.0625,1.53218209 15.0625,2.24150169 L15.0625,9.47570586 Z"></path>
          <polygon points="4.31460674 3.47560976 11.6853933 3.47560976 11.6853933 4.3902439 4.31460674 4.3902439"></polygon>
          <polygon points="4.31460674 5.48780488 11.6853933 5.48780488 11.6853933 6.40243902 4.31460674 6.40243902"></polygon>
          <polygon points="4.31460674 7.5 11.6853933 7.5 11.6853933 8.41463415 4.31460674 8.41463415"></polygon>
        </g>
      </g>
    </g>
  </svg>
</template>
