<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3" height="13" viewBox="0 0 3 13"><defs><path id="wlnya" d="M320 237.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/><path id="wlnyb" d="M320 242.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/><path id="wlnyc" d="M320 247.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/></defs><g><g transform="translate(-320 -236)"><g><use fill="#9b9b9b" xlink:href="#wlnya"/></g><g><use fill="#9b9b9b" xlink:href="#wlnyb"/></g><g><use fill="#9b9b9b" xlink:href="#wlnyc"/></g></g></g></svg>
</template>
