<template>
  <svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px"
       viewBox="0 0 489.776 489.776" style="enable-background:new 0 0 489.776 489.776;" xml:space="preserve">
<g id="XMLID_574_">
	<path id="XMLID_578_" d="M322.011,213.073c5.578,5.57,14.615,5.567,20.19-0.007l68.556-68.554l21.97,21.953
		c4.512,4.512,11.159,6.139,17.25,4.241c6.091-1.915,10.619-7.032,11.75-13.313l25.237-139.309
		c0.894-4.975-0.702-10.061-4.288-13.615c-3.572-3.57-8.674-5.133-13.633-4.209L330.438,26.231
		c-6.266,1.18-11.352,5.709-13.232,11.797c-1.881,6.076-0.24,12.708,4.256,17.203l21.953,21.953l-68.59,68.563
		c-5.581,5.579-5.579,14.628,0.005,20.205L322.011,213.073z"/>
  <path id="XMLID_577_" d="M167.762,276.705c-5.578-5.571-14.615-5.569-20.19,0.006l-68.553,68.554L57.05,323.311
		c-4.514-4.513-11.16-6.139-17.25-4.242c-6.092,1.914-10.618,7.031-11.752,13.313L2.811,471.692
		c-0.891,4.973,0.703,10.059,4.289,13.613c3.572,3.57,8.674,5.135,13.632,4.209l138.607-25.971
		c6.267-1.18,11.35-5.709,13.233-11.798c1.881-6.075,0.239-12.706-4.258-17.202l-21.952-21.953l68.662-68.453
		c5.594-5.578,5.599-14.637,0.01-20.219L167.762,276.705z"/>
  <path id="XMLID_576_" d="M28.049,157.393c1.131,6.281,5.659,11.398,11.75,13.313c6.091,1.898,12.738,0.271,17.25-4.241
		l21.97-21.953l68.556,68.554c5.574,5.574,14.611,5.577,20.189,0.007l47.182-47.12c5.584-5.577,5.586-14.626,0.006-20.205
		l-68.59-68.563l21.953-21.953c4.496-4.495,6.137-11.127,4.256-17.203c-1.881-6.088-6.967-10.617-13.232-11.797L20.733,0.261
		C15.774-0.663,10.672,0.899,7.1,4.47C3.514,8.024,1.918,13.11,2.812,18.085L28.049,157.393z"/>
  <path id="XMLID_575_" d="M461.728,332.382c-1.134-6.281-5.66-11.398-11.752-13.313c-6.09-1.896-12.736-0.271-17.25,4.242
		l-21.969,21.953l-68.554-68.554c-5.574-5.575-14.612-5.577-20.19-0.006l-47.271,47.214c-5.589,5.582-5.585,14.641,0.01,20.219
		l68.662,68.453l-21.952,21.953c-4.497,4.496-6.139,11.127-4.258,17.202c1.883,6.089,6.967,10.618,13.233,11.798l138.606,25.971
		c4.958,0.926,10.06-0.639,13.632-4.209c3.586-3.555,5.18-8.641,4.289-13.613L461.728,332.382z"/>
</g>
</svg>
</template>
