<template>
  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill="#9B9B9B" fill-rule="nonzero">
        <path d="M0,10 C0,4.47715233 4.47715233,0 10,0 C15.5228477,0 20,4.47715233 20,10 C20,15.5228477 15.5228477,20 10,20 C4.47715233,20 0,15.5228477 0,10 Z M10,19.6 C15.3019337,19.6 19.6,15.3019337 19.6,10 C19.6,4.69806628 15.3019337,0.4 10,0.4 C4.69806628,0.4 0.4,4.69806628 0.4,10 C0.4,15.3019337 4.69806628,19.6 10,19.6 Z"></path>
        <path d="M14.6357422,11.6933594 L11.3325195,11.6933594 L11.3325195,10.9306641 L14.6357422,10.9306641 L14.6357422,11.6933594 Z M11.1391602,7.85302734 C11.1391602,7.29801155 11.3056624,6.85042488 11.6386719,6.51025391 C11.9716814,6.17008293 12.4174777,6 12.9760742,6 C13.5346708,6 13.9813623,6.16739741 14.3161621,6.50219727 C14.650962,6.83699712 14.8183594,7.29622104 14.8183594,7.87988281 L14.8183594,8.37939453 C14.8183594,8.94157182 14.6527523,9.38915849 14.3215332,9.72216797 C13.9903141,10.0551774 13.5454129,10.2216797 12.9868164,10.2216797 C12.4210584,10.2216797 11.9716814,10.0542823 11.6386719,9.71948242 C11.3056624,9.38468257 11.1391602,8.92903934 11.1391602,8.35253906 L11.1391602,7.85302734 Z M12.0146484,8.37939453 C12.0146484,8.73030774 12.0996899,9.00154527 12.2697754,9.19311523 C12.4398609,9.3846852 12.6788722,9.48046875 12.9868164,9.48046875 C13.2875992,9.48046875 13.5212394,9.38558038 13.6877441,9.19580078 C13.8542489,9.00602119 13.9392903,8.73925953 13.9428711,8.39550781 L13.9428711,7.85302734 C13.9428711,7.50569488 13.8578296,7.2362477 13.6877441,7.04467773 C13.5176587,6.85310777 13.2804377,6.75732422 12.9760742,6.75732422 C12.6752915,6.75732422 12.4398609,6.85310777 12.2697754,7.04467773 C12.0996899,7.2362477 12.0146484,7.50927557 12.0146484,7.86376953 L12.0146484,8.37939453 Z M10.2744141,13.90625 L9.17871094,13.90625 L5.99365234,7.81542969 L5.99365234,13.90625 L5,13.90625 L5,6.0859375 L6.09033203,6.0859375 L9.29150391,12.1928711 L9.29150391,6.0859375 L10.2744141,6.0859375 L10.2744141,13.90625 Z"></path>
      </g>
    </g>
  </svg>
</template>
