<template>
  <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55 (78076) - https://sketchapp.com -->
    <title>icons8-ok</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Cписок-предложений" transform="translate(-468.000000, -495.000000)" fill="#2B7AE6" fill-rule="nonzero">
        <g id="Group-9" transform="translate(468.000000, 495.000000)">
          <g id="icons8-ok">
            <path d="M15,0 C6.72380455,0 0,6.72380455 0,15 C0,23.2761955 6.72380455,30 15,30 C23.2761955,30 30,23.2761955 30,15 C30,6.72380455 23.2761955,0 15,0 Z M15,1.36363636 C22.5392318,1.36363636 28.6363636,7.46076818 28.6363636,15 C28.6363636,22.5392318 22.5392318,28.6363636 15,28.6363636 C7.46076818,28.6363636 1.36363636,22.5392318 1.36363636,15 C1.36363636,7.46076818 7.46076818,1.36363636 15,1.36363636 Z M21.8101916,8.17382795 C21.5852597,8.17826196 21.3769905,8.29335814 21.2535511,8.48144523 L14.2982066,18.7340195 L9.32706,14.1210941 C9.14932004,13.9500654 8.89307199,13.8883588 8.65696048,13.9597287 C8.42084897,14.0310986 8.24168792,14.2244172 8.18844675,14.4652651 C8.13520559,14.706113 8.21618553,14.9569376 8.40021273,15.1211823 L14.5339132,20.8127666 L22.3828125,9.2458275 C22.5296101,9.03548408 22.5459477,8.76055481 22.4250945,8.5343063 C22.3042412,8.3080578 22.0666449,8.16877024 21.8101916,8.17382795 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
