<template>
  <svg width="480px" height="480px" viewBox="0 0 480 480" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g fill-rule="nonzero">
        <path d="M432,240 C432,346.039062 346.039062,432 240,432 C133.960938,432 48,346.039062 48,240 C48,133.960938 133.960938,48 240,48 C346.039062,48 432,133.960938 432,240 Z" id="Path" fill="#2196F3"></path>
        <path d="M240,480 C107.453125,480 0,372.546875 0,240 C0,107.453125 107.453125,0 240,0 C372.546875,0 480,107.453125 480,240 C479.851562,372.484375 372.484375,479.851562 240,480 Z M240,16 C116.289062,16 16,116.289062 16,240 C16,363.710938 116.289062,464 240,464 C363.710938,464 464,363.710938 464,240 C463.859375,116.347656 363.652344,16.140625 240,16 Z" id="Shape" fill="#2196F3"></path>
        <polygon id="Path" stroke="#2196F3" fill="#FFFFFF" points="232 288 168 312 192 248 216 232 248 264"></polygon>
        <polygon id="Path" stroke="#2196F3" fill="#FFFFFF" points="112 224 336 144 256 368 224 256"></polygon>
        <polygon id="Path" stroke="#2196F3" fill="#FFFFFF" points="224 256 256 368 336 144"></polygon>
      </g>
    </g>
  </svg>
</template>
