<template>
  <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
      <g id="1-Карты" transform="translate(-576.000000, -166.000000)">
        <g id="Group-5" transform="translate(576.000000, 166.000000)">
          <polygon id="Fill-5" points="0 11.375 3.53451677 11.375 3.53451677 10.5 0 10.5"></polygon>
          <polygon id="Fill-6" points="0 14 1.76725838 14 1.76725838 13.125 0 13.125"></polygon>
          <polygon id="Fill-1" points="0 0.875 11.0453649 0.875 11.0453649 0 0 0"></polygon>
          <polygon id="Fill-2" points="0 3.49997266 8.83629191 3.49997266 8.83629191 2.625 0 2.625"></polygon>
          <polygon id="Fill-3" points="0 6.125 7.06903353 6.125 7.06903353 5.25 0 5.25"></polygon>
          <polygon id="Fill-4" points="0 8.75 5.30177515 8.75 5.30177515 7.875 0 7.875"></polygon>
          <polygon id="Fill-7" points="11.6959921 3.5 11.6959921 12.2876523 11.1247258 11.7219375 10.5 12.3405625 12.1378067 13.962375 13.7756134 12.3405625 13.1508876 11.7219375 12.5796213 12.2876523 12.5796213 3.5"></polygon>
          <polygon id="Fill-8" points="11.375 2.625 12.2586292 2.625 12.2586292 1.75 11.375 1.75"></polygon>
          <polygon id="Fill-9" points="11.375 0.875 12.2586292 0.875 12.2586292 0 11.375 0"></polygon>
        </g>
      </g>
    </g>
  </svg>

</template>
