<template>
  <div v-if="role === 'admin'" class="admin-operators">
    <h1 class="admin-operators__title">Статистика работы операторов</h1>
    <div class="admin-operators-filters">
      <div class="admin-operators-filters__field">
        <v-btn @click="setType('today')" :disabled="loading">За сегодня</v-btn>
      </div>
      <div class="admin-operators-filters__field">
        <v-btn @click="setType('yesterday')" :disabled="loading">За вчера</v-btn>
      </div>
      <div class="admin-operators-filters__field">
        <v-btn @click="setType('week')" :disabled="loading">За неделю</v-btn>
      </div>
      <div class="admin-operators-filters__field">
        <v-btn @click="setType('month')" :disabled="loading">За месяц</v-btn>
      </div>
      <div class="admin-operators-filters__field">
        <v-btn @click="setType('all')" :disabled="loading">За все время</v-btn>
      </div>
      <div class="admin-operators-filters__field">
        <Range v-model="period" label="Выбрать период" no-selected="Любой" :disabled="loading" />
      </div>
      <div class="admin-operators-filters__field admin-operators-filters__field_download">
        <download-excel
          :data="statistic"
          :fields="excelFields"
          :worksheet="workSheetName"
          name="statistic.xls"
        >
          <v-btn :disabled="loading">
            Скачать
          </v-btn>
        </download-excel>
      </div>
    </div>

    <div :class="{waiting: loading}">
    <v-simple-table class="admin-operators__table" id="datatable">
      <template v-slot:default>
        <thead>
        <tr>
          <th></th>
          <th colspan="4">Количество идей</th>
        </tr>
        <tr>
          <th>Оператор</th>
          <th>На модерации</th>
          <th>Обработано</th>
          <th>Положительных</th>
          <th>Отклонено</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="item.name" v-for="(item, key) in statistic" :key="key">
          <td>{{item.name}}</td>
          <td>{{item.data[0]}}</td>
          <td>{{item.data[1]}}</td>
          <td>{{item.data[2]}}</td>
          <td>{{item.data[3]}}</td>
        </tr>
        <tr v-else>
          <td colspan="5"></td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import moment from 'moment';
  import Range from '~/components/base/Range';

  export default {
    layout: 'new',
    components: {
      Range,
    },
    data() {
      return {
        loading: false,
        statistic: [],
        period: [],
        operators: [],
        excelFields: {
          'Имя оператора': 'name',
          'Идеи на модерации': {
            field: 'data.0'
          },
          'Обработано идей': {
            field: 'data.1'
          },
          'Положительных ответов': {
            field: 'data.2'
          },
          'Отклонененных идей': {
            field: 'data.3'
          },
        },
      }
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth',
        getOperators: 'admin/getOperators',
        getOperatorStatistics: 'admin/getOperatorStatistics',
      }),
      setType(type) {
        if (type === 'today') {
          const period = moment().format('YYYY-MM-DD');
          this.period = [period, period];
        }
        if (type === 'yesterday') {
          const period = moment().subtract(1, 'days').format('YYYY-MM-DD');
          this.period = [period, period];
        }
        if (type === 'week') {
          //const start = moment().startOf('week').add(1, 'days').format('YYYY-MM-DD');
          const start = moment().subtract(7, 'days').format('YYYY-MM-DD');
          const end = moment().format('YYYY-MM-DD');
          this.period = [start, end];
        }
        if (type === 'month') {
          const start = moment().startOf('month').format('YYYY-MM-DD');
          const end = moment().format('YYYY-MM-DD');
          this.period = [start, end];
        }
        if (type === 'all') {
          const start = moment('01-01-2019').format('YYYY-MM-DD');
          const end = moment().format('YYYY-MM-DD');
          this.period = [start, end];
        }
      },
      async getStatistic() {
        if (this.loading) return;
        this.loading = true

        const result = [];
        const start = moment(this.period[0]);
        const end = moment(this.period[1]);
        const days = end.diff(start, 'days') + 1;

        let getFunctions = [];
        this.operators.map(operator => getFunctions.push(this.getOperatorStatistics({
            guid: operator.id,
            dateStart: `${start.format('YYYY-MM-DD')}T00:00:00`,
            dateEnd: `${end.format('YYYY-MM-DD')}T23:59:59`
        })));

        let stats = await Promise.all(getFunctions);
        let totals = {
            moderationProposals: 0,
            processedProposals: 0,
            affirmativeProposals: 0,
            declinedProposals: 0
        }

        for (let operator of this.operators) {
            for (let stat of stats) {
                if (stat.operatorId === operator.id) {
                    for (let i in stat.data) totals[i] += stat.data[i];
                    result.push({
                        name: operator.login,
                        data: [
                            stat.data.moderationProposals,
                            stat.data.processedProposals,
                            stat.data.affirmativeProposals,
                            stat.data.declinedProposals
                        ],
                    });
                    break;
                }
            }
        }

        result.push({});
        result.push({
          name: 'Всего',
          data: [totals.moderationProposals, totals.processedProposals, totals.affirmativeProposals, totals.declinedProposals],
        });
        this.statistic = result;
        this.loading = false;
      },
    },
    computed: {
      role() {
        return this.$store.state.users.role;
      },
      workSheetName() {
        return `с ${this.period.map(d => d.split('-').reverse().join('.')).join(' по ')}`;
      }
    },
    watch: {
      period(period) {
        if (!period.length) {
          this.setType('today');
          return;
        }
        this.getStatistic();
      },
    },
    async mounted() {
      if (this.role !== 'admin') {
        return;
      }
      this.loading = true;
      this.operators = await this.getOperators();
      this.operators = (this.operators && this.operators.data) || [];
      this.setType('today');
      this.loading = false;
    }
  }
</script>

<style lang="scss">
  .admin-operators {
    &__title {
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 15px;
    }
  }

  .admin-operators-filters {
    display: flex;
    align-items: center;
    margin: -12px -16px 0;
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;

    &__field {
      margin: 12px 16px 25px;

      .v-btn {
        margin: 0;
      }

      &_download {
        margin-left: auto;
      }
    }
  }

  .waiting {
      opacity: .5;
      transition: .3s;
  }
</style>
