<template>
  <div v-if="role === 'admin'" class="admin-proposals">
    <h1 class="admin-proposals__title">Журнал назначения операторов на идеи</h1>
    <div class="loader_all" style="z-index: 100;" v-if="loading || adminLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div class="admin-proposals__controls">
      <div v-if="selected.length" class="admin-proposals__buttons">
        <v-btn @click="showStatusHistoryModal">История изменения статуса</v-btn>
        <v-btn @click="statusModalVisible = true" v-if="selected[0].status !== 'Новая'">Изменить статус</v-btn>
        <v-btn @click="operatorModalVisible = true" v-if="selected[0].status !== 'Новая'">Изменить оператора</v-btn>
      </div>
      <div v-if="routes.length" class="admin-proposals-filters">
        <div class="admin-proposals-filters__field">
          <v-autocomplete
            label="№ идеи"
            :items="numberList"
            :hide-details="true"
            v-model="filters.number"
            max-width="290"
            @change="selected = []"
          >
          </v-autocomplete>
        </div>
        <div class="admin-proposals-filters__field">
          <v-autocomplete
            label="Статус"
            :items="statusList"
            :hide-details="true"
            v-model="filters.status"
            max-width="290"
            @change="selected = []"
          >
          </v-autocomplete>
        </div>
        <div class="admin-proposals-filters__field">
          <v-autocomplete
            label="Категория"
            :items="categoryList"
            :hide-details="true"
            v-model="filters.category"
            max-width="290"
            @change="selected = []"
          >
          </v-autocomplete>
        </div>
        <div class="admin-proposals-filters__field">
          <v-autocomplete
            label="№ маршрута"
            :items="routeNameList"
            :hide-details="true"
            v-model="filters.routeName"
            max-width="290"
            @change="selected = []"
          >
          </v-autocomplete>
        </div>
        <div class="admin-proposals-filters__field">
          <v-autocomplete
            label="Оператор"
            :items="operatorsFilterList"
            :hide-details="true"
            v-model="filters.operatorID"
            max-width="290"
            @change="selected = []"
          >
          </v-autocomplete>
        </div>
        <div class="admin-proposals-filters__field">
          <Range v-model="filters.createdAt" label="Дата создания идеи"/>
        </div>
        <div v-if="resetBtnVisible" class="admin-proposals-filters__field admin-proposals-filters__field_reset">
          <v-btn @click="filtersReset">Сброс фильтров</v-btn>
        </div>
      </div>
    </div>
    <v-data-table
      v-model="selected"
      v-if="routes.length"
      :headers="headers"
      :items="proposalsList"
      item-key="id"
      class="v-datatable"
      :items-per-page="15"
      single-select
      @click:row="selected = [$event]"
    >
    </v-data-table>
    <v-dialog
      v-model="statusHistoryModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal admin-proposals__modal">
        <div class="modal__header">
          <div class="modal__title">
            История изменения статуса
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="statusHistoryModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <v-simple-table v-if="proposalHistory.length">
            <template v-slot:default>
              <thead>
              <tr>
                <th>Статус</th>
                <th>Дата</th>
              </tr>
              </thead>
              <tbody>
              <tr
                v-for="(item, key) in proposalHistory"
                :key="key"
              >
                <td>{{item.status}}</td>
                <td>{{moment(item.changedAt).format('DD-MM-YYYY')}}</td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div v-else>Отсутствуют даные</div>
        </div>
        <div class="modal__footer">
          <v-btn @click="statusHistoryModalVisible = false">Закрыть</v-btn>
        </div>
      </div>
    </v-dialog>
    <v-dialog
      v-model="statusModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal admin-proposals__modal">
        <div class="modal__header">
          <div class="modal__title">
            Изменение статуса идеи
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="statusModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          Откатить идею на предыдущий статус ?
        </div>
        <div class="modal__footer">
          <v-btn @click="statusModalVisible = false">Отмена</v-btn>
          <v-btn color="primary" @click="onStatusChangeClick">Изменить статус</v-btn>
        </div>
      </div>
    </v-dialog>
    <v-dialog
      v-model="operatorModalVisible"
      max-width="550px"
      persistent
    >
      <div v-if="operatorModalVisible" class="modal admin-proposals__modal admin-proposals__modal_operator">
        <div class="modal__header">
          <div class="modal__title">
            Переназначение оператора
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="operatorModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <v-autocomplete
            label="Оператор"
            :items="operatorsList"
            :hide-details="true"
            v-model="newOperatorID"
            max-width="290"
          >
          </v-autocomplete>
        </div>
        <div class="modal__footer">
          <v-btn @click="operatorModalVisible = false">Отмена</v-btn>
          <v-btn :disabled="selected[0].operatorID === newOperatorID" color="primary" @click="onOperatorChangeClick">Изменить оператора</v-btn>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import moment from 'moment';
  import Range from '~/components/base/Range';
  import CloseIcon from '~/components/svg/CloseIcon';

  export default {
    layout: 'new',
    components: {
      Range,
      CloseIcon,
    },
    data() {
      return {
        selected: [],
        headers: [
          {text: '№ идеи', value: 'number'},
          {text: 'Статус', value: 'status'},
          {text: 'Категория идеи', value: 'category'},
          {text: 'Маршрут', value: 'routeName'},
          // {text: 'Название идеи', value: 'name'},
          {text: 'Дата создания идеи', value: 'createdAt'},
          {text: 'Оператор', value: 'operatorName'},
        ],
        loading: false,
        filters: {
          number: 'any',
          status: 'any',
          category: 'any',
          routeName: 'any',
          operatorID: 'any',
          createdAt: [],
        },
        statusHistoryModalVisible: false,
        statusModalVisible: false,
        operatorModalVisible: false,
        newOperatorID: null,
        moment
      }
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth',
        getAllProposals: 'proposals/getAllProposals',
        getRoutes: 'ngpt/getRoutes',
        getProposalHistory: 'admin/getProposalHistory',
        proposalReset: 'admin/proposalReset',
        getOperators: 'admin/getOperators',
        changeOperator: 'admin/changeOperator',
      }),
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      onStatusChangeClick() {
        this.proposalReset(this.selected[0].id).then(data => {
          if (data.error || data.warnings) {
            this.showMessage('error', 'Ошибка изменения статуса');
          } else {
            this.showMessage('success', 'Статус успешно изменен');
          }
          this.selected = [];
          this.statusModalVisible = false;
        });
      },
      filtersReset() {
        this.filters = {
          number: 'any',
          status: 'any',
          category: 'any',
          routeName: 'any',
          operatorID: 'any',
          createdAt: [],
        };
      },
      async showStatusHistoryModal() {
        this.loading = true;
        await this.getProposalHistory(this.selected[0].id);
        this.loading = false;
        this.statusHistoryModalVisible = true;
      },
      onOperatorChangeClick() {
        this.changeOperator({
          operatorID: this.newOperatorID,
          proposalID: this.selected[0].id,
        }).then((data) => {
          if (!data.warnings && !data.error) {
            this.showMessage('success', 'Оператор успешно изменён');
            this.selected = [];
            this.operatorModalVisible = false;
          } else {
            this.showMessage('error', 'Ошибка изменения оператора');
          }
        });
      }
    },
    computed: {
      operatorsList() {
        return this.$store.state.admin.operators.map(operator => ({
          text: operator.login,
          value: operator.id
        }));
      },
      adminLoading() {
        return this.$store.state.admin.loading;
      },
      role() {
        return this.$store.state.users.role;
      },
      proposals() {
        return this.$store.state.proposals.allProposals.map(p => ({
          id: p.id,
          number: ('0000000' + p.gid).slice(-8),
          status: p.status,
          category: (!p.routeID ? 'Новый маршрут ' : 'Существующий маршрут ') + (p.routeMainType === 1 ? 'НГПТ' : 'КД'),
          routeName: !p.routeID ? `Новый маршрут ${p.routeMainType === 1 ? 'НГПТ' : 'КД'}` : `${this.routesById[p.routeID].name} (${this.routesById[p.routeID].fullname})`,
          name: p.title,
          createdAt: moment(p.createdAt).format('DD-MM-YYYY'),
          createdAtFilter: moment(p.createdAt).format('YYYY-MM-DD'),
          operatorName: p.operatorName || '-',
          operatorID: p.operatorID,
        }));
      },
      proposalHistory() {
        return this.$store.state.admin.proposalHistory;
      },
      proposalsList() {
        return this.proposals.filter(p => {
          let filtered = true;
          if (this.filters.number !== 'any') {
            filtered = this.filters.number === p.number;
          }
          if (this.filters.status !== 'any') {
            filtered = this.filters.status === p.status;
          }
          if (this.filters.category !== 'any') {
            filtered = this.filters.category === p.category;
          }
          if (this.filters.routeName !== 'any') {
            filtered = this.filters.routeName === p.routeName;
          }
          if (this.filters.operatorID !== 'any') {
            filtered = this.filters.operatorID === p.operatorID;
          }
          if (this.filters.createdAt.length) {
            if (p.createdAtFilter < this.filters.createdAt[0]) {
              filtered = false;
            }
            if (p.createdAtFilter > this.filters.createdAt[1]) {
              filtered = false;
            }
          }
          return filtered;
        });
      },
      routes() {
        return this.$store.state.ngpt.routes;
      },
      routesById() {
        return this.routes.reduce((acc, curr) => {
          acc[curr.routeID] = curr;
          return acc;
        }, {});
      },
      numberList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat(this.proposals.map(p => p.number).sort())
      },
      statusList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat([...new Set(this.proposals.map(p => p.status))].sort())
      },
      categoryList() {
        return [{
          text: 'Любая',
          value: 'any'
        }].concat([...new Set(this.proposals.map(p => p.category))].sort())
      },
      routeNameList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat([...new Set(this.proposals.map(p => p.routeName))].sort())
      },
      operatorsFilterList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat([...this.operatorsList].sort())
      },
      resetBtnVisible() {
        if (this.filters.number !== 'any') {
          return true;
        }
        if (this.filters.status !== 'any') {
          return true;
        }
        if (this.filters.category !== 'any') {
          return true;
        }
        if (this.filters.routeName !== 'any') {
          return true;
        }
        if (this.filters.operatorID !== 'any') {
          return true;
        }
        if (this.filters.createdAt.length !== 0) {
          return true;
        }
      }
    },
    mounted() {
      if (this.role !== 'admin') {
        return;
      }
      this.loading = true;
      Promise.all([
        this.getRoutes(),
        this.getAllProposals(),
        this.getOperators(),
      ]).then(() => {
        this.loading = false;
      })
    },
    watch: {
      operatorModalVisible(visible) {
        if (!visible) {
          this.newOperatorID = null;
        }
      },
      newOperatorID(id) {
        if (this.selected[0] && this.selected[0].operatorID === id) {
          this.$snotify.error(
            'Вы не можете назначить идею на этого оператора, т.к. он уже обрабатывает эту идею',
            {
              position: 'centerTop',
              titleMaxLength: 100,
              timeout: 5000
            }
          );
        }
      }
    }
  }
</script>

<style lang="scss">
  .admin-proposals {
    &__title {
      font-weight: 800;
      font-size: 32px;
      margin-bottom: 15px;
    }

    &__buttons {
      margin-bottom: 25px;
    }

    &__modal {
      font-weight: 300;
      &_operator {
        .modal__body {
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
      table {
        font-weight: 300;
        tbody tr {
          cursor: default;
        }
      }
    }

    &__controls {
      padding-top: 10px;
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 2;
    }
  }

  .admin-proposals-filters {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &__field {
      margin: 6px 8px 25px;
      min-height: 48px;
      display: flex;
      align-items: center;

      &_reset {
        margin-left: auto;
      }
    }
  }
</style>
