<template>
  <div v-if="role === 'admin'" class="admin-users">
    <h1 class="admin-users__title">Журнал пользователей</h1>
    <div class="admin-users__controls">
      <div class="admin-users__buttons">
        <v-btn v-if="selectedUser && selectedUser.role === 'operator'"
               @click="selectedUserStatus = selectedUser.status;statusModalVisible = true">Изменить
          статус учетной записи
        </v-btn>
        <v-btn @click="newUserModal.visible = true">Создать пользователя</v-btn>
      </div>
      <div class="admin-users-filters">
        <div class="admin-users-filters__container">
          <div class="admin-users-filters__field">
            <v-autocomplete
              label="Логин"
              :items="loginList"
              :hide-details="true"
              v-model="filters.login"
              max-width="290"
            >
            </v-autocomplete>
          </div>
          <div class="admin-users-filters__field">
            <v-autocomplete
              label="Почта"
              :items="mailList"
              :hide-details="true"
              v-model="filters.mail"
              max-width="290"
            >
            </v-autocomplete>
          </div>
          <div class="admin-users-filters__field">
            <v-autocomplete
              label="Статус"
              :items="statusList"
              :hide-details="true"
              v-model="filters.status"
              max-width="290"
            >
            </v-autocomplete>
          </div>
          <div class="admin-users-filters__field">
            <v-autocomplete
              label="Роль"
              :items="roleList"
              :hide-details="true"
              v-model="filters.role"
              max-width="290"
            >
            </v-autocomplete>
          </div>
          <div class="admin-users-filters__field">
            <Range v-model="filters.created" label="Дата регистрации"/>
          </div>
          <div v-if="resetBtnVisible" class="admin-users-filters__field admin-users-filters__field_reset">
            <v-btn @click="filtersReset">Сброс фильтров</v-btn>
          </div>
        </div>
      </div>
    </div>
    <v-data-table
      :headers="headers"
      :items="relevantUsers"
      item-key="id"
      class="v-datatable"
      :items-per-page="15"
    >
      <template v-slot:body="{ items }">
        <tbody>
        <tr
          v-for="(item, key) in items"
          :key="key"
          @click="selectedUser = item"
          :class="{
            'active': selectedUser && selectedUser.mail === item.mail
          }"
        >
          <td>{{item.login}}</td>
          <td>{{item.mail}}</td>
          <td><span v-if="item.created">{{moment(item.created).format('DD-MM-YYYY')}}</span><span
            v-else>-</span></td>
          <td>
            <span v-if="item.role === 'operator'">Оператор</span>
            <span v-else-if="item.role === 'admin'">Администратор</span>
            <span v-else>{{item.role}}</span>
          </td>
          <td>
            <span v-if="item.status === 'Authorization'">Активный</span>
            <span v-else-if="item.status === 'BlockAdmin'">Заблокированный</span>
            <span v-else>{{item.status}}</span>
          </td>
        </tr>
        </tbody>
      </template>
    </v-data-table>
    <v-dialog v-model="statusModalVisible" max-width="640px">
      <div v-if="statusModalVisible" class="modal admin-users__modal">
        <div class="modal__header">
          <div class="modal__title">Изменение статуса учетной записи</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="statusModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <div class="modal__row">
            <div class="modal__field">
              <v-select
                v-model="selectedUserStatus"
                :label="`Укажите статус учетной записи пользователя ${selectedUser.login}`"
                :items="statuses"
              >

              </v-select>
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <v-btn @click="statusModalVisible = false">Отмена</v-btn>
          <v-btn :disabled="selectedUser.status === selectedUserStatus" color="primary"
                 @click="onChangeUserStatusClick">Изменить статус
          </v-btn>
        </div>
      </div>
    </v-dialog>
    <v-dialog v-model="newUserModal.visible" max-width="640px">
      <div v-if="newUserModal.visible" class="modal">
        <div class="modal__header">
          <div class="modal__title">Добавление нового пользователя</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="newUserModal.visible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <div class="modal__row">
            <div class="modal__field">
              <v-text-field
                label="Электронная почта"
                v-model="newUserModal.mail"
                type="mail"
                :rules="[rules.required, rules.mail]"
              ></v-text-field>
            </div>
          </div>
          <div class="modal__row">
            <div class="modal__field">
              <v-text-field
                label="Логин"
                v-model="newUserModal.login"
                :rules="[rules.required]"
              ></v-text-field>
            </div>
          </div>
          <div class="modal__row">
            <div class="modal__field">
              <v-text-field
                label="Первичный пароль для входа"
                v-model="newUserModal.pass"
                type="password"
                autocomplete="new-password"
                :rules="[rules.minLength]"
              ></v-text-field>
            </div>
          </div>
          <div class="modal__row">
            <div class="modal__field">
              <v-select
                v-model="newUserModal.role"
                label="Укажите роль пользователя"
                :items="roles"
                :rules="[rules.required]"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <v-btn @click="newUserModal.visible = false">Отмена</v-btn>
          <v-btn :disabled="newUserModalSaveDisabled" color="primary" @click="onCreateUserClick">Создать пользователя
          </v-btn>
        </div>
      </div>
    </v-dialog>
    <div class="loader_all" style="z-index: 100;" v-if="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import moment from 'moment';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Range from '~/components/base/Range';

  export default {
    layout: 'new',
    components: {
      CloseIcon,
      Range
    },
    data() {
      return {
        headers: [
          {text: 'Логин', value: 'login'},
          {text: 'Почта', value: 'mail'},
          {text: 'Дата регистрации', value: 'created'},
          {text: 'Роль', value: 'role'},
          {text: 'Статус', value: 'status'},
        ],
        selectedUser: null,
        moment,
        filters: {
          login: 'any',
          mail: 'any',
          status: 'any',
          role: 'any',
          created: [],
        },
        relevantUsers: [],
        statusModalVisible: false,
        selectedUserStatus: null,
        newUserModal: {
          visible: false,
          mail: '',
          login: '',
          pass: '',
          role: 'operator'
        },
        rules: {
          minLength: value => value.trim().length > 3 || 'Не менее 4 символов',
          required: value => !!value.trim().length || 'Обязательно для заполнения.',
          mail: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Неверный адрес электронной почты.'
          },
        },
        roles: [
          {
            text: 'Оператор',
            value: 'operator',
          },
          {
            text: 'Администратор',
            value: 'admin',
          }
        ],
        statuses: [
          {
            text: 'Активный',
            value: 'Authorization',
          },
          {
            text: 'Заблокированный',
            value: 'BlockAdmin',
          }
        ]
      }
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth',
        createAdmin: 'admin/createAdmin',
        createOperator: 'admin/createOperator',
        getAdministrators: 'admin/getAdministrators',
        getOperators: 'admin/getOperators',
        blockOperator: 'admin/blockOperator',
        unBlockOperator: 'admin/unBlockOperator'
      }),
      isRelevantUser(user) {
        let checks = {};
        checks.login = this.filters.login === 'any' || this.filters.login === user.login
        checks.mail = this.filters.mail === 'any' || this.filters.mail === user.mail
        checks.status = this.filters.status === 'any' || this.filters.status === user.status
        checks.role = this.filters.role === 'any' || this.filters.role === user.role
        checks.created = !this.filters.created.length || (
          moment(user.created).format('YYYY-MM-DD') >= this.filters.created[0]
          &&
          moment(user.created).format('YYYY-MM-DD') <= this.filters.created[1]
        )
        return Object.values(checks).every((check) => check === true)
      },
      updateRelevantUsers() {
        this.selectedUser = null
        this.relevantUsers = this.users.filter(this.isRelevantUser);
      },
      showMessage(status, message, error) {
        this.$snotify[status](
          error,
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      async onCreateUserClick() {
        if (this.users.find(u => u.mail === this.newUserModal.mail)) {
          this.showMessage('error', 'Введенная электронная почта уже используется');
          return;
        }
        const params = {
          login: this.newUserModal.mail,
          password: this.newUserModal.pass.trim(),
          username: this.newUserModal.login.trim()
        };
        if (this.newUserModal.role === 'admin') {
          this.createAdmin(params).then(data => {
            if (data.error) {
              this.showMessage('error', 'Ошибка создания администратора', `${data.error.response ? data.error.response.data.Error : ''}`);
            } else {
              this.showMessage('success', `Администратор ${this.newUserModal.login} успешно создан`);
              this.getAdministrators();
              this.newUserModal.visible = false;
            }
          }).catch(e => {
            console.info(e);
          })
        }
        if (this.newUserModal.role === 'operator') {
          this.createOperator(params).then(data => {
            if (data.error) {
              this.showMessage('error', 'Ошибка создания оператора', `${data.error.response ? data.error.response.data.Error : ''}`);
            } else {
              this.showMessage('success', `Оператор ${this.newUserModal.login} успешно создан`);
              this.getOperators();
              this.newUserModal.visible = false;
            }
          }).catch(e => {
            console.info(e);
          })
        }
      },
      onChangeUserStatusClick() {
        if (this.selectedUserStatus === 'BlockAdmin') {
          this.blockOperator(this.selectedUser.id).then(data => {
            if (data.blocked) {
              this.showMessage('success', `Оператор ${this.selectedUser.login} успешно заблокирован`);
              this.statusModalVisible = false;
              this.selectedUser = null;
            } else {
              this.showMessage('error', `Ошибка блокировки оператора ${this.selectedUser.login}`);
            }
          })
        }
        if (this.selectedUserStatus === 'Authorization') {
          this.unBlockOperator(this.selectedUser.id).then(data => {
            if (data.unblocked) {
              this.showMessage('success', `Оператор ${this.selectedUser.login} успешно разблокирован`);
              this.statusModalVisible = false;
              this.selectedUser = null;
            } else {
              this.showMessage('error', `Ошибка разблокировки оператора ${this.selectedUser.login}`);
            }
          })
        }
      },
      filtersReset() {
        this.filters = {
          login: 'any',
          mail: 'any',
          status: 'any',
          role: 'any',
          created: [],
        };
      }
    },
    computed: {
      operatorsList() {
        return this.$store.state.admin.operators;
      },
      administratorsList() {
        return this.$store.state.admin.administrators;
      },
      resetBtnVisible() {
        if (this.filters.login !== 'any') {
          return true;
        }
        if (this.filters.mail !== 'any') {
          return true;
        }
        if (this.filters.status !== 'any') {
          return true;
        }
        if (this.filters.role !== 'any') {
          return true;
        }
        if (this.filters.created.length !== 0) {
          return true;
        }
      },
      newUserModalSaveDisabled() {
        return this.rules.mail(this.newUserModal.mail) !== true || !this.newUserModal.login || this.newUserModal.pass.length < 4;
      },
      authorized() {
        return this.$store.state.auth.data.authorized
      },
      role() {
        return this.$store.state.users.role;
      },
      users() {
        return this.operatorsList.concat(this.administratorsList);
      },
      loginList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat(this.users.map(u => u.login).sort((a, b) => a.localeCompare(b)))
      },
      mailList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat(this.users.map(u => u.mail).sort((a, b) => a.localeCompare(b)))
      },
      statusList() {
        return [{
          text: 'Любой',
          value: 'any'
        }].concat(this.statuses)
      },
      roleList() {
        return [{
          text: 'Любая',
          value: 'any'
        }].concat(this.roles)
      },
      loading() {
        return this.$store.state.admin.loading;
      }
    },
    watch: {
      'newUserModal.visible'(visible) {
        if (!visible) {
          this.newUserModal = {
            visible: false,
            mail: '',
            login: '',
            pass: '',
            role: 'operator'
          }
        }
      },
      filters: {
        handler (newVal, oldVal) {
          this.updateRelevantUsers()
        },
        deep: true,
        immediate: true
      }
    },
    async mounted() {
      if (this.role !== 'admin') {
        return;
      }
      await Promise.all([
        this.getAdministrators(),
        this.getOperators(),
      ]);
      this.updateRelevantUsers()
    }
  }
</script>

<style lang="scss">
  .admin-users {
    &__title {
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 15px;
    }

    &__buttons {
      margin-bottom: 25px;
    }

    &__modal {
      .modal__body {
        padding-top: 50px;
      }
    }

    &__controls {
      position: sticky;
      background-color: #fff;
      top: 0;
      padding-top: 10px;
      z-index: 2;
    }

    &__role-modal {
      .modal__body {
        padding-top: 50px;
      }
    }
  }

  .admin-users-filters {
    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__field {
      margin: 6px 8px 25px;

      &_reset {
        margin-left: auto;
      }
    }
  }
</style>
