<template>
  <li
    class="comment"
    :class="{
      'comment_operator': item.role === 'operator'
    }"
  >
    <div class="comment__content">
      <div class="comment-top">
      <span class="comment-top__user">
        <span class="comment-top__user-pic">
          <img class="comment-top__user-img" src="../../assets/menu/user.svg" alt="">
        </span>
        {{item.username}}
        <span class="comment__operator" v-if="item.role === 'operator'">(Оператор)</span>
      </span>
        <span class="comment-top__date">{{date}}</span>
      </div>
      <DiscussionsCommentField :text="item.textField"></DiscussionsCommentField>
      <button class="comment__btn" @click="reply">Ответить</button>
      <div
        v-if="fieldVisible"
        class="discussions__field"
      >
        <span
          class="discussions__count"
        >
        <span :style="{
          color: message.length <= maxMessageLength ? '#4CAE50' : '#D0021B'
        }">{{message.length}}</span> / {{maxMessageLength}}
      </span>
        <textarea
          v-model="message"
          class="discussions__textarea"
          name="message"
          id="message" cols="30"
          rows="10"
        ></textarea>
        <div class="discussions__buttons">
          <button @click="cancel">Отменить</button>
          <button @click="sendMessage" :disabled="!message.trim().length || message.trim().length > 300">Отправить</button>
        </div>
      </div>
    </div>
    <ul
      class="comment__items"
      v-if="item.children"
      :class="`comment__items_${item.parentPath.split('.').length}`"
    >
      <DiscussionsTreeItem
        v-for="(child, key) in item.children"
        :key="key"
        :item="child"
        @send="$emit('send', $event)"
      />
    </ul>
  </li>
</template>

<script>
  import DiscussionsCommentField from '~/components/Discussions/DiscussionsCommentField';

  export default {
    props: ['item'],
    name: 'DiscussionsTreeItem',
    data() {
      return {
        fieldVisible: false,
        message: '',
        maxMessageLength: 300
      }
    },
    components: {
      DiscussionsCommentField
    },
    methods: {
      sendMessage() {
        this.$emit('send', {
          parentGid: this.item.commentGid,
          textField: this.message,
        });
        this.fieldVisible = false;
        this.message = '';
      },
      cancel() {
        this.fieldVisible = false;
        this.message = '';
      },
      reply(e) {
        if (!this.authorized) {
          this.$store.commit('auth/setRedirectParams', {
            cancelBtn: true,
            routeParams: {
              name: this.$route.name,
              query: this.$route.query,
              params: {
                ...this.$route.params,
                showComments: true,
                info: {
                  status: 'info',
                  text: 'Комментирование доступно только зарегистрированным пользователям'
                },
              }
            }
          });
          this.$router.push('/login');
          return;
        }
        if (!this.fieldVisible) {
          this.fieldVisible = true;
          let replyButton = e.target;
          setTimeout(() => {
            replyButton.nextElementSibling.children[1].focus();
          })
        }
      }
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      date() {
        const moment = require('moment');
        const commentDate = this.item.createdAt.replace('Z', '');
        const date = moment(commentDate).format('DD.MM.YYYY');
        const today = moment().format('DD.MM.YYYY');
        return `${date === today ? 'Сегодня' : date} в ${moment(commentDate).format('HH:mm')}`;
      },
    }
  }
</script>

<style lang="scss" scoped>
  .comment {
    padding-top: 20px;
    max-width: 596px;
    &__items {
      list-style: none;
    }
    &__content {
      position: relative;
      &::after {
        content: '';
        width: 596px;
        height: 1px;
        position: absolute;
        background-color: #EBEBEB;
        right: 0;
        top: 100%;
      }

    }
    &__text {
      display: block;
      width: 100%;
      height: auto;
      font-size: 14px;
      line-height: 19px;
      padding-bottom: 19px;
      resize: none;
      cursor: default;
      &:focus,
      &:active {
        outline: none;
      }
    }
    &__btn {
      margin-bottom: 19px;
      color: #999;
    }
    .comment__items {
      padding-left: 15px;
      &_2 {
        padding-left: 10px;
        .comment__items {
          padding-left: 10px;
        }
      }
      &_6 {
        padding-left: 5px;
        .comment__items {
          padding-left: 5px;
        }
      }
      &_11 {
        padding-left: 3px;
        .comment__items {
          padding-left: 3px;
        }
      }
      &_16 {
        padding-left: 1px;
        .comment__items {
          padding-left: 1px;
        }
      }
      &_21 {
        padding-left: 0;
        .comment__items {
          padding-left: 0;
        }
      }
    }
    .comment {
      .comment__content {
        padding-left: 20px;
        &::before {
          content: '';
          width: 1px;
          height: calc(100% - 20px);
          position: absolute;
          background-color: #EBEBEB;
          left: 0;
          top: 0;
        }
      }
      .comment__btn {
        margin-left: 20px;
      }
    }
    &_operator {
      .comment-top__user {
        color: #03A9F4;
        font-weight: 400;
      }
      .comment__content::after {
        background-color: #03A9F4;
      }
      .comment-top::before {
        background-color: #03A9F4;
        content: '';
        width: 596px;
        height: 1px;
        position: absolute;
        right: 0;
        top: -20px;
      }
      .comment__content::before {
        background-color: #03A9F4 !important;
      }
    }
    &__operator {
      margin-left: 5px;
    }
  }
  .comment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    &__user {
      display: flex;
      align-items: center;
    }
    &__user-pic {
      background-color: #e0e0e0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &__user-img {
      width: 20px;
      height: 20px;
    }
    &__date {
      color: #999;
    }
  }

  .discussions {
    &__textarea {
      border: 1px solid #EBEBEB;
      resize: none;
      border-radius: 5px;
      width: 100%;
      outline: none;
      background-color: transparent;
      position: relative;
      z-index: 2;
      display: block;
      margin-bottom: 10px;
      padding: 23px;
      height: 150px;
    }
    &__field {
      position: relative;
      padding-bottom: 30px;
    }
    &__count {
      position: absolute;
      right: 0;
      top: -23px;
    }
    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      button {
        font-weight: 400;
        border-radius: 5px;
        text-transform: uppercase;
        min-width: 135px;
        height: 40px;
        &[disabled] {
          opacity: .5;
        }
        &:nth-child(1) {
          color: #8D8D8D;
          border: 1px solid #E0E0E0;
        }
        &:nth-child(2) {
          background-color: #2F7CE6;
          color: #fff;
          margin-left: 10px;
        }
      }
    }
  }
</style>
