<script>

export default {
    name: "DiscussionCommentField",
    render(createElement) {
        const reg = /\.\D+$/;
        let comment = this.text.trim().split(' ').map(sep => {
            if (reg.test(sep)) {
                //это ссылка
                let match = /^https?:\/\/?/.exec(sep)
                let href;
                if (!match) {
                    href = `http://${sep}`;
                } else {
                    href = sep;
                }

                return createElement('a', {attrs:{href, target: '_blank'}}, sep);
            } else {
                return ' ' + sep + ' ';
            }
        });
        
        return createElement('div', { class: 'comment__text', ref: 'commentText' }, comment);
    },
    props: ["text"],
    mounted() {
        this.$el.innerHTML=this.$el.innerHTML.replace(/\n/g,'<br>')
        this.$nextTick(() => {
          this.$refs.commentText.style.height = this.$refs.commentText.scrollHeight + 2 + 'px';
        })
    }
};
</script>