<template>
  <div class="vote">
    <Loader v-if="loading" :loading="loading"/>
    <div v-else-if="vote" class="container">
      <div class="vote__top">
        <h1 class="vote__title">Голосование по маршруту {{vote.title}}</h1>
      </div>
      <div class="vote__nav">
        <Breadcrumbs class="vote__breadcrumbs" :items="breadcrumbs"/>
        <div class="vote__nav-box">
          <div style="margin-right: 30px">
            <span style="padding-right: 5px">{{vote.statusName === 'Закрыто' ? 'Дата завершения голосования: ' : 'Планируемая дата завершения голосования: '}}</span>
            <span>{{closingDate}}</span>
          </div>
          <VoteDiscussions :vote="vote"/>
          <v-btn
            class="vote__back-btn"
            color="info"
            dark
            @click="goBack"
          >
            Назад
          </v-btn>
        </div>
      </div>
      <Poll :vote="vote"/>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import Breadcrumbs from '~/components/Breadcrumbs';
  import VoteDiscussions from '~/components/Vote/VoteDiscussions';
  import Poll from '~/components/Poll';
  import Loader from '~/components/base/Loader';
  import {mapActions} from 'vuex';

  export default {
    layout: 'new',
    components: {
      Breadcrumbs,
      VoteDiscussions,
      Poll,
      Loader
    },
    data() {
      return {
        loading: true,
      }
    },
    methods: {
      goBack() {
        this.$router.push({
          path: '/votes',
          query: this.$route.params.pageQuery,
          hash: '',
        });
      },
      ...mapActions({
        getAllPolls: 'polls/getAllPolls',

        clearPollsStore: 'polls/clearPollsStore',
        clearMetroStore: 'metro/clearMetroStore',
        clearDistrictsStore: 'districts/clearDistrictsStore',
        clearDivisionsStore: 'divisions/clearDivisionsStore',
        clearJdStore: 'jd/clearJdStore',
      }),


    },
    computed: {
      vote() {
        return this.$store.state.polls.allPolls.find(item => item.id === this.$route.params.id);
      },
      closingDate() {
        if (this.vote.statusName == 'Закрыто') {
          return moment(this.vote.closeDate).format('DD.MM.YYYY')
        } else {
          return moment(this.vote.planedCloseDate).format('DD.MM.YYYY')
        }
      },
      breadcrumbs() {
        return [
          {
            text: 'Голосования',
            link: '/votes'
          },
          {
            text: this.vote.title,
          }
        ]
      },
      redirectParams() {
        return this.$store.state.auth.redirectParams;
      }
    },
    async mounted() {
      if (this.redirectParams) {
        this.$store.commit('auth/setRedirectParams', null);
      }
      if (this.$route.params.info) {
        this.$snotify[this.$route.params.info.status](
          this.$route.params.info.text,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        )
      }
      if (!this.vote) {
        await this.getAllPolls();
      }
      this.loading = false;
    },
    beforeDestroy() {
      this.clearPollsStore();
      this.clearMetroStore();
      this.clearDistrictsStore();
      this.clearDivisionsStore();
      this.clearJdStore();
    }
  }
</script>

<style lang="scss" scoped>
  .suggestion-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .v-input {
      width: 100%;
    }
  }

  .vote {
    &__suggestion-btn {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 22px;
      background-color: #ae58fb;
      padding: 8px 10px 8px 8px;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      white-space: nowrap;
      margin-left: 35px;
      margin-top: 0;
      max-height: 42px;
      width: 295px;

      &[disabled] {
        opacity: .3;
      }

      span {
        margin-left: 10px;
      }

      @media (max-width: 767px) {
        margin-top: 10px;
        margin-left: 0;
      }

      &.disabled {
        opacity: .3;
      }
    }

    &__suggestion-icon {
      margin-left: 13px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 22px;
      margin-top: 9px;

      @media (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 30px;
      }
    }

    &__title {
      color: #333333;
      font-family: "Moscow Sans", sans-serif;
      font-size: 36px;
      font-weight: 300;
    }


    &__back-wrapper {
      cursor: pointer;
      display: flex;
      margin-bottom: 22px;
    }

    &__back-btn {
      font-size: 14px;
      outline: none;
      color: #545454;
    }

    &__back-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }


    &__discussions {
      border: 1px solid #e7e7e7;
      border-top: 0;
      padding: 33px;
      display: flex;
      justify-content: center;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;

      &-box {
        display: flex;
        align-items: center;
      }
    }

    &__breadcrumbs {
      flex-shrink: 0;
    }

    &__back-btn {
      color: #fff !important;
      text-transform: none;
      border-radius: 3px !important;
      min-width: 128px !important;
      font-weight: 400 !important;
    }
  }


  .modal_vote-for,
  .modal_vote-against {
    .modal__btn {
      padding: 8px 20px;

      &_color {
        padding-left: 36px;
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;

          svg {
            margin-left: 15px;
          }
        }
      }
    }

    .modal__textarea {
      height: 105px;
    }

    .modal__row:last-child {
      margin-bottom: 5px;
    }

    .modal__footer {
      padding: 26px 30px 27px;
    }
  }


</style>
