<script>
import { Bar } from 'vue-chartjs'

export default {
  props: ['items'],
  extends: Bar,
  data: () => ({
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        xAxes: [
          {
            stacked: true,
            barThickness: 20,
            gridLines: {
              offsetGridLines: false
            }
          }
        ],
        yAxes: [
          {
            stacked: true,
            gridLines: {
              drawBorder: false
            },
            ticks: {
              min: 0,
              max: 100,
              stepSize: 25,
              padding: 20,
              callback: function(label, index, labels) {
                if (label == 25 || label == 75) return '';
                return label+'%';
              }
            }
          }
        ]
      },
      legend: {
        position: 'bottom',
        labels: {
          usePointStyle: true,
          padding: 20
        }
      },
      tooltips: {
        callbacks: {
          title: function(tooltipItem, data) {
            return data['labels'][tooltipItem[0]['index']];
          },
          label: function(tooltipItem, data) {
            return `${data.datasets[tooltipItem.datasetIndex].label}: ${data.datasets[tooltipItem.datasetIndex].countsData[tooltipItem.index]} (${data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]}%)`
          }
        },
      }
    }
  }),
  computed: {
    chartdata() {
      return {
        labels: this.items.map((item) => item.routeName),
        datasets: [
          {
            label: 'За',
            data: this.items.map((item) => {
              return Math.round(item.voteFor/item.summary * 100);
            }),
            countsData: this.items.map(item => item.voteFor),
            backgroundColor: '#2a79e6',
            pointStyle: 'circle'
          },
          {
            label: 'Против',
            data: this.items.map((item) => {
              return Math.round(item.voteAgainst/item.summary * 100);
            }),
            countsData: this.items.map(item => item.voteAgainst),
            backgroundColor: '#f5a522',
            pointStyle: 'circle'
          }
        ]
      }
    }
  },
  mounted () {
    this.renderChart(this.chartdata, this.options)
  }
}
</script>

<style lang="scss">

</style>

