<template>
  <div v-if="role === 'CM'" class="cm-pools">
    <h1 class="cm-pools__title">Управление голосованиями</h1>
    <Tabs class="cm-pools__tabs" v-model="activeTabIndex" :tabs="tabs"/>
    <div class="cm-pools-filters">
      <div class="cm-pools-filters__field">
        <v-autocomplete
          label="Номер голосования"
          :items="numberList"
          :hide-details="true"
          v-model="filters.number"
        >
        </v-autocomplete>
      </div>
      <div class="cm-pools-filters__field">
        <v-autocomplete
          label="Маршрут"
          :items="titleList"
          :hide-details="true"
          v-model="filters.title"
        >
        </v-autocomplete>
      </div>
      <div class="cm-pools-filters__field">
        <v-autocomplete
          label="Тип транспорта"
          :items="routeMainTypes"
          :hide-details="true"
          v-model="filters.routeMainType"
        >
        </v-autocomplete>
      </div>
      <div class="cm-pools-filters__field">
        <v-autocomplete
          label="Загрузил"
          :items="whoCreatedList"
          :hide-details="true"
          v-model="filters.whoCreated"
        >
        </v-autocomplete>
      </div>
      <div class="cm-pools-filters__field">
        <Range v-model="filters.createdAt" label="Дата загрузки" noSelected="Все"/>
      </div>
      <div v-if="activeTab !== 'draft'" class="cm-pools-filters__field">
        <v-autocomplete
          label="Опубликовал"
          :items="whoPublishedList"
          :hide-details="true"
          v-model="filters.whoPublished"
        >
        </v-autocomplete>
      </div>
      <div v-if="activeTab !== 'draft'" class="cm-pools-filters__field">
        <Range v-model="filters.publishedAt" label="Дата публикации" noSelected="Все"/>
      </div>
      <div v-if="activeTab === 'closed'" class="cm-pools-filters__field">
        <v-autocomplete
          label="Статус"
          :items="statusList"
          :hide-details="true"
          v-model="filters.status"
        >
        </v-autocomplete>
      </div>
      <div v-if="activeTab === 'closed'" class="cm-pools-filters__field">
        <Range v-model="filters.closedAt" label="Дата закрытия" noSelected="Все"/>
      </div>
      <div v-if="activeTab === 'closed'" class="cm-pools-filters__field">
        <v-autocomplete
          label="Закрыл"
          :items="whoCloseList"
          :hide-details="true"
          v-model="filters.whoClose"
        >
        </v-autocomplete>
      </div>
      <div v-if="activeTab === 'draft'" class="cm-pools-filters__field">
        <v-btn @click="showCreateDraftModal">Создать голосование</v-btn>
      </div>
      <div v-if="resetBtnVisible" class="cm-pools-filters__field cm-pools-filters__field_reset">
        <v-btn @click="filtersReset">Сброс</v-btn>
      </div>
    </div>
    <v-data-table
      :headers="headers"
      :items="pollsList"
      item-key="id"
      class="v-datatable"
      :items-per-page="15"
      single-select
      @click:row="showPoll($event)"
      :page.sync="filters.page"
    >
    </v-data-table>
    <Modal
      modalClassName="cm-polls-modal"
      v-if="selectedPoll"
      v-model="pollModalVisible"
      max-width="1024px"
      :header="`Голосование по маршруту ${selectedPoll.title}`"
    >
      <div v-bar>
        <div>
          <div class="cm-polls-modal__content">
            <div class="cm-polls-modal__info">
              <div class="cm-polls-modal__row">
                <div class="cm-polls-modal__param">
                  Номер: <span>{{selectedPoll.number}}</span>
                </div>
                <div v-if="selectedPoll.type === 'draft'" class="cm-polls-modal__param">
                  Дата загрузки: <span>{{selectedPoll.createdAt}}</span>
                </div>
                <div v-if="selectedPoll.type !== 'draft'" class="cm-polls-modal__param">
                  Дата публикации: <span>{{selectedPoll.publishedAt}}</span>
                </div>
                <div v-if="selectedPoll.type === 'active'" class="cm-polls-modal__param">
                  Планируемая дата завершения: <span>{{selectedPoll.plannedClosingAt}}</span>
                </div>
                <div v-if="selectedPoll.type === 'closed'" class="cm-polls-modal__param">
                  Дата закрытия: <span>{{selectedPoll.closedAt}}</span>
                </div>
              </div>
              <div class="cm-polls-modal__row">
                <div class="cm-polls-modal__param">
                  Статус: <span>{{selectedPoll.status}}</span>
                </div>
                <div v-if="selectedPoll.type === 'draft'" class="cm-polls-modal__param">
                  Автор: <span>{{selectedPoll.whoCreated}}</span>
                </div>
                <div v-if="selectedPoll.type === 'active'" class="cm-polls-modal__param">
                  Опубликовал: <span>{{selectedPoll.whoPublished}}</span>
                </div>
                <div class="cm-polls-modal__param">
                  <div v-if="selectedPoll.type === 'draft'" class="cm-polls-modal__buttons">
                    <v-btn @click="delModalVisible = true" class="cm-polls-modal__btn" color="#DA2032">Удалить
                      черновик
                    </v-btn>
                    <v-btn @click="showPublishModal" class="cm-polls-modal__btn" color="#2f7ce6">
                      Опубликовать
                    </v-btn>
                  </div>
                  <div v-if="selectedPoll.type === 'active'" class="cm-polls-modal__buttons">
                    <v-btn @click="unPublishModalVisible = true" class="cm-polls-modal__btn" color="#DA2032">Снять с
                      публикации
                    </v-btn>
                    <v-btn @click="closeModalVisible= true" class="cm-polls-modal__btn" color="#DA2032">Закрыть
                    </v-btn>
                    <v-btn @click="showChangeClosureModal" class="cm-polls-modal__btn" color="#2f7ce6">Изменить дату
                      завершения
                    </v-btn>
                  </div>
                  <div v-if="selectedPoll.statusName === 'Закрыто' || selectedPoll.statusName === 'Снято с публикации'" class="cm-polls-modal__buttons">
                    <v-btn @click="showRepublishModal" class="cm-polls-modal__btn" color="#DA2032">Вернуть на публикацию
                    </v-btn>
                  </div>
                </div>
              </div>
            </div>
            <Poll contentManager :vote="selectedPoll"/>
          </div>
        </div>
      </div>
    </Modal>
    <Modal
      v-model="unPublishModalVisible"
      header="Снятие с публикации"
      body="Снять голосование с публикации? Отменить данное действие будет невозможно"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Снять с публикации',
          primary: true,
          onClick: onUnPublishClick,
        }]"
    />
    <Modal
      v-model="delModalVisible"
      header="Удаление черновика"
      body="Удалить черновик без возможности восстановления?"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Удалить',
          primary: true,
          onClick: onDelClick,
        }]"
    />
    <Modal
      v-model="publishModalVisible"
      header="Публикация голосования"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Опубликовать',
          primary: true,
          onClick: onPollPublishClick,
        }]"
    >
      <DateTimePicker
        label="Укажите дату окончания голосования"
        v-model="planedCloseDate"
      />
    </Modal>
    <Modal
      v-model="changeClosureModalVisible"
      header="Изменить дату завершения?"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Изменить',
          primary: true,
          onClick: onChangeClosureClick,
        }]"
    >
      <DateTimePicker
        label="Укажите дату окончания голосования"
        v-model="planedCloseDate"
      />
    </Modal>
    <Modal
      v-model="republishModalVisible"
      header="Вернуть на публикацию?"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Вернуть',
          primary: true,
          onClick: onRepublishClick,
        }]"
    >
      <DateTimePicker
        label="Укажите дату окончания голосования"
        v-model="planedCloseDate"
      />
    </Modal>
    <Modal
      v-model="closeModalVisible"
      header="Закрыть голосование?"
      :buttons="[{
          text: 'Отмена',
          close: true,
        },{
          text: 'Закрыть',
          primary: true,
          onClick: onCloseClick,
        }]"
    >
      Закрыть голосование
      <template v-if="selectedPoll">{{selectedPoll.title}}</template>
      ?
    </Modal>

    <CreateDraftModal v-model="createDraftModalVisible" />

    <Loader :loading="loading"/>
  </div>
</template>

<script>
  import Tabs from '~/components/base/Tabs';
  import Range from '~/components/base/Range';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Poll from '~/components/Poll071';
  import {mapActions} from 'vuex';
  import Loader from '~/components/base/Loader';
  import moment from 'moment';
  import Modal from '~/components/base/Modal';
  import DateTimePicker from '~/components/base/DateTimePicker';
  import CreateDraftModal from '~/components/Modals/CreateDraftModal'

  export default {
    layout: 'new',
    components: {
      Tabs,
      Range,
      CloseIcon,
      Poll,
      Loader,
      Modal,
      DateTimePicker,
      CreateDraftModal
    },
    data() {
      return {
        loading: false,
        activeTabIndex: 0,
        defaultFilters: {
          number: 'any',
          title: 'any',
          routeMainType: 'any',
          whoCreated: 'any',
          createdAt: [],
          whoPublished: 'any',
          publishedAt: [],
          plannedClosingAt: [],
          status: 'any',
          whoClose: 'any',
          closedAt: [],
          page: 1,
        },
        filters: {},
        routeMainTypes: [
          {
            text: 'Все',
            value: 'any'
          },
          {
            text: 'НГПТ',
            value: 'НГПТ'
          },
          {
            text: 'Канатная дорога',
            value: 'Канатная дорога'
          },
        ],
        createDraftModalVisible: false,
        pollModalVisible: false,
        selectedPollId: null,
        unPublishModalVisible: false,
        delModalVisible: false,
        publishModalVisible: false,
        changeClosureModalVisible: false,
        republishModalVisible: false,
        closeModalVisible: false,
        planedCloseDate: '',
      }
    },
    methods: {
      ...mapActions({
        getAllPolls: 'polls/getAllPolls071',
        getPollsRoutes: 'polls/getPollsRoutes',

        initiate: 'cm/initiate071',
        publish: 'cm/publish',
        unPublish: 'cm/unPublish071',
        delete: 'cm/delete071',
        changeClosure: 'cm/changeClosure071',
        republish: 'cm/republish071',
        close: 'cm/close071',

        clearPollsStore: 'polls/clearPollsStore',
        clearMetroStore: 'metro/clearMetroStore',
        clearDistrictsStore: 'districts/clearDistrictsStore',
        clearDivisionsStore: 'divisions/clearDivisionsStore',
        clearJdStore: 'jd/clearJdStore',
      }),
      resetPlanedCloseDate() {
        this.planedCloseDate = moment().add(21, 'days').startOf('day').format('YYYY-MM-DD HH:mm');
      },
      onInitiateClick() {
        this.loading = true;
        const params = {
          actualDate: moment().format('YYYY-MM-DD HH:mm:ss'),
          backwardStopsParams: {
            stopsNew: [
              {
                coordinates: [37.606376, 55.742762],
                fullname: 'Остановка 1',
                name: 'Ост. 1',
                sequenceID: 1
              },
              {
                coordinates: [37.606562, 55.741009],
                fullname: 'Остановка 2',
                name: 'Ост. 2',
                sequenceID: 2
              }
            ]
          },
          bandwidth: 0,
          bgeom: [],
          cabinCapacity: 0,
          capacity: 0,
          capacityType: 'capacityType',
          citizensNum: 0,
          districts: [
            'district 1'
          ],
          divisions: [
            'division 1'
          ],
          fgeom: [],
          forwardStopsParams: {
            stopsNew: [
              {
                coordinates: [37.604942, 55.738224],
                fullname: 'Остановка 1',
                name: 'Ост. 1',
                sequenceID: 1
              },
              {
                coordinates: [37.602507, 55.739921],
                fullname: 'Остановка 2',
                name: 'Ост. 2',
                sequenceID: 2
              }
            ]
          },
          integration: 0,
          length: 0,
          metroStations: [
            'metroStation 1'
          ],
          orp: 'orp',
          peakIntervalMinutes: 0,
          planedCloseDate: moment().add(21, 'days').startOf('day').format('YYYY-MM-DD HH:mm:ss'),
          reason: 'reason',
          routeFullName: 'Остановка 1 - Остановка 2',
          routeMainType: 1,
          routeName: 'routeName',
          routeType: 'routeType',
          semiPeakIntervalMinutes: 0,
          title: 'Маршрут 1',
          travelTime: 0,
          vehiclesNum: 0
        };
        this.initiate(params)
          .then(() => {
            this.getData();
            this.loading = false;
            this.showMessage('success', 'Голосование успешно создано');
          })
          .catch(e => {
            console.info(e);
            this.loading = false;
            this.showMessage('error', 'Ошибка создания голосования');
          });
      },
      filtersReset() {
        this.filters = {...this.defaultFilters};
      },
      showPoll(poll) {
        this.selectedPollId = poll.id;
        this.pollModalVisible = true;
      },
      showCreateDraftModal() {
        this.createDraftModalVisible = true;
      },
      showChangeClosureModal() {
        if (this.selectedPoll.plannedClosingAtDateTime) {
          this.planedCloseDate = this.selectedPoll.plannedClosingAtDateTime;
        } else {
          this.resetPlanedCloseDate();
        }
        this.changeClosureModalVisible = true;
      },
      showPublishModal() {
        this.resetPlanedCloseDate();
        this.publishModalVisible = true;
      },
      showRepublishModal() {
        this.resetPlanedCloseDate();
        this.republishModalVisible = true;
      },
      onUnPublishClick() {
        this.loading = true;
        this.unPublish(this.selectedPoll.id).then(({data}) => {
          if (!data.warnings) {
            this.showMessage('success', `Голосование ${this.selectedPoll.title} снято с публикации`);
            this.getPolls();
            this.unPublishModalVisible = false;
          } else {
            this.showMessage('error', `Ошибка снятия голосования ${this.selectedPoll.title} с публикации`);
          }
          this.loading = false;
        }).catch(e => {
          console.info(e);
          this.loading = false;
          this.showMessage('error', `Ошибка снятия голосования ${this.selectedPoll.title} с публикации`);
        })
      },
      onDelClick() {
        this.loading = true;
        this.delete(this.selectedPoll.id).then(({data}) => {
          this.showMessage('success', `Голосование ${this.selectedPoll.title} удалено`);
          this.delModalVisible = false;
          this.pollModalVisible = false;
          this.selectedPollId = null;
          this.getData();
          this.loading = false;
        }).catch(e => {
          console.info(e);
          this.loading = false;
          this.showMessage('error', `Ошибка удаления голосования ${this.selectedPoll.title}`);
        })
      },
      onPollPublishClick() {
        this.loading = true;
        this.publish({
          guid: this.selectedPoll.id,
          planedCloseDate: this.planedCloseDate
        }).then(({data}) => {
          if (!data.warnings) {
            this.showMessage('success', `Голосование ${this.selectedPoll.title} опубликовано`);
            this.getPolls();
            this.publishModalVisible = false;
            this.resetPlanedCloseDate();
          } else {
            this.showMessage('error', `Ошибка публикации голосования ${this.selectedPoll.title}`);
          }
          this.loading = false;
        }).catch(e => {
          console.info(e);
          this.loading = false;
          this.showMessage('error', `Ошибка публикации голосования ${this.selectedPoll.title}`);
        })
      },
      onChangeClosureClick() {
        this.loading = true;
        this.changeClosure({
          guid: this.selectedPoll.id,
          newPlannedCloseDate: `${this.planedCloseDate}:00`,
        })
          .then(({data}) => {
            if (!data.warnings) {
              this.showMessage('success', `Дата завершения для голосования ${this.selectedPoll.title} изменена`);
              this.getPolls();
              this.changeClosureModalVisible = false;
            } else {
              this.showMessage('error', `Ошибка изменения даты завершения для голосования ${this.selectedPoll.title}`);
            }
            this.loading = false;
          })
          .catch(e => {
            console.info(e);
            this.loading = false;
            this.showMessage('error', `Ошибка изменения даты завершения для голосования ${this.selectedPoll.title}`);
          })
      },
      onRepublishClick() {
        this.loading = true;
        this.republish({
          guid: this.selectedPoll.id,
          newPlannedCloseDate: `${this.planedCloseDate}:00`,
        })
          .then(({data}) => {
            if (!data.warnings) {
              this.showMessage('success', `Голосование ${this.selectedPoll.title} опубликовано`);
              this.getPolls();
              this.republishModalVisible = false;
            } else {
              this.showMessage('error', `Ошибка публикации голосования ${this.selectedPoll.title}`);
            }
            this.loading = false;
          })
          .catch(e => {
            console.info(e);
            this.loading = false;
            this.showMessage('error', `Ошибка публикации голосования ${this.selectedPoll.title}`);
          })
      },
      onCloseClick(){
        this.loading = true;
        this.close(this.selectedPoll.id).then(({data}) => {
          if (!data.warnings) {
            this.showMessage('success', `Голосование ${this.selectedPoll.title} закрыто`);
            this.getPolls();
            this.closeModalVisible = false;
          } else {
            this.showMessage('error', `Ошибка закрытия голосования ${this.selectedPoll.title}`);
          }
          this.loading = false;
        }).catch(e => {
          console.info(e);
          this.loading = false;
          this.showMessage('error', `Ошибка закрытия голосования ${this.selectedPoll.title}`);
        })
      },
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      getData() {
        this.loading = true;
        Promise.all([
          this.getPollsRoutes(),
          this.getAllPolls()
        ]).then(() => {
          this.loading = false;
        });
      },
      getPolls() {
        this.loading = true;
        this.getAllPolls()
          .then(() => {
            this.loading = false;
          });
      }
    },
    computed: {
      tabs() {
        return [
          {
            name: 'Черновик',
            value: 'draft',
            count: this.allPolls.filter(p => p.type === 'draft').length
          },
          {
            name: 'Активные',
            value: 'active',
            count: this.allPolls.filter(p => p.type === 'active').length
          },
          {
            name: 'Закрытые',
            value: 'closed',
            count: this.allPolls.filter(p => p.type === 'closed').length
          },
        ]
      },
      pollsRoutesById() {
        const routesById = {};
        this.$store.state.polls.pollsRoutes.forEach(route => {
          if (!routesById[route.routeID]) {
            routesById[route.routeID] = route;
          } else if (route.dir === 0) {
            routesById[route.routeID] = route;
          }
        });
        return routesById;
      },
      allPolls() {
        return this.$store.state.polls.allPolls.map(p => {
          let type;
          if (p.statusStr === 'Черновик') {
            type = 'draft';
          }
          if (p.statusStr === 'Опубликовано' || p.statusStr === 'Активно') {
            type = 'active';
          }
          if (p.statusStr === 'Снято с публикации' || p.statusStr === 'Закрыто') {
            type = 'closed';
          }
          let routeMainTypeName = '-';
          if (p.mainType === 1) {
            routeMainTypeName = 'НГПТ'
          }
          if (p.mainType === 2) {
            routeMainTypeName = 'Канатная дорога'
          }
          const createdAt = p.whenCreated ? moment(p.whenCreated) : null;
          const publishedAt = p.whenPublished ? moment(p.whenPublished) : null;
          const plannedClosingAt = p.planedClosDate ? moment.utc(p.planedClosDate) : null;
          const closedAt = p.whenClosed ? moment(p.whenClosed) : null;

          return {
            ...p,
            type,
            number: ('0000000' + p.id).slice(-8),
            routeFullName: `${p.firstStop} - ${p.lastStop}`,
            routeMainTypeName,
            votes: `${p.voteFor}/${p.voteAgainst}`,
            createdAt: createdAt ? createdAt.format('DD-MM-YYYY HH:mm') : 'Нет данных',
            createdAtFilter: createdAt ? createdAt.format('YYYY-MM-DD') : '',
            whoCreated: p.whoCreated || 'Нет данных',
            publishedAt: publishedAt ? publishedAt.format('DD-MM-YYYY HH:mm') : 'Нет данных',
            publishedAtFilter: publishedAt ? publishedAt.format('YYYY-MM-DD') : '',
            whoPublished: p.whoPublished || 'Нет данных',
            plannedClosingAt: plannedClosingAt ? plannedClosingAt.format('DD-MM-YYYY HH:mm') : 'Нет данных',
            plannedClosingAtFilter: plannedClosingAt && plannedClosingAt.format('YYYY-MM-DD'),
            plannedClosingAtDateTime: plannedClosingAt && plannedClosingAt.format('YYYY-MM-DD HH:mm'),
            closedAt: closedAt ? closedAt.format('DD-MM-YYYY HH:mm') : 'Нет данных',
            closedAtFilter: closedAt ? closedAt.format('YYYY-MM-DD') : '',
            status: p.statusStr,
            whoClose: p.whoClose || 'Нет данных'
          }
        });
      },
      selectedPoll() {
        return this.allPolls.find(p => p.id === this.selectedPollId);
      },
      polls() {
        return this.allPolls.filter(p => p.type === this.activeTab);
      },
      role() {
        return this.$store.state.users.role;
      },
      headers() {
        const headers = [
          {text: 'Номер', value: 'number'},
          {text: 'Маршрут', value: 'title'},
          {text: 'Направление', value: 'routeFullName'},
          {text: 'Тип транспорта', value: 'routeMainTypeName'},
          {text: 'Дата загрузки', value: 'createdAt'},
          {text: 'Загрузил', value: 'whoCreated'},
        ];
        if (this.activeTab !== 'draft') {
          headers.splice(4, 0, {text: 'Количество голосов', value: 'votes'});
          headers.push({text: 'Дата публикации', value: 'publishedAt'});
          headers.push({text: 'Опубликовал', value: 'whoPublished'});
        }
        if (this.activeTab === 'active') {
          headers.push({text: 'Планируемая дата закрытия', value: 'plannedClosingAt'});
        }
        if (this.activeTab === 'closed') {
          headers.push({text: 'Дата закрытия', value: 'closedAt'});
          headers.push({text: 'Статус', value: 'status'});
          headers.push({text: 'Закрыл', value: 'whoClose'});
        }
        return headers;
      },
      pollsList() {
        return this.polls.filter(p => {
          if (this.filters.number !== 'any' && this.filters.number !== p.number) {
            return false;
          }
          if (this.filters.title !== 'any' && this.filters.title !== p.title) {
            return false;
          }
          if (this.filters.routeMainType !== 'any' && this.filters.routeMainType !== p.routeMainTypeName) {
            return false;
          }
          if (this.filters.whoCreated !== 'any' && this.filters.whoCreated !== p.whoCreated) {
            return false;
          }
          if (this.filters.createdAt.length && (p.createdAtFilter < this.filters.createdAt[0] || p.createdAtFilter > this.filters.createdAt[1] || !p.createdAtFilter)) {
            return false;
          }
          if (this.filters.whoPublished !== 'any' && this.filters.whoPublished !== p.whoPublished) {
            return false
          }
          if (this.filters.publishedAt.length && (p.publishedAtFilter < this.filters.publishedAt[0] || p.publishedAtFilter > this.filters.publishedAt[1] || !p.publishedAtFilter)) {
            return false;
          }
          if (this.filters.plannedClosingAt.length && (p.plannedClosingAtFilter < this.filters.plannedClosingAt[0] || p.plannedClosingAtFilter > this.filters.plannedClosingAt[1] || !p.plannedClosingAtFilter)) {
            return false;
          }
          if (this.filters.status !== 'any' && this.filters.status !== p.status) {
            return false
          }
          if (this.filters.closedAt.length && (p.closedAtFilter < this.filters.closedAt[0] || p.closedAtFilter > this.filters.closedAt[1] || !p.closedAtFilter)) {
            return false;
          }
          return this.filters.whoClose === 'any' || this.filters.whoClose === p.whoClose;
        });
      },
      activeTab() {
        return this.tabs[this.activeTabIndex].value;
      },
      resetBtnVisible() {
        return JSON.stringify(this.filters) !== JSON.stringify(this.defaultFilters);
      },
      numberList() {
        return [{
          text: 'Все',
          value: 'any'
        }].concat(this.polls.map(p => p.number).sort());
      },
      titleList() {
        return [{
          text: 'Все',
          value: 'any'
        }].concat(this.polls.map(p => p.title).sort((a, b) => a.localeCompare(b)));
      },
      whoCreatedList() {
        return [{
          text: 'Все',
          value: 'any'
        }].concat([...new Set(this.polls.map(p => p.whoCreated))].sort((a, b) => a.localeCompare(b)));
      },
      whoPublishedList() {
        return [{
          text: 'Все',
          value: 'any'
        }].concat([...new Set(this.polls.map(p => p.whoPublished))].sort((a, b) => a.localeCompare(b)));
      },
      statusList() {
        return [{
          text: 'Все',
          value: 'any'
        }].concat([...new Set(this.polls.map(p => p.status))].sort((a, b) => a.localeCompare(b)));
      },
      whoCloseList() {
        return [{
          text: 'Все',
          value: 'any'
        },
          'Закрыто автоматически'
        ].concat([...new Set(this.polls.filter(p => p.whoClose !== 'Закрыто автоматически').map(p => p.whoClose))].sort((a, b) => a.localeCompare(b)));
      },
    },
    beforeMount() {
      this.filtersReset();
    },
    beforeDestroy() {
      this.clearPollsStore();
      this.clearMetroStore();
      this.clearDistrictsStore();
      this.clearDivisionsStore();
      this.clearJdStore();
      this.$bus.$off('pollsGetData', this.getData);

    },
    mounted() {
      if (this.role !== 'CM') {
        this.$router.replace('/login');
        return;
      }

      this.resetPlanedCloseDate();
      this.getData();

      this.$bus.$on('pollsGetData', this.getData);
    },
    watch: {
      activeTabIndex() {
        this.filtersReset();
      },
      pollModalVisible(visible) {
        if (!visible) {
          this.selectedPollId = null;
        }
      }
    }
  }
</script>

<style lang="scss">
  .cm-pools {
    margin-bottom: 50px;

    &__title {
      font-size: 36px;
      margin-bottom: 25px;
    }

    &__tabs {
      margin-bottom: 25px;
    }

    .v-data-table.v-datatable.theme--light td, .v-data-table th {
      padding: 0 5px;
    }
  }

  .cm-pools-filters {
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    display: flex;
    align-items: center;

    &__field {
      margin: 6px 8px 25px;
      min-height: 48px;
      display: flex;
      align-items: center;

      &_reset {
        margin-left: auto;
      }
    }
  }

  .cm-polls-modal {
    display: flex;
    flex-direction: column;

    .modal__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .modal__body {
      flex-grow: 1;
      padding: 0;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      max-height: calc(90vh - 71px);

      & > .vb {
        display: flex;
        flex-direction: column;
      }
    }

    &__content {
      padding: 15px 0 15px 15px;
      display: flex;
      flex-direction: column;
    }

    &__info {
      margin-bottom: 25px;
      display: table;
      width: 100%;
    }

    &__row {
      display: table-row;

      @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
      }
    }

    &__param {
      display: table-cell;
      padding-bottom: 10px;

      &:not(:last-child) {
        padding-right: 15px;
      }

      span {
        color: rgba(102, 111, 120, 0.8);
      }
    }

    &__buttons {
      display: flex;
      margin-left: -8px;
      flex-wrap: wrap;
    }

    &__btn {
      .v-btn__content {
        color: #fff;
      }
    }
  }
</style>
