<template>
  <div class="vote-block-container" data-app>
    <v-btn 
      class="vote-block-main"
      block 
      depressed 
      color="#9e9e9e" 
      dark 
      @click="$emit('active-sub-menu', routeProperties.id)"
    >
      {{ routeProperties.fullname }}
    </v-btn>
    <div v-if="active" class="vote-block-info">
      <span class="vote-block-info-name">Название маршрута: {{ routeProperties.name }}</span>
      <div class="vote-block-buttons">
        <v-dialog v-model="dialog" persistent max-width="640">
          <template v-slot:activator="{ on }">
            <v-btn @click="onVote(true)" color="#8bc34a" dark :disabled="isVoted">ЗА</v-btn>
            <v-btn @click="onVote(false)" color="#ff5722" dark :disabled="isVoted">ПРОТИВ</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{title}}</span>
            </v-card-title>
            <v-card-text>
                {{ routeProperties.fullname }}
              <v-textarea
                name="input-7-1"
                :label="title"
                v-model="comment"
              />
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="closeModal">Отменить голос</v-btn>
              <v-btn color="blue darken-1" flat @click="sendFeedback" :disabled="disableSendButton">Отправить</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VoteBlock',
  props: ['routeProperties', 'active'],
  data() {
    return {
      dialog: false,
      comment: '',
      vote: false,
      voted: false,
    }
  },
  computed: {
    title() {
      return !this.vote ? 'Комментарий к бесполезности маршрута (обязателен для заполнения)' : 'Комментарий к необходимости маршрута'
    },
    disableSendButton() {
      return !this.vote && !this.comment
    },
    isVoted() {
      if (!this.voted) {
        const pollVote = this.$store.state.polls.polls.find(somePoll => somePoll.routeID === this.$props.routeProperties.id)
        return pollVote && pollVote.isVoted
      }
      return this.voted
    }
  },
  methods: {
    onVote(value) {
      this.dialog = true
      this.vote = value
    },
    sendFeedback() {
      this.closeModal()
      const route = this.$store.state.polls.polls.find(somePoll => somePoll.routeID === this.$props.routeProperties.id)
      this.vote ? 
        this.$bus.$emit('vote-yes', {
          id: route.id,
          comment: this.comment
        }) : 
        this.$bus.$emit('vote-no', {
          id: route.id,
          comment: this.comment
        })
      this.voted = true
    },
    closeModal() {
      this.dialog = false
    }
  }
}
</script>

<style lang="scss">
.vote-block-main {
  &.v-btn {
    height: 72px;
  }

  .v-btn__content {
    white-space: pre-wrap;
    font-size: 12px;
  }
}

.vote-block-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  .vote-block-info-name {
    color: rgb(87, 87, 87);
    padding: 0 8px;
  }

  .vote-block-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: rgb(165, 164, 164) !important;
}

</style>

