<template>
  <svg width="31px" height="31px" viewBox="0 0 31 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-270.000000, -117.000000)">
        <g transform="translate(270.000000, 117.000000)">
          <circle fill="#D6D6D6" cx="15.5" cy="15.5" r="15.5"></circle>
          <g transform="translate(8.000000, 9.000000)" fill="#000000" fill-rule="nonzero">
            <path d="M14.4141456,0 L0.585968794,0 C0.262312593,0 0,0.262299196 0,0.585938868 C0,2.21764127 0.699500248,3.77541471 1.91916224,4.85951605 L4.48540801,7.14032885 C4.93037806,7.53583759 5.18559495,8.10415253 5.18559495,8.69958999 L5.18559495,14.4134095 C5.18559495,14.8803295 5.70747341,15.1602527 6.09647884,14.9008145 L9.55358029,12.5963124 C9.71655286,12.4875932 9.81451952,12.3047162 9.81451952,12.1087929 L9.81451952,8.69958999 C9.81451952,8.10415253 10.0697364,7.53583759 10.5147064,7.14032885 L13.0808378,4.85951605 C14.3004998,3.77541471 15,2.21764127 15,0.585938868 C15,0.262299196 14.7376874,0 14.4141456,0 Z M12.3022546,3.9835832 L9.73612331,6.26451047 C9.04120094,6.88226397 8.64258193,7.76975537 8.64258193,8.69947556 L8.64258193,11.7952241 L6.35741807,13.3185507 L6.35741807,8.69958999 C6.35741807,7.76975537 5.95879906,6.88226397 5.26387669,6.26451047 L2.69774539,3.98369764 C1.87532902,3.25253291 1.35036052,2.25071479 1.20981956,1.1717633 L13.7901805,1.1717633 C13.6496395,2.25071479 13.1247854,3.25253291 12.3022546,3.9835832 Z"></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
