<template>
  <svg width="29px" height="29px" viewBox="0 0 29 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-259.000000, -335.000000)">
        <g transform="translate(259.000000, 335.000000)">
          <circle fill="#1A66CC" cx="14.5" cy="14.5" r="14.5"></circle>
          <path d="M13.632,9.96 L13.632,7.8 L15.632,7.8 L15.632,9.96 L13.632,9.96 Z M13.632,19 L13.632,12.712 L12.192,12.712 L12.816,10.984 L15.632,10.984 L15.632,19 L13.632,19 Z" fill="#FFFFFF" fill-rule="nonzero"></path>
        </g>
      </g>
    </g>
  </svg>
</template>
