<template>
  <svg width="44" height="28" viewBox="0 0 44 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M32.5836 25H43.9991V22H29.5821L32.5836 25ZM24.9934 15H43.9991V12H25.5517C25.4682 13.0329 25.2785 14.0367 24.9934 15ZM24.4223 5H43.9991V2H22.7031C23.3871 2.92345 23.966 3.92932 24.4223 5Z"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6587 25.7319L25.9108 27.3868L25.4125 27.8848L17.0935 19.5695C15.3223 20.8401 13.15 21.5881 10.8027 21.5881C4.83492 21.5881 0 16.7555 0 10.794C0 4.83257 4.83492 0 10.8027 0C16.7665 0 21.6014 4.83257 21.6014 10.794C21.6014 13.2886 20.7567 15.5852 19.3358 17.4131L27.6587 25.7319ZM16.974 15.5795C18.0316 14.2199 18.6132 12.5552 18.6132 10.7941C18.6132 6.4827 15.1157 2.98763 10.8014 2.98763C6.48705 2.98763 2.98958 6.4827 2.98958 10.7941C2.98958 15.1055 6.48705 18.6005 10.8014 18.6005C12.5638 18.6005 14.0283 18.1731 15.5901 16.9624C16.194 16.4943 16.974 15.5795 16.974 15.5795Z"></path>
  </svg>
</template>
