<template>
  <div class="date-time-picker">
    <v-dialog v-model="visible" :width="680">
      <div @click="visible = false" class="modal__overlay"></div>
      <template v-slot:activator="{ on }">
        <v-text-field
          :label="label"
          :value="dateTimeText"
          v-on="on"
          readonly
        >
        </v-text-field>
      </template>
      <div v-if="visible" class="date-time-picker__content">
        <div class="date-time-picker__body">
          <div class="date-time-picker__container">
            <v-time-picker
              v-model="time"
              full-width
              format="24hr"
            ></v-time-picker>
          </div>
          <div class="date-time-picker__container">
            <v-date-picker
              first-day-of-week="1"
              v-model="date"
              full-width
              no-title
            ></v-date-picker>
            <div class="date-time-picker__footer">
              <v-btn text color="primary" @click="visible = false">Отмена</v-btn>
              <v-btn text color="primary" @click="onSubmit">Ок</v-btn>
            </div>
          </div>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import moment from 'moment';
  export default {
    props: ['value', 'label'],
    data() {
      return {
        visible: false,
        date: '',
        time: '00:00:00'
      }
    },
    methods: {
      onSubmit() {
        this.$emit('input', `${moment(this.date).format('YYYY-MM-DD')} ${this.time}`);
        this.visible = false;
      }
    },
    computed: {
      dateTimeText() {
        return moment(this.value).format('DD-MM-YYYY HH:mm');
      },
    },
    watch: {
      visible() {
        this.date = moment(this.value).format('YYYY-MM-DD');
        this.time = moment(this.value).format('HH:mm');
      }
    }
  }
</script>

<style lang="scss">
  .date-time-picker {
    &__content {
      background-color: #fff;
      position: relative;
      z-index: 2;
      .v-card {
        box-shadow: none;
      }
    }
    &__body {
      display: flex;
      align-items: center;
      .v-picker--date {
        padding-top: 15px;
      }
      .v-picker--time {
        display: flex;
        flex-direction: column-reverse;
        .v-picker__title.primary {
          background-color: transparent !important;
          display: flex;
          justify-content: center;
          padding-bottom: 0;
        }
        .v-time-picker-title {
          color: #2b7ae6;
        }
        .v-picker__title__btn {
          background-color: rgba(102, 111, 120, 0.1);
          height: 36px !important;
          min-width: 64px;
          padding: 0 16px;
          border-radius: 8px;
          margin: 0 5px;
        }
        .v-time-picker-title__time .v-picker__title__btn, .v-time-picker-title__time span {
          font-size: 20px;
          height: 20px;
        }
      }
    }
    &__container {
      width: 50%;
    }
    &__footer {
      padding: 0 8px 8px;
      display: flex;
      justify-content: flex-end;
    }
  }
</style>
