<template>
  <v-dialog persistent v-model="modalVisible" max-width="494px">
    <div v-if="modalVisible" class="modal feedback-modal">
      <div class="modal__header">
        <div class="modal__title">Обратная связь</div>
        <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="modalVisible = false">
          <CloseIcon class="modal__close-icon"/>
        </button>
      </div>
      <div class="modal__body">
        <div class="modal__row">
          <Tabs v-model="type" :tabs="types"/>
        </div>
        <div class="modal__row">
          <div class="modal__field">
            <v-text-field
              v-model="desiredName"
              label="Ваше имя*"
              required
              :rules="[rules.required]"
              :error="showErrors && !desiredName.trim().length"
            ></v-text-field>
          </div>
        </div>
        <div class="modal__row">
          <div class="modal__field">
            <v-text-field
              v-model="email"
              label="Ваша электронная почта*"
              required
              :rules="[rules.required, rules.email]"
              :error="showErrors && !emailPattern.test(email)"
            ></v-text-field>
          </div>
        </div>
        <div class="modal__row">
          <div class="modal__field">
            <v-textarea
              label="Сообщение*"
              v-model="messageField"
              :maxlength="messageMaxLength"
              auto-grow
              counter
              :rules="[rules.required]"
              :error="showErrors && !messageField.trim().length"
            ></v-textarea>
          </div>
        </div>
      </div>
      <div class="modal__footer modal__footer_votes">
        <button :disabled="sending" @click="onSendClick" v-ripple class="modal__btn modal__btn_color">Отправить</button>
      </div>
    </div>
  </v-dialog>
</template>

<script>
  import Tabs from '~/components/base/Tabs';
  import CloseIcon from '~/components/svg/CloseIcon';
  import {mapActions} from 'vuex';

  const emailPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9_]+\.)+[a-zA-Z]{2,}))$/;
  export default {
    props: ['value'],
    components: {
      CloseIcon,
      Tabs,
    },
    data() {
      return {
        showErrors: false,
        messageMaxLength: 700,
        desiredName: '',
        email: '',
        messageField: '',
        rules: {
          required: value => !!value.trim().length || 'Поле необходимо заполнить.',
          email: value => {
            return emailPattern.test(value) || 'Неверный адрес электронной почты.'
          },
        },
        type: 0,
        types: [
          {
            name: 'Техподдержка (ошибка)',
            value: 'techsupport',
          },
          {
            name: 'Предложение',
            value: 'suggestion',
          },
        ],
        emailPattern
      }
    },
    computed: {
      modalVisible: {
        get() {
          return this.value;
        },
        set(value) {
          if (!value) {
            this.desiredName = '';
            this.email = '';
            this.messageField = '';
            this.type = 0;
            this.showErrors = false;
          }
          this.$emit('input', value);
        }
      },
      sending() {
        return this.$store.state.feedback.sending;
      }
    },
    methods: {
      ...mapActions({
        send: 'feedback/send'
      }),
      onSendClick() {
        if (!emailPattern.test(this.email) || !this.messageField.trim().length || !this.desiredName.trim().length || this.sending) {
          this.showErrors = true;
          return;
        }
        this.send({
          params: {
            desiredName: this.desiredName,
            email: this.email,
            messageField: this.messageField,
            type: this.types[this.type].value,
          },
          success: () => this.modalVisible = false
        });
      },
      showFeedBack(params) {
        if (params && params.type) {
          this.type = params.type;
        } else {
          this.type = 0;
        }
        this.modalVisible = true;
      }
    },
    mounted() {
      this.$bus.$on('showFeedBack', this.showFeedBack);
    },
    beforeDestroy() {
      this.$bus.$off('showFeedBack', this.showFeedBack);
    }
  }
</script>

<style lang="scss">
  .feedback-modal {
    .v-text-field__details {
      margin-top: 10px;
    }

    .modal__row {
      margin-bottom: 10px;
    }

    .nav-pills {
      margin-bottom: 20px;
    }
  }
</style>
