<template>
  <v-dialog
    v-model="modalVisible"
    :max-width="maxWidth || '550px'"
    hide-overlay
    persistent
    no-click-animation
  >
    <div v-if="modalVisible" :class="`modal ${modalClassName || ''}`">
      <div @click="modalVisible = false" class="modal__overlay"></div>
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title">{{header}}</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="modalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <template v-if="body">{{body}}</template>
          <slot></slot>
        </div>
        <div v-if="buttons" class="modal__footer">
          <button
            v-for="(button, key) in buttons"
            v-ripple
            :key="key"
            class="modal__btn"
            :class="{
            'modal__btn_color': button.primary
          }"
            @click="onBtnClick(button)"
          >
            {{button.text}}
          </button>
        </div>
      </div>
    </div>
  </v-dialog>
</template>

<script>
  import CloseIcon from '~/components/svg/CloseIcon';
  export default {
    props: ['value', 'header', 'body', 'maxWidth', 'buttons', 'modalClassName'],
    components: {
      CloseIcon,
    },
    methods: {
      onBtnClick(button) {
        if (button.onClick) {
          button.onClick();
        }
        if (button.close) {
          this.modalVisible = false;
        }
      }
    },
    computed: {
      modalVisible: {
        get() {
          return this.value;
        },
        set(visible) {
          this.$emit('input', visible);
        }
      }
    }
  }
</script>

