<template>
  <ul class="nav nav-pills nav-pills-big nav-hash-ul" role="tablist">
    <li
      class="nav-item"
      v-for="(item, key) in tabs"
      v-if="!item.hidden"
      :key="key"
    >
      <button
        :disabled="item.disabled"
        class="nav-link"
        @click="(e) => {
          if (preventDefault) $emit('tabClicked', e, key)
          else $emit('input', key)
        }"
        :class="{
                'active': value === key,
            }"
      >
        {{item.name}} <span v-if="item.count" class="badge">{{item.count}}</span>
      </button>
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      value: Number, 
      tabs: Array,
      preventDefault: false
    }
  }
</script>

<style lang="scss">
  .tabs-component {
    margin-top: -3px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    &__btn {
      color: #333333;
      font-size: 18px;
      font-weight: 300;
      line-height: 16px;
      position: relative;
      padding-bottom: 19px;
      &_active {
        color: #2b7ae6;
        .tabs__btn-count {
          color: #2b7ae6;
        }
        &::after {
          height: 2px;
          width: 100%;
          background-color: #2b7ae6;
          position: absolute;
          bottom: -1px;
          left: 0;
          content: "";
        }
      }
      &:not(:last-child) {
        margin-right: 46px;
      }
    }
    &__btn-count {
      position: absolute;
      font-size: 10px;
      font-weight: 400;
      top: -11px;
      left: 100%;
    }
  }
</style>
