<template>
  <li>
    <div @click="$emit('itemClick', item)">
      <span>{{item.username}}:</span>
      <div>
        {{item.textField}}
      </div>
    </div>
    <ul v-if="item.children">
      <TreeItem
        v-for="(child, key) in item.children"
        :key="key"
        :item="child"
        @itemClick="$emit('itemClick', $event)"
      />
    </ul>
  </li>
</template>

<script>
  export default {
    props: ['item'],
    name: 'TreeItem'
  }
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
  }
  li {
    display: block;
    & > div {
      display: inline-block;
      cursor: pointer;
      & > div {
        background-color: #2196f3;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        color: #fff;
      }
    }
  }
</style>
