@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&subset=cyrillic');
@import '~vuetify/dist/vuetify';
@import "~vue-snotify/styles/material";
@import "controls";
@import "pagination";
@import "modal";
@import "login";
@import "new-style";
@import "special";
@import "data-table";


html {
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: SegoeUInormal, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.application {
  width: 100vw;
  min-height: 100vh;

  &.theme--light {
    background-color: #fff;
  }

  &_editor {
    height: 100vh;
    overflow: hidden;
  }
}

.snotify {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  max-height: 40px;

  .snotifyToast {
    margin: 0;
    border-radius: 0;

    &__inner {
      min-height: 39px;

      .snotify-icon {
        max-height: 24px;
      }
    }

    &__title {
      font-size: 16px;
      width: 100%;
    }

    &__body {
      width: 100%;
      font-size: 14px;
    }
  }
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  flex-grow: 0;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  color: #fff;

  .tooltip-inner {
    background: #333333;
    color: var(--color-textInverted);
    border-radius: 16px;
    padding: 5px 10px;
    font-family: var(--font-primary);
    font-size: 11px;
    //font-weight: 300;
  }

  .tooltip-arrow {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-color: #333333;
  }

  &[x-placement ^= "top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        background-color: #333333;
        left: -9px;
        top: -10px;
        z-index: -1;
        border-radius: 10px;
      }
    }
  }

  &[x-placement ^= "bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 100%;
    }
  }

  &[x-placement ^= "right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement ^= "left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden = "true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden = "false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  &.--bg-primary {
    .tooltip-inner {
      background: var(--color-primaryDark);
    }

    .tooltip-arrow {
      border-color: var(--color-primaryDark);
    }
  }
}

button,
input {
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  width: 0.07143rem;
  height: 0.07143rem;
  margin: -0.07143rem;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

:root {
  // colors constants
  --color-blue-300: #e5f4fa;
  --color-blue-400: #1A66CC;
  --color-blue-700: #005377;
  --color-grey-200: #fdfdfd;
  --color-grey-300: #f8f8f8;
  --color-grey-350: #f0f0f0;
  --color-grey-400: #f1f1f1;
  --color-grey-450: #dbdbdb;
  --color-grey-500: #e3e3e3;
  --color-grey-700: #e0e0e0;
  --color-grey-800: #9b9b9b;
  --color-grey-900: #c1c1c1;
  --color-grey-950: #cacaca;
  --color-white: #ffffff;
  --color-black: #333333;
  // app colors
  --color-primary: var(--color-blue-400);
  --color-primaryDark: var(--color-blue-700);
  --color-secondary: var(--color-grey-700);
  --color-secondaryLight: var(--color-grey-300);
  --color-bg: var(--color-grey-400);
  --color-surface: var(--color-white);
  --color-text: var(--color-black);
  --color-textInverted: var(--color-white);
  // fonts
  --font-primary: "Open Sans", "Arial", "Helvetica", sans-serif;
  --font-primary-fallback: "Verdana", "Arial", "Helvetica", sans-serif;
  //
  --size-basic: 60px;
}

.v-select {
  padding-top: 0;
  font-weight: 300;
  margin: -5px 0;

  input {
    &::placeholder {
      color: var(--color-black);
    }
  }
}

.v-text-field .v-input__slot {
  margin-bottom: 0;
  font-size: 14px;
}

.v-text-field .v-text-field__details {
  margin-top: 3px;
}

.v-input:not(.v-input--is-disabled) input, .v-select .v-select__selections, .v-input--is-disabled input {
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
}


.mapboxgl-popup-close-button {
  z-index: 1;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #e3e3e3 !important;
}

.mapboxgl-popup-anchor-top.map-popup-container_so .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right.map-popup-container_so .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left.map-popup-container_so .mapboxgl-popup-tip {
  border-bottom-color: #ffffff !important;
}

.mapboxgl-popup-anchor-top.map-popup-container_correspondence .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right.map-popup-container_correspondence .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left.map-popup-container_correspondence .mapboxgl-popup-tip {
  border-bottom-color: #ffffff !important;
}

.map-popup-container {
  opacity: 1;
  will-change: opacity, margin-top;
  z-index: 2;
  max-width: 485px !important;

  .map-popup {
    position: static;
  }

  .mapboxgl-popup-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  }
}

.mapboxgl-popup-anchor-bottom.map-popup-container {
  margin-top: -10px;
  padding-top: 10px;
  animation: showPopup .5s, showPopupBottom .5s;
}

.mapboxgl-popup-anchor-top.map-popup-container {
  margin-top: 10px;
  padding-bottom: 10px;
  animation: showPopup .5s, showPopupTop .5s;
}

.mapboxgl-popup-anchor-left.map-popup-container {
  margin-left: 10px;
  animation: showPopup .5s, showPopupLeft .5s;
}

.mapboxgl-popup-anchor-right.map-popup-container {
  margin-left: -10px;
  animation: showPopup .5s, showPopupRight .5s;
}

.mapboxgl-popup-anchor-top-right.map-popup-container {
  margin-top: 10px;
  margin-left: -10px;
  animation: showPopup .5s, showPopupTopRight .5s;
}

.mapboxgl-popup-anchor-top-left.map-popup-container {
  margin-top: 10px;
  margin-left: 10px;
  animation: showPopup .5s, showPopupTopLeft .5s;
}

.mapboxgl-popup-anchor-bottom-right.map-popup-container {
  margin-top: -10px;
  margin-left: -10px;
  animation: showPopup .5s, showPopupBottomRight .5s;
}

.mapboxgl-popup-anchor-bottom-left.map-popup-container {
  margin-top: -10px;
  margin-left: 10px;
  animation: showPopup .5s, showPopupBottomLeft .5s;
}

@keyframes showPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showPopupBottom {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -10px;
  }
}

@keyframes showPopupTop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 10px;
  }
}

@keyframes showPopupLeft {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 10px;
  }
}

@keyframes showPopupRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -10px;
  }
}

@keyframes showPopupTopRight {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    margin-top: 10px;
    margin-left: -10px;
  }
}

@keyframes showPopupTopLeft {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@keyframes showPopupBottomRight {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    margin-top: -10px;
    margin-left: -10px;
  }
}

@keyframes showPopupBottomLeft {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    margin-top: -10px;
    margin-left: 10px;
  }
}

.mapboxgl-popup-content {
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 4px;
  padding: 0 !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid rgb(240, 127, 47);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(240, 127, 47) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.editor-popup {
  max-width: 400px;

  .mapboxgl-popup-close-button + div {
    // display: none;
  }

  .mapboxgl-popup-tip {
    visibility: hidden;
  }
}

.editor-info {
  font-size: 14px;
  padding-bottom: 5px;

  &__header {
    background-color: #e3e3e3;
    padding: 10px 35px 10px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 485px;
    user-select: none;
    min-height: 40px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 5px;
    min-width: 100px;

    &:not(:first-child) {
      margin-left: 12px;
    }

    &_primary {
      background-color: #0194d3;
      color: #ffffff;
      border-color: #0194d3;
    }

    &[disabled] {
      opacity: .5;
    }
  }
}

.editor-info-stops {
  padding: 10px 20px;

  &__routes {
    margin-bottom: 16px;
  }

  &__fullname {
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
  }
}

.editor-info-box {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
  }

  &__value {
    color: #0194d3;
    font-size: 12px;
    font-weight: 300;
  }

  &__input {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #0194d3;
  }
}

.mapboxgl-popup-close-button {
  padding: 0 0.35714rem;
  font-size: 1.42857rem;
  top: 0.57143rem !important;
  right: 0.57143rem !important;
  font-weight: 300;
  padding-bottom: 0.28571rem;
}

.modal_vote-against {
  .modal__label {
    color: #f07f2f;
  }

  .modal__btn_color {
    background-color: #f07f2f;
    border-color: #f07f2f;
  }
}

.v-dialog.modal-custom-scroll {
  overflow-y: visible;
  display: flex;
  flex-direction: column;

  .vb {
    display: flex;
    flex-direction: column;
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 4px;
  right: 5px;
  transition: opacity .3s;

  .vb-dragger-styler {
    border-radius: 6px;
  }
}

.vb:hover .vb-dragger {
  opacity: 1;

  .vb-dragger-styler {
    background-color: #9b9b9b;
  }
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color .3s ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  background-color: var(--color-grey-900);
  margin: 0;
  height: 100%;
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: #9b9b9b;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: var(--color-grey-800);
  margin: 0;
  height: 100%;
  opacity: 1;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: var(--color-grey-900);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger {
  opacity: 1;

  & > .vb-dragger-styler {
    &:active {
      background-color: var(--color-grey-800);
    }
  }
}

.v-menu__content,
.custom-scroll,
.custom-scroll textarea,
.v-table__overflow,
.v-data-table__wrapper {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color .3s;
    border-radius: 6px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #9b9b9b;
    }
  }
}

.v-menu__content::-webkit-scrollbar {
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.v-table__overflow,
.v-data-table__wrapper {
  &::-webkit-scrollbar {
    height: 4px;
  }
}


.vue-tooltip-theme {
  max-width: 220px;
}

.primary--text {
  color: #2196f3 !important;
}

a {
  color: #1A66CC;
}

.primary {
  background-color: #1A66CC !important;
  border-color: #1A66CC !important;
}

.primary--text {
  color: #1A66CC !important;
  caret-color: #1A66CC !important;
}

.blue.darken-2 {
  background-color: #1A66CC !important;
  border-color: #1A66CC !important;
}

.blue--text.text--darken-2 {
  color: #1A66CC !important;
  caret-color: #1A66CC !important;
}

.text-primary {
  color: #DA2032 !important;
}

.loader_all {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_all .spinner-border {
  border-width: 7px;
  width: 70px;
  height: 70px;
}

.loader_abs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 99;
}

.loader_abs .spinner-border {
  position: absolute;
  top: 15rem;
  left: 50%;
  margin-left: -3.5rem;
  border-width: 0.7rem;
  width: 7rem;
  height: 7rem;
}

.loader_05 {
  padding: 2rem 0;
}

.loader_05 .spinner-border {
  border-width: 0.5rem;
  width: 5rem;
  height: 5rem;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.v-list__tile {
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 5px 10px;
}

.nav-pills {
  background: #E8EBED;
  border-radius: 8px;
  overflow: hidden;
  display: inline-flex;
  line-height: 16px;

  .nav-link {
    border-radius: 0;
    color: #000000;
    height: 30px;
    font-size: 16px;
    padding: 10px 10px;
    line-height: 1;

    &[disabled] {
      opacity: .25;
    }

    &_mac-fix {
      padding: 9px 10px;
    }

    .badge {
      color: #A2A9B1;
    }
  }

  &:not(.nav-grey) .nav-link:hover {
    &:not([disabled]) {
      color: #FFFFFF !important;
      background: #1e356c;
    }
  }

  .nav-link.active, .filters--type1 .active,
  .nav-link.nuxt-link-active,
  .show > .nav-link {
    color: #FFFFFF;
    background: #092360;
  }
}

.nav-pills-big .nav-link {
  height: 40px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  &_mac {
    padding: 9px 12px 10px;
  }
}

.nav-pills-m1 {
  margin-top: -8px;
  margin-bottom: 40px;
}

.nav-pills-m2 {
  margin-top: -8px;
  margin-bottom: 32px;
}

.v-navigation-drawer {
  will-change: unset;
}

.v-btn {
  letter-spacing: normal;
  margin: 6px 8px;
}

.v-application ul, .v-application ol {
  padding-left: 0;
}

.ellipsis,.no-wrap {
  white-space: nowrap
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis
}

.v-list-item__title {
  font-size: 14px;
  font-weight: 300;
}

.info {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.error--text {
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}

.v-list__tile {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: background .3s cubic-bezier(.25,.8,.5,1);
}

.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
  background-color: transparent;
}

.theme--light.v-list-item:hover {
  .v-list-item__content {
    color: #2b7ae6;
  }
  &::before {
    background-color: transparent;
  }
}

.vue-go-top {
  outline: none;
}

.v-menu__content {
  z-index: 1000 !important;
}
