.theme--light.v-text-field {
  font-family: 'Open Sans', sans-serif;
  label.v-label {
    color: #2b7ae6;
  }
  .v-select__selection {
    font-weight: 300;
    font-size: 14px;
    white-space: nowrap;
  }
  & > .v-input__control > .v-input__slot:before {
    border-color: rgba(0, 0, 0, 0.12);
  }
}

.v-list__tile__title {
  font-size: 14px;
  font-weight: 300;
}

.v-select {
  .v-input__icon {
    width: 14px;
    min-width: 14px;
  }
}

.btn__handicon {
  margin-top: -5px;
  margin-left: 8px;
}

// map controls
.mapboxgl-ctrl.mapboxgl-ctrl-group > button {
    width: 30px;
    height: 30px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group:not(:empty) {
  background-color: transparent;
  box-shadow: none;
  overflow: visible;

  .mapboxgl-ctrl-icon {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .07143rem .71429rem rgba(89,89,89,.5);
    &.mapboxgl-ctrl-zoom-in {
      margin-bottom: 5px;
      background-image: none;
      &::after {
        content: '+';
        font-size: 26px;
        font-weight: 300;
      }
    }
    &.mapboxgl-ctrl-zoom-out {
      background-image: none;
      &::after {
        content: '−';
        font-size: 26px;
        font-weight: 300;
      }
    }
    &:hover {
      &:not(.map-controls__icon_telematics-enabled) {
        background-color: rgba(0, 0, 0, 0.02) !important;
      }
    }
  }
}

.mapboxgl-ctrl-top-left {
  margin: 0 10px 10px;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.map-controls {
  position: relative;
  top: 12px;

  .mapboxgl-ctrl-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  &.mapboxgl-ctrl.mapboxgl-ctrl-group:not(:empty) {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(10, 30, 50, 0.1), 0 1px 2px rgba(10, 30, 50, 0.152768);
    color: #333;
    font-size: 14px;

    .mapboxgl-ctrl-icon {
      background-color: transparent;
      box-shadow: none;
      border: 0;

      svg {
        fill: #333;
        g {
          fill: #333;
        }
      }

      &_active {
        background-color: #ddd !important;
        &:hover {
          background-color: #ddd !important;
        }

        &:not(:last-child) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &_withBadge {
        position: relative;
      }

      .mapboxgl-ctrl-icon-badge {
        font-size: 9px;
        background-color: black;
        color: white;
        height: 14px;
        min-width: 14px;
        line-height: 1;
        padding: 2px;
        border-radius: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        position: absolute;
        top: 2px;
        right: 2px;

        &_loading {
          background-image: url('~assets/img/reload.svg');
          animation: spinner 1s infinite linear;
          background-size: 80%;
          background-position: 50% 50%;
        }
      }
    }
  }

  &__icon {
    &_add-stop {
      width: 20px;
      height: 20px;
    }

    &_center,
    &_fullview,
    &_route {
      width: 18px;
      height: 18px;
    }

    &_telematics {
      width: 16px;
      height: 16px;
    }

    &_reset,
    &_history-back,
    &_history-forward,
    &_fullscreen,
    &_search {
      width: 15px;
      height: 15px;
    }

    &_history-forward {
      transform: scaleX(-1);
    }

    &_telematics-enabled {
      background-color: #D0021B !important;

      &:not(:last-child) {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      .map-controls__icon_telematics g {
        fill: #fff !important;
      }
    }
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-shrink {
  display: none !important;
}

.v-date-picker-table {
  .theme--light.v-btn.accent {
    background-color: #D0021B !important;
    color: #fff !important;
  }
}

.v-application .accent {
  background-color: #DA2032 !important;
  border-color: #DA2032 !important;
}

.v-picker__body--no-title {
  padding-top: 10px;
}

.v-autocomplete__content.v-menu__content {
  border-radius: 4px;
}

.v-text-field > .v-input__control > .v-input__slot {
  cursor: pointer !important;
  input {
    cursor: pointer !important;
  }
}
