.login-page {
  background: #b6bfc5 url('../../assets/bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .v-text-field .v-text-field__details {
    margin-top: 12px;
    min-height: 17px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &-text {
      color: #ff0000;
      font-size: 18px;
    }

    &-img {
      margin-right: 15px;
      width: 42px;
      height: 50px;
    }
  }

  &__info {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 79px;
  border-radius: 30px;
  width: 100%;
  max-width: 460px;

  &__field {
    margin-bottom: 16px;

    &-btn {
      margin-bottom: 21px;
    }
  }

  &__input {
    padding-top: 4px;
    padding-bottom: 5px;
    &.v-text-field > .v-input__control > .v-input__slot:before,
    &.v-text-field > .v-input__control > .v-input__slot:after {
      bottom: -5px !important;
      border-color: #4cae50 !important;
    }
    &.v-text-field.error--text > .v-input__control > .v-input__slot:before,
    &.v-text-field.error--text > .v-input__control > .v-input__slot:after {
      border-color: #ff5252 !important;
    }

    &.v-text-field > .v-input__control > .v-input__slot {
      input {
        font-size: 14px;
        padding-bottom: 0;
      }
    }

    .v-label {
      color: #333333 !important;
      font-size: 14px;
      font-weight: 300;
      &.v-label--active {
        color: #4cae50 !important;
        &.error--text {
          color: #ff5252 !important;
        }
      }
    }
  }

  .checkbox__label {
    font-family: 'Open Sans', Roboto, sans-serif;
    font-size: 16px;
  }

  &__btn {
    border-radius: 5px;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    width: 100%;
    height: 45px;
    outline: none;
    &_submit {
      background-color: #4cae50;
      color: #ffffff;
      &:hover {
        background-color: darken(#4cae50, 20%);
      }
      &.disabled {
        background-color: #e0e0e0;
        color: #b1b1b1;
      }
    }
    &_cancel {
      margin-top: 15px;
      color: #4cae50;
    }
  }

  &__footer {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
  }

  &__link {
    text-decoration: none;
    color: #333333;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
  .v-text-field > .v-input__control > .v-input__slot:before {
    border-color: #b1b1b1 !important;
  }
}

.v-text-field .v-label {
  max-width: 133%;
  transform: translateY(-18px) scale(0.75);
}

.login-form__input .v-label {
  color: #4cae50 !important;
}
