.modal {
  background-color: #fff;
  box-shadow: 0 3px 20px 4px rgba(93, 93, 93, 0.5);
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 29px;
    border-bottom: 1px solid #eeeeee;
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    & + .modal__footer {
      border-top: 0;
    }
  }

  &__close-btn {
    padding: 0 6px;
    outline: none;
    svg {
      display: block;
    }
  }

  &__body {
    padding: 21px 27px;
  }

  &__row {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 13px;
      .v-select {
        margin-bottom: 0;
      }
    }
  }

  &__field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &_half {
      max-width: calc(50% - 35px);
    }
    .v-select {
      margin-bottom: 10px;
    }
  }

  &__textarea {
    border: 1px solid #e1e1e1;
    margin-top: 5px;
    outline: none;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    height: 163px;
    resize: none;
    padding: 20px;
    line-height: 16px;
  }

  &__label {
    color: #2f7ce6;
    font-size: 12px;
    font-weight: 400;
  }

  &__footer {
    border-top: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 32px 30px 33px;
  }

  &__btn {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 9px 26px;
    text-transform: uppercase;
    outline: none;
    min-width: 136px;
    &[disabled] {
      opacity: .5;
    }
    &:not(:first-child) {
      margin-left: 22px;
    }
    &_color {
      background-color: #2f7ce6;
      border-color: #2f7ce6;
      color: #fff;
    }
  }

  &_drag {
    position: relative;
    &::before {
      position: absolute;
      width: 100vw;
      height: 100vh;
      content: '';
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    opacity: 0.46;
    background-color: rgb(33, 33, 33);
    border-color: rgb(33, 33, 33);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__content {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }
}

.operator-modal {
  .nav-pills-big .nav-link {
    font-size: 13px;
    padding: 10px 10px;
  }
  .discussions-header__count {
    padding: 6px 3px 3px !important;
    line-height: 11px !important;
    top: -8px !important;
  }
}


.discussions-modal {
  .vb {
    max-height: calc(100vh - 145px);
  }
  .modal__body {
    padding-right: 0;
    .discussions {
      padding-right: 27px;
    }
  }
  &--editor {
    .modal__body {
      padding: 0;
      .discussions {
        padding-right: 0;
        &__title {
          padding-top: 21px;
          padding-left: 27px;
        }
        &__field {
          margin: 0 27px 21px;
        }
        &-comments {
          margin: 0 27px 21px;
        }
      }
    }
  }
}

.v-dialog {
  box-shadow: none;
  & > .modal {
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  }
}

.operator-modal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &__header {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    button,
    svg {
      display: block;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    flex-grow: 1;
    padding-right: 16px;

    &-container {
      display: flex;
      align-items: center;
    }

    &-category {
      margin-right: auto;
    }

    &-name {
      display: block;
    }

    &-operator {
      display: block;
      font-size: 18px;
    }
  }

  &__content {
    flex-grow: 1;
    font-size: 16px;

    &-items {
      padding: 16px;

      p > span {
        font-weight: 300;
        color: rgba(102, 111, 120, 0.8);
      }
    }
  }

  &__footer {
    padding: 16px 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;

    &:empty {
      display: none;
    }
  }

  &__footer-chancel.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: transparent;
    border: 1px solid;
    margin-right: auto;
  }

  &__map {
    height: 500px;
  }

  &__map-container {
    position: relative;
    width: 100%;

    &:fullscreen {
      .operator-modal__map {
        height: 100vh;
      }
    }
  }

  .editor-legend {
    padding: 0;
  }

  .discussions-header__count {
    padding: 6px 3px 3px;
  }

  &__discussions-btn {
    margin-left: 5px;
  }

  &__toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(180deg);
  }
}
