<template>
  <div>
    <v-navigation-drawer
      v-model="modalVisible"
      right
      fixed
      :width="400"
      class="proposal-modal"
      :class="{
        'proposal-modal_advanced': activeTab === 1
      }"
    >
      <div v-if="modalVisible" class="proposal-modal__overlay"></div>
      <div class="v-navigation-drawer__container" v-if="modalVisible">
        <div class="proposal-modal__wrapper">
          <div class="proposal-modal__container">
            <div v-if="activeTab === 1" class="proposal-modal__editor">
              <div class="proposal-modal-editor">
                <Map
                  class="proposal-modal__map"
                  :routeID="routeID"
                  :cableWay="routeMainType === 2"
                  :category="category"
                />
              </div>
              <div class="proposal-modal__editor-footer">
                <v-btn @click="closeModalVisible = true" class="proposal-modal__btn">
                  Отменить
                </v-btn>
              </div>
            </div>
            <div
              class="proposal-modal__menu"
              :class="{
                'proposal-modal__menu_hidden': !menuVisible
              }"
            >
              <div class="proposal-modal__header">
                <button
                  v-if="activeTab === 1"
                  @click="menuVisible = !menuVisible"
                  class="proposal-modal__header-btn"
                  v-tooltip="menuVisible ? 'Скрыть меню' : 'Показать меню'"
                >
                  <ArrowIcon/>
                </button>
                <h4 class="proposal-modal__title">{{ formTitle }}</h4>
                <button class="proposal-modal__close-btn" v-tooltip="'Закрыть'" @click="closeModalVisible = true">
                  <CloseIcon class="proposal-modal__close-icon"/>
                </button>
              </div>
              <div class="proposal-modal__body" v-bar>
                <div>
                  <div class="proposal-modal__content">
                    <!-- <div v-if="!!draft" style="display: flex; flex-flow: row nowrap; margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #ddd;">
                        <div style="flex: 1;">Восстановлено из черновика</div>
                        <v-btn small @click="deleteDraftModalVisible = true">Удалить черновик</v-btn>
                    </div> -->
                    <Tabs 
                      v-model="activeTab" 
                      :tabs="tabs" 
                      :preventDefault="true"
                      class="proposal-modal__tabs" 
                      @tabClicked="(e, tab) => onTabChange({e, tab})"
                    />
                    <div class="proposal-modal-form">
                      <div class="proposal-modal-form__field proposal-modal-form__field_radio">
                        <div class="proposal-modal-form__label">Что вы хотите предложить?</div>
                        <div
                          v-for="item in categories"
                          :key="item.value"
                          @click.prevent.stop="onCategoryClick(item.value)"
                        >
                          <Checkbox
                            type="radio"
                            :checked="category === item.value"
                          >
                            {{item.name}}
                          </Checkbox>
                        </div>
                      </div>

                      <div v-if="category === 'exist'" class="proposal-modal-form__field proposal-modal-form__field_full">
                        <div class="proposal-modal-form__label">Маршрут для изменения</div>
                        <v-autocomplete
                          :search-input.sync="search"
                          placeholder="Выберите маршрут"
                          :items="routes"
                          clearable
                          item-text="name"
                          :item-value="item => item.routeID"
                          :hide-details="true"
                          v-model="routeID"
                          :menu-props="{
                            maxWidth: 410,
                            zIndex: '200!important',
                          }"
                          no-data-text="Совпадений не найдено"
                          @click:clear="onClearRouteIDClick"
                          @change="onRouteIDChange"
                        >
                          <template v-slot:item="{ item }">
                            <v-list-item-avatar>
                              <BusIconColorized class="vehicle-type-icon" v-if="item.vehicleType === 'А'" />
                              <TramIconColorized class="vehicle-type-icon" v-if="item.vehicleType === 'Тм'" />
                              <TrolleybusIconColorized class="vehicle-type-icon" v-if="item.vehicleType === 'Тб'" />
                            </v-list-item-avatar>
                            <v-list-item-content @click="(e) => onRouteIDClick(e, item.routeID)">
                              {{ item.name }}
                            </v-list-item-content>
                          </template>
                        </v-autocomplete>
                      </div>
                      <div v-if="category === 'new'" class="proposal-modal-form__field">
                        <div class="proposal-modal-form__label">Выберите тип ТС</div>
                        <v-select
                          :items="routeMainTypes"
                          :hide-details="true"
                          v-model="routeMainType"
                          @change="onRouteMainTypeChange"
                          :menu-props="{
                            zIndex: '200!important'
                          }"
                        >
                          <template v-slot:item="{ item }">
                            <v-list-item-content @click="(e) => onRouteMainTypeClick(e, item.value)">
                              {{ item.text }}
                            </v-list-item-content>
                          </template>
                        </v-select>
                      </div>
                      <template v-if="(category === 'new' || category === 'exist') && routeMainType !== 2">
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__field proposal-modal-form__field_geo">
                            <div class="proposal-modal-form__label">Начало маршрута</div>
                                <v-text-field
                                    placeholder="Откуда"
                                    v-model="editorData.description.routeStart"
                                    @input="getGeoResultsFrom"
                                    @keydown.enter.prevent="setGeoResultFrom(geoResultsFrom[0])"
                                    :clearable="category !== 'exist'"
                                    :disabled="category === 'exist'"
                                />

                                <v-list v-if="geoResultsFrom.length" style="border: solid 1px #ddd; margin: 0; padding: 0; max-height: 300px; overflow-y: auto;">
                                    <v-list-item
                                        v-for="(item, i) in geoResultsFrom"
                                        :key="i"
                                        style="cursor: pointer; margin: 0; padding: 0 10px;"
                                        @click="setGeoResultFrom(item)"
                                    >
                                        <v-list-item-content><v-list-item-title>{{item}}</v-list-item-title></v-list-item-content>
                                    </v-list-item>
                                </v-list>

                            <!--v-autocomplete
                              :search-input.sync="geoQueryFrom"
                              :loading="geoResultsFromLoading"
                              :items.sync="geoResultsFrom"
                              @change="addStartRoutePoint"
                              placeholder="Откуда"
                              v-model="editorData.description.routeStart"
                              maxlength="90"
                              :menu-props="{maxWidth: 339, contentClass: 'proposal-modal-form__geo-results'}"
                              :clearable="category === 'exist'"
                              :disabled="category === 'exist'"
                            ></v-autocomplete-->
                          </div>
                          <div class="proposal-modal-form__field proposal-modal-form__field_geo">
                            <div class="proposal-modal-form__label">Конец маршрута</div>
                            <v-text-field
                                placeholder="Куда"
                                v-model="editorData.description.routeFinish"
                                @input="getGeoResultsTo"
                                @keydown.enter.prevent="setGeoResultTo(geoResultsTo[0])"
                                :clearable="category !== 'exist'"
                                :disabled="category === 'exist'"
                            />

                            <v-list v-if="geoResultsTo.length" style="border: solid 1px #ddd; margin: 0; padding: 0; max-height: 300px; overflow-y: auto;">
                                <v-list-item
                                    v-for="(item, i) in geoResultsTo"
                                    :key="i"
                                    style="cursor: pointer; margin: 0; padding: 0 10px;"
                                    @click="setGeoResultTo(item)"
                                    v-if="item.length > 2"
                                >
                                    <v-list-item-content><v-list-item-title>{{item}}</v-list-item-title></v-list-item-content>
                                </v-list-item>
                            </v-list>
                            <!--v-combobox
                              :search-input.sync="geoQueryTo"
                              :loading="geoResultsToLoading"
                              :items="geoResultsTo"
                              @change="addFinishRoutePoint"
                              placeholder="Куда"
                              v-model="editorData.description.routeFinish"
                              maxlength="90"
                              :menu-props="{maxWidth: 339, contentClass: 'proposal-modal-form__geo-results'}"
                              :clearable="category !== 'exist'"
                              :disabled="category === 'exist'"
                            ></v-combobox-->
                          </div>
                        </div>
                      </template>
                      <div class="proposal-modal-form__field">
                        <div class="proposal-modal-form__label">Опишите свою идею</div>
                        <v-textarea
                          v-model="textField"
                        />
                      </div>
                      <div v-if="routeMainType === 1 && category !== 'other'">
                        <div class="proposal-modal-form__field">
                          <h4 class="proposal-modal__title">Дополнительно:</h4>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Дни недели</div>
                          <v-select
                            @change="$bus.$emit('addEditorStops', {updateLines: true, noUpdateLineGeometry: true})"
                            v-model="editorData.description.weekDays"
                            :items="editorData.description.weekDaysItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Время суток</div>
                          <v-select
                            @change="$bus.$emit('addEditorStops', {updateLines: true, noUpdateLineGeometry: true})"
                            v-model="editorData.description.dayTime"
                            :items="editorData.description.dayTimeItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Тип транспортного средства</div>
                          <v-select
                            v-model="editorData.description.typeTS"
                            :items="editorData.description.typeTSItems"
                          ></v-select>
                        </div>
                        <div class="proposal-modal-form__field">
                          <div class="proposal-modal-form__label">Желаемый интервал движения, мин.</div>
                          <v-text-field
                            v-model="editorData.description.interval"
                            maxlength="4"
                          ></v-text-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="proposal-modal__footer">
                <!-- <v-btn @click="saveDraft" class="proposal-modal__btn" style="text-transform: none!important;">
                  Сохранить черновик
                </v-btn> -->
                <v-btn @click="add" class="proposal-modal__btn proposal-modal__btn_color" style="text-transform: none!important;">
                  Подать идею
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-navigation-drawer>
    <div class="loader_all" style="z-index: 100;" v-if="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <v-dialog
      v-model="closeModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal">
        <div class="modal__header">
          <div class="modal__title">Закрыть конструктор?</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="closeModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <p>Если Вы закроете это окно, внесенные Вами изменения не будут сохранены</p>
          <p v-if="!!draft">Останется последний сохранённый черновик</p>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="closeModalVisible = false">Отмена</button>
          <button v-ripple class="modal__btn modal__btn_color" @click="closeModalVisible = false; modalVisible = false; editorData.currentTS.show = false">Закрыть</button>
        </div>
      </div>
    </v-dialog>

    <v-dialog
      v-model="changeRouteModalVisible"
      max-width="416px"
      persistent
    >
      <div class="modal">
        <div class="modal__body">
          <p>Внесенные в маршрут изменения не будут сохранены.<br>Продолжить?</p>
        </div>
        <div class="modal__footer">
          <button 
            v-ripple 
            class="modal__btn" 
            @click="removeChangeRouteParams"
          >Отмена</button>
          <button 
            v-ripple 
            class="modal__btn modal__btn_color" 
            @click="() => {
              if (supposedTab === 0 || supposedTab === 1) {
                onTabChange({tab: supposedTab, force: true});
              } else if (supposedCategory) {
                onCategoryChange(supposedCategory);
              } else if (supposedRouteID) {
                onRouteIDChange(supposedRouteID); 
              } else if (supposedRouteMainType) {
                onRouteMainTypeChange(supposedRouteMainType)
              }
              removeChangeRouteParams({all: true})
            }"
          >Да</button>
        </div>
      </div>
    </v-dialog>

    <v-dialog
      v-model="deleteDraftModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal">
        <div class="modal__header">
          <div class="modal__title">Удалить черновик?</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="closeModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="deleteDraftModalVisible = false">Отмена</button>
          <button v-ripple class="modal__btn modal__btn_color" @click="deleteDraft">Удалить</button>
        </div>
      </div>
    </v-dialog>

    <v-dialog
      v-model="successModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal">
        <div class="modal__header">
          <div class="modal__title">Ваша идея отправлена на рассмотрение!</div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="successModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <p>Благодарим Вас за участие!</p>
          <p>Ваша идея будет направлена на рассмотрение.</p>
          <p>До публикации Вы можете просмотреть свои идеи в разделе “Мои идеи” в Личном кабинете.</p>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn modal__btn_color" @click="successModalVisible = false">Ок</button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import CloseIcon from '~/components/svg/CloseIcon';
  import Tabs from '~/components/base/Tabs';
  import Checkbox from '~/components/base/Checkbox';
  import Map from '~/components/Proposal/Map';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from '~/components/map/layers/editor';
  import {mapActions} from 'vuex';
  import {point} from '@turf/helpers';
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import ymaps from 'ymaps';
  import connection from '~/assets/js/connection';
  import BusIconColorized from '~/components/svg/BusIcon2Colorized';
  import TramIconColorized from '~/components/svg/TramIconColorized';
  import TrolleybusIconColorized from '~/components/svg/TrolleybusIconColorized';

  export default {
    components: {
      CloseIcon,
      Tabs,
      Checkbox,
      Map,
      ArrowIcon,
      BusIconColorized,
      TramIconColorized,
      TrolleybusIconColorized
    },
    data() {
      return {
        loading: false,
        formTitle: 'Добавить идею',
        modalVisible: false,
        closeModalVisible: false,
        changeRouteModalVisible: false,
        deleteDraftModalVisible: false,
        successModalVisible: false,
        menuVisible: true,
        activeTab: 0,
        routeMainTypes: [
          {
            text: 'НГПТ',
            value: 1,
          },
          {
            text: 'Канатная дорога',
            value: 2,
          },
        ],
        routeMainType: 1,
        category: 'exist',
        routeID: null,
        clearedRouteID: null,
        supposedTab: null,
        supposedRouteID: null,
        supposedCategory: null,
        supposedRouteMainType: null,
        textField: '',
        editorData,
        editorHistory,
        search: '',
        geoQueryFrom: '',
        geoQueryTo: '',
        geoResultsFrom: [],
        geoResultsTo: [],
        geoResultsFromLoading: false,
        geoResultsToLoading: false,
        draftId: null,
        draft: null,
      }
    },
    methods: {
      ...mapActions({
        initiateProposal: 'proposals/initiateProposal',
        getStopByRouteID: 'ngpt/getStopByRouteID',
      }),
      removeChangeRouteParams({all = false}) {
        this.supposedTab = null;
        this.supposedCategory = null;
        this.supposedRouteID = null;
        this.supposedRouteMainType = null;
        this.changeRouteModalVisible = false;
        if (all) this.clearedRouteID = null;
      },
      showMessage(status, message) {
        this.$snotify[status](
          message,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        );
      },
      async buildParams() {
        if (this.loading) {
          this.showMessage('error', 'Подождите, идет отправка идеи');
          return;
        }
        let params = {};
        if (this.category === 'exist' && !this.routeID) {
          this.showMessage('error', 'Выберите маршрут');
          return;
        } else {
          params.routeID = this.routeID;
        }
        if (!this.textField.trim().length) {
          this.showMessage('error', 'Опишите свою идею');
          return;
        } else {
          params.reason = this.textField;
        }
        if (this.category !== 'other') {
          params.routeMainType = this.routeMainType;
          if (this.routeMainType === 1) {
            params.desiredFrom = this.editorData.description.routeStart || this.editorData.routeProperties.desiredFrom || '';
            params.desiredTo = this.editorData.description.routeFinish || this.editorData.routeProperties.desiredTo || '';
            params.desiredDays = this.editorData.description.weekDays;
            params.desiredTime = this.editorData.description.dayTime;
            params.desiredVehicleType = this.editorData.description.typeTS;
            if (this.editorData.description.interval.length) {
              params.desiredInterval = +this.editorData.description.interval;
            }
          }
        } else {
          params.routeMainType = 3;
        }

        if (this.activeTab === 1) {
          const mainRouteStops = this.editorData.stopsList.mainRoute.stops.filter(s => s && s.type);
          const backRouteStops = this.editorData.stopsList.backRoute.stops.filter(s => s && s.type);
          if ((!mainRouteStops.length && !backRouteStops.length) || (mainRouteStops.length && mainRouteStops.length === 1) || (backRouteStops.length && backRouteStops.length === 1)) {
            this.showMessage('error', 'Добавьте не менее 2-х остановок');
            return;
          }
          if (!this.editorHistoryChanged) {
            this.showMessage('error', 'Внесите изменения в маршрут');
            return;
          }
          if (this.routeMainType === 2) {
            const stopsParams = {};
            stopsParams.mainRoute = this.generateStops('mainRoute');
            stopsParams.mainRoute.sort((a, b) => a.sequenceID - b.sequenceID);
            const fLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.mainRoute[stopsParams.mainRoute.map(s => s.id || s.properties.id).join('-')];
            const fgeom = [fLine.geometry.coordinates];
            const stopsNew = [];
            stopsParams.mainRoute.forEach(s => {
              stopsNew.push({
                id: s.id || s.properties.id,
                color: "#0080ff",
                coordinates: s.geometry.coordinates,
                fullname: s.properties.name,
                name: s.properties.name,
                sequenceID: s.properties.sequenceID
              })
            });

            params = {
              ...params,
              fgeom,
              title: this.editorData.newProposal.title,
              reason: this.textField,
              forwardStopsParams: {
                stopUpd: [],
                stopsDel: [],
                stopsNew: stopsNew
              },
              districts: this.editorData.routeProperties.districts,
              divisions: this.editorData.routeProperties.divisions,
              metroStations: this.editorData.routeProperties.metroStations,
              forwardLength: fLine.distance,
              forwardTime: fLine.duration,
              forwardSpeed: fLine.speed
            };

          } else {
            const stopsParams = {};

            stopsParams.mainRoute = this.generateStops('mainRoute');
            stopsParams.backRoute = this.generateStops('backRoute');
            const historyData = this.editorHistory.state[0].editorData;
            const currentData = stopsParams;
            historyData.stopsList.mainRoute.stops.sort((a, b) => a.sequenceID - b.sequenceID);
            historyData.stopsList.backRoute.stops.sort((a, b) => a.sequenceID - b.sequenceID);
            currentData.mainRoute.sort((a, b) => a.properties.sequenceID - b.properties.sequenceID);
            currentData.backRoute.sort((a, b) => a.properties.sequenceID - b.properties.sequenceID);

            const forwardStopsParams = {
              stopsDel: historyData.stopsList.mainRoute.stops
                .filter(oldStop => !currentData.mainRoute.find(curStop => curStop.id === oldStop.value))
                .map(stop => {
                  const dStop = (this.stopsById[stop.value] || this.allStopsById[stop.value]);
                  return {
                    id: dStop.id,
                    stopID: dStop.properties.stopID,
                    coordinates: dStop.geometry.coordinates,
                    name: dStop.properties.name,
                    sequenceID: dStop.properties.sequenceID,
                  }
                }),
              stopsNew: currentData.mainRoute
                .filter(stop => !historyData.stopsList.mainRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  const stopData = {
                    id: stop.id || stop.properties.id,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname || stop.properties.name,
                    sequenceID: stop.properties.sequenceID
                  };
                  if (stop.properties.stopID) {
                    stopData.stopID = stop.properties.stopID;
                  }
                  return stopData;
                }),
              stopUpd: currentData.mainRoute
                .filter(stop => historyData.stopsList.mainRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  return {
                    id: stop.id,
                    stopID: stop.properties.stopID,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname,
                    sequenceID: stop.properties.sequenceID
                  }
                })
            };

            const fLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.mainRoute[stopsParams.mainRoute.map(s => s.id || s.properties.id).join('-')];
            const fgeom = fLine ? fLine.geometry.coordinates : [];

            const backwardStopsParams = {
              stopsDel: historyData.stopsList.backRoute.stops
                .filter(oldStop => !currentData.backRoute.find(curStop => curStop.id === oldStop.value))
                .map(stop => {
                  const dStop = (this.stopsById[stop.value] || this.allStopsById[stop.value]);
                  return {
                    id: dStop.id,
                    stopID: dStop.properties.stopID,
                    coordinates: dStop.geometry.coordinates,
                    name: dStop.properties.name,
                    sequenceID: dStop.properties.sequenceID,
                  }
                }),
              stopsNew: currentData.backRoute
                .filter(stop => !historyData.stopsList.backRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  const stopData = {
                    id: stop.id || stop.properties.id,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname || stop.properties.name,
                    sequenceID: stop.properties.sequenceID
                  };
                  if (stop.properties.stopID) {
                    stopData.stopID = stop.properties.stopID;
                  }
                  return stopData;
                }),
              stopUpd: currentData.backRoute
                .filter(stop => historyData.stopsList.backRoute.stops.find(oldStop => oldStop.value === stop.id))
                .map(stop => {
                  return {
                    id: stop.id,
                    stopID: stop.properties.stopID,
                    coordinates: stop.geometry.coordinates,
                    name: stop.properties.name,
                    fullname: stop.properties.fullname,
                    sequenceID: stop.properties.sequenceID
                  }
                })
            };

            const bLine = this.editorHistory.state[this.editorHistory.ind].editorData.routesList.backRoute[stopsParams.backRoute.map(s => s.id || s.properties.id).join('-')];
            const bgeom = bLine ? bLine.geometry.coordinates : [];

            params = {
              ...params,
              title: this.editorData.newProposal.title,
              reason: this.textField,
              forwardStopsParams,
              backwardStopsParams,
              fgeom,
              bgeom,
              commentary: this.$store.state.proposals.newProposal.fulldesc,
              districts: this.editorData.routeProperties.districts,
              divisions: this.editorData.routeProperties.divisions,
              metroStations: this.editorData.routeProperties.metroStations,
            };

            if (fLine || bLine) {
              params.summaryLength = 0;
              params.summaryTime = 0;
              if (fLine) {
                params.forwardLength = fLine.distance;
                params.summaryLength += fLine.distance;
                params.forwardTime = fLine.duration;
                params.summaryTime += fLine.duration;
                if (fLine.speed) {
                  params.forwardSpeed = fLine.speed;
                }
              }

              if (bLine) {
                params.backwardLength = bLine.distance;
                params.summaryLength += bLine.distance;
                params.backwardTime = bLine.duration;
                params.summaryTime += bLine.duration;
                if (bLine.speed) {
                  params.backwardSpeed = bLine.speed;
                }
              }
            }
          }
        }

        if (this.editorData.description.interval.length && !Number.isInteger(+editorData.description.interval)) {
          this.showMessage('error', 'Желаемый интервал движения должен быть числом');
          return;
        }

        this.loading = true;

        if (this.activeTab === 0 && this.category === 'exist' && this.routeMainType === 1) {
          params = {
            ...params,
            ...await this.getRouteParams()
          }
        }

        return params;
      },
      async add() {
          let params = await this.buildParams();

          this.initiateProposal(params)
            .then(data => {
              if (data.error) {
                console.info(data);
                this.showMessage('error', 'Ошибка!');
              } else {
                this.successModalVisible = true;
                if (this.activeTab === 1) {
                  this.$bus.$emit('initMap');
                }
                this.formReset();
                this.modalVisible = false;
              }
              this.loading = false;
            })
            .catch(e => {
              console.info(e);
              this.showMessage('error', 'Ошибка!');
              this.loading = false;
          });
      },
      async saveDraft() {
          let params = await this.buildParams();
          if (false === !!params) {
              this.loading = false;
              return;
          }
          params.createdAt = moment().format();
          params.status = 'Черновик';
          params.draftId = this.draftId;
          params.category = this.category;
          params.activeTab = this.activeTab;
          params.editorData = this.editorData;
          params.editorHistory = this.editorHistory;

          let draftStorageName = `${this.$store.state.account.summary.login}__drafts`;
          let drafts = localStorage.getItem(draftStorageName);
          drafts = false === !!drafts
            ? []
            : JSON.parse(drafts);

          let draftExists = false;
          let draftForUpdate = null;
          for (let draft of drafts) {
              if (draft.id === this.draftId) {
                  draft.params = params;
                  draftExists = true;
                  draftForUpdate = draft;
                  break;
              }
          }

          if (!draftExists) {
              draftForUpdate = {
                  id: this.draftId,
                  dateCreate: Date.now(),
                  params: params
              };
              drafts.push(draftForUpdate);
          }

          localStorage.setItem(draftStorageName, JSON.stringify(drafts));

          this.draft = draftForUpdate;
          this.showMessage('success', 'Черновик сохранён');
          this.loading = false;
      },
      deleteDraft() {
        let draftStorageName = `${this.$store.state.account.summary.login}__drafts`;
        let drafts = localStorage.getItem(draftStorageName);
        if (false === !!drafts) return;

        drafts = JSON.parse(drafts);
        drafts = drafts.filter(draft => draft.id !== this.draftId);
        localStorage.setItem(draftStorageName, JSON.stringify(drafts));
        this.draftId = null;
        this.draft = null;
        this.formReset();
        this.showMessage('success', 'Черновик удалён');
        this.$router.push({
            name: 'account-proposals',
        });
      },
      generateStops(routeName) {
        const {
          stopsList,
        } = this.editorHistory.state[this.editorHistory.ind].editorData;

        return stopsList[routeName].stops.filter(stop => {
          if (stop && stop.type === 'master') {
            return true;
          }
          if (stop && stop.type === 'user') {
            return stop.enabled
          }
        }).map((stop, ind) => {
          if (stop.type === 'master') {
            const stopData = this.stopsById[stop.value] || this.allStopsById[stop.value];
            return {
              ...stopData,
              properties: {
                ...stopData.properties,
                sequenceID: ind + 1
              }
            };
          }
          if (stop.type === 'user') {
            return point(stop.coordinates, {
              id: stop.id,
              name: stop.text,
              sequenceID: ind + 1,
              type: 'user',
            })
          }
        });

      },
      toggleModalVisible(modalVisible) {
        this.modalVisible = modalVisible;
      },
      async onTabChange({e = null, tab, force = false}) {
        if (tab === 1 || !this.routeChanged) {
          this.activeTab = tab
          this.supposedTab = null
          return
        }
        if (force) {
          this.activeTab = tab
          this.supposedTab = null
          if (this.isExistingRouteChanged) {
            let params = await this.getRouteParams()
            this.editorData.description.routeStart = params.desiredFrom
            this.editorData.description.routeFinish = params.desiredTo
          } else if (this.hasStopsOnNewRoute) {
            this.editorData.description.routeStart = ''
            this.editorData.description.routeFinish = ''
          }
        } else {
          e.preventDefault()
          e.stopPropagation()
          this.supposedTab = tab
          this.changeRouteModalVisible = true
        }
      },
      onCategoryClick(category) {
        if (this.activeTab === 1 && this.routeChanged) {
          this.changeRouteModalVisible = true
          this.supposedCategory = category
        } else {
          this.onCategoryChange(category)
        }
      },
      onCategoryChange(category) {
        this.category = category;
        this.supposedCategory = null;
        this.routeID = null;
        this.routeMainType = 1;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
        this.editorData.description.routeStart = ''
        this.editorData.description.routeFinish = ''
        this.editorData.stopsList.mainRoute.stops = []
        this.editorData.stopsList.backRoute.stops = []
      },
      onClearRouteIDClick() {
        this.clearedRouteID = this.routeID
      },
      onRouteIDClick(e, routeID) {
        if (this.activeTab === 1 && (this.routeID || this.clearedRouteID) && this.isExistingRouteChanged) {
          e.preventDefault()
          e.stopPropagation()
          this.supposedRouteID = routeID
          this.changeRouteModalVisible = true
        }
      },
      async onRouteIDChange(routeID) {
        if (false === !!routeID) {
          this.formReset();
          return;
        }
        this.routeID = routeID;
        this.supposedRouteID = null;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
        let params = await this.getRouteParams();
        this.editorData.description.routeStart = params.desiredFrom;
        this.editorData.description.routeFinish = params.desiredTo;
      },
      onRouteMainTypeClick(e, routeMainType) {
        if (this.activeTab === 1 && this.hasStopsOnNewRoute) {
          e.preventDefault()
          e.stopPropagation()
          this.supposedRouteMainType = routeMainType
          this.changeRouteModalVisible = true
        }
      },
      onRouteMainTypeChange(routeMainType) {
        this.routeMainType = routeMainType;
        if (this.activeTab === 1) {
          this.$nuxt.$nextTick(() => this.$bus.$emit('initMap'));
        }
        this.editorData.routeMainType = routeMainType;
      },
      formReset() {
        this.category = 'exist';
        this.routeID = null;
        this.routeMainType = 1;
        this.textField = '';
        this.editorData.description.routeStart = '';
        this.editorData.description.routeFinish = '';
        this.editorData.description.weekDays = 'Все';
        this.editorData.description.dayTime = 'Любое';
        this.editorData.description.typeTS = 'Любой';
        this.editorData.description.interval = '20';

        if (false !== !!this.draft) {
            this.routeID = this.draft.params.routeID;
            this.textField = this.draft.params.reason;
            this.category = this.draft.params.category;
            this.routeMainType = this.draft.params.routeMainType;
            this.activeTab = this.draft.params.activeTab;

            this.editorData.description.routeStart = this.draft.params.desiredFrom;
            this.editorData.description.routeFinish = this.draft.params.desiredTo;
            this.editorData.description.weekDays = this.draft.params.desiredDays;
            this.editorData.description.dayTime = this.draft.params.desiredTime;
            this.editorData.description.typeTS = this.draft.params.desiredVehicleType;
            this.editorData.description.interval = this.draft.params.desiredInterval;
        }
      },
      getGeoResultsFrom(query) {
        if (this.geoResultsFrom.includes(query)) {
          return;
        }
        this.geoResultsFrom = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsFromLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsFrom = results.map(r => r.name);
                this.geoResultsFromLoading = false;

              });
          }
        }, 300);
      },
      setGeoResultFrom(value) {
          this.editorData.description.routeStart = value;
          this.geoResultsFrom = [];
          this.addStartRoutePoint();
      },

      getGeoResultsTo(query) {
        if (this.geoResultsTo.includes(query)) {
          return;
        }
        this.geoResultsTo = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsToLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsTo = results.map(r => r.name);
                this.geoResultsToLoading = false;

              });
          }
        }, 300);
      },
      setGeoResultTo(value) {
          this.editorData.description.routeFinish = value;
          this.geoResultsTo = [];
          this.addFinishRoutePoint();
      },
      getGeoResults(query) {

          return new Promise(async (resolve, reject) => {

            if (query.length < 3) return( resolve([]) );

            let searchResults = [];

            let apiResponse = await fetch(`https://niikeeper.com/mvp_test/v0.7.1/directions/v1/geocoder?geocode=${query}`);

            if ( apiResponse.ok ) {

            	apiResponse = await apiResponse.json();

            	for (let r of apiResponse) r.from = 'api';

            	searchResults = searchResults.concat(apiResponse);

            }

            let yandexResponse = await this.searchControl.search(query);

            yandexResponse = this.searchControl.getResultsArray();

            yandexResponse.forEach(r => {

				let address = r.properties.get('address');
                
                let description = r.properties.get('description');
                
                if (address.includes('Моск')) {
                    
                    description = description.replace('Россия, Москва', '');
                    
                    description = description.replace('Россия, Московская область', 'Московская область');
                    
                    description = description.replace(', Москва, Россия', '');

                    let exists = false;

                    let coordinates = r.geometry.getCoordinates().reverse();

                    for (let sr of searchResults) {

                    	let c1 = sr.coordinates.join('');

                    	let c2 = coordinates.join('');

                    	if (c1 === c2) {

                    		exists = true;

                    		break;

                    	}

                    }
                    
                    if (!exists) {

                    	searchResults.push({
                        
                        	coordinates,
                        
                        	name: r.properties.get('name') + (description.length ? `, ${description}` : ''),

                        	from: 'yandex',

                    	});

                	}
                }

            }); // yandexResponse.forEach.forEach

            console.log(searchResults);

            resolve(searchResults);

          }); // Promise
      },
      async getRouteLine(coordinates) {
        if (coordinates.length > 1) {
          return await this.$axios.$get(`${connection.getAddress()}/directions/v1/buses/${coordinates.join(';')}`);
        }
        return {
          districts: [],
          divisions: [],
          metroStations: [],
          routes: [
            {
              geometry: {
                coordinates: []
              },
              distance: 0,
              duration: 0,
              speed: 0,
            }
          ]
        }
      },
      async getRouteParams() {
        await this.getStopByRouteID(this.routeID);
        const forwardStopsParams = {stopUpd: [], stopsDel: [], stopsNew: []};
        const backwardStopsParams = {stopUpd: [], stopsDel: [], stopsNew: []};

        this.$store.state.ngpt.stopByRouteID.forEach(s => {
          const stop = {
            id: s.id,
            stopID: s.properties.stopID,
            coordinates: s.geometry.coordinates,
            name: s.properties.name,
            fullname: s.properties.fullname,
            sequenceID: s.properties.sequenceID
          };
          if (s.properties.dir === 0) {
            forwardStopsParams.stopUpd.push(stop);
          }
          if (s.properties.dir === 1) {
            backwardStopsParams.stopUpd.push(stop);
          }
        });

        forwardStopsParams.stopUpd.sort((a, b) => a.sequenceID - b.sequenceID);
        backwardStopsParams.stopUpd.sort((a, b) => a.sequenceID - b.sequenceID);
        const fline = await this.getRouteLine(forwardStopsParams.stopUpd.map(s => s.coordinates));
        const bline = await this.getRouteLine(backwardStopsParams.stopUpd.map(s => s.coordinates));
        return {
          forwardStopsParams,
          backwardStopsParams,
          fgeom: fline.routes[0].geometry.coordinates,
          bgeom: bline.routes[0].geometry.coordinates,
          forwardSpeed: fline.routes[0].speed,
          forwardLength: fline.routes[0].distance,
          forwardTime: fline.routes[0].duration,
          backwardLength: bline.routes[0].distance,
          backwardTime: bline.routes[0].duration,
          backwardSpeed: bline.routes[0].speed,
          districts: [...new Set((fline.districts || []).concat(bline.districts || []))],
          divisions: [...new Set((fline.divisions || []).concat(bline.divisions || []))],
          metroStations: [...new Set((fline.metroStations || []).concat(bline.metroStations || []))],
          desiredFrom: (forwardStopsParams.stopUpd.length ? forwardStopsParams.stopUpd[0].name : '') || this.editorData.description.routeStart,
          desiredTo: (forwardStopsParams.stopUpd.length ? forwardStopsParams.stopUpd[forwardStopsParams.stopUpd.length - 1].name : '') || this.editorData.description.routeFinish,
        };
      },
      newId() {
        if (!this.startId) {
          this.startId = +new Date();
        }
        return `00000000-0000-0000-0000-${String(this.startId++).slice(1)}`;
      },
      async addStartRoutePoint() {
        await this.updateEndpoint(true, this.editorData.description.routeStart);
      },
      async addFinishRoutePoint() {
        await this.updateEndpoint(false, this.editorData.description.routeFinish);
      },
      updateEndpoint(unshift = true, newVal = '', oldVal = '') {
          return new Promise(async (resolve, reject) => {
              if (false === !!newVal) return(resolve());
              let geoData = await this.getGeoResults(newVal);
              let coords = geoData && geoData[0] && geoData[0].coordinates;
              if (false === !!coords) return(resolve());

              try {
                  const query = `${connection.getAddress()}/directions/v1/closestPoint/${geoData[0].coordinates[0]},${geoData[0].coordinates[1]}`;
                  const queryResult = await this.$axios.$get(query);
                  coords = queryResult.waypoint.location;
              }
              catch(e) { console.log(e) }

              let activeRoute = this.editorData.activeRoute;
              let s = this.editorData.stopsList[activeRoute].stops;

              for (let stop of s) {
                  if (!!stop.coordinates && !!stop.coordinates.length) {
                      if (stop.coordinates[0] === coords[0] || stop.coordinates[1] === coords[1]) {
                          return(resolve());
                      }
                  }
              }

              let stop = {
                  id: this.newId(),
                  type: 'user',
                  enabled: true,
                  initialSequenceID: 1,
                  sequenceID: 1,
                  text: geoData[0].name,
                  coordinates: coords,
              }

              if (unshift) {
                if (this.editorData.stopsList[activeRoute].stops.length !== 1) {
                  this.editorData.stopsList[activeRoute].stops.unshift(stop)
                } else {
                  this.editorData.stopsList[activeRoute].stops = []
                  this.editorData.stopsList[activeRoute].stops[0] = stop
                }
              } else {
                this.editorData.stopsList[activeRoute].stops.push(stop)
              }
              this.editorData.focusedStop = null

              let idx = 1;
              for (let stop of this.editorData.stopsList[activeRoute].stops) {
                  stop.sequenceID = idx;
                  stop.initialSequenceID = idx;
                  idx += 1;
              }

              this.editorData.userStopsById[stop.id] = stop;
              this.editorData.userStopsById[stop.id].enabled = true;

              this.$bus.$emit('addEditorStops', {skipSaveHistory: !stop});
              this.$bus.$emit('fitMap', coords, 15);

              resolve();
          });
      },
    },
    computed: {
      stopsById() {
        return this.$store.state.ngpt.stopsById;
      },
      tabs() {
        return [
          {
            name: 'Описать словами',
            value: 'simple',
          },
          {
            name: 'Нарисовать на карте',
            value: 'advanced',
            disabled: this.category === 'other',
          },
        ]
      },
      categories() {
        const categories = [
          {
            name: 'Изменение существующего маршрута',
            value: 'exist',
          },
          {
            name: 'Создание нового маршрута',
            value: 'new',
          },
        ];
        if (this.activeTab === 0) {
          categories.push({
            name: 'Другое',
            value: 'other',
          });
        }
        return categories;
      },
      routesData() {
        return JSON.parse(JSON.stringify(this.$store.state.ngpt.routes)).filter(r => r.dir === 0).map(r => ({
          ...r,
          name: `${r.name} - ${r.fullname}`,
          searchName: `${r.name} - ${r.fullname}`.toLowerCase(),
        })).sort((a, b) => a.name.localeCompare(b.name));
      },
      routes() {
        if (this.search && this.search.length) {
          const query = this.search.toLowerCase();
          return [...this.routesData]
            .sort((a, b) =>
              a.searchName.indexOf(query) - b.searchName.indexOf(query)
            );
        }
        return this.routesData;
      },
      isExistingRouteChanged() {
        return this.category === 'exist' && this.editorHistoryChanged
      },
      editorHistoryChanged() {
        return !(this.editorHistory.state.length < 1 || this.editorHistory.ind === 0)
      },
      hasStopsOnNewRoute() {
        let mainRouteStops = this.editorData.stopsList.mainRoute.stops,
            hasMainRouteStops = mainRouteStops.length && !mainRouteStops.every(stop => stop === undefined),
            backRouteStops = this.editorData.stopsList.backRoute.stops,
            hasBackRouteStops = backRouteStops.length && !backRouteStops.every(stop => stop === undefined)

        return this.category === 'new' && (hasMainRouteStops || hasBackRouteStops)
      },
      routeChanged() {
        return this.isExistingRouteChanged || this.hasStopsOnNewRoute
      },
    },
    watch: {
      modalVisible(visible) {
        this.activeTab = 0;
        this.menuVisible = true;
        this.formReset();
        document.documentElement.style.overflow = visible ? 'hidden' : 'auto';
      },
      menuVisible() {
        this.$nuxt.$nextTick(() => this.$bus.$emit('resizeMap'));
      },
      'editorData.stopsList.mainRoute.stops': {
        handler(newVal) {
          if (this.editorData.activeRoute !== 'mainRoute') return
          if (newVal && newVal.length) {
            this.editorData.description.routeStart = newVal[0] ? newVal[0].text : ''
            if (newVal.length > 1) {
              this.editorData.description.routeFinish = newVal[newVal.length - 1] ? newVal[newVal.length - 1].text : ''
            } else {
              this.editorData.description.routeFinish = ''
            }
          } else {
            this.editorData.description.routeStart = ''
            this.editorData.description.routeFinish = ''
          }
        },
        deep: true
      },
      'editorData.stopsList.backRoute.stops': {
        handler(newVal) {
          if (this.editorData.activeRoute !== 'backRoute') return
          if (newVal && newVal.length) {
            this.editorData.description.routeStart = newVal[0] ? newVal[0].text : ''
            if (newVal.length > 1) {
              this.editorData.description.routeFinish = newVal[newVal.length - 1] ? newVal[newVal.length - 1].text : ''
            } else {
              this.editorData.description.routeFinish = ''
            }
          } else {
            this.editorData.description.routeStart = ''
            this.editorData.description.routeFinish = ''
          }
        },
        deep: true
      },
      geoQueryFrom(query) {
        if (this.geoResultsFrom.includes(query)) {
          return;
        }
        this.geoResultsFrom = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsFromLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsFrom = results.map(r => r.name);
                console.log(this.geoResultsFrom);
                this.geoResultsFromLoading = false;

              });
          }
        }, 400);
      },
      geoQueryTo(query) {
        if (this.geoResultsTo.includes(query)) {
          return;
        }
        this.geoResultsTo = [];
        clearTimeout(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          if (query) {
            this.geoResultsToLoading = true;
            this.getGeoResults(query)
              .then(results => {
                this.geoResultsTo = results.map(r => r.name);
                this.geoResultsToLoading = false;
              });
          }
        }, 400);
      },

    },
    mounted() {
      this.$bus.$on('toggleModalVisible', this.toggleModalVisible);

      ymaps.load('https://api-maps.yandex.ru/2.1/?apikey=f1d03e63-82b9-4586-8be2-5723669ef7eb&lang=ru_RU')
        .then(ymaps => {
          this.ymaps = ymaps;

          this.searchControl = new ymaps.control.SearchControl({
            options: {
              provider: 'yandex#search',
              boundedBy: [[55.575450, 37.365846,], [55.910173, 37.839631]],
            }
          });
      });

      const routeParams = JSON.parse(JSON.stringify(this.$route.params));

      this.draftId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
      });

      this.draft = null;
      if (false !== !!routeParams.draftId) {
          let drafts = localStorage.getItem(`${this.$store.state.account.summary.login}__drafts`);
          if (false !== !!drafts) {
              drafts = JSON.parse(drafts);
              for (let draft of drafts) {
                  if (draft.id === routeParams.draftId) {
                      this.draftId = draft.id;
                      this.draft = draft;
                      break;
                  }
              }
          }
          else {
              this.showMessage('error', 'Broken draft');
              return;
          }
      }
    },
    beforeDestroy() {
      this.$bus.$off('toggleModalVisible', this.toggleModalVisible);
    }
  }
</script>

<style lang="scss">
  .vehicle-type-icon {
    border-radius: 0 !important;
    width: 70% !important;
    height: 70% !important;
  }
  .proposal-modal {
    z-index: 100 !important;
    overflow: visible;

    .v-navigation-drawer__content {
      overflow: visible;
    }

    &__overlay {
      position: fixed;
      right: 100%;
      top: 0;
      width: 100vw;
      bottom: 0;
      z-index: -1;
      background-color: rgb(33, 33, 33);
      opacity: .75;
    }

    &_advanced {
      width: 100% !important;
    }

    &__wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #fff;
      overflow: hidden;
    }

    &__container {
      height: 100%;
      display: flex;
    }

    &__editor {
      flex-grow: 1;
      position: relative;

      &-footer {
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 1px);
        background-color: #fff;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ebebeb;
      padding-right: 23px;
      min-height: 64px;
    }

    &__header-btn {
      height: 100%;
      padding: 5px;
      border-right: 1px solid #ebebeb;
      min-height: 64px;

      svg {
        transform: rotate(180deg);
        transition: transform 0.175s;
      }
    }

    &__menu {
      width: 400px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #ebebeb;

      &_hidden {
        width: 22px;

        .proposal-modal__header-btn {
          svg {
            transform: rotate(0deg);
          }
        }

        .proposal-modal__body,
        .proposal-modal__title,
        .proposal-modal__close-btn,
        .proposal-modal__footer {
          display: none;
        }
      }
    }

    &__footer {
      border-top: 1px solid #ebebeb;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
      flex-shrink: 0;
      margin-top: auto;
    }

    &__btn {
      font-weight: 300 !important;
      padding: 0 12px 1px !important;
      text-transform: uppercase !important;
      font-size: 14px !important;
      height: 40px !important;
      min-width: 100px !important;
      background-color: transparent !important;
      border: 1px solid #ebebeb !important;

      &_color {
        background-color: #1A66CC !important;
        color: #fff !important;
        border: 0 !important;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 300;
      padding: 17px 23px 16px;
    }

    &__close-btn {
      padding: 0 8px;
      margin-left: 15px;
      position: relative;
      right: -6px;
      bottom: 3px;
    }

    &__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    &__tabs {
      margin: 0 auto 21px;

      &.nav-pills-big {
        border-radius: 5px;

        .nav-link {
          font-size: 14px;
          font-weight: 300;
          padding: 12px 14px 13px;
          height: 41px;
        }
      }
    }
  }

  .proposal-modal-editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 50px;
    border-bottom: 1px solid #ebebeb;
  }

  .proposal-modal-form {
    &__label {
      font-size: 16px;
      margin-bottom: 3px;
    }

    &__field {
      margin-bottom: 17px;

      .proposal-modal__title {
        padding: 17px 0 16px;
      }

      .v-text-field {
        padding-top: 0;
        margin-top: 0;
      }

      .v-select {
        margin: 0 0 27px;

        .v-select__slot > input {
          font-size: 15px !important;
          font-weight: 300;

          &::placeholder {
            color: rgba(0, 0, 0, 0.87);
          }
        }

        .mdi-close {
          font-size: 16px;
        }
      }

      .v-textarea {
        margin-top: 0;

        .v-input__slot:before,
        .v-input__slot:after {
          display: none;
        }

        textarea {
          border: 1px solid #ebebeb;
          border-radius: 5px;
          height: 200px;
          padding: 5px 10px;
        }
      }

      .checkbox__label {
        font-weight: 300;
      }

      &_radio {
        .checkbox {
          margin-bottom: 7px;

          .checkbox__label {
            margin-left: 10px;
          }

          .checkbox__input:checked + .checkbox__icon {
            border-color: #092360;

            &::before {
              background-color: #092360;
            }

            &::after {
              background-color: #092360;
            }
          }
        }
      }

      &_checkbox {
        margin-top: -10px;

        .checkbox__label {
          margin-left: 21px;
          line-height: 19px;
          max-width: 240px;
        }

        .checkbox__input:checked + .checkbox__icon {
          border-color: #092360;
          background-color: #092360;

          &::before {
            background-color: #092360;
          }
        }
      }

      &_geo {
        .v-select__slot {
          .v-input__append-inner:nth-child(3) {
            display: none;
          }
        }
        .v-input.v-input--is-disabled {
          .v-input__append-inner {
            display: none!important;
          }
        }
      }
    }

    &__link {
      color: #2b7ae6;
    }

    &__geo-results {
      .v-list-item__title, .v-list-item__subtitle {
        white-space: normal;
      }
    }
  }
</style>
