<template>
  <div v-if="data && !data.hidden" class="route-param">
    <div
      v-if="data.type === 'text'"
    >
      <span class="route-param__title">{{data.title}}: </span>
      <span class="route-param__text">
              <span>{{data.value}}</span> {{data.value === '-' ? '' : data.unit}}
              <span class="route-param__diff" v-if="data.diff">
                (
                  <span

                    :style="{
                  color: data.diffColor
                }"
                  >
              {{data.diff > 0 ? `${!data.hideDiffAutoSign ? '+' : ''}${data.diff}` : data.diff}} {{data.unit}}
            </span>
                )
              </span>
            </span>
    </div>
    <span
      class="route-param__label"
      v-if="data.type === 'label'"
    >
      <span
        class="route-param__line"
        :style="{
          backgroundColor: data.bg
        }"
      ></span>
      {{data.label}}
    </span>
  </div>
</template>

<script>
  export default {
    props: ['data']
  }
</script>

<style lang="scss">
  .route-param {
    margin-bottom: 10px;
    padding-right: 10px;
    &__label {
      display: flex;
      position: relative;
      padding-left: 20px;
    }

    &__line {
      width: 15px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>
