<script>
import { Pie } from 'vue-chartjs'

export default {
  props: ['items'],
  extends: Pie,
  data: () => ({
    chartdataOld: {
      labels: ["За", "Против"],
      datasets: [
        {
          backgroundColor: [
            "#2a79e6",
            "#f5a522",
          ],
          data: [30, 70],
          pointStyle: 'circle'
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: 'bottom',
        labels: {
          usePointStyle: true,
          padding: 20
        }
      },
      tooltips: {
        callbacks: {
          title: function(tooltipItem, data) {
            return data.labelsText[[tooltipItem[0].index]];
          },
          label: function(tooltipItem, data) {
            return `${data.datasets[0].countsData[tooltipItem.index]} (${data.datasets[0].data[tooltipItem.index]}%)`;
          }
        },
      }
    }
  }),
  computed: {
    voteFor() {
      return this.items.reduce((acc, curr) => {
        acc += curr.voteFor;
        return acc;
      }, 0);
    },
    voteAgainst() {
      return this.items.reduce((acc, curr) => {
        acc += curr.voteAgainst;
        return acc;
      }, 0);
    },
    voteSummary() {
      return this.voteFor + this.voteAgainst;
    },
    chartdata() {
      return {
        labels: [
          `За ${this.voteFor} (${this.voteSummary ? Math.round(this.voteFor/this.voteSummary * 100) : 0}%)`,
          `Против ${this.voteAgainst} (${this.voteSummary ? Math.round(this.voteAgainst/this.voteSummary * 100) : 0}%)`
        ],
        labelsText: [
          'За',
          'Против'
        ],
        datasets: [
          {
            backgroundColor: [
              "#2a79e6",
              "#f5a522",
            ],
            data: [Math.round(this.voteFor/this.voteSummary * 100), Math.round(this.voteAgainst/this.voteSummary * 100)],
            countsData: [this.voteFor, this.voteAgainst],
            pointStyle: 'circle'
          }
        ]
      }
    }
  },
  mounted () {
    this.renderChart(this.chartdata, this.options)
  }
}
</script>

<style lang="scss">

</style>
