<template>
  <div class="navbar_div">
    <div class="navbar-user">
      <div class="navbar-user__container container">
        <User />
      </div>
    </div>
    <div v-if="role === 'user'" class="container">
      <nuxt-link class="logo" :to="homePages[role] ? homePages[role] : '/'">
        <LogoIcon/>
      </nuxt-link>
      <!-- <ul class="menu_top">
        <li
          v-for="(item, key) in menuTopLinks"
          :key="key"
        >
          <nuxt-link :to="item.to">{{item.text}}</nuxt-link>
        </li>
      </ul>
      <div @click="toggleMenu" class="navbar-top nt_autch">
        <SearchIcon/>
      </div> -->
      <div class="menu_all">
        <div class="container">
          <div @click="toggleMenu" class="close_menu icon-icons_close"></div>
          <div class="ajax-content map_cont_line" data-bundle="App" data-controller="SearchController"
               data-action="index">

            <div id="search_form">
              <form @submit.prevent="search" name="search_form" method="get" class=" needs-validation">

                <div class="menu_search">
                  <div class="pos_rel">
                    <button type="submit" id="search_form_submit" name="search_form[submit]"
                            class="btn-search icon-icons_search" data-type="search"></button>

                    <input v-model="searchText" type="text" id="search_form_text" name="search_form[text]"
                           required="required"
                           placeholder="Что ищем?" class="form-control">
                    <div class="line_error"></div>
                  </div>
                  <div class="search_text" id="search_history">
                    <span v-if="showSearchHistory && searchHistory.length">
                      Вы искали:
                      <span class="text-du">
                        <a
                          @click="searchText = item"
                          v-for="(item, key) in searchHistory"
                          :key="key"
                          class="search-history-item"
                        >{{item}}<span v-if="key !== searchHistory.length - 1">, </span></a>
                     </span>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div id="search-results" class="tab-pane">
            </div>

          </div>


          <div class="row row_menu">

            <div class="col-md-3 col-lg-3 mob_ten_menu">
              <ul id="menu_left_menu" class="nav menu_left" role="tablist">
                <li
                  v-for="(item, key) in menuTabItems"
                  :key="key"
                >
                  <div
                    class="menu_tab"
                    :class="{
                      active: key === menuActiveTab
                    }"
                    @click="menuActiveTab = key"
                  >
                    <a :class="`btn btn${item.btnStyle}`">
                      {{item.text}}
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-md-9 col-lg-9">
              <div class="tab-content" id="nav-tabContent">
                <div id="search_result" class="tab-pane fade"></div>
                <div :class="{active: menuActiveTab === 0, show: menuActiveTab === 0}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Московский транспорт</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/all_news">Новости</a>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/all_news/#changes">Изменения. Перекрытия. Ограничения</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/all_news/#transport">Новости транспорта</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/services">Услуги и сервисы Транспортного комплекса</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/oplata_proezda/">Оплата проезда</a>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/oplata_proezda/troika">Карта Тройка</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/oplata_proezda/punkt_troika">Пункты записи всех билетов на карту
                                «Тройка» и запись льготных билетов на социальные карты студентов</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/oplata_proezda/ticket_rules">Порядок пользования проездными
                                билетами</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/oplata_proezda/calc">Калькулятор карты "Тройка"</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/oplata_proezda/for_business">Оплата проезда для бизнеса</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Правила проезда</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/kontrolery/oplata">Оплата штрафа</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/feedback">Обратная связь</a>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/feedback/service_center">Способы подачи обращения</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/feedback/questions_list">Ликсутов отвечает</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/feedback/meetings_with">Встречи с жителями</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><span>Для журналистов</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/press_releases">Пресс-релизы</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/presentations_list">Итоговые презентации</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/presentations2018">Итоги работы Транспортного комплекса
                                Москвы за 2018 год и планы на 2019 год</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/docs">Официальные и нормативные документы</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/request_press">Подготовить заявку в пресс-службу</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/photobank">Фотобанк</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/structure-of-the-department">Департамент транспорта и
                                развития дорожно-транспортной инфраструктуры города Москвы</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/moscow-urban-19">Московский Урбанистический
                                Форум-2019</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/for_journs/international_summit">Международный саммит лидеров в
                                сфере развития городского транспорта</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Специальные проекты Транспортного комплекса</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/special_projects/metro_music">Музыка в метро</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/special_projects/denmostransporta">День московского транспорта</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/infootk">Информация о Транспортном комплексе</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/evroprotocol">Европротокол</a>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/evroprotocol/road_accident">Как оформлять ДТП по европротоколу</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/komissia_perekrytia">Комиссия по перекрытиям дорог</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/closures">Карта перекрытий</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/avtoschools">Информация для автошкол</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/to">Технический осмотр</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Музей «Московский транспорт»</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/museum/info">Общая информация</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/museum/io">Часто задаваемые вопросы</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/vacancies">Вакансии</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/moyaulitsa">Моя улица</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/wifi">Бесплатный Wi-Fi</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/mobility_passengers">Маломобильным пассажирам</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/build_route">Построить маршрут</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/mobile">Мобильные приложения</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4"></div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 1, show: menuActiveTab === 1}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Наземный транспорт</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><span>Маршруты наземного транспорта</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/transport/marshruty/magistral">Маршрутная сеть «Магистраль»</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/transport/marshruty/commercial">Частные перевозчики</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/transport/marshruty/nightroute">Ночные маршруты</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/transport/marshruty/net_Moscow">Развитие сети наземного транспорта в Новой и
                                Старой Москве</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/moscheudule">Расписание автобусов г.Москва-МО</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/rules">Правила пользования наземным транспортом</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/vydelennye_polosy">Выделенные полосы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/elektrobus">Московский электробус</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/autostations">Автовокзалы и автостанции</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/tourist_bus">Туристические автобусы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/zakaz">Заказ туристических автобусов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/transport/schedule">Расписание городского наземного транспорта</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4"></div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 2, show: menuActiveTab === 2}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Метрополитен и МЦК</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/map">Схема Метро и МЦК</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/map2">Схема Метро и МЦК 2</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/rezhim">Режим работы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/oplata_proezda/">Оплата проезда</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/rules">Правила пользования метро</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/about">Московское центральное кольцо (МЦК)</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Центр обеспечения мобильности пассажиров</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/metro/inactive_passenger/Center">О Центре</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/metro/inactive_passenger/rules">Порядок предоставления услуг
                                сопровождения</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/services/metroEscort">Подать заявку на сопровождение</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/emergenciespassenger">Как вести себя в экстренных ситуациях</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/spisok">Перехватывающие парковки</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/monorels">График движения монорельса</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/press">Пресс-служба</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/press_form">Подписка на рассылку</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mostrans/services/troika">Удаленное пополнение карты</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/metro/corporate">Корпоративным клиентам</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4"></div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 3, show: menuActiveTab === 3}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Пригородное сообщение</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/trains/shema_prigorod">Схема движения пригородных поездов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/trains/rasp">Расписание движения пригородных поездов и автобусов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Оплата проезда</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/trains/oplata/rates">Стоимость проезда</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/mostrans/services/troika">Пополнить Тройку</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/trains/rules">О пригородных поездах</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/trains/perehvaty">Перехватывающие парковки</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/trains/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 4, show: menuActiveTab === 4}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit"><a class="a_black2 " href="/auto">Такси</a></div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/about_taxi">Информация для таксистов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/privileges_taxis">Льготы и субсидии для&nbsp;такси</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/taxi_license">Разрешение на&nbsp;работу такси</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/reiting">Рейтинг безопасности таксомоторных компаний</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="http://www.mosgortrans.ru/?id=896">Заказать социальное такси</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/parking_taxi">Карта парковок для такси</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/auto/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 5, show: menuActiveTab === 5}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Московский каршеринг</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/karshering/carsharing">О проекте</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/karshering/operatory">Операторы услуги</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/karshering/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 6, show: menuActiveTab === 6}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Московский паркинг</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><span>О Парковках</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/price_parking">Стоимость парковки и абонементов</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/check_prices">Проверить наличие и стоимость
                                парковки</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/pay_parking">Как оплачивать парковку</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/resident">Парковочные места для владельцев парковочных
                                разрешений</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/ppzt">Парковки со шлагбаумом</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/pochemu">Почему Москва решает «проблему пробок» с
                                помощью платной парковки?</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/high_price_parking">Зоны повышенного тарифа</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/aboutparking/map">Перехватывающие парковки</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><span>Об эвакуации</span>
                          <div>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/evacuation/price_evacuation">Стоимость эвакуации</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/evacuation/search_car_pound">Как вернуть машину</a>
                                <div></div>
                              </li>
                            </ul>
                            <ul class="menu_right1 menu_level4">
                              <li><a href="/parking/evacuation/evakuator">Знак «Работает эвакуатор»</a>
                                <div></div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/parking/parking_permit">Получить парковочное разрешение</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/parking/instrukcii">Парковки и зарядные станции для электромобилей</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/parking/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/parking/legal_entity">Парковочный абонемент юридическим лицам</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 7, show: menuActiveTab === 7}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit"><a class="a_black2  active  btn4" href="/bicycle">Велотранспорт</a></div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/bicyclelane">Велодорожки</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/parking">Карта велопарковок</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/veloparkovka">Московский Велопаркинг</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/propose_parking">Предложить велопарковку</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/camera">Онлайн-трансляция камер, развмещенных на велопарковке</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/bicycle/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 8, show: menuActiveTab === 8}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Пешеходы</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pedestrians/zones">Карта пешеходных зон</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pedestrians/pdd">ПДД для пешеходов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pedestrians/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pedestrians/dt_navigation">Единая система транспортной навигации в Москве</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 9, show: menuActiveTab === 9}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Грузовая логистика</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/cargoframe">Грузовой каркас</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/ulitsy">Улицы, входящие в грузовой каркас</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/parking">Парковки для грузовиков</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/ovnesenii">О внесении в реестр действующих пропусков</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/reestr">Реестр действующих пропусков грузового транспорта</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/platon">Система Платон</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/gruzoviki/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 10, show: menuActiveTab === 10}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Мототранспорт</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mototrans/benefit">Парковка для мотоциклистов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mototrans/pridtp">Информация для владельцев мотоциклов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mototrans/pravilamoto">Мотопарад</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mototrans/faq">Часто задаваемые вопросы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mototrans/presentations">Материалы и презентации</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-lg-4"></div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 11, show: menuActiveTab === 11}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit"><a class="a_black2 " href="/mcd">Московские центральные диаметры</a></div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/mcd/questions">Организация диаметральных маршрутов</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 12, show: menuActiveTab === 12}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Московские канатные дороги</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/cableway/concept">Концепция развития канатной дороги в Москве</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 13, show: menuActiveTab === 13}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit">Правила перевозки пассажиров</div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pravilaperevozlki/pravilametro">Правила пользования Московским метрополитеном</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pravilaperevozlki/pravilangpt">Правила пользования наземным городским
                          транспортом</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pravilaperevozlki/pravilaprigorod">Правила проезда в пригородных поездах (МТ
                          ППК)</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/pravilaperevozlki/pravilacppk">Правила проезда и провоза багажа в пригородных
                          электричках (ЦППК)</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div :class="{active: menuActiveTab === 14, show: menuActiveTab === 14}" class="tab-pane fade"
                     role="tabpanel">
                  <div class="div_tit"><a class="a_black2 " href="/help">Справка</a></div>
                  <div class="row a_bl">
                    <div class="col-md-4 col-lg-4">
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/help/faq">Вопросы и ответы</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/help/terms">Справочник терминов</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/help/lostandfound">Бюро находок</a>
                          <div></div>
                        </li>
                      </ul>
                      <ul class="menu_right1 menu_level3">
                        <li><a href="/help/links">Партнёрские веб-ресурсы</a>
                          <div></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--      <div class="btn btn-secondary btn_autch modal_js" data-cont="#autchform">Войти</div>-->
      <!--      <div class="btn_autch_red modal_js" data-cont="#autchform">Войти</div>-->
      <!--      <div id="autchform" class="hide">-->


      <!--        <div class="system-header">-->
      <!--          <div class="system-logo"><a href="#"><img src="/img/login/system-logo.png" alt="mos.ru" title="mos.ru"></a></div>-->
      <!--          <h5 class="system-name">Доступ к&nbsp;информационным ресурсам города Москвы</h5>-->
      <!--        </div>-->
      <!--        <div class="form-wrapper">-->

      <!--          <form id="loginFm" role="form" vld-validate="" class="form-vertical bc-form-passwordMethod">-->
      <!--            <div id="loginDv" class="auth-login ">-->
      <!--              <div class="form-group">-->
      <!--                <input id="login" name="login" type="text" tabindex="2" autofocus="" class="form-control" value="" placeholder="СНИЛСТелефонПочта (в любом формате)">-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <div class="form-input posr"> <span class="append-icon right"> <i id="show_password" class="fa fa-eye-slash"></i> </span>-->
      <!--                <input id="password" name="password" type="password" tabindex="3" class="form-control" placeholder="Введите пароль">-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="form-group row">-->
      <!--              <div class="col-sm-6">-->
      <!--                <button id="bind" type="button" class="btn btn-primary"> Войти </button>-->
      <!--              </div>-->
      <!--              <div class="col-sm-6">-->
      <!--                <div id="recoveryEnter" class=""> <a href="#">Забыли пароль?</a> </div>-->
      <!--                <div id="regEnter" class=""> <a href="#">Регистрация</a> </div>-->
      <!--              </div>-->
      <!--            </div>-->

      <!--          </form>-->

      <!--          <div class="methods-wrapper">-->
      <!--            <div id="methodsExtList" class="methods-ext"> <a href="javascript:void(0)" data-fptype="yandex" data-fpname="yandex_1" class="btn-meth meth-ext has-icon icons-count-5 meth-yandex" role="button" title="Яндекс"> <i class="meth-icon"></i> <span class="meth-txt"><span>Войти через</span> <span class="meth-name">Яндекс</span></span> </a> <a href="javascript:void(0)" data-fptype="google" data-fpname="google_1" class="btn-meth meth-ext has-icon icons-count-5 meth-google" role="button" title="Google"> <i class="meth-icon"></i> <span class="meth-txt"><span>Войти через</span> <span class="meth-name">Google</span></span> </a> <a href="javascript:void(0)" data-fptype="vk" data-fpname="vk_1" class="btn-meth meth-ext has-icon icons-count-5 meth-vk" role="button" title="VK"> <i class="meth-icon"></i> <span class="meth-txt"><span>Войти через</span> <span class="meth-name">VK</span></span> </a> <a href="javascript:void(0)" data-fptype="facebook" data-fpname="facebook_1" class="btn-meth meth-ext has-icon icons-count-5 meth-facebook" role="button" title="Facebook"> <i class="meth-icon"></i> <span class="meth-txt"><span>Войти через</span> <span class="meth-name">Facebook</span></span> </a> <a href="javascript:void(0)" data-fptype="ok" data-fpname="ok_1" class="btn-meth meth-ext has-icon icons-count-5 meth-ok" role="button" title="Одноклассники"> <i class="meth-icon"></i> <span class="meth-txt"><span>Войти через</span> <span class="meth-name">Одноклассники</span></span> </a>-->
      <!--              <div class="row">-->
      <!--                <div class="col-sm-6">-->
      <!--                  <a href="javascript:void(0)" data-fptype="esia" data-fpname="esia_1" class="btn btn-sm btn-outline-secondary btn-img" role="button" title="Госуслуги"> <img src="/img/login/meth-esia-logo.png" alt="Госуслуги"> </a>-->
      <!--                </div>-->
      <!--                <div class="col-sm-6">-->
      <!--                  <a href="#" class="btn btn-sm btn-outline-secondary btn-elc">Вход по электронной подписи</a>-->
      <!--                </div>-->
      <!--              </div>-->


      <!--            </div>-->
      <!--          </div>-->
      <!--          &lt;!&ndash; end .methods-wrapper &ndash;&gt;-->


      <!--        </div>-->
      <!--        &lt;!&ndash; end .form-wrapper &ndash;&gt;-->


      <!--      </div>-->
    </div>
  </div>
</template>

<script>
  import LogoIcon from '~/components/NewStyle/svg/Logo';
  import SearchIcon from '~/components/NewStyle/svg/Search';
  import User from '~/components/Account';

  export default {
    components: {
      LogoIcon,
      SearchIcon,
      User,
    },
    data() {
      return {
        showSearchHistory: false,
        searchHistory: [],
        searchText: '',
        menuActive: false,
        // menuTopLinks: [
        //   {
        //     text: 'Пассажирам',
        //     to: '/passengers',
        //   },
        //   {
        //     text: 'Автомобилистам',
        //     to: '/motorists',
        //   },
        //   {
        //     text: 'Бизнесу',
        //     to: '/business',
        //   }
        // ],
        menuActiveTab: 7,
        menuTabItems: [
          {
            text: 'Московский транспорт',
            btnStyle: '1',
          },
          {
            text: 'Наземный транспорт',
            btnStyle: '2',
          },
          {
            text: 'Метрополитен и МЦК',
            btnStyle: '3',
          },
          {
            text: 'Пригородное сообщение',
            btnStyle: '8',
          },
          {
            text: 'Такси',
            btnStyle: '9',
          },
          {
            text: 'Московский каршеринг',
            btnStyle: '10',
          },
          {
            text: 'Московский паркинг',
            btnStyle: '6',
          },
          {
            text: 'Велотранспорт',
            btnStyle: '4',
          },
          {
            text: 'Пешеходы',
            btnStyle: '12',
          },
          {
            text: 'Грузовая логистика',
            btnStyle: '3',
          },
          {
            text: 'Мототранспорт',
            btnStyle: '3',
          },
          {
            text: 'Московские центральные диаметры',
            btnStyle: '3',
          },
          {
            text: 'Московские канатные дороги',
            btnStyle: '3',
          },
          {
            text: 'Правила перевозки пассажиров',
            btnStyle: '3',
          },
          {
            text: 'Справка',
            btnStyle: '3',
          }
        ]
      }
    },
    methods: {
      toggleMenu() {
        this.menuActive = !this.menuActive;
        document.querySelector('body').classList.toggle('menu_active', this.menuActive);
      },
      search() {
        this.searchHistory.push(this.searchText);
        localStorage.setItem('search.history', JSON.stringify(this.searchHistory));
        this.showSearchHistory = true;
      }
    },
    computed: {
      role() {
        return this.$store.state.users.role;
      },
      homePages() {
        return this.$store.state.users.homePages;
      },
    },
    mounted() {
      try {
        const searchHistory = JSON.parse(localStorage.getItem('search.history'));
        if (Array.isArray(searchHistory)) {
          this.searchHistory = searchHistory;
        }
      } catch (e) {
        console.error(e);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .navbar_div {
    position: absolute;
    z-index: 100;
    height: 50px;
    padding: 0 0 0 0;
    left: 0;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;

    .container {
      position: relative;
      padding-left: 5rem;
      height: calc(100% - 5rem);
    }

    & > .container {
      display: none;
    }

    .logo {
      position: absolute;
      display: block;
      text-decoration: none;
      width: 3.5rem;
      height: 4.3rem;
      left: 0;
      top: 1.5rem;
      @media (max-width: 767px) {
        width: 3.4rem;
        height: 3.7rem;
        top: 0.8rem;
      }
    }

    .logo svg {
      width: 3.5rem;
      height: 4.3rem;
      fill: #ffffff;
      @media (max-width: 767px) {
        width: 3.4rem;
        height: 3.7rem;
        fill: #ffffff;
      }
    }

    .btn_autch_red {
      display: none;
    }
  }

  .menu_all {
    display: none;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    .container {
      padding-left: 0;
      padding-top: 10.5rem;
      padding-bottom: 7rem;
      position: relative;
    }
  }

  .close_menu {
    position: absolute;
    right: 0;
    top: 2.2rem;
    height: 2.8rem;
    width: 2.8rem;
    font-size: 2.8rem;
    cursor: pointer;
    color: #666f78;
  }

  .close_menu:hover {
    color: #000000;
  }

  .menu_top {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    float: left;

    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      left: -1.6rem;
      width: calc(100% + 3.2rem);
      overflow-x: auto;
    }

    li {
      padding: 0;
      margin: 0;
      position: relative;
    }

    a {
      display: inline-block;
      height: 7.2rem;
      line-height: 7.2rem;
      padding: 0 1rem;
      font-size: 2rem;
      color: #ffffff;
      text-decoration: none;

      @media (max-width: 767px) {
        height: 4rem;
        line-height: 4rem;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 0 1.6rem;
      }
    }

    a:hover,
    a.nuxt-link-active {
      background: #C4181D;
      opacity: 0.9;
      box-shadow: inset 0 2px 0 #B01217;

      @media (max-width: 767px) {
        background: transparent;
        box-shadow: none;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #F3F5F7;
          width: 100%;
          height: 2px;
          content: '';
        }
      }
    }

    .activ2 a:before {
      content: "";
      height: 0.6rem;
      border-radius: 0.5rem 0.5rem 0 0;
      background: #B30709;
      position: absolute;
      left: 1rem;
      bottom: 0;
      right: 1rem;
    }
  }

  .navbar-top {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.4rem;
    height: 2.8rem;
    width: 4.4rem;
    cursor: pointer;

    @media (max-width: 767px) {
      margin-top: 0;
      top: 1.5rem;
    }

    svg {
      height: 2.8rem;
      width: 4.4rem;
      fill: #ffffff;
    }

    &:hover {
      svg * {
        opacity: 1 !important;
      }
    }
  }

  .btn_autch {
    position: absolute;
    right: 0;
    top: 1.1rem;
    min-width: 1px;
    line-height: 2.9rem;
    font-size: 1.6rem;
    height: 3.2rem;
    padding: 0;
    width: 9.6rem;
    display: none;
  }

  .hide_menu .navbar_div,
  .hide_menu_abs .navbar_div {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .menu_search {
    position: relative;
    margin-bottom: 4rem;

    .form-control,
    .form-control:invalid {
      height: 8rem;
      padding: 1.8rem 1.9rem 1.8rem 6.2rem;
      line-height: 6.2rem;
      font-size: 6.2rem;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #D62A26;
    }

    .form-control {
      &::placeholder {
        color: #666F78;
        opacity: 0.6;
      }
    }

    .search_text {
      margin-top: 1.2rem;
      line-height: 1.6rem;
      font-size: 1.2rem;
      color: #666F78;
    }
  }

  .btn-search {
    height: 4.4rem;
    width: 4.9rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.9rem;
    background: #ffffff;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 0 .9rem;
  }

  .btn-search span {
    display: none !important;
  }

  .row_menu {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0;
        max-width: 32.6rem;
      }
    }

    .menu_tab {
      margin-bottom: 0.8rem;

      &:not(.active):hover {
        background: #bedaff2b;
        cursor: pointer;
      }
    }

    .div_tit {
      font-weight: bold;
      line-height: 3.6rem;
      font-size: 3rem;
      margin-bottom: 3.9rem;

      .active {
        padding: 0rem 0.4rem 0.2rem 0.4rem;
        border-radius: 0.8rem;
        text-decoration: none;
        border: none;
      }
    }
  }

  .menu_left {
    .btn {
      padding: 0.8rem 0.7rem 0.8rem 0.9rem;
      line-height: 2.4rem;
      font-size: 1.8rem;
      color: rgba(0, 0, 0, 0.6);
      width: initial;
      box-shadow: none;
      min-width: initial;
      text-align: left;
      display: inline-block;
      border-radius: 0.8rem;
    }

    display: inline-flex;
    flex-flow: column;
    width: 100%;
  }

  .menu_left .active .btn1,
  .menu_left .active .btn1:hover,
  .menu_right1 .active.btn1,
  .menu_right1 .active.btn1:hover {
    color: #ffffff;
    background: linear-gradient(248.11deg, rgba(209, 67, 15, 0.5) 0%, rgba(209, 15, 51, 0.5) 100%), #DA2032;
  }

  .menu_left .active .btn2,
  .menu_left .active .btn2:hover,
  .menu_right1 .active.btn2,
  .menu_right1 .active.btn2:hover {
    color: #ffffff;
    background: #1A66CC;
  }

  .menu_left .active .btn3,
  .menu_left .active .btn3:hover,
  .menu_right1 .active.btn3,
  .menu_right1 .active.btn3:hover {
    color: #ffffff;
    background: #DA2032;
    box-shadow: 1px 0px 0px rgba(204, 209, 212, 0.5);
  }

  .menu_left .active .btn4,
  .menu_left .active .btn4:hover,
  .menu_right1 .active.btn4,
  .menu_right1 .active.btn4:hover {
    color: #252525;
    background: #3DD5AF;
    box-shadow: 1px 0px 0px rgba(204, 209, 212, 0.5);
  }

  .menu_left .active .btn5,
  .menu_left .active .btn5:hover,
  .menu_right1 .active.btn5,
  .menu_right1 .active.btn5:hover {
    color: #ffffff;
    background: #25B553;
    box-shadow: 1px 0px 0px rgba(204, 209, 212, 0.5);
  }

  .menu_left .active .btn6,
  .menu_left .active .btn6:hover,
  .menu_right1 .active.btn6,
  .menu_right1 .active.btn6:hover {
    color: #ffffff;
    background: #68AD45;
    box-shadow: 1px 0px 0px rgba(204, 209, 212, 0.5);
  }

  .menu_left .active .btn7,
  .menu_left .active .btn7:hover,
  .menu_right1 .active.btn7,
  .menu_right1 .active.btn7:hover {
    color: #ffffff;
    background: #1A4C82;
  }

  .menu_left .active .btn8,
  .menu_left .active .btn8:hover,
  .menu_right1 .active.btn8,
  .menu_right1 .active.btn8:hover {
    color: #ffffff;
    background: #5E6A72;
  }

  .menu_left .active .btn9,
  .menu_left .active .btn9:hover,
  .menu_right1 .active.btn9,
  .menu_right1 .active.btn9:hover {
    color: #ffffff;
    background: #ffb81b;
  }

  .menu_left .active .btn10,
  .menu_left .active .btn10:hover,
  .menu_right1 .active.btn10,
  .menu_right1 .active.btn10:hover {
    color: #ffffff;
    background: #ff6b00;
  }

  /*.active.btn11,
  .btn11:hover {
    color: #ffffff;
    background: #75B62E;
  }*/
  .menu_left .active .btn12,
  .menu_left .active .btn12:hover,
  .menu_right1 .active.btn12,
  .menu_right1 .active.btn12:hover {
    color: #ffffff;
    background: #5e2a2b;
  }

  .menu_right1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
  }

  .menu_right1 .menu_right1 {
    line-height: 2.1rem;
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

  .menu_right1 .menu_right1 li {
    margin-bottom: 1.2rem;
  }

  .menu_right1 .menu_right1 li:last-child {
    margin-bottom: 0rem;
  }

  .menu_right1 .menu_level4:last-child {
    margin-bottom: 3.2rem;
  }

  .menu_right1 .active {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    margin-left: -0.4rem;
    text-decoration: none;
  }

  .menu_right1 .active:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .menu_right1 .activebtn4:hover {
    color: #252525;
  }

  .navbar-user {
    background-color: #f3f5f7;
    &__container {
      display: flex;
      justify-content: flex-end;
    }
  }
</style>
