<template>
  <footer class="footer-container">
    <div class="footer-inner-wrapper">
      <div class="footer-block-horizontal-direction">
        <!-- <img src="../../assets/menu/distribution.svg" class="footer-distribution-icon" /> -->
        <div class="footer-item">
          © 2019 Московский транспорт
        </div>
      </div>
      <div class="footer-block-vertical-direction">
        <button @click="feedbackVisible = true" class="footer-item">
          Обратная связь
        </button>
      </div>
      <!-- <div class="footer-block-vertical-direction">
        <div class="footer-item">
          Условия использования информации
        </div>
        <div class="footer-item">
          Часто задаваемые вопросы
        </div>
        <div class="footer-item">
          Правила модерации
        </div>
      </div>
      <div class="footer-block-horizontal-direction">
        <div class="footer-sn">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" class="sn vk"><g><g><path fill="#8e8e8e" d="M22.938 19.155c1.556 1.381 1.88 1.875 1.932 1.959.645 1.022-.715 1.147-.715 1.147H21.29s-.698.008-1.294-.388c-.972-.636-1.99-1.87-2.705-1.656-.6.18-.594.99-.594 1.684 0 .249-.214.36-.696.36h-.896c-1.57 0-3.274-.529-4.973-2.305-2.404-2.51-4.513-7.568-4.513-7.568s-.124-.254.011-.41c.154-.173.572-.151.572-.151h2.78s.26.048.449.18c.155.11.241.316.241.316s.467 1.542 1.062 2.525c1.161 1.919 1.702 1.967 2.096 1.76.576-.298.388-2.338.388-2.338s.026-.876-.274-1.266c-.232-.302-.675-.463-.869-.488-.156-.02.105-.294.439-.45.445-.199 1.05-.25 2.096-.24.813.008 1.047.056 1.365.13.959.22.722.804.722 2.854 0 .656-.09 1.58.405 1.886.213.132.945.293 2.247-1.822.619-1.003 1.11-2.667 1.11-2.667s.102-.183.26-.273c.161-.093.156-.09.378-.09.22 0 2.44-.018 2.926-.018.487 0 .943-.005 1.021.28.113.41-.358 1.813-1.554 3.337-1.963 2.5-2.181 2.266-.551 3.712zM16 0C7.178 0 0 7.178 0 16s7.178 16 16 16c8.823 0 16-7.178 16-16S24.823 0 16 0z"/></g></g></svg>
        </div>
        <div class="footer-sn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="sn fb"><g><g><path fill="#8e8e8e" d="M22 10h-1.333c-1.427 0-2 .333-2 1.333v2H22l-.667 3.334h-2.666v10h-3.334v-10h-2.666v-3.334h2.666v-2c0-2.666 1.334-4.666 4-4.666 1.934 0 2.667.666 2.667.666zm2.667-10H3.333A3.335 3.335 0 0 0 0 3.333v21.334A3.335 3.335 0 0 0 3.333 28h21.334A3.335 3.335 0 0 0 28 24.667V3.333A3.335 3.335 0 0 0 24.667 0z"/></g></g></svg>
        </div>
        <div class="footer-sn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="sn youtube"><g><g><path fill="#8e8e8e" d="M16.153 17.83c.366 0 .524.224.524.92v1.833c0 .696-.158.937-.524.937-.209 0-.607-.143-.82-.353V18.25c.213-.208.611-.42.82-.42zm4.514-.198c.368 0 .666.25.666.56v.885H20v-.886c0-.309.299-.56.667-.56zm.02-.965c-.673 0-1.198.211-1.578.61-.28.295-.442.777-.442 1.401v2.045c0 .62.179 1.055.458 1.346.38.4.904.598 1.592.598.688 0 1.229-.21 1.593-.633a1.35 1.35 0 0 0 .307-.633c.012-.106.05-.394.05-.734h-1.334v.532c0 .31-.298.56-.666.56-.368 0-.667-.251-.667-.56V20h2.667v-1.348c0-.623-.153-1.08-.429-1.375-.368-.399-.892-.61-1.552-.61zm-11.354 0v4.457c0 .481.067.804.154 1.015.147.343.446.528.872.528.487 0 1.114-.343 1.641-.91v.91h1.333v-6H12v4.18c-.293.389-.72.679-.987.679-.173 0-.313-.073-.346-.264v-4.595zm4.667-2v8h1.333v-.834c.421.521.969.834 1.417.834.501 0 .939-.27 1.107-.787.08-.28.138-.54.143-1.13v-1.833c0-.659-.09-1.155-.173-1.435-.168-.52-.575-.812-1.077-.815-.653-.005-.917.333-1.417.916v-2.916zm-8.667 0v1.319h1.334v6.68H8v-6.68h1.333v-1.32zM13.998 12h.014s4.475 0 7.463.214c.42.046 1.328.053 2.141.886.64.627.847 2.067.847 2.067s.214 1.02.214 2.707v1.58c0 1.686-.214 2.706-.214 2.706s-.206 1.44-.847 2.067c-.813.833-1.721.84-2.141.886-2.988.214-7.47.22-7.47.22s-5.55-.053-7.257-.213c-.474-.087-1.54-.06-2.354-.887-.64-.633-.847-2.073-.847-2.073s-.214-1.02-.214-2.707v-1.58c0-1.686.214-2.706.214-2.706s.206-1.44.847-2.067c.813-.833 1.721-.84 2.141-.886C9.523 12 14 12 14 12zm.007-6.254a.66.66 0 0 0-.475.2.686.686 0 0 0-.197.481V8.3a.683.683 0 0 0 .411.627.66.66 0 0 0 .522 0 .683.683 0 0 0 .41-.627V6.427a.68.68 0 0 0-.671-.68zm2.662-1.08H18v4c.033.18.226.261.406.261.274 0 .62-.32.927-.673V4.667h1.334V10h-1.334v-.92c-.54.526-1 .92-1.606.9-.44-.013-.747-.173-.9-.493-.094-.187-.16-.487-.16-.927zm-2.667 0c.593 0 1.18.18 1.553.633.287.327.447.854.447 1.547v.974c0 .694-.133 1.174-.413 1.5-.373.447-.994.68-1.587.68s-1.2-.233-1.573-.68C12.14 8.994 12 8.514 12 7.82v-.967c0-.693.153-1.227.447-1.554.373-.453.88-.632 1.553-.632zm-6.667-2h1.604l1.068 2.667 1.068-2.666h1.604l-2.004 4.666V10H9.337V7.327c-.4-1.074-1.73-3.987-2.004-4.66zM3.333 0A3.335 3.335 0 0 0 0 3.333v21.334A3.335 3.335 0 0 0 3.333 28h21.334A3.335 3.335 0 0 0 28 24.667V3.333A3.335 3.335 0 0 0 24.667 0z"/></g></g></svg>
        </div>
      </div> -->
    </div>
    <Feedback v-model="feedbackVisible" />
  </footer>
</template>

<script>
  import Feedback from '~/components/base/Feedback';

  export default {
    name: 'Footer',
    components: {
      Feedback,
    },
    data() {
      return {
        feedbackVisible: false,
      }
    }
  }
</script>

<style lang="scss">
  .footer-container {
    background-color: #fbfbfb;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    .footer-inner-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #4f4f4f;
      font-size: 14px;
      font-weight: 300;
      width: 100%;
      max-width: 1440px;
      height: 100%;

      .footer-block-horizontal-direction {
        display: flex;
      }

      .footer-block-vertical-direction {
        display: flex;
        flex-direction: column;
      }

      .footer-item {
        margin: 7px 0;
        white-space: nowrap;
      }

      .footer-distribution-icon {
        width: 41px;
        height: 32px;
        margin-right: 30px;
        cursor: pointer;
      }

      .footer-sn {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-right: 44px;
        }
      }
    }
  }

  .sn {
    cursor: pointer;

    path {
      transition: fill 0.3s;
    }

    &.vk:hover path {
      fill: #4c75a3;
    }

    &.fb:hover path {
      fill: #3b5999;
    }

    &.youtube:hover path {
      fill: #cd201f;
    }
  }
</style>

