<template>
  <div class="proposals" v-if="role === 'user'">
    <ProposalModal/>
    <div class="proposals__container">
      <div class="proposals__top">
        <div class="proposals-head">
          <div class="proposal-head__tabs">
            <Tabs :items="tabs"/>
          </div>
          <button @click="showMobileFilters" class="proposals-head__filter-btn">
            <FilterIcon/>
          </button>
        </div>
        <div class="proposals__add">
          <button
            v-ripple
            class="proposals__add-btn"
            @click="modalOpen"
          >
            Добавить идею
            <AddIcon class="proposals__add-icon"/>
          </button>
        </div>
      </div>
      <div
        class="proposals__filter"
        :class="{
            'proposals__filter_mv': mobileFilterVisible,
          }"
      >
        <button v-tooltip="'Закрыть'" class="proposals__filter-close-btn" @click="mobileFilterVisible = false">
          <CloseIcon class="proposals__filter-close-icon"/>
        </button>
        <div class="proposals__filter-container">
          <v-autocomplete
            class="proposals__filter-division"
            :attach="'.proposals__filter-division'"
            label="Округ"
            :items="divisions"
            :hide-details="true"
            v-model="filters.division"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-district"
            :attach="'.proposals__filter-district'"
            label="Район"
            :items="districts"
            :hide-details="true"
            v-model="filters.district"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-metro"
            :attach="'.proposals__filter-metro'"
            label="Станция метро"
            :items="metros"
            :hide-details="true"
            v-model="filters.metro"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-status"
            :attach="'.proposals__filter-status'"
            label="Статус"
            :items="statuses"
            :hide-details="true"
            v-model="filters.status"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-author"
            :attach="'.proposals__filter-author'"
            v-if="authorized"
            label="Автор идеи"
            :items="authors"
            :hide-details="true"
            v-model="filters.author"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-myVotes"
            :attach="'.proposals__filter-myVotes'"
            v-if="authorized"
            label="Мои голоса"
            :items="myVotes"
            :hide-details="true"
            v-model="filters.myVotes"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-myCableway"
            :attach="'.proposals__filter-myCableway'"
            v-if="kd"
            label="Тип транспорта"
            :items="myCableway"
            :hide-details="true"
            v-model="filters.myCableway"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-sortType"
            :attach="'.proposals__filter-sortType'"
            label="Сортировка"
            :items="sortTypes"
            :hide-details="true"
            v-model="filters.sort"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <span class="proposals-filter__divider"></span>
          <v-btn v-if="resetBtnVisible" class="proposals-filter__reset" @click="filtersReset">Сброс фильтров</v-btn>
          <div class="proposals__filter-m-buttons">
            <v-btn @click="restoreFilters" class="proposals__filter-btn">Отмена</v-btn>
            <v-btn @click="mobileFilterVisible = false" class="proposals__filter-btn" color="primary">Применить</v-btn>
          </div>

        </div>
      </div>
      <ul
        v-if="routes.length"
        class="proposals__list"
      >
        <li
          v-for="(proposal, key) in proposals"
          :key="key"
          v-if="proposal.routeMainType === 1 ? true : kd"
          class="proposal"
          @click="onProposalClick(proposal)"
        >
          <div class="proposal__container">
            <div class="proposal__name">
              <span v-tooltip="'НГПТ'" class="proposal__route-type-icon" v-if="proposal.routeMainType === 1">
                <BusIcon/>
              </span>
              <span v-tooltip="'КД'" class="proposal__route-type-icon" v-if="proposal.routeMainType === 2">
                <CableWayIcon/>
              </span>
              <span v-if="proposal.routeMainType === 3">Идея</span>
              <span v-else>{{ routesById[proposal.routeID] ? `Маршрут ${routesById[proposal.routeID].name}` : 'Новый маршрут' }}</span>
              <div class="proposal__discussions">
                <span class="proposal__discussions-cnt">{{proposal.commentsCnt}}</span>
                <DiscussionsIcon/>
              </div>
            </div>
            <div v-if="proposal.routeMainType === 3" class="proposal__full-name">
              (Другое)
            </div>
            <div v-else class="proposal__full-name">
              {{ routesById[proposal.routeID] ? `(${routesById[proposal.routeID].fullname})` :
              `(${proposal.desiredFrom || ''} - ${proposal.desiredTo || ''})` }}
            </div>
            <div class="proposal__params">
              <div class="proposal__param">
                <MetroIcon class="proposal__param-icon" v-tooltip="'Станции метро'"/>
                <span
                  @mouseenter="showProposalPropTooltip(proposal.id + 'metro', getMetroStations(proposal), $event)"
                  @mouseleave="proposalPropTooltip.id = null"
                  v-tooltip="{content: proposalPropTooltip.content, trigger: 'manual', show: proposalPropTooltip.id === proposal.id + 'metro'}"
                  class="ellipsis"
                >{{getMetroStations(proposal).join(', ') || '-'}}</span>
              </div>
              <div
                class="proposal__param"
                :class="{
                    'proposal__param_mh': !mInfoVisible.includes(proposal.id)
                  }"
              >
                <StationsIcon class="proposal__param-icon" v-tooltip="'Округа'"/>
                <span
                  @mouseenter="showProposalPropTooltip(proposal.id + 'divisions', getDivisions(proposal), $event)"
                  @mouseleave="proposalPropTooltip.id = null"
                  v-tooltip="{content: proposalPropTooltip.content, trigger: 'manual', show: proposalPropTooltip.id === proposal.id + 'divisions'}"
                  class="ellipsis">
                  {{getDivisions(proposal).join(', ') || '-'}}</span>
              </div>
              <div
                class="proposal__param"
                :class="{
                    'proposal__param_mh': !mInfoVisible.includes(proposal.id)
                  }"
              >
                <StationsIcon class="proposal__param-icon" v-tooltip="'Районы'"/>
                <span
                  @mouseenter="showProposalPropTooltip(proposal.id + 'districts', getDistricts(proposal), $event)"
                  @mouseleave="proposalPropTooltip.id = null"
                  v-tooltip="{content: proposalPropTooltip.content, trigger: 'manual', show: proposalPropTooltip.id === proposal.id + 'districts'}"
                  class="ellipsis"
                >{{getDistricts(proposal).join(', ') || '-'}}</span>
              </div>
              <!-- <div
                class="proposal__param"
                :class="{
                    'proposal__param_mh': !mInfoVisible.includes(proposal.id)
                  }"
              >
                <TimeIcon class="proposal__param-icon" v-tooltip="'Интервал'"/>
                <span v-if="routesById[proposal.routeID]">
                  {{routesById[proposal.routeID].peakIntervalMinutes}}
                  {{routesById[proposal.routeID].semipeakIntervalMinutes ? `/ ${routesById[proposal.routeID].semipeakIntervalMinutes}` : ''}} мин
                </span>
                <span v-else>-</span>
              </div> -->
              <div v-if="routesById[proposal.routeID] && routesById[proposal.routeID].semipeakIntervalMinutes"
                   class="proposal__param">
                {{routesById[proposal.routeID].semipeakIntervalMinutes}}
              </div>
              <div class="proposal__param">
                <div class="proposal__param-icon-wrapper">
                  <CalendarIcon class="proposal__param-icon time" v-tooltip="'Дата создания'"/>
                </div>
                {{new Date(proposal.createdAt).toLocaleDateString().replace(/\//g, '-')}}
              </div>
              <div class="proposal__param">
                <div class="proposal__param-icon-wrapper__circle" v-tooltip="'Номер'">
                  №
                </div>
                {{ getProposalNumber(proposal.gid) }}
              </div>
              <div
                class="proposal__user"
                :class="{
                    'proposal__user_mh': !mInfoVisible.includes(proposal.id)
                  }"
              >
                <div class="proposal__user-icon-wrapper">
                  <img src="../../assets/menu/user.svg" class="proposal__user-icon"/>
                </div>
                <span class="proporsal-user__name">{{ proposal.username || '' }}</span>
              </div>
              <button
                @click.stop="mInfoVisible.push(proposal.id)"
                class="proposal__m-info"
                v-if="!mInfoVisible.includes(proposal.id)"
              >
                <InfoIcon class="proposal__m-info-icon"/>
              </button>
            </div>
          </div>
          <div
            v-if="proposal.isVoted"
            class="proposal-information"
            :class="{
                'proposal-information_for': proposal.isVoted && proposal.vote,
                'proposal-information_against': proposal.isVoted && !proposal.vote,
              }"
          >
              <span>
                Вы уже проголосовали {{ proposal.vote ? 'ЗА' : 'ПРОТИВ' }}
              </span>
          </div>
          <div
            class="proposal-footer"
            :class="{
              'realised': proposal.status === 'Реализовано',
              'refused': proposal.status === 'Отклонено'
            }"
          >
            <button class="proposal-footer__btn">
               <span v-tooltip="'Голосов ЗА'" class="proposal-footer__count proposal-footer__count_for">
                <HandIcon class="vote-footer__icon vote-footer__icon_for"/>
                <span>{{proposal.voteFor}}</span>
              </span>
            </button>
            <span>
              <RealisedIcon v-if="proposal.status === 'Реализовано'" class="proposal-footer__icon"/>
              <RefusedIcon v-else-if="proposal.status === 'Отклонено'" class="proposal-footer__icon"/>
              <UnderConsiderationIcon v-else class="proposal-footer__icon"/>
              <span class="proposal-footer__text"
                    :class="{
                  'small': !proposal.status || proposal.status === 'На рассмотрении',
                }"
              >
                {{proposal.status || 'На рассмотрении'}}
              </span>
            </span>
            <button class="proposal-footer__btn">
               <span v-tooltip="'Голосов ПРОТИВ'" class="proposal-footer__count proposal-footer__count_against">
                <HandIcon class="vote-footer__icon vote-footer__icon_against"/>
                <span>{{proposal.voteAgainst}}</span>
              </span>
            </button>
          </div>
        </li>
      </ul>
      <div v-if="routes.length && $store.state.proposals.proposalsRemaining && proposals.length"
           class="proposals__more">
        <v-btn class="proposals__more-btn" color="primary" :disabled="loadingData" @click="updateProposals">Показать
          еще
        </v-btn>
      </div>
      <div class="loader_all" style="z-index: 100;" v-if="loadingData">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AddIcon from '~/components/svg/AddIcon';
  import UnderConsiderationIcon from '~/components/svg/UnderConsiderationIcon';
  import RealisedIcon from '~/components/svg/RealisedIcon';
  import RefusedIcon from '~/components/svg/RefusedIcon';
  import CloseIcon from '~/components/svg/CloseIcon';
  import HandIcon from '~/components/svg/HandIcon';
  import {mapActions} from 'vuex';
  import {mapMutations} from 'vuex';
  import editorData from '~/components/map/layers/editor';
  import StationsIcon from '~/components/svg/StationsIcon';
  import MetroIcon from '~/components/svg/MetroIcon';
  import CalendarIcon from '~/components/svg/CalendarIcon';
  import NumberIcon from '~/components/svg/NumberIcon';
  import TimeIcon from '~/components/svg/TimeIcon';
  import Discussions from '~/components/editor/Discussions';
  import DiscussionsIcon from '~/components/svg/DiscussionsIcon';
  import FilterIcon from '~/components/NewStyle/svg/Filter';
  import InfoIcon from '~/components/NewStyle/svg/Info';
  import Tabs from '~/components/NewStyle/Tabs';
  import CableWayIcon from '~/components/svg/CableWayIcon';
  import BusIcon from '~/components/svg/BusIcon2';
  import ProposalModal from '~/components/Proposal/Modal'

  export default {
    layout: 'new',
    components: {
      AddIcon,
      UnderConsiderationIcon,
      CloseIcon,
      RealisedIcon,
      RefusedIcon,
      HandIcon,
      StationsIcon,
      MetroIcon,
      CalendarIcon,
      NumberIcon,
      TimeIcon,
      Discussions,
      DiscussionsIcon,
      FilterIcon,
      InfoIcon,
      Tabs,
      CableWayIcon,
      BusIcon,
      ProposalModal
    },
    data() {
      return {
        currentDraft: null,
        proposalPropTooltip: {
          id: null,
          content: '',
        },
        editorData,
        mobileFilterVisible: false,
        mInfoVisible: [],
        proposalTypes: [
          {
            text: 'Предложить новый маршрут НГПТ',
            value: 'create'
          },
          {
            text: 'Изменить существующий маршрут НГПТ',
            value: 'edit'
          }
        ],
        sortTypes: [
          {
            text: 'По новизне',
            value: 'createdAt'
          },
          {
            text: 'По числу голосов',
            value: 'voteTotal'
          },
          {
            text: 'По числу комментариев',
            value: 'popularity'
          }
        ],
        filters: {},
        statuses: [
          {
            text: 'Все',
            value: 'all',
          },
          {
            text: 'На рассмотрении',
            value: 'В работе',
          },
          {
            text: 'Закрытые',
            value: 'Закрыто',
          },
        ],
        districts: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        divisions: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        metros: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        authors: [
          {
            text: 'Все',
            value: 'all'
          },
          {
            text: 'Мои',
            value: 'user'
          },
          {
            text: 'Чужие',
            value: 'other'
          },
        ],
        myVotes: [
          {
            text: 'Не учитывать',
            value: 0,
          },
          {
            text: 'Есть',
            value: 1,
          },
          {
            text: 'Нет',
            value: -1,
          }
        ],
        myCableway: [
          {
            text: 'Все',
            value: 0,
          },
          {
            text: 'Канатная дорога',
            value: 2,
          },
          {
            text: 'Наземный транспорт',
            value: 1,
          },
          {
            text: 'Другое',
            value: 3,
          }
        ],
        divisionsWithDistricts: [],
        districtsWithMetro: [],
        limit: 12,
        page: 0,
        queryParams: {},
        loadingData: false,
        loadingScrollPadding: 400,
        defaultFilters: {
          metro: 'any',
          district: 'any',
          status: 'all',
          author: 'all',
          division: 'any',
          myVotes: 0,
          myCableway: 0,
          sort: 'createdAt',
          page: 1
        },
      }
    },
    methods: {
      ...mapActions({
        getProposals: 'proposals/getProposals',
        getAllProposals: 'proposals/getAllProposals',
        getRoutes: 'ngpt/getRoutes',
        setProposalFilters: 'proposals/setProposalFilters',
        getMetro: 'metro/getMetro',
        clearNgptStore: 'ngpt/clearNgptStore',
        clearMetroStore: 'metro/clearMetroStore',
        clearProposalStore: 'proposals/clearProposalStore',
        getAllPolls: 'polls/getAllPolls',
        clearPollsStore: 'polls/clearPollsStore',
      }),
      ...mapMutations({
        setCablewayEdit: 'editor/SET_CABLEWAY_EDIT'
      }),
      onProposalClick(proposal) {
        if (proposal.routeMainType === 2) {
          this.setCablewayEdit(true)
        } else {
          this.setCablewayEdit(false)
        }
        this.$router.push({
          name: 'editor',
          params: {
            pageQuery: this.$route.query
          },
          query: {
            viewMode: proposal.id,
            routeID: proposal.routeID
          },
        });
      },
      updateUrl(resetPage) {
        if (!this.authorized) {
          delete this.filters.myVotes;
          delete this.filters.author;
        }
        if (resetPage) {
          this.filters.page = 1;
          this.page = 0;
        }
        this.setProposalFilters({
          ...this.filters
        });
        this.$router.replace({
          query: this.filters
        });
      },
      getMetroStations(proposal) {
        return [...new Set(proposal.metroStations)].filter(i => i).sort((a, b) => a.localeCompare(b));
      },
      getDistricts(proposal) {
        return [...new Set(proposal.districts)].filter(i => i).sort((a, b) => a.localeCompare(b));
      },
      getDivisions(proposal) {
        return [...new Set(proposal.divisions)].filter(i => i).sort((a, b) => a.localeCompare(b));
      },
      getProposalNumber(gid) {
        const symbolCount = 8;
        const diff = symbolCount - gid.toString().length;
        return diff > 0
          ? `${new Array(diff).fill(0, 0, diff).join('')}${gid}`
          : `${gid}`
      },
      modalOpen() {
        if (!this.authorized) {
          this.$store.commit('auth/setRedirectParams', {
            cancelBtn: true,
            routeParams: {
              name: this.$route.name,
              params: {
                ...this.$route.params,
                modalOpen: true,
                info: {
                  status: 'info',
                  text: 'Создание идей по маршрутам доступно только зарегистрированным пользователям'
                }
              }
            }
          });
          this.$router.push('/login');
          return;
        }
        this.$bus.$emit('toggleModalVisible', true);
      },
      filtersReset() {
        this.filters = {...JSON.parse(JSON.stringify(this.defaultFilters)), sort: this.filters.sort};
        this.updateUrl(true);
      },
      updateProposals(params = {}) {
        if (!this.loadingData && (this.$store.state.proposals.proposalsRemaining || params.reset)) {
          this.loadingData = true;
          this.page += 1;
          this.getProposals({
            page: this.page,
            limit: this.limit,
            filter: this.queryParams,
            sort: {name: this.filters.sort, order: 'DESC'}, ...params
          }).then(() => {
            this.loadingData = false;
          })
        }
      },
      setQueryParams() {
        const filter = {};
        if (this.filters.metro !== 'any') {
          filter.metroStations = [this.filters.metro];
        }

        if (this.filters.district !== 'any') {
          filter.districts = [this.filters.district];
        }

        if (this.filters.division !== 'any') {
          filter.divisions = [this.filters.division];
        }

        if (this.filters.status !== 'all') {
          filter.statuses = [this.filters.status];
        }

        if (this.filters.author !== 'all') {
          filter.who = this.filters.author === 'user' ? 'mine' : 'others';
        }

        if (this.filters.myVotes === 1) {
          filter.isVoted = true;
        }
        if (this.filters.myVotes === -1) {
          filter.isVoted = false;
        }

        if (this.kd) {
          if (this.filters.myCableway !== 0) {
            filter.routeMainType = this.filters.myCableway;
          }
        } else {
          filter.routeMainType = 1;
        }

        this.queryParams = filter;
      },
      showProposalPropTooltip(id, content, e) {
        if (!content) {
          return;
        }
        if (e.target.parentNode.offsetWidth - e.target.offsetWidth <= 43) {
          this.proposalPropTooltip.content = content.join(', ');
          this.proposalPropTooltip.id = id;
        }
      },
      showMobileFilters() {
        this.filtersBackup = JSON.parse(JSON.stringify(this.filters));
        this.mobileFilterVisible = !this.mobileFilterVisible;
      },
      restoreFilters() {
        this.filters = JSON.parse(JSON.stringify(this.filtersBackup));
        this.updateUrl(true);
        this.mobileFilterVisible = false;
      },
      compareFilters(a, b) {
        if (Object.keys(a).length !== Object.keys(b).length) {
          return false;
        }
        else {
          const keys = Object.keys(a);
          for (let i in a) {
            if (a[i] !== b[i]) {
              return false;
            }
          }
          return true;
        }
      },
    },
    computed: {
      kd() {
        return process.env.kd;
      },
      allPolls() {
        return this.$store.state.polls.allPolls;
      },
      proposals() {
        return this.$store.state.proposals.proposals;
      },
      allProposals() {
        return this.$store.state.proposals.allProposals;
      },
      routes() {
        return this.$store.state.ngpt.routes;
      },
      routesById() {
        return this.routes.reduce((acc, curr) => {
          acc[curr.routeID] = curr;
          return acc;
        }, {});
      },
      proposalFilters() {
        return this.$store.state.proposals.proposalFilters
      },
      tabs() {
        return [
          {
            name: 'Голосования',
            to: '/votes',
            count: this.allPolls.length
          },
          {
            name: 'Идеи',
            to: '/proposals',
            count: this.$store.state.proposals.allProposals.length
          }
        ];
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      resetBtnVisible() {
        this.compareFilters({...this.filters, sort: "same"}, {...this.defaultFilters, sort: "same"})
        if (this.authorized) {
          return !this.compareFilters({...this.filters, sort: "same"}, {...this.defaultFilters, sort: "same"});
        }
        else {
          return !this.compareFilters({...this.filters, sort: "same", author: "same", myVotes: "same"}, {...this.defaultFilters, sort: "same", author: "same", myVotes: "same"});
        }
      },
      role() {
        return this.$store.state.users.role;
      },
    },
    created() {
      if (this.kd) {
        this.proposalTypes.push({
          text: 'Предложить новый маршрут канатной дороги',
          value: 'createCableway'
        })
      }
    },
    beforeMount() {
      this.filters = {
        metro: this.proposalFilters.metro || this.$route.query.metro || 'any',
        district: this.proposalFilters.district || this.$route.query.district || 'any',
        status: this.proposalFilters.status || this.$route.query.status || 'all',
        author: this.proposalFilters.author || this.$route.query.author || 'all',
        division: this.proposalFilters.division || this.$route.query.division || 'any',
        myVotes: +this.proposalFilters.myVotes || +this.$route.query.myVotes || 0,
        myCableway: +this.proposalFilters.myCableway || +this.$route.query.myCableway || 0,
        sort: this.proposalFilters.createdAt || this.$route.query.sort || 'createdAt',
        page: this.proposalFilters.page || +this.$route.query.page || 1,
      };
    },
    mounted() {
      const routeParams = JSON.parse(JSON.stringify(this.$route.params));

      if (this.redirectParams) {
        this.$store.commit('auth/setRedirectParams', null);
      }
      if (this.$route.params.info) {
        this.$snotify[this.$route.params.info.status](
          this.$route.params.info.text,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        )
      }
      Promise.all([
        this.getAllProposals(),
        this.getRoutes(),
      ]).then(() => {
        let metroStations = [];
        let districts = [];
        let divisions = [];
        this.allProposals.forEach(proposal => {
          if (proposal.metroStations) {
            metroStations = metroStations.concat(proposal.metroStations);
          }
          if (proposal.districts) {
            districts = districts.concat(proposal.districts);
          }
          if (proposal.divisions) {
            divisions = divisions.concat(proposal.divisions);
          }
        });
        this.metros = this.metros.concat([...new Set(metroStations)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.divisions = this.divisions.concat([...new Set(divisions)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.districts = this.districts.concat([...new Set(districts)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        if (routeParams.modalOpen) {
          this.$bus.$emit('toggleModalVisible', true);
        }
      });
      this.getAllPolls();
    },
    beforeDestroy() {
      this.clearNgptStore();
      // this.clearProposalStore();
      // this.clearPollsStore();
      // document.removeEventListener('scroll', this.onScroll);
    },
    watch: {
      'filters.page'() {
        this.updateUrl();
      },
      filters: {
        handler() {
          this.setQueryParams();
          this.updateProposals({reset: true})
        },
        deep: true
      },
      mobileFilterVisible(visible) {
        const body = document.querySelector('body');
        if (visible) {
          body.classList.add('no-scroll');
        } else {
          body.classList.remove('no-scroll');
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .proposals {
    &__container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 0;
      max-width: none;
    }

    &__title {
      font-size: 36px;
      font-weight: 800;
      font-family: 'Moscow Sans', Arial, sans-serif;
    }

    &__filter {
      padding-top: 25px;
      display: flex;
      padding-bottom: 20px;
      user-select: none;
      position: sticky;
      top: 0;
      background-color: #f3f5f7;
      z-index: 2;

      &-container {
        display: flex;
        width: 100%;
      }

      @media (max-width: 992px) {
        display: none;
        align-items: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        margin-top: 0;
        .proposals__filter-container {
          flex-direction: column;
          align-items: center;
          padding: 30px 15px;
          width: 100%;
          margin-top: 20px;
        }
        .v-select {
          margin-left: 0 !important;
          min-height: 100px;
        }
      }

      &-close-btn {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
      }

      &_mv {
        display: flex;
        align-items: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        .proposals__filter-container {
          flex-direction: column;
          align-items: center;
          padding: 30px 15px;
          width: 100%;
          margin-top: 20px;
        }

        .v-select {
          margin-left: 0 !important;
          min-height: 100px;
          width: 100%;
          max-width: none !important;

          &:nth-child(1) {
            margin-left: 0;
          }
        }

        .proposals-filter__reset {
          display: none;
        }

        .proposals__filter-close-btn {
          display: block;
        }

        .proposals__filter-m-buttons {
          display: flex;
        }
      }


      @media (max-width: 767px) {
        flex-direction: column;
      }

      &__container {
        display: flex;

        @media (max-width: 767px) {
          &:not(:last-child) {
            margin: 20px 0;
          }
        }
      }

      .v-select {
        max-width: 184px;
        margin-left: 41px;
        @media (max-width: 767px) {
          max-width: none;
          &:nth-child(1) {
            margin-left: 0;
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }

      &-m-buttons {
        display: none;
        width: 100%;
        justify-content: space-between;
      }
    }


    &-filter__reset {
      margin-left: 30px;
      margin-right: 0;
      margin-top: -8px;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      min-width: 160px !important;
      flex-shrink: 0;
    }

    &__top {
      padding-top: 9px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 992px) {

        flex-direction: column;
        align-items: flex-start;
      }

      &-container {
        padding-right: 3px;
        padding-bottom: 0;
      }
    }

    &__add {
      margin-bottom: 4px;
      margin-left: 32px;
      margin-top: 10px;
      @media (max-width: 992px) {
        margin-left: 0;
        margin-top: 0;
      }

      &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 14px 12px 29px;
        font-size: 17px;
        font-weight: 300;
        outline: none;
        white-space: nowrap;
        color: #fff;
        background: #2b7ae6;
        border-radius: 0.8rem;
        min-width: 160px;
        position: relative;
        top: -12px;
        line-height: 20px;
      }

      &-icon {
        margin-left: 15px;
      }
    }

    &__list {
      margin: 5px -20px 30px;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 992px) {
        margin: 7px -10px 10px;
      }
      @media (max-width: 640px) {
        margin: -3px -20px 20px;
      }
    }

    &__more {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .proposal {
    margin: 20px;
    border-radius: 10px;
    width: calc(25% - 40px);
    display: flex;
    flex-direction: column;
    min-height: 345px;
    background-color: #fff;

    @media (max-width: 1199px) {
      width: calc(33.33333% - 40px);
    }

    @media (max-width: 992px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media (max-width: 640px) {
      width: calc(100% - 40px);
      margin: 20px 20px 0;
    }

    &__param {
      font-weight: 300;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-family: 'Moscow Sans', Arial, sans-serif;

      &_mh {
        @media (max-width: 992px) {
          display: none;
        }
      }


      b {
        margin-right: 13px;
      }
    }

    &__param-icon {
      margin-right: 13px;
      width: 30px;
      height: 30px;
      flex-shrink: 0;

      &-wrapper {
        border-radius: 50%;
        border: 1px solid rgb(194, 194, 194);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 13px;

        &__circle {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1px solid #9b9b9b;
          margin-right: 13px;
          font-size: 12px;
          color: #9b9b9b;
          font-weight: bold;
        }
      }

      &.time {
        width: 25px;
        height: 25px;
        padding: 5px;
        margin-right: 0;
        margin-left: 2px;
      }
    }

    b {
      font-weight: 400;
    }

    &:hover {
      cursor: pointer;
    }

    &__container {
      padding: 0 28px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: 16px;
      @media (max-width: 992px) {
        padding: 0 19px;
      }
    }

    &__name {
      color: #2b7ae6;
      font-size: 20px;
      text-align: center;
      padding: 19px 20px 0;
      position: relative;
      font-weight: 500;
      @media (max-width: 992px) {
        font-size: 16px;
        padding: 19px 40px 0;
      }
    }

    &__full-name {
      text-align: center;
      font-size: 11px;
      font-weight: 400;
      color: #333;
      margin-bottom: 13px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__user {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;

      &-icon-wrapper {
        border-radius: 50%;
        background-color: #e0e0e0;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        .proposal__user-icon {
          width: 20px;
          height: 20px;
        }
      }

      .proporsal-user__name {
        font-weight: 300;
      }

      &_mh {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }

    &__modal {
      .modal__body {
        padding-top: 40px;
      }
    }

    &__discussions {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      padding: 10px;
      margin-top: 7px;
      @media (max-width: 992px) {
        right: -12px;
      }
    }

    &__discussions-cnt {
      color: #333;
      font-size: 14px;
      margin-right: 7px;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      margin-top: -3px;
    }

    &__m-info {
      position: absolute;
      bottom: 5px;
      right: -28px;
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
    }

    &__params {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      & > div {
        @media (max-width: 992px) {
          margin-bottom: 1.7rem;
        }
      }

      @media (max-width: 992px) {
        margin-right: 25px;
      }
    }

    &__route-type-icon {
      position: absolute;
      left: 0;
      top: 19px;
      border: 1px solid #9b9b9b;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }

  .proposal-footer {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    margin-top: -.3rem;
    padding: 0 1.9rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    &__btn {
      padding: 14px 0 20px;

      &[disabled] {
        opacity: .5;
      }
    }

    &__icon {
      margin-right: 6px;
      margin-left: 4px;
      width: 20px;
      height: 25px;
    }

    &__text {

      &.small {
        font-size: 13px;
        max-width: 100px;
      }
    }

    &.realised {
      color: #2B7AE6;
    }

    &.refused {
      color: #F5A623;
    }

    &__count {
      display: flex;
      font-size: 18px;
      font-weight: 500;

      span {
        position: relative;
        top: 4px;
      }

      &_for {
        color: #2b7ae6;
      }

      &_against {
        color: #D62529;
      }
    }
  }

  .proposal-information {
    z-index: 1;
    position: relative;
    top: 16px;
    height: 48px;
    font-size: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    background-color: #a5a4a5;
    @media (max-width: 992px) {
      margin-top: -16px;
    }

    &_for {
      background-color: #5b9ae4;
    }

    &_against {
      background-color: #D62529;
    }
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .loading {
    display: flex;
    justify-content: center;

    &__spinner {
      width: 40px;
      height: 40px;
      background-image: url('~assets/img/spinner.svg');
      animation: spinner 1s steps(12, end) infinite;
    }
  }

  .proposals-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;

    &__filter-btn {
      display: none;
      margin-left: 10px;
      @media (max-width: 992px) {
        display: block;
      }
    }
  }

  .proposals-filter {
    &__divider {
      margin-right: auto;
    }
  }
</style>
