<template>
  <v-app class="application">
    <no-ssr>
      <vue-snotify/>
      <nuxt v-if="pages[role] && pages[role].includes($route.name)" />
    </no-ssr>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  computed: {
    authorized() {
      return this.$store.state.auth.data.authorized
    },
    role() {
      return this.$store.state.users.role;
    },
    homePages() {
      return this.$store.state.users.homePages;
    },
    pages() {
      return this.$store.state.users.pages;
    }
  },
  async mounted() {
    await this.initAuth();
    if (!this.pages[this.role].includes(this.$route.name)) {
      this.$router.push(this.homePages[this.role]);
    }
  },
  methods: {
    ...mapActions({
      initAuth: 'auth/initAuth',
      getRoutes: 'ngpt/getRoutes',
      getStops: 'ngpt/getStops',
      getPolls: 'polls/getPolls',
      getProposals: 'proposals/getProposals'
    })
  }
}
</script>

