<template>
  <v-app
    class="application"
    :class="{
      'application_mac': macOS
    }"
  >
    <no-ssr>
      <div class="cont_all">
        <vue-snotify/>
        <nuxt v-if="pages[role] && pages[role].includes($route.name)" class="container 	container_center cont_a"/>
      </div>
    </no-ssr>
  </v-app>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    async mounted() {
      await this.initAuth();
      if (!this.pages[this.role].includes(this.$route.name)) {
        this.$router.push(this.homePages[this.role]);
      }
    },
    computed: {
      role() {
        return this.$store.state.users.role;
      },
      homePages() {
        return this.$store.state.users.homePages;
      },
      pages() {
        return this.$store.state.users.pages;
      },
      macOS() {
        if (process.client) {
          return navigator.platform.match('Mac') !== null;
        }
        return null;
      }
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth'
      }),
    },
    head() {
      return {
        htmlAttrs: {
          class: 'new-style layout-editor'
        },
        bodyAttrs: {
          class: this.bodyClassName
        },
        link: [
          {rel: 'apple-touch-icon', href: '/favicon/apple-touch-icon.png'},
          {rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon/favicon-32x32.png'},
          {rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon/favicon-16x16.png'},
        ]
      }
    }
  }
</script>
