<template>
  <v-app
    class="application"
    :class="{
      'application_mac': macOS
    }"
  >
    <no-ssr>
      <div
        class="cont_all"
        :class="{
          'header-style-2': role === 'user'
        }"
      >
        <vue-snotify/>
        <Header />
        <nuxt v-if="pages[role] && pages[role].includes($route.name)" class="container 	container_center cont_a" />
      </div>
      <Footer/>
      <GoTop
        :size="50"
        :bg-color="'#DA2032'"
        :boundary="1000"
      />
    </no-ssr>
  </v-app>
</template>

<script>
  import Snotify from 'vue-snotify';
  import Header from '~/components/NewStyle/Header';
  import Footer from '~/components/NewStyle/Footer';
  import {mapActions} from 'vuex';
  const GoTop = process.client ? require('@inotom/vue-go-top').default : null;

  export default {
    components: {
      Snotify,
      Header,
      Footer,
      GoTop
    },
    async mounted() {
      await this.initAuth();

      if (!this.pages[this.role].includes(this.$route.name)) {
        this.$router.push(this.homePages[this.role]);
      }

      document.body.addEventListener('click', e => {
        const closeBtn = document.querySelector('.modal__close-btn');
        if (closeBtn && e.target.closest('.v-overlay--active')) {
          closeBtn.click();
        }
      });
      this.headnavbar();
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth'
      }),
      headnavbar() {
        let scrollPrev = 0;
        window.addEventListener('scroll', () => {
          if (!document.querySelector('.navbar_div')) {
            return;
          }
          let scrolled = window.pageYOffset;
          let position_fix;
          if (document.querySelector('.main_video')) {
            position_fix = document.querySelector('.main_uzor_before').offsetTop;
          } else {
            position_fix = document.querySelector('.navbar_div').offsetHeight;
          }
          if (scrolled > position_fix) {
            document.querySelector('body').classList.add('hide_menu');
            if (document.querySelector('body').classList.contains('main_first')) {
              document.querySelector('.navbar_div').classList.add('trans_none');
              document.querySelector('body').classList.add('navbar_red');
            }
          } else {
            document.querySelector('body').classList.remove('hide_menu');

            if (document.querySelector('body').classList.contains('main_first')) {
              document.querySelector('body').classList.remove('navbar_red');
            }
          }
          if (scrollPrev > scrolled) {
            document.querySelector('.navbar_div').classList.remove('trans_none');
            document.querySelector('body').classList.remove('hide_menu');
          }
          scrollPrev = scrolled;
        });
      },
      helper() {
        let baseWidth = 1250
          , baseSize = 10;
        let htmlTag = document.getElementsByTagName('html')[0];

        if (htmlTag.clientWidth > 767 && htmlTag.clientWidth < 1000) {
          let ww = htmlTag.clientWidth;
          let desktop_size = ww / baseWidth * baseSize;
          htmlTag.style.fontSize = desktop_size + 'px';
        } else {
          htmlTag.removeAttribute('style');
        }
      }
    },
    computed: {
      authorized() {
        return this.$store.state.auth.data.authorized
      },
      bodyClassName() {
        let classNames = 'second_page';
        if ([
          'votes',
          'proposals',
          'new-style-operator-proposals',
          'new-style-operator-polls',
          'new-style-operator-users',
        ].includes(this.$route.name)) {
          classNames += ' bg';
        }
        return classNames;
      },
      role() {
        return this.$store.state.users.role;
      },
      homePages() {
        return this.$store.state.users.homePages;
      },
      pages() {
        return this.$store.state.users.pages;
      },
      macOS() {
        if (process.client) {
          return navigator.platform.match('Mac') !== null;
        }
        return null;
      }
    },
    head() {
      return {
        htmlAttrs: {
          class: 'new-style'
        },
        bodyAttrs: {
          class: this.bodyClassName
        },
        link: [
          { rel: 'apple-touch-icon', href: '/favicon/apple-touch-icon.png' },
          { rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon/favicon-32x32.png' },
          { rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon/favicon-16x16.png' },
        ]
      }
    }
  }
</script>
