<template>
  <div class="operator-header">
    <h1 class="operator-header__title">Кабинет оператора</h1>
    <ul v-if="role === 'admin'" class="nav nav-tabs">
      <li class="nav-item">
        <nuxt-link class="nav-link" :to="'/admin/proposals'">Назначение идей</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" :to="'/admin/operators'">Статистика операторов</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" :to="'/admin/users'">Управление пользователями</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    props: ['role'],
  }
</script>

<style lang="scss" scoped>
  .operator-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-weight: 300;
      font-size: 36px;
      font-family: 'Roboto Condensed', sans-serif;
      margin-bottom: 25px;
    }
    .nav-tabs {
      border-bottom: 1px solid #dee2e6;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .nav-item {
        margin-bottom: -1px;
      }

      .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        line-height: 1;
        &:hover,
        &:focus {
          border-color: #e9ecef #e9ecef #dee2e6;
        }
      }

      .nav-link.nuxt-link-active,
      .nav-item.show .nav-link {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
      }
    }
  }
  html.new-style {
    .operator-header {
      &__title {
        font-weight: 800;
        font-family: 'Moscow Sans',Arial,sans-serif;
      }
    }
  }
</style>
