<template>
  <div
    class="operator-map"
  >
    <div class="editor__loader" v-if="mapDataLoading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <map-box
      v-else
      :routeID="routeID"
      :viewMode="selectedId"
      :operator="true"
      class="operator-modal__map operator-map__map-box"
    />
    <EditorLegend
      v-if="!mapDataLoading"
      :routeID="routeID"
      :viewMode="selectedId"
      :operator="true"
      class="operator-map__map-box"
    />
  </div>
</template>

<script>
  import MapBox from '~/components/map/MapBox';
  import EditorLegend from '~/components/editor/EditorLegend';
  import {mapMutations} from 'vuex';

  export default {
    props: ['mapDataLoading', 'routeID', 'selectedId', 'routeMainType'],
    components: {
      MapBox,
      EditorLegend,
    },
    methods: {
      ...mapMutations({
        setCablewayEdit: 'editor/SET_CABLEWAY_EDIT'
      }),
      fullViewToggle() {
        if (this.routeMainType === 2) {
          this.setCablewayEdit(true)
        } else {
          this.setCablewayEdit(false)
        }
        this.$router.push({
          name: 'editor',
          params: {
            fromRoute: this.$route.name,
            selectedId: this.selectedId
          },
          query: {
            viewMode: this.selectedId,
            routeID: this.routeID
          },
        });
      }
    },
    mounted() {
      this.$bus.$on('fullViewToggle', this.fullViewToggle);
    },
    beforeDestroy() {
      this.$bus.$off('fullViewToggle', this.fullViewToggle);
    }
  }
</script>

<style lang="scss">
  .operator-map {
    &_full-view {
      position: fixed !important;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      width: 100vw !important;
      .operator-modal__map {
        height: 100%;
      }
    }
  }
</style>
