<template>
  <Editor />
</template>

<script>
  import Editor from '~/components/editor/Index.vue';
  export default {
    layout: 'editor',
    components: {
      Editor,
    },
    head() {
      return {
        htmlAttrs: {
          class: 'new-style layout-editor'
        },
        bodyAttrs: {
          class: this.bodyClassName
        },
        link: [
          { rel: 'apple-touch-icon', href: '/favicon/apple-touch-icon.png' },
          { rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon/favicon-32x32.png' },
          { rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon/favicon-16x16.png' },
        ]
      }
    }
  }
</script>
