<template>
  <div>
    <mapbox
      :access-token="token"
      :map-options="options"
      :nav-control="{
                show: false,
            }"
      @map-init="mapInitialized"
      @map-load="mapLoaded"
      @map-zoomend="mapZoomend"
      @map-movestart="mapMoveStart"
      class="map-box-map"
    ></mapbox>
  </div>
</template>

<script>
  import {editor} from "./layers/editor";
  import {viewMode} from "./layers/viewMode";
  import {ngpt} from "./layers/ngpt";
  import {jd} from './layers/jd';
  import {mcd} from './layers/mcd';
  import {metro} from './layers/metro';
  import {similarRoute} from './layers/similarRoute';
  import {telematics} from './layers/telematics';
  import {poi} from './layers/poi';
  import {editorHistory} from "./layers/editor";
  import {ngptOptions} from "./layers/editor";
  import editorData from "./layers/editor";
  import {search} from '~/components/map/layers/search';
  import MapPopup from '~/components/map/MapPopup';
  import MapControls from '~/components/map/MapControls';
  import Vue from 'vue';
  import {mapMutations} from 'vuex';

  const MapPopupClass = Vue.extend(MapPopup);
  const MapControlsClass = Vue.extend(MapControls);

  export default {
    props: ['routeID', 'viewMode', 'operator', 'proposalModal'],
    mixins: [
      editor,
      viewMode,
      ngpt,
      metro,
      jd,
      mcd,
      similarRoute,
      telematics,
      poi,
      search
    ],
    data() {
      return {
        token: 'pk.eyJ1IjoiZHVib3ZpY2tpeSIsImEiOiJjamlnbGxqajIwenFmM3BwbnNuNmdkMWk3In0.7KB_sTa_Wok4HAQlOGi8bw',
        ngptOptions,
        editorData,
        editorHistory,
        borderAndHalo: {
          border: true,
          borderSize: 1.3,
          borderGradient: this.getGradient('#aaaaaa'),
          halo: true,
          haloSize: 1.3,
          haloColor: "#fff"
        }
      }
    },
    computed: {
      options() {
        const mapStyle = require('../../static/style.json');
        return {
          style: mapStyle,
          center: [37.6155600, 55.7522200],
          bearing: 0,
          zoom: 13,
          preserveDrawingBuffer: true,
        }
      },

    },
    methods: {
      ...mapMutations({
        clearTelematics: 'telematics/CLEAR_TELEMATICS_STORE'
      }),
      createSuggestedStopMarker(coords) {
        this.map.addLayer({
          "minzoom": 15.25,
          "id": "suggestedStopMarker",
          "type": "symbol",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": [{
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": coords
                }
              }]
            }
          },
          "layout": {
            "icon-image": "suggestedStopMarker",
            'icon-size': 0.4,
            'icon-offset': [0, -30],
            "icon-allow-overlap": true,
            "text-allow-overlap": true,
          }
          // "paint": {
          //   "circle-radius": 9,
          //   "circle-color": 'transparent',
          //   // "circle-opacity": .2
          //   'circle-stroke-width': 3,
          //   'circle-stroke-color': "orange"
          // }
        });
      },
      removeSuggestedStopMarker() {
        if (this.map.getLayer('suggestedStopMarker')) {
          this.map.removeLayer('suggestedStopMarker');
          this.map.removeSource('suggestedStopMarker');
        }
      },
      zoomIn() {
        this.map.zoomIn();
      },
      zoomOut() {
        this.map.zoomOut();
      },
      mapZoomend() {
        // console.log(this.map.getZoom());
      },
      mapInitialized(map) {
        map.addControl(new MapboxLanguage({
          defaultLanguage: 'ru'
        }));
      },
      mapLoaded(map) {
        const MapControlsComponent = new MapControlsClass({
          propsData: {
            operator: this.operator,
            routeID: this.routeID,
          },
        }).$mount();
        document.querySelector('.mapboxgl-ctrl-top-left').appendChild(MapControlsComponent.$el);
        this.map = map;
        this.map.getCanvas().style.cursor = 'default';
        this.map.getStyle().layers.forEach(layer => {
          if (layer.type === 'symbol' && layer.layout['text-field'] && layer.id !== 'housenum-label') {
            this.map.setLayoutProperty(layer.id, 'text-field', [
              'case',
              ['has', 'name_ru'],
              ['get', 'name_ru'],
              ['get', 'name']
            ]);
          }
        });

        [100, 110, 200, 240, 250, 300, 390, 400, 410].forEach(item => {
          this.map.addLayer({
            id: `z-index-${item}`,
            type: 'symbol',
            source: {
              type: "geojson",
              data: {
                type: 'FeatureCollection',
                'features': [],
              }
            },
          })
        });

        this.loadNgptIcons();
        this.loadJdIcon();
        this.loadMcdIcons();
        this.initTelematics();
        this.editorInit();
        this.addPOI();
        this.addSearchIcon();

        const suggestedStopMarker = `<svg id="Layer_1" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
          <path d="m103.81 46.31a49.145 49.145 0 0 1 -3.03 15.25c-6.46 19-22.17 43.32-36.78 59.94-14.61-16.62-30.32-40.94-36.78-59.94a49.145 49.145 0 0 1 -3.03-15.25 39.81 39.81 0 0 1 79.62 0z" fill="orange"/>
          <circle cx="64" cy="46.308" fill="#f2f2f2" r="19.904"/>
        </svg>`;
        const img = new Image(64, 64);
        img.onload = () => {
          this.map.addImage('suggestedStopMarker', img)
        };
        img.src = `data:image/svg+xml;base64,${window.btoa(suggestedStopMarker)}`;


        this.map.on('click', this.hideSearchResult);
      },
      genGradientTag(gradient, id = 'gradient') {
        let outerHTML = `<${gradient.name} id="${id}">`;
        gradient.stops.forEach(obj => {
          let stopHTML = '\n  <stop';
          for (const attr in obj) {
            stopHTML += ` ${attr}="${obj[attr]}"`;
          }
          stopHTML += ' />';
          outerHTML += stopHTML;
        });
        outerHTML += `\n</${gradient.name}>`;
        return outerHTML;
      },
      addNgptIcon(params) {
        return new Promise((resolve) => {
          const defaults = {
            color: 'gray',
            circleGradient: null,
            name: 'ngpt-gray',
            wh: 85,
            border: false,
            borderColor: 'transparent',
            borderGradient: null,
            borderSize: 0,
            halo: false,
            haloColor: 'transparent',
            haloGradient: null,
            haloSize: 0,
            text: null,
            textSize: 12,
          };
          // circleGradient, haloGradient, or borderGradient should be objects like this:
          // {
          //   name: 'radialGradient', // exact DOM tag
          //   stops: [ // array of objects which keys are attributes, and values are attribute values
          //     { 'offset': '0%', 'stop-color': 'red'},
          //     { 'offset': '100%', 'stop-color': 'blue'},
          //     ...
          //   ]
          // }
          const setting = {...defaults, ...params};
          let circleColor = '';
          let addIcon = false;
          if (setting.color.includes('-icon')) {
            addIcon = true;
            circleColor = setting.color.replace(/\-icon/g, '')
          } else {
            circleColor = setting.color
          }
          const imgIcon = `
          <svg fill="white" viewBox="0 0 125 125" x="20" y="20">
            <path id="path8043" d="M4,0C2.6364,0,1,0.7433,1,2.7461v5.4531V12c0,0,0,1,1,1v1c0,0,0,1,1,1s1-1,1-1v-1h7v1c0,0,0,1,1,1s1-1,1-1v-1&#xA;&#x9;c0,0,1,0,1-1V2.7461C14,0.7006,12.764,0,11.4004,0H4z M4.25,1.5h6.5C10.8885,1.5,11,1.6115,11,1.75S10.8885,2,10.75,2h-6.5&#xA;&#x9;C4.1115,2,4,1.8885,4,1.75S4.1115,1.5,4.25,1.5z M3,3h9c1,0,1,0.9668,1,0.9668V7c0,0,0,1-1,1H3C2,8,2,7,2,7V4C2,4,2,3,3,3z M3,10&#xA;&#x9;c0.5523,0,1,0.4477,1,1s-0.4477,1-1,1s-1-0.4477-1-1S2.4477,10,3,10z M12,10c0.5523,0,1,0.4477,1,1s-0.4477,1-1,1s-1-0.4477-1-1&#xA;&#x9;S11.4477,10,12,10z"/>
          </svg>`;
          const borderCircle =
            `<g fill="${setting.borderGradient === null ? setting.borderColor : `url(#borderGradient)`}" fill-rule="nonzero">
            <circle cx="50" cy="50" r="50"></circle>
          </g>`;
          const haloCircle =
            `<g fill="${setting.haloGradient === null ? setting.haloColor : `url(#haloGradient)`}" fill-rule="nonzero">
            <circle cx="50" cy="50" r="${(10 - setting.borderSize) * 5}"></circle>
          </g>`;
          const imgData = `
            <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  ${setting.borderGradient === null ? '' : this.genGradientTag(setting.borderGradient, 'borderGradient')}
                  ${setting.haloGradient === null ? '' : this.genGradientTag(setting.haloGradient, 'haloGradient')}
                  ${setting.circleGradient === null ? '' : this.genGradientTag(setting.circleGradient, 'circleGradient')}
                </defs>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  ${setting.border ? borderCircle : ''}
                  ${setting.halo ? haloCircle : ''}
                  <g fill="${setting.circleGradient === null ? circleColor : `url(#circleGradient)`}" fill-rule="nonzero">
                    <circle cx="50" cy="50" r="${(10 - setting.haloSize - setting.borderSize) * 5}"></circle>
                    ${setting.text ? `<text opacity="0.6" dy=".35em" x="50%" y="50%" text-anchor="middle" font-family="Open Sans, sans-serif" font-size="${setting.textSize * 5}" font-weight="400" fill="#FFFFFF">${setting.text}</text>` : ''}
                  </g>
                  ${addIcon ? imgIcon : ''}
                </g>
            </svg>
          `;
          const img = new Image(setting.wh, setting.wh);
          img.onload = () => {
            if (this.map) {
              this.map[this.map.hasImage(setting.name) ? 'updateImage' : 'addImage'](setting.name, img);
              resolve();
            }
          };
          img.src = `data:image/svg+xml;base64,${window.btoa(imgData)}`;
        })
      },
      getGradient(color) {
        return {
          name: 'radialGradient',
          stops: [
            {'offset': '90%', 'stop-color': color},
            {'offset': '100%', 'stop-color': 'transparent'}
          ]
        }
      },
      loadNgptIcons() {
        this.addNgptIcon({color: 'gray', name: 'local-ngpt-gray', wh: 85});
        this.addNgptIcon({color: '#72b8eb-icon', name: 'local-ngpt-gray-icon', wh: 45});
        this.addNgptIcon({
          circleGradient: this.getGradient('coral'),
          name: 'local-ngpt-coral',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#09ba92'),
          name: 'local-ngpt-green',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#09ba92'),
          name: 'local-ngpt-green-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#ff0000'),
          name: 'local-ngpt-red',
          wh: 65, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#ff0000'),
          name: 'local-ngpt-red-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#b55d10'),
          name: 'local-ngpt-new',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#b55d10'),
          name: 'local-ngpt-new-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#163354'),
          name: 'local-bus_edge',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#163354'),
          name: 'bus_edge_mini',
          wh: 65, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#0080ff'),
          name: 'local-ngpt-mainRoute-icon',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#008000'),
          name: 'local-ngpt-backRoute-icon',
          wh: 85, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#0080ff'),
          name: 'ngpt-mainRoute-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#008000'),
          name: 'ngpt-backRoute-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#ffffff'),
          name: 'ngpt-mini',
          wh: 30, ...this.borderAndHalo,
          haloColor: '#5babe6'
        });
      },
      fitMap(center, zoom) {
        this.map.flyTo({
          center,
          zoom,
        })
      },
      fitBounds(obj) {
        const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
        let coordinates = obj.coordinates ? obj.coordinates : obj.geometry.coordinates.reduce((acc, curr) => [...acc, ...curr]);
        if (obj.geometry && obj.geometry.type === 'MultiPolygon') {
          coordinates = coordinates.reduce((acc, curr) => [...acc, ...curr]);
        }
        const bounds = coordinates.reduce((bounds, coord) => bounds.extend(coord), new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
        this.map.fitBounds(bounds, {
          padding: {top: 30, bottom: 30, left: 30, right: 30},
        });
      },
      showMapPopup(data) {
        const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
        this.hideInfoModal();
        const MapPopupComponent = new MapPopupClass({
          propsData: {
            data,
            routeID: this.routeID,
          }
        }).$mount();
        document.querySelector('body').appendChild(MapPopupComponent.$el);
        this.$nuxt.$nextTick(() =>{
          this.infoModal = new mapboxgl.Popup(data.popup)
            .setLngLat(data.lngLat || {
              lng: data.item.geometry.coordinates[0],
              lat: data.item.geometry.coordinates[1],
            })
            .setHTML(`<div class="temp-box" style="width:${MapPopupComponent.$el.offsetWidth + 20}px;height:${MapPopupComponent.$el.offsetHeight + 20}px;"></div>`)
            .addTo(this.map);
          if (data.containerClassNames) {
            data.containerClassNames.forEach(className => {
              this.infoModal._container.classList.add(className);
            })
          }
          this.infoModal._container.classList.add('map-popup-container');
          this.infoModal._container.classList.add('map-stops-info-popup-' + data.item.properties.id);
          this.infoModal._content.insertBefore(MapPopupComponent.$el, this.infoModal._content.firstChild);
          if (data.item.layer.newUserStop) {
            this.infoModal.on('close', () => {
              this.infoModal = false;
              if (this.editorData.newUserStop) {
                this.editorData.newUserStop = null;
                this.$bus.$emit('addEditorStops', {
                  skipSaveHistory: true
                });
              }
              setTimeout(() => {
                if (!this.editorData.newUserStop && typeof editorData.focusedStop !== 'number') {
                  this.editorData.stopsList[this.editorData.activeRoute].stops = this.editorData.stopsList[this.editorData.activeRoute].stops.filter(s => s && s.type);
                }
              });
            });
          } else {
            this.infoModal.on('close', () => {
              if (!this.editorData.focusedStop) {
                this.editorData.stopsList[this.editorData.activeRoute].stops = this.editorData.stopsList[this.editorData.activeRoute].stops.filter(s => s && s.type);
              }
              if (this.infoModal && !this.infoModal._map) {
                this.infoModal = false;
              }
            });
          }
        });
      },
      hideInfoModal() {
        if (this.infoModal) {
          this.infoModal._onClickClose();
        }
      },
      showMapHoverPopup(data) {
        if (document.querySelector('.map-stops-info-popup-' + data.item.properties.id)) return
        this.hideInfoHoverModal();
        const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
        const MapPopupComponent = new MapPopupClass({
          propsData: {data}
        }).$mount();
        document.querySelector('body').appendChild(MapPopupComponent.$el);
        this.$nuxt.$nextTick(() =>{
          this.infoHoverModal = new mapboxgl.Popup(data.popup)
            .setLngLat(data.lngLat || {
              lng: data.item.geometry.coordinates[0],
              lat: data.item.geometry.coordinates[1],
            })
            .setHTML(`<div class="temp-box" style="width:${MapPopupComponent.$el.offsetWidth + 20}px;height:${MapPopupComponent.$el.offsetHeight + 20}px;"></div>`)
            .addTo(this.map);
          if (data.containerClassNames) {
            data.containerClassNames.forEach(className => {
              this.infoHoverModal._container.classList.add(className);
            })
          }
          this.infoHoverModal._container.classList.add('map-popup-container');
          this.infoHoverModal._container.classList.add('map-stops-hover-popup-' + data.item.properties.id);
          this.infoHoverModal._content.insertBefore(MapPopupComponent.$el, this.infoHoverModal._content.firstChild);
          this.infoHoverModal.on('close', () => {
            this.infoHoverModal = false;
          });
        });
      },
      hideInfoHoverModal() {
        if (this.infoHoverModal) {
          this.infoHoverModal._onClickClose();
        }
      },
      show3DBuildings() {
        if (!this.editorData.buildings3D) {
          const layers = this.map.getStyle().layers;

          let labelLayerId;
          for (let i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
              labelLayerId = layers[i].id;
              break;
            }
          }

          this.map.addLayer({
              'id': '3d-buildings',
              'source': 'composite',
              'source-layer': 'building',
              'filter': ['==', 'extrude', 'true'],
              'type': 'fill-extrusion',
              'minzoom': 15,
              'paint': {
                'fill-extrusion-color': '#aaa',

                // use an 'interpolate' expression to add a smooth transition effect to the
                // buildings as the user zooms in
                'fill-extrusion-height': [
                  "interpolate", ["linear"], ["zoom"],
                  15, 0,
                  15.05, ["get", "height"]
                ],
                'fill-extrusion-base': [
                  "interpolate", ["linear"], ["zoom"],
                  15, 0,
                  15.05, ["get", "min_height"]
                ],
                'fill-extrusion-opacity': .6
              }
            }
            , labelLayerId);
          this.editorData.buildings3D = true;
        }
      },
      hide3DBuildings() {
        if (this.editorData.buildings3D) {
          if (this.map.getLayer('3d-buildings')) {
            this.map.removeLayer('3d-buildings');
          }
          this.editorData.buildings3D = false;
          this.map.flyTo({
            pitch: 0,
            bearing: 0,
            speed: 0.01,
            curve: 1,
            easing: function (t) {
              return t;
            }
          })
        }
      },
      mapMoveStart() {
        this.hideInfoModal();
        this.hideInfoHoverModal();
      },
      openFullscreen(elem) {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          elem.msRequestFullscreen();
        }
      },
      closeFullscreen() {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      },
      resizeMap() {
        if (this.map) {
          this.map.resize();
        }
      }
    },
    mounted() {
      this.$bus.$on('fitBounds', this.fitBounds);
      this.$bus.$on('showMapPopup', this.showMapPopup);
      this.$bus.$on('hideInfoModal', this.hideInfoModal);
      this.$bus.$on('showMapHoverPopup', this.showMapHoverPopup);
      this.$bus.$on('hideInfoHoverModal', this.hideInfoHoverModal);
      this.$bus.$on('addEditorLayer', this.addEditorLayer);
      this.$bus.$on('addEditorStops', this.addEditorStops);
      this.$bus.$on('addEditorLines', this.addEditorLines);
      this.$bus.$on('fitMap', this.fitMap);
      this.$bus.$on('centerRoute', this.centerRoute);
      this.$bus.$on('addSimilarRoute', this.addSimilarRoute);
      this.$bus.$on('delSimilarRoute', this.delSimilarRoute);
      this.$bus.$on('show3DBuildings', this.show3DBuildings);
      this.$bus.$on('hide3DBuildings', this.hide3DBuildings);
      this.$bus.$on('addTelematics', this.addTelematics);
      this.$bus.$on('delTelematics', this.delTelematics);
      this.$bus.$on('zoomIn', this.zoomIn);
      this.$bus.$on('zoomOut', this.zoomOut);
      this.$bus.$on('showSearchResult', this.showSearchResult);
      this.$bus.$on('hideSearchResult', this.hideSearchResult);
      this.$bus.$on('resizeMap', this.resizeMap);
      this.$bus.$on('createSuggestedStopMarker', this.createSuggestedStopMarker);
      this.$bus.$on('removeSuggestedStopMarker', this.removeSuggestedStopMarker);
      this.$bus.$on('clearTelematics', this.clearTelematics);
    },
    beforeDestroy() {
      this.$bus.$off('fitBounds', this.fitBounds);
      this.$bus.$off('showMapPopup', this.showMapPopup);
      this.$bus.$off('hideInfoModal', this.hideInfoModal);
      this.$bus.$off('showMapHoverPopup', this.showMapHoverPopup);
      this.$bus.$off('hideInfoHoverModal', this.hideInfoHoverModal);
      this.$bus.$off('addEditorLayer', this.addEditorLayer);
      this.$bus.$off('addEditorStops', this.addEditorStops);
      this.$bus.$off('addEditorLines', this.addEditorLines);
      this.$bus.$off('fitMap', this.fitMap);
      this.$bus.$off('centerRoute', this.centerRoute);
      this.$bus.$off('addSimilarRoute', this.addSimilarRoute);
      this.$bus.$off('delSimilarRoute', this.delSimilarRoute);
      this.$bus.$off('show3DBuildings', this.show3DBuildings);
      this.$bus.$off('hide3DBuildings', this.hide3DBuildings);
      this.$bus.$off('addTelematics', this.addTelematics);
      this.$bus.$off('delTelematics', this.delTelematics);
      this.$bus.$off('zoomIn', this.zoomIn);
      this.$bus.$off('zoomOut', this.zoomOut);
      this.$bus.$off('showSearchResult', this.showSearchResult);
      this.$bus.$off('hideSearchResult', this.hideSearchResult);
      this.$bus.$off('resizeMap', this.resizeMap);
      this.$bus.$off('createSuggestedStopMarker', this.createSuggestedStopMarker);
      this.$bus.$off('removeSuggestedStopMarker', this.removeSuggestedStopMarker);
      this.$bus.$off('clearTelematics', this.clearTelematics);
      this.hide3DBuildings();
    }
  }
</script>

<style>
  .map-box-map {
    height: 100%;
  }
</style>
