<template>
  <div>
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <Search />
      <button @click="$bus.$emit('zoomIn')" class="mapboxgl-ctrl-icon" v-tooltip="'Увеличить масштаб'">
        <span class="m_plus"><span class="icon-Frame-183"></span></span>
      </button>
      <button @click="$bus.$emit('zoomOut')" class="mapboxgl-ctrl-icon" v-tooltip="'Уменьшить масштаб'">
        <span class="m_minus"><span class="icon-Frame"></span></span>
      </button>
    </div>
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button
        v-if="!(editorData.viewMode || operator)"
        class="mapboxgl-ctrl-icon"
        @click="addStop"
        v-tooltip="'Добавить остановку'"
      >
        <AddStopIcon class="map-controls__icon map-controls__icon_add-stop" />
      </button>
      <button
        v-if="!editorData.viewMode && editorHistory.state.length > 1 && editorHistory.ind > 0 && !operator"
        @click="loadFromHistory(editorHistory.ind - 1)"
        class="mapboxgl-ctrl-icon"
        v-tooltip="'Назад'"
      >
        <HistoryActionIcon class="map-controls__icon map-controls__icon_history-back"/>
      </button>
      <button
        class="mapboxgl-ctrl-icon"
        v-tooltip="'Вперед'"
        v-if="!editorData.viewMode && editorHistory.ind < editorHistory.state.length - 1 && !operator"
        @click="loadFromHistory(editorHistory.ind + 1)"
      >
        <HistoryActionIcon class="map-controls__icon map-controls__icon_history-forward"/>
      </button>
      <button @click="centerRoute" class="mapboxgl-ctrl-icon" v-tooltip="'Центрировать маршрут'">
        <CenterRouteIcon class="map-controls__icon map-controls__icon_center"/>
      </button>
      <button
        class="mapboxgl-ctrl-icon"
        v-tooltip="'Сброс до начального состояния'"
        v-if="!editorData.viewMode && editorHistory.state.length > 1 && editorHistory.ind > 0 && !operator"
        @click="loadFromHistory(0, true)"
      >
        <RouteResetIcon class="map-controls__icon map-controls__icon_reset"/>
      </button>
      <button
        @click="toggle3D"
        class="mapboxgl-ctrl-icon"
        :class="{'mapboxgl-ctrl-icon_active': editorData.buildings3D}"
        v-tooltip="'Отображать здания в 3D'"
      >
        <BuildingIcon class="map-controls__icon map-controls__icon_center"/>
      </button>
    </div>
    <div class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button
        v-if="showTS"
        :disabled="telematicsLoading || !telematicsAvailable"
        class="mapboxgl-ctrl-icon"
        :class="{
          'map-controls__icon_telematics-enabled': telematicsEnabled
        }"
        @click="toggleTelematics"
        v-tooltip="'Весь движущийся транспорт'"
      >
        <BusIcon class="map-controls__icon map-controls__icon_telematics"/>
      </button>
      <button
        v-if="showTS"
        :disabled="editorData.currentTS.status === 'loading' || !telematicsAvailable"
        v-tooltip="'Транспорт на текущем маршруте'"
        class="mapboxgl-ctrl-icon mapboxgl-ctrl-icon_withBadge"
        :class="{
          'map-controls__icon_telematics-enabled': currentTelematicsEnabled
        }"
        @click="toggleCurrentTelematics"
      >
        <BusIcon class="map-controls__icon map-controls__icon_telematics"/>
        <div
          class="mapboxgl-ctrl-icon-badge"
          :class="{
            'mapboxgl-ctrl-icon-badge_loading': editorData.currentTS.status === 'loading'
          }"
        >
          <span v-if="editorData.currentTS.status === 'halted'">
            0
          </span>
          <span v-if="editorData.currentTS.status === 'error'">
            !
          </span>
          <span v-if="editorData.currentTS.status === 'ready'">
            {{ editorData.currentTS.count }}
          </span>
        </div>
    </button>
    </div>
    <div v-if="operator" class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button
        @click="$bus.$emit('fullViewToggle')"
        v-tooltip="'Расширенное описание идеи'"
      >
        <FullViewIcon class="map-controls__icon map-controls__icon_fullview"/>
      </button>
    </div>
    <div v-if="(editorData.viewMode || operator) && routeID" class="map-controls mapboxgl-ctrl mapboxgl-ctrl-group">
      <button
        @click="routeTraceToggle"
        class="mapboxgl-ctrl-icon mapboxgl-ctrl-icon_route-trace"
        :class="{'mapboxgl-ctrl-icon_active': editorData.showOriginalMasterCopy}"
        v-tooltip="`${editorData.showOriginalMasterCopy ? 'Скрыть' : 'Показать'} исходную трассировку маршрута`"
      >
        <RouteIcon class="map-controls__icon map-controls__icon_route"/>
      </button>
    </div>
  </div>
</template>

<script>
  import CenterRouteIcon from '~/components/svg/CenterRouteIcon';
  import BuildingIcon from '~/components/svg/BuildingIcon';
  import RouteResetIcon from '~/components/svg/RouteResetIcon';
  import HistoryActionIcon from '~/components/svg/HistoryActionIcon';
  import BusIcon from '~/components/svg/BusIcon';
  import editorData from '~/components/map/layers/editor';
  import {editorHistory} from "~/components/map/layers/editor";
  import FullViewIcon from '~/components/svg/FullViewIcon';
  import RouteIcon from '~/components/svg/RouteIcon';
  import Search from '~/components/Search';
  import AddStopIcon from '~/components/svg/AddStopIcon';

  export default {
    props: ['operator', 'routeID'],
    components: {
      CenterRouteIcon,
      RouteResetIcon,
      HistoryActionIcon,
      BuildingIcon,
      BusIcon,
      FullViewIcon,
      RouteIcon,
      Search,
      AddStopIcon,
    },
    data() {
      return {
        editorHistory,
        editorData,
        telematicsEnabled: false,
        currentTelematicsEnabled: false,
        showTS: false,
      }
    },
    created() {
      this.editorData.currentTS.routesByStopID = {};
      this.editorData.currentTS.routes = {};
      this.editorData.currentTS.features = {};
      this.editorData.currentTS.status = "halted";
      this.editorData.currentTS.count = 0;
      this.editorData.currentTS.show = false;
      this.$bus.$emit('clearTelematics');
      if (this.$nuxt.$route.query.viewMode) {
        if (this.$nuxt.$store.state.proposals.proposal.routeMainType !== 2) {
          this.showTS = true;
        }
      }
      else if (!this.$nuxt.$store.state.editor.cablewayEdit) {
        this.showTS = true;
      }
    },
    methods: {
      centerRoute() {
        this.$bus.$emit('centerRoute');
      },
      loadFromHistory(ind, reset) {
        this.editorData.stopsList = JSON.parse(JSON.stringify(this.editorHistory.state[ind].editorData.stopsList));
        this.editorData.routesList = JSON.parse(JSON.stringify(this.editorHistory.state[ind].editorData.routesList));
        this.editorData.userStopsById = JSON.parse(JSON.stringify(this.editorHistory.state[ind].editorData.userStopsById));
        this.editorData.description.weekDays = JSON.parse(JSON.stringify(this.editorHistory.state[ind].editorData.description.weekDays));
        this.editorData.description.dayTime = JSON.parse(JSON.stringify(this.editorHistory.state[ind].editorData.description.dayTime));
        this.editorHistory.ind = ind;
        if (reset) {
          this.editorHistory.state = JSON.parse((JSON.stringify(this.editorHistory.state.slice(0, 1))))
        }
        this.$bus.$emit('addEditorStops', {
          fromHistory: true,
          ind
        });
        if (!this.editorData.viewMode && !this.editorData.stopsList[this.editorData.activeRoute].stops.length) {
          this.editorData.focusedStop = 0;
        }
      },
      toggle3D() {
        if (this.editorData.buildings3D) {
          this.$bus.$emit('hide3DBuildings')
        } else {
          this.$bus.$emit('show3DBuildings')
        }
      },
      toggleTelematics() {
        this.telematicsEnabled = !this.telematicsEnabled;
        if (this.telematicsEnabled) {
          if (this.currentTelematicsEnabled) {
            this.toggleCurrentTelematics();
          }
          this.autoUpdateTelematics = setInterval(this.addTelematics, 5 * 60 * 1000);
          this.addTelematics();
        } else {
          clearInterval(this.autoUpdateTelematics);
          this.$bus.$emit('delTelematics');
        }
      },
      addTelematics() {
        if (this.telematicsAvailable) {
          this.$bus.$emit('addTelematics', {clusterMaxZoom: 18});
        }
      },
      toggleCurrentTelematics() {
        this.currentTelematicsEnabled = !this.currentTelematicsEnabled;
        this.editorData.currentTS.show = this.currentTelematicsEnabled;
        if (this.currentTelematicsEnabled) {
          if (this.telematicsEnabled) {
            this.toggleTelematics();
          }
          this.$bus.$emit('addTelematics', {layerName: 'current-telematics', features: [...this.editorData.currentTS.featuresToDraw], minzoom: 12, clusterMaxZoom: 18});
        }
        else {
          this.$bus.$emit('delTelematics', {layerName: 'current-telematics'});
        }
      },
      routeTraceToggle() {
        this.editorData.showOriginalMasterCopy = !this.editorData.showOriginalMasterCopy;
        this.$bus.$emit('addEditorStops', {onlyLines: true, skipSaveHistory: true});
      },
      addStop() {
        setTimeout(() => {
          this.editorData.stopsList[this.editorData.activeRoute].stops = this.editorData.stopsList[this.editorData.activeRoute].stops.filter(s => s);
          this.editorData.stopsList[this.editorData.activeRoute].stops.push(undefined);
          this.editorData.focusedStop = this.editorData.stopsList[this.editorData.activeRoute].stops.length - 1;
        })
      }
    },
    computed: {
      telematicsLoading() {
        return $nuxt.$store.state.telematics.loading;
      },
      telematicsAvailable() {
        return $nuxt.$store.state.telematics.available;
      },
    }
  }
</script>
