<template>
  <div class="map-popup">
    <div class="map-popup__body">
    <span
      class="map-popup__draggable"
      ref="mapPopup"
      @dragstart="dragStart"
      @dragend="dragEnd"
      @drag="drag"
      draggable
    ></span>
      <editor-popup
        :data="data"
        v-if="data.layer === 'editor'"
      />
      <stops-popup
        :data="data"
        :routeID="routeID"
        v-if="data.popup === 'stops'"
      />
    </div>
  </div>
</template>

<script>
  import EditorPopup from '~/components/map/popups/editorPopup';
  import StopsPopup from '~/components/map/popups/stopsPopup';

  export default {
    props: ['data', 'routeID'],
    data() {
      return {
        params: null
      }
    },
    components: {
      EditorPopup,
      StopsPopup,
    },
    methods: {
      dragStart(e) {
        e.dataTransfer.setData('text', '');
        this.container = this.$refs.mapPopup.closest('.mapboxgl-popup');
        const {
          clientX,
          clientY,
        } = e;
        this.params = {
          clientX,
          clientY,
        };
      },
      dragEnd() {
        this.container.style.left = 0;
        this.container.style.top = 0;
      },
      drag(e) {
        const {
          clientX,
          clientY,
        } = e;
        this.container.style.left = clientX - this.params.clientX + 'px';
        this.container.style.top = clientY - this.params.clientY + 'px';
      }
    },
    mounted() {
      // console.info(this.data)
    }
  }
</script>

<style lang="scss">
  .map-popup {
    position: absolute;
    opacity: 1;
    display: flex;
    background-color: #fff;
    font: 12px/20px 'Moscow Sans', sans-serif;

    & + div {
      // display: none;
    }

    &__draggable {
      height: 40px;
      width: 100%;
      cursor: move;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .map-popup-container {
    .temp-box {
      display: none;
    }
  }
</style>
