<template>
  <div class="main-container">
    <Header />
    <div class="main-page-block">
      <div class="main-page-description">
        <img src="../assets/menu/main-page-image.png" class="main-page-description-img" />
        <div class="main-page-description-text">
          <h1 class="main-page-description-header">Голосуй за маршруты, предлагай свои идеи</h1>
          <!--          <span class="main-page-description-content">Отлаженный процесс на портале позволяет без ненужных бумаг и «походов»-->
          <!--            в органы исполнительной власти всего за несколько часов получить ответ с подтверждением устранения проблемы-->
          <!--            или конкретным сроком ее устранения с момента сообщения от пользователя-->
          <!--          </span>-->
          <!--          <ul class="main-page-description-content">-->
          <!--            <li>Проголосовать за маршрут</li>-->
          <!--            <li>Предложить новую идею</li>-->
          <!--          </ul>-->
          <!--          <span class="main-page-description-content">Вовлекая жителей в прозрачный и понятный процесс совместного управления городом на ключевых организационных стадиях –-->
          <!--            подача идей, принятие решений и контроль за исполнением, Правительство Москвы реализует-->
          <!--            беспрецедентный кейс полноправного эффективного партнерства власти и населения.-->
          <!--          </span>-->
          <span class="main-page-description-content">Скоро в нескольких округах Москвы мы планируем запустить 14 новых автобусных маршрутов.
            По нашей задумке, в Северо-Восточном, Южном, Юго-Западном, Западном и в Троицком и Новомосковском административных округах столицы появятся один магистральный,
            6 районных и 7 социальных маршрутов, которые облегчат передвижение в городе для более чем 1,6 миллионов москвичей.
          </span>
          <span class="main-page-description-content">Прежде, чем воплощать проекты в жизнь, нам важно знать твое мнение.
          </span>
          <span class="main-page-description-content">Жми на кнопку <b>«Голосовать»</b>, выбери нужный район, ознакомься с информацией о маршрутах и проголосуй за или против.
            Хочется изменить место остановки или добавить новую - это можно сделать на интерактивной карте в карточке выбранного маршрута.
          </span>
          <nuxt-link v-ripple class="v-btn v-btn_votes v-btn--depressed theme--dark" :to="'/votes'">Голосовать</nuxt-link>
          <nuxt-link v-ripple class="v-btn v-btn_proposals v-btn--depressed theme--dark" :to="'/proposals'">Предложить идею</nuxt-link>
        </div>
      </div>
      <div class="main-page-statistics">
        <div class="main-page-statistics-wrapper">
          <div v-if="!isNaN(info.activePollsNum)" class="main-page-statistics-block">
            <span class="main-page-statistics-value">
              {{ info.activePollsNum }}
            </span>
            {{plural(info.activePollsNum, 'активное голосование', 'активных голосования', 'активных голосований')}}
          </div>
          <div v-if="!isNaN(info.proposalsNum)" class="main-page-statistics-block">
            <span class="main-page-statistics-value">
              {{ info.proposalsNum }}
            </span>
            {{plural(info.proposalsNum, 'идея', 'идеи', 'идей')}} жителей
          </div>
          <div v-if="!isNaN(info.usersVoted)" class="main-page-statistics-block">
            <span class="main-page-statistics-value">
              {{info.usersVoted}}
            </span>
            {{plural(info.usersVoted, 'отданный голос', 'отданных голоса', 'отданных голосов')}}
          </div>
          <div v-if="!isNaN(info.usersNum)" class="main-page-statistics-block">
            <span class="main-page-statistics-value">
              {{info.usersNum}}
            </span>
            {{plural(info.usersNum, 'пользователь', 'пользователя', 'пользователей')}} Портала
          </div>
        </div>
      </div>
    </div>
    <div class="main-page-footer new-style-block">
      <Footer />
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import {plural} from '~/assets/js/auxiliary/utils.js'
  import Header from '~/components/Header'
  import Footer from '~/components/NewStyle/Footer'

  export default {
    components: {
      Header,
      Footer
    },
    computed: {
      info() {
        return this.$store.state.proposals.info
      },
      authorized() {
        return this.$store.state.auth.data.authorized
      }
    },
    methods: {
      ...mapActions({
        getInfo: 'proposals/getInfo',
        clearProposalStore: 'proposals/clearProposalStore'
      }),
      plural (num, one, two, five) {
      	return plural(num, one, two, five)
      }
    },
    mounted() {
      this.getInfo()
    },
    beforeDestroy() {
      this.clearProposalStore()
    }
  }
</script>

<style lang="scss">
  .main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-grow: 1;

    .main-page-description {
      max-width: 1440px;
      display: flex;
      align-items: center;
      padding: 63px 109px 0 86px;
      padding-bottom: 86px;

      .main-page-description-img {
        max-width: 582px;
        width: 50%;
        flex-shrink: 0;
      }

      .main-page-description-text {
        margin-left: 103px;
        color: #333333;

        .main-page-description-header {
          font-size: 54px;
          font-weight: 100;
          margin-bottom: 34px;
        }

        .main-page-description-content {
          font-size: 14px;
          font-weight: 300;
          line-height: 19px;
          display: block;
          margin-bottom: 22px;
          padding-left: 0;

          li {
            list-style: none;
            padding-left: 28px;
            position: relative;

            &:not(:last-child) {
              margin-bottom: 14px;
            }

            &::before {
              content: '';
              display: inline-block;
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: #0c64da;
              position: absolute;
              left: 0;
              top: 3px;
            }

            &:nth-child(2n)::before {
              content: '';
              display: inline-block;
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: #e44d0b;
            }
          }
        }

        .v-btn {
          width: 218px;
          height: 43px;
          border-radius: 22px;
          margin: 0;
          margin-right: 30px;
          margin-top: 44px;
          text-transform: unset;
          font-size: 16px;
          font-weight: 400;

          &:last-child {
            margin-right: 0;
          }

          .v-btn__content {
            font-size: 16px;
            font-weight: 400;

          }

          &_votes {
            background-color: #2f7ce6 !important;
          }

          &_proposals {
            background-color: #f07f2f !important;
          }
        }
      }
    }

    .main-page-statistics {
      width: 100vw;
      border-top: 1px solid #e0e0e0;
      display: flex;
      justify-content: space-between;

      .main-page-statistics-wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 35px 103px 40px;
      }

      .main-page-statistics-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333333;
        font-size: 14px;
        font-weight: 300;
        margin: 0 20px;

        .main-page-statistics-value {
          color: #2f7ce6;
          font-size: 54px;
          font-weight: 300;
          display: block;
          line-height: 60px;
        }

        &:nth-child(2n) {
          .main-page-statistics-value {
            color: #f07f2f;
          }
        }
      }
    }
  }
</style>

