<template>
  <div>
    <Loader v-if="loading" :loading="loading"/>
    <div v-else>
      <div class="vote-content">
        <div class="vote-content__row">
          <div class="vote-content__title">Начальная остановка</div>
          <div class="vote-content__desc">{{stopFrom}}</div>
        </div>
        <div class="vote-content__row">
          <div class="vote-content__title">Конечная остановка</div>
          <div class="vote-content__desc">{{stopTo}}</div>
        </div>
        <div v-if="routesByID.length" class="vote-content__row">
          <div class="vote-content__title">Проходит через округа</div>
          <div class="vote-content__desc">{{vote.divisionsStr ? vote.divisionsStr.join(', ') : '-'}}
          </div>
        </div>
        <div v-if="routesByID.length" class="vote-content__row">
          <div class="vote-content__title">Проходит через районы</div>
          <div class="vote-content__desc">{{vote.districtsStr ? vote.districtsStr.join(', ') : '-'}}
          </div>
        </div>
        <div v-if="routesByID.length" class="vote-content__row">
          <div class="vote-content__title">Станции метро рядом с маршрутом</div>
          <div class="vote-content__desc">{{vote.metroStationsStr ? vote.metroStationsStr.join(', ') : '-'}}</div>
        </div>
        <div v-if="vote.routeMainTypeName === 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Количество станций</div>
          <div class="vote-content__desc">{{stopsByID.length}}</div>
        </div>
        <div v-if="vote.routeMainTypeName === 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Количество пассажиров в кабинке</div>
          <div class="vote-content__desc">{{vote.cabinCapacity}} чел.</div>
        </div>
        <div v-if="vote.routeMainTypeName === 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Пропускная способность</div>
          <div class="vote-content__desc">{{splitBits(vote.bandwidth)}} чел./ч</div>
        </div>
        <div v-if="vote.routeMainTypeName === 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Время в пути</div>
          <div class="vote-content__desc">{{vote.travelTime}} мин.</div>
        </div>
        <div v-if="vote.routeMainTypeName === 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Интеграция метро/МЦК</div>
          <div class="vote-content__desc">{{vote.integration}}</div>
        </div>
        <div v-if="routesByID.length && vote.routeMainTypeName !== 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Интервал (час пик)</div>
          <div class="vote-content__desc">{{Math.round(routeParams.peakIntervalMinutes)}} мин.</div>
        </div>
        <div v-if="routesByID.length && vote.routeMainTypeName !== 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Интервал (межпик)</div>
          <div class="vote-content__desc">{{Math.round(routeParams.semipeakIntervalMinutes)}} мин.</div>
        </div>
        <div v-if="routesByID.length && vote.routeMainTypeName !== 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Тип маршрута</div>
          <div class="vote-content__desc">{{vote.routeMainTypeName}}</div>
        </div>
        <div class="vote-content__row">
          <div class="vote-content__title">Длина маршрута</div>
          <div class="vote-content__desc">{{(routeParams.summaryLength/1000).toFixed(2)}} км</div>
        </div>
        <div v-if="vote.routeMainTypeName !== 'Канатная дорога'" class="vote-content__row">
          <div class="vote-content__title">Количество жителей, для которых
            увеличится транспортное обслуживание
          </div>
          <div class="vote-content__desc">{{vote.citizensNum.toLocaleString('ru-RU')}}</div>
        </div>
        <div class="vote-content__row">
          <div class="vote-content__title">Обоснование необходимости маршрута</div>
          <div class="vote-content__desc">{{vote.reason}}</div>
        </div>
        <div class="vote-buttons">
          <button :disabled="vote.status !== 'Активно'" @click="onVote(true)"
                  class="vote-buttons__btn vote-buttons__btn_for">
            <HandIcon class="vote-buttons__btn-icon"/>
            <span class="vote-buttons__count">{{vote.voteFor}}</span>
            <span>За маршрут</span>
          </button>
          <button :disabled="vote.status !== 'Активно'" @click="onVote(false)"
                  class="vote-buttons__btn vote-buttons__btn_against">
            <HandIcon class="vote-buttons__btn-icon"/>
            <span class="vote-buttons__count">{{vote.voteAgainst}}</span>
            <span>Против маршрута</span>
          </button>
        </div>
        <div v-if="vote.status !== 'Активно'" class="vote-info">
          <span v-if="vote.isVoted && vote.status === 'Активно'">
            Вы уже проголосовали {{ vote.vote ? 'ЗА' : 'ПРОТИВ' }}
          </span>
          <span v-if="vote.status !== 'Активно'">
            Голосование завершено
          </span>
        </div>
      </div>
      <div
        class="vote-map"
        ref="voteMap"
      >
        <mapbox
          :class="{
              'fullscreen': false
            }"
          :map-options="options"
          :nav-control="{
                  show: false,
              }"
          class="map-box"
          accessToken="pk.eyJ1Ijoidm9yY2h1bjMyNSIsImEiOiJjam5icDczZjM1aWRkM3dvOGl6d2pyaDdkIn0.QDmcFSHpGRhfL1ZKB1p0Lw"
          @map-load="mapLoaded"
          @map-init="mapInitialized"
        />
      </div>
      <div class="vote-legend">
        <ul class="vote-legend__lines">
          <li
            v-for="(line, key) in legend.lines"
            :key="key"
            class="vote-legend__line"
          >
            <div class="vote-legend__item">
                      <span class="vote-legend__line-dir">
                        <Checkbox
                          v-model="$data[`dir${line.dir}visible`]"
                          @change="renderRoute(line.dir)"
                        >
                          <span class="vote-legend__line-color" :style="{backgroundColor: line.color}"></span>
                          <b>{{`${line.dir === 0 ? 'прямое' : 'обратное'} направление`}}</b>
                        </Checkbox>
                      </span>
            </div>
            <div v-if="line.stops.length" class="vote-legend__item">
              <b>От</b> {{line.stops[0].name}}
            </div>
            <div v-if="line.stops.length" class="vote-legend__item">
              <b>До</b> {{line.stops[line.stops.length - 1].name}}
            </div>
            <div class="vote-legend__item">
              <b>Время в пути</b> {{line.dir === 0 ? Math.round(vote.forwardTime) : Math.round(vote.backwardTime)}} мин
            </div>
            <div class="vote-legend__item">
              <b>Путь</b> {{line.dir === 0 ? Math.round((routeParams.forwardLength/1000).toFixed(2)) : Math.round((routeParams.backwardLength/1000).toFixed(2))}} км
            </div>
            <div v-if="line.stops.length" class="vote-legend__item">
              <b>остановки:</b> {{line.stops.length}} шт.
            </div>
          </li>
        </ul>
      </div>
      <v-dialog v-model="voteModalVisible" max-width="494px">
        <div
          class="modal"
          :class="{
                    'modal_vote-for': voteType,
                    'modal_vote-against': !voteType
                  }"
        >
          <div class="modal__header">
            <div class="modal__title">
              Голосовать
              <span v-if="voteType">за маршрут</span>
              <span v-else>против маршрута</span>
              {{vote.name}}
            </div>
            <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="voteModalVisible = false">
              <CloseIcon class="modal__close-icon"/>
            </button>
          </div>
          <div class="modal__body" v-if="!voteType">
            <div class="modal__row">
              <div class="modal__field">
                <label class="modal__label" for="description">Укажите причину голосования против</label>
                <textarea v-model="voteComment" class="modal__textarea" name="description" id="description"
                          cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="modal__footer modal__footer_votes">
            <button v-ripple class="modal__btn" @click="voteModalVisible = false">Отменить</button>
            <button
              v-ripple class="modal__btn modal__btn_color"
              @click="saveVote({
                        commentary: voteType ? '' : voteComment,
                        pollID: vote.id,
                        vote: voteType
                      }); voteModalVisible = false"
            >
                      <span v-if="voteType">
                        Голосовать за
                        <HandIcon class="vote__btn-icon btn__handicon"/>
                      </span>
              <span v-else>
                        Голосовать против
                        <HandIcon class="vote__btn-icon btn__handicon"/>
                      </span>
            </button>
          </div>
        </div>
      </v-dialog>
      <div class="loader_all" style="z-index: 100;" v-if="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Loader from '~/components/base/Loader';
  import {mapActions} from 'vuex';
  import HandIcon from '~/components/svg/HandIcon';
  import Vue from 'vue';
  import VoteMapControls from '~/components/Vote/VoteMapControls';

  const VoteMapControlsClass = Vue.extend(VoteMapControls);
  import {jd} from '~/components/map/layers/jd';
  import {mcd} from '~/components/map/layers/mcd';
  import {search} from '~/components/map/layers/search';
  import {metro} from '~/components/map/layers/metro';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Checkbox from "~/components/base/Checkbox";
  import * as turf from '@turf/turf';

  export default {
    props: ['vote', 'contentManager'],
    mixins: [
      jd,
      mcd,
      search,
      metro,
    ],
    components: {
      Loader,
      HandIcon,
      CloseIcon,
      Checkbox,
    },
    data() {
      return {
        loading: true,
        dir0visible: true,
        dir1visible: true,
        activeDir: 0,
        voteModalVisible: false,
        voteType: null,
        voteComment: '',
        stopsHover: false,
        isFullScreen: false,
        borderAndHalo: {
          border: true,
          borderSize: 1.3,
          borderGradient: this.getGradient('#aaaaaa'),
          halo: true,
          haloSize: 1.3,
          haloColor: "#fff"
        },
        routesByID: []
      }
    },
    methods: {
      ...mapActions({
        getStopByRouteID: 'polls/getPollStopsByPollId071',
        getRouteByRouteID: 'polls/getPollRouteById',
        getDistricts: 'districts/getDistricts',
        saveVote: 'polls/saveVote071',
        getMetroStations: 'metro/getMetro',
        getMetroEntrances: 'metro/getMetroEntrances',
        getJdStations: 'jd/getStations'
      }),
      onVote(vote) {
        if (!this.authorized) {
          this.$store.commit('auth/setRedirectParams', {
            cancelBtn: true,
            routeParams: {
              name: this.$route.name,
              query: this.$route.query,
              params: {
                ...this.$route.params,
                info: {
                  status: 'info',
                  text: 'Голосование по маршрутам доступно только зарегистрированным пользователям'
                }
              }
            }
          });
          this.$router.push('/login');
          return;
        }
        this.voteType = vote;
        this.voteModalVisible = true;
      },
      mapLoaded(map) {
        const VoteMapControlsComponent = new VoteMapControlsClass({
          propsData: {
            map,
          },
        }).$mount();
        document.querySelector('.mapboxgl-ctrl-top-left').appendChild(VoteMapControlsComponent.$el);
        this.map = map;
        this.map.getCanvas().style.cursor = 'default';
        this.map.on('mouseenter', 'lines', (e) => {
          if (this.stopsHover) {
            return;
          }
          this.changeActiveDir(e)
        });
        this.map.on('mouseenter', 'stops-main', (e) => {
          this.stopsHover = true;
          this.changeActiveDir(e);
        });
        this.map.on('mouseenter', 'stops-back', (e) => {
          this.stopsHover = true;
          this.changeActiveDir(e);
        });
        this.map.on('mouseleave', 'stops-main', () => {
          this.stopsHover = false;
        });
        this.map.on('mouseleave', 'stops-back', () => {
          this.stopsHover = false;
        });

        this.map = map;
        this.loadNgptIcons();
        this.loadJdIcon();
        this.loadMcdIcons();
        this.addSearchIcon();
        this.map.on('click', this.hideSearchResult);
        const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
        const districts = (this.vote && this.vote.districts) ? this.vote.districts.map(x => {
          return this.$store.state.districts.districts.find(t => t.properties.name === x);
        }) : [];
        this.centerRoute();
        map.addLayer({
          id: 'districts',
          type: 'fill',
          source: {
            type: 'geojson',
            data: {
              features: districts,
              type: 'FeatureCollection',
            }
          },
          layout: {},
          paint: {
            'fill-color': 'rgba(1, 148, 211, 0.1)',
            'fill-outline-color': 'transparent'
          }
        });
        map.addLayer({
          id: 'districts-border',
          type: 'line',
          source: {
            type: 'geojson',
            data: {
              features: districts,
              type: 'FeatureCollection',
            }
          },
          layout: {
            'line-join': 'round',
            'line-cap': 'round',
          },
          paint: {
            'line-color': '#fff',
            'line-width': 2,
          }
        });
        map.addLayer({
          id: 'districts-names',
          type: 'symbol',
          source: {
            type: 'geojson',
            data: {
              features: districts,
              type: 'FeatureCollection',
            }
          },
          layout: {
            'text-field': ['get', 'name'],
            'text-size': 14,
          },
        });

        this.addLines();

        this.addMetroStations();
        this.addJdStations();
        this.addMcdStations();

        this.addStops();

        let popup = new mapboxgl.Popup({
          closeButton: false
        });
        map.on('click', () => popup.remove());
        const vm = this;
        ['stops-main', 'edge_stops-main', 'stops-back', 'edge_stops-back'].forEach((layer) => {
          map.on("mouseout", layer, function (e) {
            popup.remove()
          });
          map.on("mouseover", layer, function (e) {
            const thisStop = e.features[0];
            if (thisStop.properties.name) {
              const stopID = thisStop.properties.stopID;
              const mainSequence = [];
              const backSequence = [];
              if (thisStop.properties.dir === 0) {
                mainSequence.push(thisStop.properties.textInd);
              }
              if (thisStop.properties.dir === 1) {
                backSequence.push(thisStop.properties.textInd);
              }
              for (let i in vm.stopsByID) {
                const stopProperties = vm.stopsByID[i].properties;
                if (stopProperties.stopID === stopID && stopProperties.dir !== thisStop.properties.dir) {
                  if (stopProperties.dir === 0) {
                    mainSequence.push(parseInt(stopProperties.sequenceID))
                  } else {
                    backSequence.push(parseInt(stopProperties.sequenceID))
                  }
                }
              }
              map.getCanvas().style.cursor = "pointer";
              let coordinates = thisStop.geometry.coordinates.slice();
              let direction = (thisStop.properties.dir === 0) ? "прямое" : "обратное";
              let description = `${thisStop.properties.name} (${direction} направление)`;
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }
              popup.setLngLat(coordinates)
                .setHTML(`
                      <div class="editor-info">
                        <div>
                          <div class="editor-info__header" title='${thisStop.properties.name}'>${thisStop.properties.name}</div>
                          <div class="editor-info-stops">
                            ${mainSequence.length > 0 ? `
                              <div class="editor-info-box">
                                <span class="editor-info-box__title">Прямое направление:</span> <span class="editor-info-box__value">${mainSequence.sort().join(', ')}</span>
                              </div>
                            ` : ``}
                            ${backSequence.length > 0 ? `
                              <div class="editor-info-box">
                                <span class="editor-info-box__title">Обратное направление:</span> <span class="editor-info-box__value">${backSequence.sort().join(', ')}</span>
                              </div>
                            ` : ``}
                          </div>
                        </div>
                    `)
                .addTo(map);
            }
          });
        });
        const layers = this.map.getStyle().layers;

        let labelLayerId;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
          }
        }
      },
      voteShow3DBuildings() {
        const layers = this.map.getStyle().layers;
        let labelLayerId;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
          }
        }
        this.map.addLayer({
            'id': '3d-buildings',
            'source': 'composite',
            'source-layer': 'building',
            'filter': ['==', 'extrude', 'true'],
            'type': 'fill-extrusion',
            'minzoom': 15,
            'paint': {
              'fill-extrusion-color': '#aaa',

              // use an 'interpolate' expression to add a smooth transition effect to the
              // buildings as the user zooms in
              'fill-extrusion-height': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "height"]
              ],
              'fill-extrusion-base': [
                "interpolate", ["linear"], ["zoom"],
                15, 0,
                15.05, ["get", "min_height"]
              ],
              'fill-extrusion-opacity': .6
            }
          }
          , labelLayerId);
      },
      voteHide3DBuildings() {
        if (this.map.getLayer('3d-buildings')) {
          this.map.removeLayer('3d-buildings');
        }
        this.map.flyTo({
            pitch: 0,
            bearing: 0,
            speed: 0.01,
            curve: 1,
            easing: function (t) {
              return t;
            }
          })
      },
      addLines() {
        const routesByID = this.routesByID.filter(line => this[`dir${line.properties.dir}visible`]);
        routesByID.sort((a, b) => {
          if (this.activeDir === 1) {
            return a.properties.dir - b.properties.dir;
          } else {
            return b.properties.dir - a.properties.dir;
          }
        });
        if (!this.map.getSource('source-lines')) {
          this.map.addSource('source-lines', {
            type: 'geojson',
            data: {
              features: routesByID,
              type: 'FeatureCollection',
            }
          });
        } else {
          this.map.getSource('source-lines').setData({
            features: routesByID,
            type: 'FeatureCollection',
          });
        }

        if (!this.map.getLayer('lines-halo-border')) {
          this.map.addLayer({
            id: 'lines-halo-border',
            type: 'line',
            source: 'source-lines',
            layout: {
              'line-cap': 'round',
              'line-join': 'round'
            },
            paint: {
              'line-color': '#aaa',
              'line-width': 9
            }
          });
        }

        if (!this.map.getLayer('lines-halo')) {
          this.map.addLayer({
            id: 'lines-halo',
            type: 'line',
            source: 'source-lines',
            layout: {
              'line-cap': 'round',
              'line-join': 'round'
            },
            paint: {
              'line-color': '#fff',
              'line-width': 7
            }
          });
        }

        if (!this.map.getLayer('lines')) {
          this.map.addLayer({
            id: 'lines',
            type: 'line',
            source: 'source-lines',
            layout: {
              'line-cap': 'round',
              'line-join': 'round'
            },
            paint: {
              'line-color': ['get', 'color'],
              'line-width': 3
            }
          });
        }
      },
      async addStops() {
        const stopsObj = {};
        const stopsByDir = {0: [], 1: []};
        const stops = this.stopsByID.map(s => {
          const id = `${s.properties.dir}${s.geometry.coordinates.join()}`;
          if (!stopsObj[id]) {
            stopsObj[id] = {
              ...s,
              properties: {
                ...s.properties,
                textInd: s.properties.sequenceID,
              }
            }
          } else {
            stopsObj[id].properties.textInd += `, ${s.properties.sequenceID}`;
          }
          stopsByDir[s.properties.dir].push(s);
          return stopsObj[id];
        })
          .filter(s => this[`dir${s.properties.dir}visible`] && s.properties.textInd);
        const maxSequenceID = {};
        for (let i in stopsByDir) {
          const lastStop = 0;
          stopsByDir[i].forEach((s) => {
            if (s.properties.sequenceID > lastStop) {
              lastStop = s.properties.sequenceID;
            }
          })
          maxSequenceID[i] = lastStop;
        }
        for (let i = 0; i < stops.length; i++) {
          if (stops[i].properties.sequenceID === 1 || stops[i].properties.sequenceID === maxSequenceID[stops[i].properties.dir]) {
            await this.addNgptIcon({
              text: stops[i].properties.textInd,
              textSize: 10.4 - stops[i].properties.textInd.toString().length,
              circleGradient: this.getGradient('#163354'),
              name: `local-bus_edge-${i}`,
              wh: 85, ...this.borderAndHalo
            });
            stops[i].properties.icon = `local-bus_edge-${i}`;
            stops[i].properties.iconType = 'bus_edge';
          } else {
            await this.addNgptIcon({
              text: stops[i].properties.textInd,
              textSize: 10.4 - stops[i].properties.textInd.toString().length,
              circleGradient: this.getGradient(stops[i].properties.dir === 0 ? '#0080ff' : '#008000'),
              name: `local-ngpt-icon-${i}`,
              wh: 85, ...this.borderAndHalo
            });
            stops[i].properties.icon = `local-ngpt-icon-${i}`;
          }
        }

        if (!this.map.getSource('source-stops')) {
          this.map.addSource('source-stops', {
            type: 'geojson',
            data: {
              features: stops,
              type: 'FeatureCollection',
            }
          });
        } else {
          this.map.getSource('source-stops').setData({
            features: stops,
            type: 'FeatureCollection',
          });
        }

        if (!this.map.getLayer('stops-main')) {
          this.map.addLayer({
            id: 'stops-main',
            filter: [
              'all',
              ['==', ['get', 'dir'], 0],
              ['!=', ['get', 'iconType'], 'bus_edge']
            ],
            type: 'symbol',
            minzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .3,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (!this.map.getLayer('stops_mini-main')) {
          this.map.addLayer({
            id: 'stops_mini-main',
            filter: [
              'all',
              ['==', ['get', 'dir'], 0],
              ['!=', ['get', 'iconType'], 'bus_edge']
            ],
            type: 'symbol',
            minzoom: 11.2,
            maxzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': 'ngpt-mainRoute-mini',
              'icon-size': .3,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            }
          });
        }

        if (!this.map.getLayer('edge_stops-main')) {
          this.map.addLayer({
            id: 'edge_stops-main',
            filter: [
              'all',
              ['==', ['get', 'dir'], 0],
              ['==', ['get', 'iconType'], 'bus_edge']
            ],
            type: 'symbol',
            minzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .4,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (!this.map.getLayer('edge_mini_stops-main')) {
          this.map.addLayer({
            id: 'edge_mini_stops-main',
            filter: [
              'all',
              ['==', ['get', 'dir'], 0],
              ['==', ['get', 'iconType'], 'bus_edge']
            ],
            type: 'symbol',
            maxzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .3,
              'icon-allow-overlap': true,
              'text-allow-overlap': true,
              'icon-ignore-placement': true,
              'text-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (!this.map.getLayer('stops-back')) {
          this.map.addLayer({
            id: 'stops-back',
            filter: [
              'all',
              ['!=', ['get', 'dir'], 0],
              ['!=', ['get', 'iconType'], 'bus_edge'],
            ],
            type: 'symbol',
            minzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .3,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (!this.map.getLayer('stops_mini-back')) {
          this.map.addLayer({
            id: 'stops_mini-back',
            filter: [
              'all',
              ['!=', ['get', 'dir'], 0],
              ['!=', ['get', 'iconType'], 'bus_edge'],
            ],
            type: 'symbol',
            minzoom: 11.2,
            maxzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': 'ngpt-backRoute-mini',
              'icon-size': .3,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            }
          });
        }

        if (!this.map.getLayer('edge_stops-back')) {
          this.map.addLayer({
            id: 'edge_stops-back',
            filter: [
              'all',
              ['!=', ['get', 'dir'], 0],
              ['==', ['get', 'iconType'], 'bus_edge'],
            ],
            type: 'symbol',
            minzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .4,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (!this.map.getLayer('edge_mini_stops-back')) {
          this.map.addLayer({
            id: 'edge_mini_stops-back',
            filter: [
              'all',
              ['!=', ['get', 'dir'], 0],
              ['==', ['get', 'iconType'], 'bus_edge'],
            ],
            type: 'symbol',
            maxzoom: 13,
            source: 'source-stops',
            layout: {
              'icon-image': ['get', 'icon'],
              'icon-size': .3,
              'icon-allow-overlap': true,
              'icon-ignore-placement': true,
            },
            paint: {
              'text-color': '#fff'
            }
          });
        }

        if (this.activeDir === 0) {
          this.map.moveLayer('stops-back', 'stops-main');
        } else {
          this.map.moveLayer('stops-main', 'stops-back');
        }

        if (!this.map.getLayer('stops-name')) {
          this.map.addLayer({
            id: 'stops-name',
            type: 'symbol',
            source: 'source-stops',
            minzoom: 16,
            layout: {
              'text-field': ['get', 'name'],
              'text-anchor': 'left',
              'text-offset': [1, 0],
              'text-size': 15,
            },
            paint: {
              'text-halo-color': '#fff',
              'text-halo-width': 2
            }
          });
        }
      },
      loadNgptIcons() {
        this.addNgptIcon({
          circleGradient: this.getGradient('#0080ff'),
          name: 'ngpt-mainRoute-mini',
          wh: 30, ...this.borderAndHalo
        });
        this.addNgptIcon({
          circleGradient: this.getGradient('#008000'),
          name: 'ngpt-backRoute-mini',
          wh: 30, ...this.borderAndHalo
        });
      },
      getGradient(color) {
        return {
          name: 'radialGradient',
          stops: [
            {'offset': '90%', 'stop-color': color},
            {'offset': '100%', 'stop-color': 'transparent'}
          ]
        }
      },
      addNgptIcon(params) {
        return new Promise((resolve) => {
          const defaults = {
            color: 'gray',
            circleGradient: null,
            name: 'ngpt-gray',
            wh: 85,
            border: false,
            borderColor: 'transparent',
            borderGradient: null,
            borderSize: 0,
            halo: false,
            haloColor: 'transparent',
            haloGradient: null,
            haloSize: 0,
            text: null,
            textSize: 12,
          };
          const setting = {...defaults, ...params};
          let circleColor = '';
          let addIcon = false;
          if (setting.color.includes('-icon')) {
            addIcon = true;
            circleColor = setting.color.replace(/\-icon/g, '')
          } else {
            circleColor = setting.color
          }
          const imgIcon = `
          <svg fill="white" viewBox="0 0 125 125" x="20" y="20">
            <path id="path8043" d="M4,0C2.6364,0,1,0.7433,1,2.7461v5.4531V12c0,0,0,1,1,1v1c0,0,0,1,1,1s1-1,1-1v-1h7v1c0,0,0,1,1,1s1-1,1-1v-1&#xA;&#x9;c0,0,1,0,1-1V2.7461C14,0.7006,12.764,0,11.4004,0H4z M4.25,1.5h6.5C10.8885,1.5,11,1.6115,11,1.75S10.8885,2,10.75,2h-6.5&#xA;&#x9;C4.1115,2,4,1.8885,4,1.75S4.1115,1.5,4.25,1.5z M3,3h9c1,0,1,0.9668,1,0.9668V7c0,0,0,1-1,1H3C2,8,2,7,2,7V4C2,4,2,3,3,3z M3,10&#xA;&#x9;c0.5523,0,1,0.4477,1,1s-0.4477,1-1,1s-1-0.4477-1-1S2.4477,10,3,10z M12,10c0.5523,0,1,0.4477,1,1s-0.4477,1-1,1s-1-0.4477-1-1&#xA;&#x9;S11.4477,10,12,10z"/>
          </svg>`;
          const borderCircle =
            `<g fill="${setting.borderGradient === null ? setting.borderColor : `url(#borderGradient)`}" fill-rule="nonzero">
            <circle cx="50" cy="50" r="50"></circle>
          </g>`;
          const haloCircle =
            `<g fill="${setting.haloGradient === null ? setting.haloColor : `url(#haloGradient)`}" fill-rule="nonzero">
            <circle cx="50" cy="50" r="${(10 - setting.borderSize) * 5}"></circle>
          </g>`;
          const imgData = `
            <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  ${setting.borderGradient === null ? '' : this.genGradientTag(setting.borderGradient, 'borderGradient')}
                  ${setting.haloGradient === null ? '' : this.genGradientTag(setting.haloGradient, 'haloGradient')}
                  ${setting.circleGradient === null ? '' : this.genGradientTag(setting.circleGradient, 'circleGradient')}
                </defs>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  ${setting.border ? borderCircle : ''}
                  ${setting.halo ? haloCircle : ''}
                  <g fill="${setting.circleGradient === null ? circleColor : `url(#circleGradient)`}" fill-rule="nonzero">
                    <circle cx="50" cy="50" r="${(10 - setting.haloSize - setting.borderSize) * 5}"></circle>
                     ${setting.text ? `<text opacity="0.6" dy=".35em" x="50%" y="50%" text-anchor="middle" font-family="Open Sans, sans-serif" font-size="${(setting.textSize) * 5}" font-weight="400" fill="#FFFFFF">${setting.text}</text>` : ''}
                  </g>
                  ${addIcon ? imgIcon : ''}
                </g>
            </svg>
          `;
          const img = new Image(setting.wh, setting.wh);
          img.onload = () => {
            if (this.map) {
              this.map[this.map.hasImage(setting.name) ? 'updateImage' : 'addImage'](setting.name, img);
              resolve();
            }
          };
          img.src = `data:image/svg+xml;base64,${window.btoa(imgData)}`;
        });
      },
      genGradientTag(gradient, id = 'gradient') {
        let outerHTML = `<${gradient.name} id="${id}">`;
        gradient.stops.forEach(obj => {
          let stopHTML = '\n  <stop';
          for (const attr in obj) {
            stopHTML += ` ${attr}="${obj[attr]}"`;
          }
          stopHTML += ' />';
          outerHTML += stopHTML;
        });
        outerHTML += `\n</${gradient.name}>`;
        return outerHTML;
      },
      centerRoute(params) {
        this.map.fitBounds(this.bounds, {
          padding: 20,
          duration: 0,
          ...params
        });
      },
      renderRoute(dir) {
        this.activeDir = dir;
        this.addLines();
        this.addStops();
      },
      changeActiveDir(e) {
        if (this.activeDir !== e.features[0].properties.dir) {
          this.renderRoute(e.features[0].properties.dir)
        }
      },
      getHoursAndMinutes(minutes) {
        minutes = Math.abs(minutes);
        let result;
        if (minutes < 60) {
          result = `${minutes}`
        } else {
          if (Math.floor(minutes / 60) < 10) {
            result = `${Math.floor(minutes / 60)} ч`
          } else {
            result = `${Math.floor(minutes / 60)} ч`
          }
          if (minutes - Math.floor(minutes / 60) * 60 < 10) {
            result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
          } else {
            result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
          }
        }
        return result
      },
      fullScreenToggle() {
        this.isFullScreen = document.fullscreen || document.webkitIsFullScreen;
        if (!this.isFullScreen) {
          this.openFullscreen(this.$refs.voteMap);
          setTimeout(() => {
            this.map.resize();
          }, 500);
        } else {
          this.closeFullscreen();
        }
      },
      openFullscreen(elem) {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          elem.msRequestFullscreen();
        }
      },
      closeFullscreen() {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      },
      zoomIn() {
        this.map.zoomIn();
      },
      zoomOut() {
        this.map.zoomOut();
      },
      fitMap(center, zoom) {
        this.map.flyTo({
          center,
          zoom,
        })
      },
      splitBits(num) {
        const initial = num.toString().split("").reverse();
        const handled = [];
        initial.forEach((a, i) => {
          handled.push(a);
          if ((i + 1) % 3 === 0) {
            handled.push(" ")
          }
        });
        return handled.reverse().join("")
      },
      mapInitialized(map) {
        map.addControl(
          new MapboxLanguage({
            defaultLanguage: 'ru'
          })
        )
      },
    },
    computed: {
      // routesByID() {
      //   return this.$store.state.polls.pollRoute;
      // },
      route() {
        return this.routesByID.find(r => r.properties.dir === 0);
      },
      routeParams() {
        return this.$store.state.polls.routeParams;
      },
      routeStopsNames() {
        if (this.routesByID.length) {
          const stops = this.routesByID[0].properties.fullname.replace(' – ', ' - ').split(' - ');

          if (this.vote.dir === 1) {
            return stops.reverse();
          }
          return stops;
        }
        return ['-', '-']
      },
      routeLength() {
        if (this.routesByID.length) {
          return (this.routesByID[0].properties.length / 1000).toFixed(1);
        }
        return '-';
      },
      options() {
        const mapStyle = require('../../static/style.json');
        return {
          style: mapStyle,
          center: [37.61, 55.75],
          zoom: 10,
        }
      },
      bounds() {
        const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');
        const coordinates = this.stopsByID.reduce((acc, curr) => acc.concat([curr.geometry.coordinates]), []);
        return coordinates.reduce(function (bounds, coord) {
          return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
      },
      stopsByID() {
        return this.$store.state.polls.pollStops;
      },
      legend() {
        const lines = this.routesByID.reduce((acc, curr) => {
          acc[curr.id] = {
            color: curr.properties.color,
            dir: curr.properties.dir,
            length: (curr.properties.length / 1000).toFixed(1),
            stops: [],
            time: this.getHoursAndMinutes(Math.floor((curr.properties.length / 1000 / 16.6) * 60))
          };
          return acc;
        }, {});
        const linesIds = this.routesByID.map(f => f.id);
        const stops = this.$store.state.ngpt.stops.filter(s => linesIds.includes(s.properties.routeID)).map(s => {
          return JSON.parse(JSON.stringify(s));
        });
        stops.forEach(s => {
          const currentLineKey = Object.keys(lines).filter(lineKey => lines[lineKey].dir === s.properties.dir);
          lines[currentLineKey].stops.push({
            name: s.properties.name,
            sequenceID: s.properties.sequenceID
          })
        });
        Object.values(lines).forEach(line => {
          line.stops.sort((a, b) => a.sequenceID - b.sequenceID);
        });
        return {
          lines,
        };
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      stopFrom() {
        return this.$store.state.polls.stopFrom;
      },
      stopTo() {
        return this.$store.state.polls.stopTo;
      }
    },
    mounted() {
      this.$bus.$on('centerRoute', this.centerRoute);
      this.$bus.$on('fullScreenToggle', this.fullScreenToggle);
      this.$bus.$on('zoomIn', this.zoomIn);
      this.$bus.$on('zoomOut', this.zoomOut);
      this.$bus.$on('showSearchResult', this.showSearchResult);
      this.$bus.$on('hideSearchResult', this.hideSearchResult);
      this.$bus.$on('fitMap', this.fitMap);
      this.$bus.$on('voteShow3DBuildings', this.voteShow3DBuildings);
      this.$bus.$on('voteHide3DBuildings', this.voteHide3DBuildings);
      const promises = [
        this.getStopByRouteID(this.vote.id),
        // this.getRouteByRouteID(this.vote.routeID),
      ];
      if (!this.$store.state.districts.districts.length) {
        promises.push(this.getDistricts());
      }
      if (!this.$store.state.metro.metro.length) {
        promises.push(this.getMetroStations());
      }
      if (!this.$store.state.metro.entrances.length) {
        promises.push(this.getMetroEntrances());
      }
      if (!this.$store.state.jd.stops.length) {
        promises.push(this.getJdStations());
      }
      Promise.all(promises).then(() => {
        this.loading = false;
        const polyline = require('@mapbox/polyline');
        ['fgeomEncoded', 'bgeomEncoded'].forEach((key) => {
          if (this.vote[key]) {
            const arr = [];
            this.vote.fgeomEncoded.forEach((g) => {
              polyline.decode(g).forEach((p) => {
                arr.push(p);
              })
            })
            const ls = turf.lineString(arr, {
              dir: key === 'fgeomEncoded' ? 0 : 1,
              fullname: this.vote.routeFullName,
              color: key === 'fgeomEncoded' ? '#0080ff' : '#008000',
              id: key === 'fgeomEncoded' ? 0 : 1
            });
            ls.id = key === 'fgeomEncoded' ? 0 : 1;
            this.routesByID.push(ls);
          }
        })
      })
    },
    beforeDestroy() {
      this.$bus.$off('centerRoute', this.centerRoute);
      this.$bus.$off('fullScreenToggle', this.fullScreenToggle);
      this.$bus.$off('zoomIn', this.zoomIn);
      this.$bus.$off('zoomOut', this.zoomOut);
      this.$bus.$off('showSearchResult', this.showSearchResult);
      this.$bus.$off('hideSearchResult', this.hideSearchResult);
      this.$bus.$off('fitMap', this.fitMap);
      this.$bus.$off('voteShow3DBuildings', this.voteShow3DBuildings);
      this.$bus.$off('voteHide3DBuildings', this.voteHide3DBuildings);
    }
  }
</script>

<style lang="scss" scoped>
  .vote-content {
    padding: 40px;

    @media (max-width: 640px) {
      padding: 15px;
    }

    &__row {
      display: flex;
      line-height: 15px;
      margin-bottom: 18px;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    border: 1px solid #e7e7e7;

    &__title {
      font-weight: 400;
      flex-grow: 1;
      max-width: 271px;
      text-align: right;
      margin-right: 34px;
      flex-shrink: 0;
      @media (max-width: 767px) {
        max-width: none;
        margin-right: 0;
        text-align: left;
        margin-bottom: 5px;
      }
    }

    &__desc {
      font-weight: 300;
      max-width: calc(100% - 305px);
      @media (max-width: 767px) {
        max-width: none;
      }
    }
  }

  .vote-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    @media (max-width: 767px) {
      flex-direction: column;
    }

    &__btn {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      border-radius: 22px;
      padding: 8px 10px 8px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      width: 295px;
      max-width: 100%;

      &[disabled] {
        opacity: .3;
      }

      &_for {
        background-color: #2f7ce6;

        svg {
          position: relative;
          bottom: 2px;
        }
      }

      &_against {
        margin-left: 35px;
        background-color: #f07f2f;
        @media (max-width: 767px) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }

    &__count {
      font-size: 18px;
      margin: 0 10px;
    }
  }

  .vote-info {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 300;
  }

  .vote-map {
    height: 540px;
    position: relative;
    width: 100%;

    &:fullscreen {
      height: 100vh;
    }

    .map-box {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;

      &.fullscreen {
        position: fixed;
      }
    }
  }

  .vote-legend {
    padding: 40px;
    border: 1px solid #e7e7e7;
    font-weight: 300;
    margin-bottom: 50px;

    @media (max-width: 640px) {
      padding: 15px;
    }

    b {
      font-weight: 400;
      margin-right: 10px;
    }

    &__lines {
      list-style: none;
      padding: 0;
      display: table;

      @media (max-width: 640px) {
        display: block;
      }
    }

    &__line-color {
      width: 15px;
      height: 3px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    &__line {
      display: table-row;
      justify-content: space-between;

      @media (max-width: 640px) {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

      }
    }

    &__line-dir {
      display: flex;
      align-items: center;
      white-space: nowrap;

      @media (max-width: 640px) {
        white-space: normal;
      }
    }

    &__item {
      width: 16.6666666667%;
      display: table-cell;
      line-height: 1.2;
      vertical-align: middle;
      padding: 5px 10px;

      @media (max-width: 640px) {
        display: flex;
        width: auto;
      }

      .checkbox {
        margin-right: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
</style>
