<template>
    <Modal
        v-model="isVisible"
        header="Создание голосования"
    >
        <div class="cdm-wrapper">
            <div class="cdm-file-input-outer">
                <div class="cdm-file-input">
                    <v-file-input
                        id="createDraftFileInput"
                        accept=".json,.geojson"
                        label="Выберите файл json для загрузки"
                        v-model="file"
                        :disabled="progress > 0"
                        :loading="loading"
                    ></v-file-input>
                </div>
                <div class="cdm-file-button">
                    <v-btn
                        large
                        :disabled="progress > 0"
                        @click="onFileButtonClick"
                    >Выбрать</v-btn>
                </div>
            </div>

            <div class="cdm-progress-outer">
                <v-progress-linear
                    :value="progress"
                    height="8"
                />
            </div>

            <div class="cdm-buttons-outer">
                <v-btn
                    large
                    :disabled="progress > 0"
                    @click="closeModal"
                >Отмена</v-btn>
                <v-btn
                    large
                    :disabled="!Boolean(file) || loading"
                    color="primary"
                    @click="uploadFile"
                >Создать черновик</v-btn>
            </div>
        </div>
    </Modal>
</template>

<script>
    import Modal from '~/components/base/Modal'
    import connection from '~/assets/js/connection'

    export default {
        components: {
            Modal
        },

        props: {
            visible: Boolean,
        },

        model: {
            prop: 'visible',
            event: 'change'
        },

        data() {
            return {
                file: null,
                progress: 0,
                loading: false,
            }
        },

        computed: {
            isVisible: {
                get() {
                    return this.visible
                },
                set(visible) {
                    this.file = null;
                    this.progress = 0;
                    this.$emit('change', visible)
                }
            }
        },

        methods: {
            onFileButtonClick() {
                document.querySelector('#createDraftFileInput').click();
            },
            closeModal() {
                this.isVisible = false;
            },
            async uploadFile() {
                this.loading = true;
                const text = await this.file.text();
                const formData = new FormData();
                formData.append('file', this.file);
                this.$axios.post(`${connection.getAddress({version: 'v0.7.1'})}/moscow/polls/sec/cm/initiateFromFile`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data;boundary=----',
                        'Authorization': `Bearer ${localStorage.getItem('token')}`
                    },
                })
                .then((response) => {
                    this.loading = false;
                    this.showMessage('success', 'Голосование создано');
                    this.closeModal();
                    this.$bus.$emit('pollsGetData');
                })
                .catch((err) => {
                    this.loading = false;
                    const text = err.response.data.Error.replace(/^.*;/, "");
                    this.showMessage('error', text);
                })

            },
            showMessage(status, message) {
              this.$snotify[status](
                message,
                {
                  position: 'centerTop',
                  titleMaxLength: 100
                }
              );
            },
        }
    }
</script>

<style>
    .cdm-wrapper {
        background: #fff;
    }

    .cdm-file-input-outer {
        display: flex;
        flex-flow: row nowrap;
    }

    .cdm-file-input {
        flex: 1;
    }

    .cdm-progress-outer {
        padding: 12px 8px;
        padding-bottom: 20px;
    }

    .cdm-buttons-outer {
        text-align: right;
    }
</style>
