<template>
  <div class='global-menu'>
    <h1 class="global-menu-header">Маршруты</h1>
    <div v-for="route in routes" :key="route.id">
      <vote-block 
        v-on:active-sub-menu="activateSubMenu"
        :active="activeRoute === route.id"
        :routeProperties="route.properties"
      />
    </div>
  </div>
</template>

<script>
import VoteBlock from '~/components/UI/VoteBlock'

export default {
  name: 'MainMenu',
  components: {
    'vote-block': VoteBlock,
  },
  computed: {
    routes() {
      return this.$store.state.ngpt.routes
    }
  },
  data() {
    return {
      activeRoute: null
    }
  },
  methods: {
    activateSubMenu(id) {
      this.activeRoute = id
      this.$bus.$emit('remove-all-routes')
      this.$bus.$emit('add-route', id)
    },
  }
}
</script>

<style lang="scss">
.global-menu {
  height: 100%;
  width: 300px;
  overflow: auto;

  .global-menu-header {
    color: rgb(87, 87, 87);
  }
}
</style>

