<template>
  <div v-if="role === 'operator'" class="operator-comments">
    <h1 class="operator-comments__title">Журнал комментариев <sup>{{newComments.length}}</sup></h1>
    <div class="operator-comments__filters">
      <div class="operator-comments__filter">
        <checkbox v-model="filters.new">только новые комментарии</checkbox>
      </div>
    </div>
    <v-data-table
      :headers="headers"
      :items="commentsList"
      item-key="id"
      class="v-datatable"
      :items-per-page="15"
    >
      <template v-slot:body="{ items }">
        <tbody>
        <tr
          @click="onCommentClick(item)"
          v-for="(item, key) in items"
          :key="key"
          :class="{
                'new-comment': !item.operator
              }"
        >
          <td>
            <v-btn @click.stop="onHideClick(item)" v-if="!item.hidden">Скрыть</v-btn>
            <span v-if="item.hidden">комментарий скрыт</span>
          </td>
          <td>{{item.text}}</td>
          <td>{{item.author}}</td>
          <td>
            <a v-if="item.proposalID" @click.stop="showProposal(item)" href="javascript:void(0)">посмотреть идею</a>
            <span v-else>-</span>
          </td>
          <td>{{moment(item.createdAt).format('DD-MM-YYYY HH:mm')}}</td>
          <td>{{item.operator || '-'}}</td>
          <td>
            <span v-if="item.processingDate">{{moment(item.processingDate).format('DD-MM-YYYY HH:mm')}}</span>
            <span v-else>-</span>
          </td>
        </tr>
        </tbody>
      </template>
    </v-data-table>
    <v-dialog content-class="modal-custom-scroll" v-model="modalVisible" max-width="640px">
      <div v-if="modalVisible && selectedComment" class="modal comments-modal">
        <div class="modal__header">
          <div class="modal__title">
            Просмотр идеи <span v-if="proposalsById[selectedComment.proposalID]">{{proposalsById[selectedComment.proposalID].title}}</span>
            <Discussions />
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="modalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <div v-bar>
            <div>
              <div class="comments-modal__desc" v-if="proposalsById[selectedComment.proposalID]">
                <p v-if="proposalsById[selectedComment.proposalID].title">Название идеи:
                  <span>{{proposalsById[selectedComment.proposalID].title}}</span></p>
                <p v-if="proposalsById[selectedComment.proposalID].reason">Описание: <span>{{proposalsById[selectedComment.proposalID].reason}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredFrom">Начало маршрута: <span>{{proposalsById[selectedComment.proposalID].desiredFrom}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredTo">Конец маршрута:
                  <span>{{proposalsById[selectedComment.proposalID].desiredTo}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredDays">Дни недели:
                  <span>{{proposalsById[selectedComment.proposalID].desiredDays}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredTime">Время суток:
                  <span>{{proposalsById[selectedComment.proposalID].desiredTime}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredVehicleType">Тип транспортного средства: <span>{{proposalsById[selectedComment.proposalID].desiredVehicleType}}</span>
                </p>
                <p v-if="proposalsById[selectedComment.proposalID].desiredInterval">Желаемый интервал движения: <span>{{proposalsById[selectedComment.proposalID].desiredInterval}}</span>
                </p>
              </div>
              <Map
                class="operator-modal__map-container"
                :mapDataLoading="mapDataLoading"
                :routeID="proposalsById[selectedComment.proposalID] && proposalsById[selectedComment.proposalID].routeID"
                :routeMainType="proposalsById[selectedComment.proposalID] && proposalsById[selectedComment.proposalID].routeMainType"
                :selectedId="selectedComment.proposalID"
              />
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <button
            v-ripple class="modal__btn modal__btn_color"
            @click="onHideClick(selectedComment); modalVisible = false"
          >
           Скрыть комментарий
          </button>
          <button v-if="!selectedComment.operator" v-ripple class="modal__btn" @click="onCommentClick(selectedComment); modalVisible = false">Подтвердить</button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import moment from 'moment';
  import Checkbox from '~/components/base/Checkbox';
  import Map from '~/components/Operator/Map';
  import editorData from '~/components/map/layers/editor';
  import {startRouteProperties} from '~/components/map/layers/editor';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Discussions from '~/components/editor/Discussions';

  export default {
    layout: 'new',
    components: {
      Checkbox,
      Map,
      CloseIcon,
      Discussions
    },
    data() {
      return {
        filters: {
          new: false,
        },
        headers: [
          {text: '', value: 'hideBtn'},
          {text: 'Текст', value: 'text'},
          {text: 'Автор', value: 'author'},
          {text: 'Идея', value: 'proposalID', sortable: false},
          {text: 'Дата комментария', value: 'createdAt'},
          {text: 'Оператор', value: 'operator'},
          {text: 'Дата обработки', value: 'processingDate'},
        ],
        comments: [],
        modalVisible: false,
        mapDataLoading: false,
        selectedComment: null,
        moment,
        editorData
      }
    },
    methods: {
      ...mapActions({
        initAuth: 'auth/initAuth',
        getProposal: 'proposals/getProposal',
        getProposalDiscussions: 'proposals/getProposalDiscussions',
        getAllProposals: 'proposals/getAllProposals',
        getStopByRouteID: 'ngpt/getStopByRouteID',
        getRouteByRouteID: 'ngpt/getRouteByRouteID',
        getStops: 'ngpt/getStops',
        getMetroStations: 'metro/getMetro',
        getJdStations: 'jd/getStations',
        clearJdStore: 'jd/clearJdStore',
        clearNgptStore: 'ngpt/clearNgptStore',
        clearProposalStore: 'proposals/clearProposalStore',
        clearMetroStore: 'metro/clearMetroStore',
      }),
      async showProposal(comment) {
        this.selectedComment = comment;
        this.editorData.showOriginalMasterCopy = false;
        this.editorData.stopsList.mainRoute.stops = [];
        this.editorData.stopsList.backRoute.stops = [];
        this.editorData.routesList.mainRoute = {};
        this.editorData.routesList.backRoute = {};
        Object.keys(this.editorData.routeProperties).forEach(key => {
          if (typeof this.editorData.routeProperties[key] === 'string') {
            this.editorData.routeProperties[key] = '';
          } else {
            this.editorData.routeProperties[key].value = null;
          }
        });
        Object.keys(startRouteProperties).forEach(key => {
          delete startRouteProperties[key];
        });
        this.$store.commit('proposals/SET_PROPOSAL_DISCUSSIONS', []);
        this.$store.commit('proposals/SET_PROPOSAL', {});
        this.$store.commit('operator/SET_PROPOSAL_HISTORY', []);
        this.getProposalDiscussions({
          id: comment.proposalID
        });
        this.modalVisible = true;
        this.mapDataLoading = true;
        if (!this.proposals.length) {
          await this.getAllProposals();
        }
        const promises = [
          this.getProposal({
            guid: comment.proposalID
          }),
        ];
        if (!this.$store.state.ngpt.stops.length) {
          promises.push(this.getStops());
        }
        if (!this.$store.state.metro.metro.length) {
          promises.push(this.getMetroStations());
        }
        if (!this.$store.state.jd.stops.length) {
          promises.push(this.getJdStations());
        }
        if (this.proposalsById[this.selectedComment.proposalID] && this.proposalsById[this.selectedComment.proposalID].routeID) {
          promises.push(this.getStopByRouteID(this.proposalsById[this.selectedComment.proposalID].routeID));
          promises.push(this.getRouteByRouteID(this.proposalsById[this.selectedComment.proposalID].routeID));
        }
        await Promise.all(promises).catch(e => console.info(e));
        this.mapDataLoading = false;
      },
      onCommentClick(comment) {
        if (comment.operator) {
          return;
        }
        comment.operator = this.userName;
        comment.processingDate = new Date();
      },
      onHideClick(comment) {
        comment.hidden = true;
        comment.operator = this.userName;
        comment.processingDate = new Date();
      }
    },
    computed: {
      proposals() {
        return this.$store.state.proposals.allProposals;
      },
      proposalsById() {
        return this.proposals.reduce((acc, curr) => {
          acc[curr.id] = curr;
          return acc;
        }, {});
      },
      commentsList() {
        if (this.filters.new) {
          return this.newComments;
        }
        return [...this.comments].sort(item => {
          if (!item.operator) {
            return -1;
          }
        });
      },
      newComments() {
        return this.comments.filter(c => !c.operator);
      },
      role() {
        return this.$store.state.users.role;
      },
      userName() {
        return this.$store.state.account.summary.username;
      },
    },
    async mounted() {
      await this.initAuth();
      if (this.role !== 'operator') {
        this.$router.replace('/login');
      }
      for (let i = 1; i < 21; i++) {
        this.comments.push({
          id: i,
          text: `Текст комментария ${21 - i}`,
          author: `Автор комментария ${21 - i}`,
          proposalID: '071e9c10-b17a-448f-9d49-78bb12c7b813',
          createdAt: '2019-11-13T14:07:16.107135Z',
          processingDate: i < 6 ? null : '2019-11-18T12:00:00.107135Z',
          operator: i < 6 ? null : 'Имя оператора',
        })
      }
    },
    beforeDestroy() {
      this.clearProposalStore();
      this.clearNgptStore();
      this.clearMetroStore();
      this.clearJdStore();
    },
  }
</script>

<style lang="scss">
  .operator-comments {
    &__title {
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 15px;

      sup {
        font-weight: 400;
      }
    }

    &__filters {
      margin-bottom: 15px;
      font-weight: 300;
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 2;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .v-data-table.v-datatable.theme--light .new-comment td {
      font-weight: 500;
    }
  }

  .comments-modal {
    .modal__header,
    .modal__body {
      padding: 20px;
    }
    .vb {
      max-height: calc(100vh - 220px);
    }
    &__desc {
      width: 100%;
      margin-bottom: 20px;
      p > span {
        font-weight: 300;
        color: rgba(102, 111, 120, 0.8);
      }
    }
    .editor__loader {
      text-align: center;
      &::after {
        content: '';
        display: block;
        height: 10px;
      }
    }
    .discussions-box {
      margin-left: 5px;
      .discussions-header__count {
        top: -5px;
      }
    }
    .mapboxgl-ctrl-attrib-inner {
      display: none;
    }
  }
</style>

