<template>
  <div v-if="role === 'operator'" class="operator-proposals">
    <div class="container operator-proposals__container">
      <Header :role="role"/>
      <Tabs class="operator-proposals__tabs" v-model="activeTab" :tabs="tabs"/>
      <div class="operator-proposals-filters">
        <div class="operator-proposals-filters__field">
          <v-autocomplete
            label="Категория идеи"
            :items="proposalCategories"
            :hide-details="true"
            v-model="proposalCategory"
            max-width="290"
            @change="selectedId = null"
          >
          </v-autocomplete>
        </div>
        <div class="operator-proposals-filters__field">
          <v-autocomplete
            label="№ маршрута"
            :items="routesNumbers"
            :hide-details="true"
            v-model="routeNumber"
            max-width="290"
            @change="selectedId = null"
          >
          </v-autocomplete>
        </div>
        <div class="operator-proposals-filters__field operator-proposals-filters__field_wide">
          <Range v-model="proposalCreatedAt" label="Дата создания" />
        </div>
        <div v-if="tabs[activeTab].value !== 'newProposals'"
             class="operator-proposals-filters__field operator-proposals-filters__field_wide">
          <Range v-model="proposalWorkStartedAt" label="Дата взятия в работу" />
        </div>
        <div v-if="tabs[activeTab].value === 'closedProposals'"
             class="operator-proposals-filters__field operator-proposals-filters__field_wide">
          <Range v-model="proposalClosedAt" label="Дата закрытия" />
        </div>
        <div v-if="tabs[activeTab].value === 'closedProposals'" class="operator-proposals-filters__field">
          <v-autocomplete
            label="Статус"
            :items="closedStatuses"
            :hide-details="true"
            v-model="closedStatus"
            max-width="290"
          >
          </v-autocomplete>
        </div>
        <div v-if="tabs[activeTab].value !== 'newProposals'" class="operator-proposals-filters__field">
          <v-autocomplete
            label="Принадлежность идеи"
            :items="operatedByMeList"
            :hide-details="true"
            v-model="operatedByMe"
            max-width="290"
          >
          </v-autocomplete>
        </div>
        <div class="operator-proposals-filters__field">
          <v-btn v-if="resetBtnVisible" @click="filtersReset">Сброс фильтров</v-btn>
        </div>
        <div v-if="tabs[activeTab].value === 'newProposals'" class="operator-proposals-filters__field">
          <v-btn :disabled="loading" v-if="selectedId && proposalsById[selectedId].statusStr === 'Новая'"
                 @click="onModerateClick(proposalsById[selectedId])">На модерацию
          </v-btn>
        </div>
      </div>
      <div class="data-table">
        <v-data-table
          :headers="headers"
          :items="proposalsList"
          item-key="id"
          class="v-datatable"
          :items-per-page="15"
          :page.sync="page"
        >
          <template v-slot:body="{ items }">
            <tbody>
            <tr
              @click="openMenuToggle(item)"
              v-for="item in items"
              :key="item.name"
              :class="{
                'active': tabs[activeTab].value === 'newProposals' && item.id === selectedId
              }"
            >
              <td><a href="javascript:void(0)">{{ item.number }}</a></td>
              <td><span class="no-wrap">{{ item.status }}</span></td>
              <td v-if="tabs[activeTab].value !== 'newProposals' && tabs[activeTab].value !== 'moderateProposals'">{{item.votesCount}}</td>
              <td>{{item.proposalType}}</td>
              <td>{{item.routeName}}</td>
              <td>{{item.username}}</td>
              <td>{{item.createdAt}}</td>
              <td v-if="tabs[activeTab].value !== 'newProposals'">{{item.operatorName}}</td>
              <td v-if="tabs[activeTab].value !== 'newProposals'">{{item.workStartedAt}}</td>
              <td v-if="tabs[activeTab].value === 'closedProposals'">{{item.closedAt}}</td>
            </tr>
            </tbody>
          </template>
        </v-data-table>
      </div>
    </div>
    <v-navigation-drawer
      v-model="menuVisible"
      absolute
      mobile-break-point="0"
      :temporary="!replyModal.visible && !statusHistoryModalVisible"
      :width="600"
      class="operator-proposals__menu"
      :class="{
        'operator-proposals__menu_full-size': menuFullSize
      }"
    >
      <div class="v-navigation-drawer__container" v-if="menuVisible && proposalsById[selectedId]">
        <div class="operator-modal">
          <div class="operator-modal__header">
            <h4 class="operator-modal__title">
              <span class="operator-modal__title-container">
                <span class="operator-modal__title-category">{{proposalsById[selectedId].routeID === 0 ? 'Новый маршрут' : 'Существующий маршрут'}}</span>
                <v-btn v-if="proposalHistory.length"
                       @click="statusHistoryModalVisible = true">История изменения статуса</v-btn>
                <Discussions class="operator-modal__discussions-btn" :proposal="proposalsById[selectedId]"/>
              </span>
              <span class="operator-modal__title-name" v-if="proposalsById[selectedId].routeID">{{routesById[proposalsById[selectedId].routeID].name}} ({{routesById[proposalsById[selectedId].routeID].fullname}})</span>
              <span v-if="proposalsById[selectedId].operatorName" class="operator-modal__title-operator">Оператор: {{proposalsById[selectedId].operatorName}}</span>
            </h4>
            <div class="operator-modal__controls">
              <button v-tooltip="menuFullSize ? 'Свернуть' : 'Развернуть'" class="operator-modal__toggle"
                      @click="menuFullSize = !menuFullSize">
                <ArrowIcon/>
              </button>
              <button v-tooltip="'Закрыть'" class="operator-modal__close" @click="menuVisible = false">
                <CloseIcon/>
              </button>
            </div>
          </div>
          <div class="operator-modal__content" v-bar>
            <div>
              <div class="operator-modal__content-items">
                <Tabs class="operator-proposals__tabs" v-model="menuActiveTab" :tabs="menuTabs"/>
                <div v-show="menuTabs[menuActiveTab].value === 'description'">
                  <p v-if="proposalsById[selectedId].reason">Описание: <span>{{proposalsById[selectedId].reason}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredFrom">Начало маршрута: <span>{{proposalsById[selectedId].desiredFrom}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredTo">Конец маршрута: <span>{{proposalsById[selectedId].desiredTo}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredDays">Дни недели: <span>{{possibleDays[proposalsById[selectedId].desiredDays] ? possibleDays[proposalsById[selectedId].desiredDays].name : 'Нет данных'}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredTime">Время суток: <span>{{possibleTimes[proposalsById[selectedId].desiredTime] ? possibleTimes[proposalsById[selectedId].desiredTime].name : 'Нет данных'}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredVehicleType">Тип транспортного средства: <span>{{proposalsById[selectedId].desiredVehicleType}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].desiredInterval">Желаемый интервал движения: <span>{{proposalsById[selectedId].desiredInterval}}</span>
                  </p>
                </div>
                <div v-show="menuTabs[menuActiveTab].value === 'route'">
                  <p v-if="editorData.routeProperties.from.value">От:
                    <span>{{editorData.routeProperties.from.value}}</span>
                  </p>
                  <p v-if="editorData.routeProperties.to.value">До: <span>{{editorData.routeProperties.to.value}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].divisions">Округа: <span>{{proposalsById[selectedId].divisionsStr.join(', ')}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].districts">Районы: <span>{{proposalsById[selectedId].districtsStr.join(', ')}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].metroStations">Станции метро: <span>{{proposalsById[selectedId].metroStationsStr.join(', ')}}</span>
                  </p>
                  <p v-if="routeProperties.intervalMinutes">Интервал: <span>{{routeProperties.intervalMinutes.value}} мин
                <span v-if="routeProperties.intervalMinutes.diff">(<span
                  :style="{color: routeProperties.intervalMinutes.diffColor}">{{routeProperties.intervalMinutes.diff}} мин</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.vehiclesNum">Количество ТС:
                    <span>{{routeProperties.vehiclesNum.value}}</span>
                  </p>
                  <p v-if="routeProperties.stopsNum">Количество остановок: <span>{{routeProperties.stopsNum.value}} шт
                <span v-if="routeProperties.stopsNum.diff">(<span :style="{color: routeProperties.stopsNum.diffColor}">{{routeProperties.stopsNum.diff}} шт</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.lengthKm">Общая длина маршрута: <span>{{routeProperties.lengthKm.value}} км
                <span v-if="routeProperties.lengthKm.diff">(<span :style="{color: routeProperties.lengthKm.diffColor}">{{routeProperties.lengthKm.diff}} км</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.time">Общее время в пути: <span>{{routeProperties.time.value}} мин
                <span v-if="routeProperties.time.diff">(<span :style="{color: routeProperties.time.diffColor}">{{routeProperties.time.diff}} мин</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.mainRouteLengthKm">Длина прямого маршрута: <span>{{routeProperties.mainRouteLengthKm.value}} км
                <span v-if="routeProperties.mainRouteLengthKm.diff">(<span
                  :style="{color: routeProperties.mainRouteLengthKm.diffColor}">{{routeProperties.mainRouteLengthKm.diff}} км</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.mainRouteTime">Время в пути прямого маршрута: <span>{{routeProperties.mainRouteTime.value}} мин
                <span v-if="routeProperties.mainRouteTime.diff">(<span
                  :style="{color: routeProperties.mainRouteTime.diffColor}">{{routeProperties.mainRouteTime.diff}} мин</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.backRouteLengthKm">Длина обратного маршрута: <span>{{routeProperties.backRouteLengthKm.value}} км
                <span v-if="routeProperties.backRouteLengthKm.diff">(<span
                  :style="{color: routeProperties.backRouteLengthKm.diffColor}">{{routeProperties.backRouteLengthKm.diff}} км</span>)</span>
              </span>
                  </p>
                  <p v-if="routeProperties.backRouteTime">Время в пути обратного маршрута: <span>{{routeProperties.backRouteTime.value}} мин
                <span v-if="routeProperties.backRouteTime.diff">(<span
                  :style="{color: routeProperties.backRouteTime.diffColor}">{{routeProperties.backRouteTime.diff}} мин</span>)</span>
              </span>
                  </p>
                </div>
                <div v-show="menuTabs[menuActiveTab].value === 'service'">
                  <p v-if="proposalsById[selectedId].gid">Номер: <span>{{('0000000' + proposalsById[selectedId].gid).slice(-8)}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].status">Статус: <span>{{proposalsById[selectedId].statusStr}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].createdAt">Дата создания: <span>{{moment(proposalsById[selectedId].createdAt.replace(/Z$/, "")).format('DD-MM-YYYY HH:mm')}}</span>
                  </p>
                  <p v-if="proposalsById[selectedId].username">Автор:
                    <span>{{proposalsById[selectedId].username}}</span></p>
                  <p>Категория идеи:
                    <span v-if="proposal.routeMainType === 3">Другое</span>
                    <span v-else>{{proposalsById[selectedId].routeID === 0 ? 'Новый маршрут' : 'Существующий маршрут'}}</span>
                  </p>
                  <p>Тип транспорта:
                    <span v-if="[1,4,5].indexOf(proposalsById[selectedId].mainType) !== -1">НГПТ</span>
                    <span v-if="[2,6].indexOf(proposalsById[selectedId].mainType) !== -1">КД</span>
                    <span v-if="proposalsById[selectedId].mainType === 3">Не указано (текстовое описание)</span>
                  </p>
                  <p>Голосов За: <span>{{proposalsById[selectedId].voteFor}}</span></p>
                  <p>Голосов Против: <span>{{proposalsById[selectedId].voteAgainst}}</span></p>
                  <p v-if="proposalsById[selectedId].closedAt">Дата направления ответа: <span>{{moment(proposalsById[selectedId].closedAt).format('DD-MM-YYYY HH:mm')}}</span>
                  </p>
                  <p
                    v-if="proposalsById[selectedId].closedAt && proposalHistory.length && proposalHistory[proposalHistory.length - 1].textField">
                    Текст ответа: <span>{{proposalHistory[proposalHistory.length - 1].textField}}</span></p>
                </div>
                <Map
                  v-if="!simpleNewProposal"
                  class="operator-modal__map-container"
                  :mapDataLoading="mapDataLoading"
                  :routeID="proposalsById[selectedId].routeID"
                  :routeMainType="proposalsById[selectedId].mainType"
                  :selectedId="selectedId"
                />
              </div>
            </div>
          </div>
          <div class="operator-modal__footer">
            <v-btn :disabled="loading" v-if="proposalsById[selectedId].statusStr === 'Новая'"
                   @click="onModerateClick(proposalsById[selectedId])">На модерацию
            </v-btn>
            <v-btn :disabled="loading"
                   v-if="proposalsById[selectedId].statusStr === 'На модерации' && proposal.byMe"
                   @click="onWorkClick(proposalsById[selectedId])">Рассмотреть идею
            </v-btn>
            <v-btn :disabled="loading"
                   v-if="proposalsById[selectedId].statusStr === 'На модерации' && proposal.byMe"
                   @click="onDenyClick(proposalsById[selectedId], true)">Отклонить
            </v-btn>
            <v-btn :disabled="loading" v-if="proposalsById[selectedId].statusStr === 'В работе' && proposal.byMe"
                   @click="onCloseClick(proposalsById[selectedId])">Ответить
            </v-btn>
          </div>
        </div>
      </div>
    </v-navigation-drawer>
    <v-dialog
      v-model="replyModal.visible"
      max-width="550px"
      persistent
    >
      <div class="modal operator-proposals__modal">
        <div class="modal__header">
          <div class="modal__title">
            <span v-if="replyModal.type === 'deny'">Отклонить идею</span>
            <span v-if="replyModal.type === 'close'">Ответить на идею</span>
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="replyModal.visible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <div class="modal__row">
            <div class="modal__field">
              <v-textarea v-model="replyModal.textField" no-resize></v-textarea>
            </div>
          </div>
          <div v-if="replyModal.type === 'deny'" class="modal__row">
            <div class="modal__field">
              <v-select
                label="Категория отклонения"
                :items="denyCategories"
                :hide-details="true"
                v-model="denyCategory"
              >

              </v-select>
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn" @click="replyModal.visible = false">Отменить</button>
          <button v-ripple :disabled="!replyModal.textField.trim().length || loading"
                  class="modal__btn modal__btn_color"
                  @click="onReplyClick">
            Отправить ответ
          </button>
        </div>
      </div>
    </v-dialog>
    <v-dialog
      v-model="statusHistoryModalVisible"
      max-width="550px"
      persistent
    >
      <div class="modal operator-proposals__modal">
        <div class="modal__header">
          <div class="modal__title">
            История изменения статуса
          </div>
          <button v-tooltip="'Закрыть'" class="modal__close-btn" @click="statusHistoryModalVisible = false">
            <CloseIcon class="modal__close-icon"/>
          </button>
        </div>
        <div class="modal__body">
          <table class="operator-proposals__statuses">
            <thead>
            <tr>
              <th>Статус</th>
              <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr
              v-for="(item, key) in proposalHistory"
              :key="key"
            >
              <td>{{item.status}}</td>
              <td>{{moment.utc(item.changedAt).format('DD-MM-YYYY HH:mm')}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal__footer">
          <button v-ripple class="modal__btn modal__btn_color" @click="statusHistoryModalVisible = false">Закрыть
          </button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import Tabs from '~/components/base/Tabs';
  import ItemsList from "~/components/base/ItemsList/ItemsList";
  import ListItem from "~/components/base/ItemsList/ListItem";
  import Header from '~/components/Operator/Header';
  import CloseIcon from '~/components/svg/CloseIcon';
  import moment from 'moment';
  import SortIcon from '~/components/NewStyle/svg/Sort';
  import DiscussionsIcon from '~/components/svg/DiscussionsIcon';
  import editorData from '~/components/map/layers/editor';
  import {startRouteProperties} from "~/components/map/layers/editor";
  import Discussions from '~/components/editor/Discussions071';
  import ArrowIcon from '~/components/svg/ArrowIcon';
  import Map from '~/components/Operator/Map';
  import Range from '~/components/base/Range';

  export default {
    layout: 'new',
    components: {
      ListItem,
      ItemsList,
      Tabs,
      Header,
      CloseIcon,
      SortIcon,
      DiscussionsIcon,
      Discussions,
      ArrowIcon,
      Map,
      Range,
    },
    data() {
      return {
        moment,
        mapDataLoading: false,
        openMenuItem: null,
        selectedId: null,
        menuVisible: false,
        menuFullSize: false,
        activeTab: 0,
        menuActiveTab: 0,
        page: 1,
        replyModal: {
          guid: null,
          type: null,
          textField: '',
          visible: false,
        },
        statusHistoryModalVisible: false,
        denyCategories: [
          {
            text: 'Недостаточно данных',
            value: 1
          },
          {
            text: 'Некорректная идея (СПАМ)',
            value: 2
          },
          {
            text: 'Идея не соответствует тематике',
            value: 3
          }
        ],
        denyCategory: 1,
        editorData,
        proposalCategory: 'any',
        proposalCategories: [
          {
            text: 'Любой',
            value: 'any'
          },
          {
            text: 'Новый маршрут по НГПТ',
            value: 'ngptNew'
          },
          {
            text: 'Новый маршрут КД',
            value: 'kd'
          },
          {
            text: 'Существующий маршрут НГПТ',
            value: 'ngpt'
          },
          {
            text: 'Другое',
            value: 'other',
          }
        ],
        closedStatus: 'any',
        closedStatuses: [
          {
            text: 'Все',
            value: 'any'
          },
          'Закрыто',
          'Отклонена'
        ],
        operatedByMe: 'my',
        operatedByMeList: [
          {
            text: 'Мои идеи',
            value: 'my',
          },
          {
            text: 'Чужие идеи',
            value: 'other',
          },
          {
            text: 'Все идеи',
            value: 'all',
          }
        ],
        routeNumber: 'any',
        proposalCreatedAt: [],
        proposalWorkStartedAt: [],
        proposalClosedAt: [],
      }
    },
    methods: {
      ...mapActions({
        getRoutes: 'ngpt/getRoutes071',
        getAllProposals: 'proposals/getAllProposals071',
        getPossibleDays: 'proposals/getPossibleDays',
        getPossibleTimes: 'proposals/getPossibleTimes',
        clearNgptStore: 'ngpt/clearNgptStore',
        clearProposalStore: 'proposals/clearProposalStore',
        moderate: 'operator/proposalModerate071',
        deny: 'operator/proposalDeny071',
        replyDeny: 'operator/proposalReplyDeny071',
        work: 'operator/proposalWork071',
        replyClose: 'operator/proposalReplyClose071',
        getProposal: 'proposals/getProposal071',
        getStopByRouteID: 'ngpt/getStopByRouteID071',
        getRouteByRouteID: 'ngpt/getRouteByRouteID071',
        getStops: 'ngpt/getStops',
        getMetroStations: 'metro/getMetro071',
        getJdStations: 'jd/getStations071',
        clearJdStore: 'jd/clearJdStore',
        clearMetroStore: 'metro/clearMetroStore',
        getProposalDiscussions: 'proposals/getProposalDiscussions071',
        getProposalHistory: 'operator/getProposalHistory071',
        initAuth: 'auth/initAuth',
      }),
      async openMenuToggle(item) {
        this.selectedId = item.id;
        if (this.tabs[this.activeTab].value === 'newProposals') {
          return;
        }
        this.menuActiveTab = 0;
        this.editorData.showOriginalMasterCopy = false;
        this.editorData.stopsList.mainRoute.stops = [];
        this.editorData.stopsList.backRoute.stops = [];
        this.editorData.routesList.mainRoute = {};
        this.editorData.routesList.backRoute = {};
        Object.keys(this.editorData.routeProperties).forEach(key => {
          if (typeof this.editorData.routeProperties[key] === 'string') {
            this.editorData.routeProperties[key] = '';
          } else {
            this.editorData.routeProperties[key].value = null;
          }
        });
        Object.keys(startRouteProperties).forEach(key => {
          delete startRouteProperties[key];
        });
        this.$store.commit('proposals/SET_PROPOSAL_DISCUSSIONS', []);
        this.$store.commit('proposals/SET_PROPOSAL', {});
        this.$store.commit('operator/SET_PROPOSAL_HISTORY', []);
        this.getProposalDiscussions({
          id: item.id,
        });
        this.menuVisible = true;
        this.getProposalHistory(item.id);
        await this.getProposal({
          guid: item.id,
          add: true,
        });
        if (this.simpleNewProposal) {
          return;
        }
        this.mapDataLoading = true;
        const promises = [];
        if (item.routeID) {
          promises.push(this.getStopByRouteID(item.routeID));
          promises.push(this.getRouteByRouteID(item.routeID));
        }
        if (!this.$store.state.ngpt.stops.length) {
          promises.push(this.getStops());
        }
        if (!this.$store.state.metro.metro.length) {
          promises.push(this.getMetroStations());
        }
        if (!this.$store.state.jd.stops.length) {
          promises.push(this.getJdStations());
        }
        await Promise.all(promises).catch(e => console.info(e));
        this.mapDataLoading = false;
      },
      onModerateClick(item) {
        this.moderate(item.id);
      },
      onDenyClick(item, reply) {
        this.denyCategory = 1;
        if (reply) {
          this.replyModal = {
            guid: item.id,
            type: 'deny',
            textField: '',
            visible: true
          };
          return;
        }
        this.deny(item.id);
      },
      onWorkClick(item) {
        this.work(item.id);
      },
      onCloseClick(item) {
        this.replyModal = {
          guid: item.id,
          type: 'close',
          textField: '',
          visible: true
        };
      },
      async onReplyClick() {
        if (!this.replyModal.textField.trim().length) {
          return;
        }
        if (this.replyModal.type === 'deny') {
          await this.replyDeny(this.replyModal);
        }
        if (this.replyModal.type === 'close') {
          await this.replyClose(this.replyModal);
        }
        this.replyModal.visible = false;
        if (this.menuVisible) {
          this.menuActiveTab = 2;
        }
      },
      filtersReset() {
        this.proposalCategory = 'any';
        this.routeNumber = 'any';
        this.proposalCreatedAt = [];
        this.proposalWorkStartedAt = [];
        this.proposalClosedAt = [];
        this.closedStatus = 'any';
        this.operatedByMe = 'my';
        this.selectedId = null;
        this.page = 1;
      },
    },
    computed: {
      simpleNewProposal() {
        return this.proposalsById[this.selectedId].routeMainType === 3;
      },
      menuTabs() {
        return [
          {
            name: 'Описание идеи',
            value: 'description',
          },
          {
            name: 'Параметры маршрута',
            value: 'route',
            hidden: this.simpleNewProposal,
          },
          {
            name: 'Служебная информация',
            value: 'service',
          }
        ]
      },
      proposal() {
        return this.$store.state.proposals.proposal;
      },
      proposals() {
        return this.$store.state.proposals.allProposals;
      },
      proposalsById() {
        return this.proposals.reduce((acc, curr) => {
          acc[curr.id] = curr;
          return acc;
        }, {});
      },
      newProposals() {
        return this.proposals.filter(p => p.statusStr === 'Новая');
      },
      moderateProposals() {
        return this.proposals.filter(p => p.statusStr === 'На модерации');
      },
      workProposals() {
        return this.proposals.filter(p => p.statusStr === 'В работе');
      },
      closedProposals() {
        return this.proposals.filter(p => (p.statusStr === 'Закрыто' || p.statusStr === 'Отклонена'));
      },
      routes() {
        return [...this.$store.state.ngpt.routes].sort((a, b) => a.name.localeCompare(b.name));
      },
      routesById() {
        return this.routes.reduce((acc, curr) => {
          acc[curr.id] = curr;
          return acc;
        }, {});
      },
      tabs() {
        return [
          {
            name: 'Новые',
            value: 'newProposals',
            count: this.newProposals.length,
          },
          {
            name: 'На модерации',
            value: 'moderateProposals',
            count: this.moderateProposals.length,
          },
          {
            name: 'На рассмотрении',
            value: 'workProposals',
            count: this.workProposals.length,
          },
          {
            name: 'Закрытые',
            value: 'closedProposals',
            count: this.closedProposals.length,
          },
        ]
      },
      proposalsList() {
        const moment = require('moment');
        return this[this.tabs[this.activeTab].value].filter(proposal => {
          let filtered = true;
          if (this.proposalCategory === 'ngptNew' && (proposal.mainType !== 1 || proposal.routeID !== 0)) {
            filtered = false;
          }
          if (this.proposalCategory === 'kd' && proposal.mainType !== 2) {
            filtered = false;
          }
          if (this.proposalCategory === 'ngpt' && (proposal.mainType !== 1 || proposal.routeID === 0)) {
            filtered = false;
          }
          if (this.proposalCategory === 'other' && proposal.mainType !== 3) {
            filtered = false;
          }
          if (this.routeNumber !== 'any') {
            filtered = this.routesById[proposal.routeID] && this.routesById[proposal.routeID].name === this.routeNumber;
          }
          if (this.tabs[this.activeTab].value === 'closedProposals' && this.closedStatus !== 'any') {
            filtered = this.closedStatus === proposal.statusStr;
          }
          if (this.proposalCreatedAt.length) {
            if (moment(proposal.createdAt).format('YYYY-MM-DD') < this.proposalCreatedAt[0]) {
              filtered = false;
            }
            if (moment(proposal.createdAt).format('YYYY-MM-DD') > this.proposalCreatedAt[1]) {
              filtered = false;
            }
          }
          if (this.proposalClosedAt.length) {
            if (!proposal.closedAt) {
              filtered = false;
            } else if (moment(proposal.closedAt).format('YYYY-MM-DD') < this.proposalClosedAt[0]) {
              filtered = false;
            }
            if (this.proposalClosedAt[1] && (moment(proposal.closedAt).format('YYYY-MM-DD') > this.proposalClosedAt[1])) {
              filtered = false;
            }
          }
          if (this.proposalWorkStartedAt.length) {
            if (!proposal.workStartedAt) {
              filtered = false;
            } else if (moment(proposal.workStartedAt).format('YYYY-MM-DD') < this.proposalWorkStartedAt[0]) {
              filtered = false;
            }
            if (this.proposalWorkStartedAt[1] && (moment(proposal.workStartedAt).format('YYYY-MM-DD') > this.proposalWorkStartedAt[1])) {
              filtered = false;
            }
          }
          if (this.tabs[this.activeTab].value !== 'newProposals' && this.operatedByMe === 'my' && !(proposal.byMe || proposal.operatedByMe)) {
            filtered = false;
          }
          if (this.tabs[this.activeTab].value !== 'newProposals' && this.operatedByMe === 'other' && (proposal.byMe || proposal.operatedByMe)) {
            filtered = false;
          }
          return filtered;
        }).map(proposal => {
          // let proposalType = proposal.routeID === 0 ? 'Новый маршрут' : 'Существующий маршрут';
          let proposalType = "Другое";
          if (proposal.mainType === 4) {
            proposalType = "Существующий маршрут"
          }
          else if (proposal.mainType === 2 || proposal.mainType === 5) {
            proposalType = "Новый маршрут"
          }
          else if (proposal.mainType === 1) {
            if (proposal.routeID === undefined || proposal.routeID === -1) {
              proposalType = "Новый маршрут"
            }
            else {
              proposalType = "Существующий маршрут"
            }
          }
          let routeName = proposalType;
          if (proposal.desiredFrom) {
            routeName = proposal.desiredFrom;
          }
          if (proposal.desiredTo) {
            routeName = `${routeName}${proposal.desiredFrom ? ' - ' : ''}${proposal.desiredTo}`;
          }
          if (proposal.routeName) {
            routeName = `${proposal.routeName} (${routeName})`;
          }
          return {
            id: proposal.id,
            routeID: proposal.routeID,
            number: ('0000000' + proposal.gid).slice(-8),
            status: proposal.statusStr,
            proposalType,
            routeName,
            username: proposal.username,
            createdAt: moment.utc(proposal.createdAt).format('DD-MM-YYYY HH:mm'),
            votesCount: `${proposal.voteFor} / ${proposal.voteAgainst}`,
            operatorName: proposal.operatorName || '-',
            workStartedAt: proposal.workStartedAt ? moment(proposal.workStartedAt).format('DD-MM-YYYY HH:mm') : '-',
            closedAt: proposal.closedAt ? moment.utc(proposal.closedAt).format('DD-MM-YYYY HH:mm') : '-',
          }
        });
      },
      newStyle() {
        return this.$route.name.includes('new-style');
      },
      loading() {
        return this.$store.state.operator.loading;
      },
      role() {
        return this.$store.state.users.role;
      },
      headers() {
        const headers = [
          {text: 'Номер', value: 'number'},
          {text: 'Статус', value: 'status', sortable: false},
          {text: 'Количество голосов', value: 'votesCount'},
          {text: 'Категория идеи', value: 'proposalType', sortable: false},
          {text: 'Маршрут', value: 'routeName', sortable: false},
          {text: 'Автор', value: 'username'},
          {text: 'Дата создания', value: 'createdAt'},
          {text: 'Оператор', value: 'operatorName'},
          {text: 'Дата взятия в работу', value: 'workStartedAt'},
          {text: 'Дата закрытия', value: 'closedAt'},
        ].filter(h => {
          return !((this.tabs[this.activeTab].value === 'newProposals' || this.tabs[this.activeTab].value === 'moderateProposals') && h.value === 'votesCount');
        });
        if (this.tabs[this.activeTab].value === 'moderateProposals' || this.tabs[this.activeTab].value === 'workProposals') {
          return headers.slice(0, -1);
        }
        if (this.tabs[this.activeTab].value === 'newProposals') {
          return headers.slice(0, -3);
        }
        return headers;
      },
      routeProperties() {
        const routeProperties = {};
        const getHoursAndMinutes = minutes => {
          minutes = Math.abs(minutes);
          let result;
          if (minutes < 60) {
            result = `${minutes}`
          } else {
            if (Math.floor(minutes / 60) < 10) {
              result = `${Math.floor(minutes / 60)}ч.`
            } else {
              result = `${Math.floor(minutes / 60)}ч.`
            }
            if (minutes - Math.floor(minutes / 60) * 60 < 10) {
              result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
            } else {
              result = `${result} ${minutes - Math.floor(minutes / 60) * 60}`
            }
          }
          return result
        };
        Object.keys(this.editorData.routeProperties).forEach(propName => {
          if ((this.editorData.routeProperties[propName].value || this.editorData.routeProperties[propName].value === 0) && startRouteProperties[propName]) {
            let value;
            let diff = Math.round((this.editorData.routeProperties[propName].value - startRouteProperties[propName].value) * 100) / 100;
            let diffColor = diff > 0 ? 'red' : 'green';
            if (propName === 'stopsNum') {
              diffColor = diff > 0 ? 'green' : 'red';
            }
            value = this.editorData.routeProperties[propName].value;
            let hideDiffAutoSign = false;
            if (['mainRouteTime', 'backRouteTime', 'time'].includes(propName)) {
              if (value === 0) {
                value = 'менее 1'
              } else {
                value = getHoursAndMinutes(value);
              }
              if (diff !== 0) {
                const sign = diff > 0 ? '+' : '-';
                diff = `${sign}${getHoursAndMinutes(diff)}`;
                hideDiffAutoSign = true;
              }

            }
            if (propName === 'mainRouteSpeed' || propName === 'backRouteSpeed') {
              diff = null;
            }
            routeProperties[propName] = {
              ...this.editorData.routeProperties[propName],
              value,
              // diff: this.proposalsById[this.selectedId].routeID
              //   ? (diff > 0 && !hideDiffAutoSign) ? `+${diff}` : diff
              //   : null,
              // diffColor,
            }
          }
        });
        return routeProperties
      },
      proposalHistory() {
        return this.$store.state.operator.proposalHistory ? this.$store.state.operator.proposalHistory : [];
      },
      routesNumbers() {
        const routesNumbers = [];
        this[this.tabs[this.activeTab].value].forEach(proposal => {
          if (this.routesById[proposal.routeID]) {
            routesNumbers.push(this.routesById[proposal.routeID].name)
          }
        });
        return [{text: 'Любой', value: 'any'}, ...new Set(routesNumbers.sort())];
      },
      resetBtnVisible() {
        if (this.proposalCategory !== 'any') {
          return true;
        }
        if (this.routeNumber !== 'any') {
          return true;
        }
        if (this.closedStatus !== 'any') {
          return true;
        }
        if (this.proposalCreatedAt.length !== 0) {
          return true;
        }
        if (this.proposalWorkStartedAt.length !== 0) {
          return true;
        }
        if (this.proposalClosedAt.length !== 0) {
          return true;
        }
        if (this.operatedByMe !== 'my') {
          return true;
        }
      },
      possibleDays() {
        return this.$store.state.proposals.possibleDays;
      },
      possibleTimes() {
        return this.$store.state.proposals.possibleTimes;
      },
    },
    async mounted() {
      await this.initAuth();
      if (!(this.role === 'operator' || this.role === 'admin')) {
        this.$router.replace('/login');
        return;
      }
      await this.getPossibleDays();
      await this.getPossibleTimes();
      Promise.all([
        this.getAllProposals(),
        this.getRoutes(),
      ]).then(() => {
        const item = this.proposalsById[this.$route.params.selectedId];
        if (item) {
          if (item.statusStr === 'На модерации') {
            this.activeTab = 1;
          }
          if (item.statusStr === 'В работе') {
            this.activeTab = 2;
          }
          if (item.statusStr === 'Закрыто' || item.statusStr === 'Отклонена') {
            this.activeTab = 3;
          }
          $nuxt.$nextTick(() => {
            this.openMenuToggle(item);
          });
        }
      });
    },
    beforeDestroy() {
      this.clearProposalStore();
      this.clearNgptStore();
      this.clearMetroStore();
      this.clearJdStore();
    },
    watch: {
      menuVisible(visible) {
        if (!visible) {
          this.selectedId = null;
        }
      },
      activeTab() {
        this.filtersReset();
      },
      proposalCreatedAt() {
        this.selectedId = null;
      }
    },
  }
</script>

<style lang="scss">
  .operator-proposals {
    &__title {
      font-weight: 300;
      font-size: 36px;
      font-family: 'Roboto Condensed', sans-serif;
      margin-bottom: 25px;

      sup {
        color: #2b7ae6;
        font-size: 16px;
        top: -22px;
      }
    }

    .v-navigation-drawer {
      z-index: 100;
      overflow: visible;
      position: fixed;
    }

    .v-datatable {
      margin-bottom: 40px;
      font-family: "Moscow Sans", sans-serif;

      &__th {
        color: #828c96;
        font-size: 16px;
        cursor: pointer;
        text-align: left;
      }

      &__td {
        color: #000;
        font-size: 18px;

      }
    }

    &__more-btn {
      min-width: 0 !important;
      height: 30px !important;
      padding: 0 8px 5px !important;
    }

    .data-table {
      font-family: "Moscow Sans", Roboto, sans-serif;
    }

    &__tabs {
      margin-bottom: 20px;
    }

    &__sort-icon {
      width: 16px;
      height: 16px;
      transform: rotate(90deg);
    }

    &__statuses {
      width: 100%;
      text-align: left;

      th,
      td {
        padding: 5px;
        font-size: 16px;
      }
    }

    &__menu {
      &_full-size.v-navigation-drawer--open {
        width: 100% !important;

        .operator-modal__toggle {
          transform: rotate(0);
        }
      }
    }
  }

  .v-datatable__sort-icon {
    margin-left: 10px;
  }

  .operator-proposals-filters {
    display: flex;
    align-items: flex-end;
    padding-top: 30px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;

    &__field {
      margin-right: 40px;
      margin-bottom: 40px;
      min-height: 36px;

      .v-select {
        margin: 0;
      }

      .v-btn {
        margin: 0;
      }

      &:not(.operator-proposals-filters__field_wide) {
        max-width: 150px;
      }
    }
  }

  .operator-proposals-field {
    cursor: pointer;
    padding-top: 0;
    margin: 0;
    .v-select {
      margin: 0;
    }

    .v-input__slot {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__label {
      font-size: 12px;
      font-weight: 300;
      color: #2b7ae6;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-11px);
    }

    &__value {
      font-weight: 300;
      font-size: 16px;
      min-width: 150px;
      color: rgba(0, 0, 0, 0.87);
      white-space: nowrap;
      padding: 8px 0;
      line-height: 16px;
    }
  }
</style>
