<template>
  <div class="votes">
    <div class="votes__container">
      <div class="votes__top">
        <div class="votes-head">
          <div class="votes-head__container">
            <div class="votes-head__tabs">
              <Tabs :items="tabs"/>
            </div>
            <button @click="showMobileFilters" class="votes-head__filter-btn">
              <FilterIcon/>
            </button>
          </div>
          <div class="votes-head__switcher">
            <div class="votes-head__switcher__item" @click="goToStats()">Результаты</div>
          </div>
        </div>
      </div>
      <div
        class="votes-filter"
        :class="{
            'votes-filter_mv': mobileFilterVisible,
          }"
      >
        <button v-tooltip="'Закрыть'" class="votes-filter__close-btn" @click="mobileFilterVisible = false">
          <CloseIcon class="votes-filter__close-icon"/>
        </button>
        <div class="votes-filter__container">
          <v-autocomplete
            class="proposals__filter-division"
            :attach="'.proposals__filter-division'"
            label="Округ"
            :items="divisions"
            :hide-details="true"
            v-model="filters.division"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-district"
            :attach="'.proposals__filter-district'"
            label="Район"
            :items="districts"
            :hide-details="true"
            v-model="filters.district"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-metro"
            :attach="'.proposals__filter-metro'"
            label="Станция метро"
            :items="metros"
            :hide-details="true"
            v-model="filters.metro"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-status"
            :attach="'.proposals__filter-status'"
            label="Статус"
            :items="statuses"
            :hide-details="true"
            v-model="filters.status"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-myVotes"
            :attach="'.proposals__filter-myVotes'"
            v-if="authorized"
            label="Мои голоса"
            :items="myVotes"
            :hide-details="true"
            v-model="filters.myVotes"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-myCableway"
            :attach="'.proposals__filter-myCableway'"
            v-if="kd"
            label="Тип транспорта"
            :items="myCableway"
            :hide-details="true"
            v-model="filters.myCableway"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-autocomplete
            class="proposals__filter-sortType"
            :attach="'.proposals__filter-sortType'"
            label="Сортировка"
            :items="Object.values(sortTypes)"
            :hide-details="true"
            v-model="filters.sort"
            @change="updateUrl(true)"
          >
          </v-autocomplete>
          <v-btn v-if="resetBtnVisible" class="votes-filter__reset" @click="filtersReset">Сброс фильтров</v-btn>
          <div class="votes-filter__m-buttons">
            <v-btn @click="restoreFilters" class="votes-filter__btn">Отмена</v-btn>
            <v-btn @click="mobileFilterVisible = false" class="votes-filter__btn" color="primary">Применить</v-btn>
          </div>
        </div>
      </div>
      <ul class="votes__list" v-if="polls.length">
        <li
          v-for="(vote, key) in polls"
          v-if="pollsRoutesById[vote.routeID] && allPollsById[vote.id]"
          :key="key"
          class="vote"
        >
          <div class="vote__box" @click="goToVote(vote.id)">
            <div class="vote__container">
              <div class="vote__name">
                <span v-tooltip="'НГПТ'" class="vote__route-type-icon" v-if="vote.routeMainType === 1">
                <BusIcon/>
              </span>
                <span v-tooltip="'КД'" class="vote__route-type-icon" v-if="vote.routeMainType === 2">
                <CableWayIcon/>
              </span>
                Маршрут {{vote.title}}
                <div class="vote__discussions">
                  <span class="vote__discussions-cnt">{{vote.commentsCnt}}</span>
                  <DiscussionsIcon/>
                </div>
              </div>
              <div class="vote__stops">
                <div class="vote__prop">
                  <MetroIcon class="vote__icon" v-tooltip="'Станции метро'"/>
                  <span
                    @mouseenter="showVotePropTooltip(vote.id + 'metro', vote.metroStations, $event)"
                    @mouseleave="votePropTooltip.id = null"
                    v-tooltip="{content: votePropTooltip.content, trigger: 'manual', show: votePropTooltip.id === vote.id + 'metro'}"
                    class="ellipsis">{{vote.metroStations ?
                  vote.metroStations.join(', ') :
                  '-'
                  }}</span>
                </div>
                <div class="vote__prop">
                  <StationFromIcon class="vote__icon"/>
                  {{getStopsNames(vote)[0]}}
                </div>
                <div class="vote__prop">
                  <StationToIcon class="vote__icon"/>
                  {{getStopsNames(vote)[1]}}
                </div>
                <div
                  class="vote__prop"
                  :class="{
                    'vote__prop_mh': !mInfoVisible.includes(vote.id)
                  }"
                >
                  <StationsIcon class="vote__icon" v-tooltip="'Округа'"/>
                  <span
                    @mouseenter="showVotePropTooltip(vote.id + 'divisions', vote.divisions, $event)"
                    @mouseleave="votePropTooltip.id = null"
                    v-tooltip="{content: votePropTooltip.content, trigger: 'manual', show: votePropTooltip.id === vote.id + 'divisions'}"
                    class="ellipsis">{{
                      vote.divisions ?
                      vote.divisions.join(', ') :
                    '-'
                  }}</span>
                </div>
                <div
                  class="vote__prop"
                  :class="{
                    'vote__prop_mh': !mInfoVisible.includes(vote.id)
                  }"
                >
                  <StationsIcon class="vote__icon" v-tooltip="'Районы'"/>
                  <span
                    @mouseenter="showVotePropTooltip(vote.id + 'districts', vote.districts, $event)"
                    @mouseleave="votePropTooltip.id = null"
                    v-tooltip="{content: votePropTooltip.content, trigger: 'manual', show: votePropTooltip.id === vote.id + 'districts'}"
                    class="ellipsis">{{
                    vote.districts ?
                    vote.districts.join(', ') :
                    '-'
                  }}</span>
                </div>
                <button
                  @click.stop="mInfoVisible.push(vote.id)"
                  class="vote__m-info"
                  v-if="!mInfoVisible.includes(vote.id)"
                >
                  <InfoIcon class="vote__m-info-icon"/>
                </button>
              </div>
            </div>
            <div
              v-if="allPollsById[vote.id].isVoted === true"
              class="vote-information"
              :class="{
                'vote-information_for': allPollsById[vote.id].isVoted && allPollsById[vote.id].vote,
                'vote-information_against': allPollsById[vote.id].isVoted && !allPollsById[vote.id].vote,
              }"
            >
              <span v-if="allPollsById[vote.id].isVoted">
                Вы уже проголосовали {{ allPollsById[vote.id].vote ? 'ЗА' : 'ПРОТИВ' }}
              </span>
            </div>
            <div class="vote-footer">
              <button class="vote-footer__btn">
                <span v-tooltip="'Голосов ЗА'" class="vote-footer__count vote-footer__count_for">
                  <HandIcon class="vote-footer__icon vote-footer__icon_for"/>
                  <span>{{allPollsById[vote.id].voteFor}}</span>
                </span>
              </button>
              <span class="vote-footer__text">
                <UnderConsiderationIcon class="vote-footer__text-icon" :name="'vote-footer__icon'"/>
                <span>{{allPollsById[vote.id].statusName || 'Активно'}}</span>
              </span>
              <button class="vote-footer__btn">
                <span v-tooltip="'Голосов ПРОТИВ'" class="vote-footer__count vote-footer__count_against">
                  <HandIcon class="vote-footer__icon vote-footer__icon_against"/>
                  <span>{{allPollsById[vote.id].voteAgainst}}</span>
                </span>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div v-if="$store.state.polls.pollsRemaining && polls.length" class="votes__more">
        <v-btn class="votes__more-btn" color="primary" :disabled="loading" @click="updatePolls">Показать еще</v-btn>
      </div>
      <div class="loader_all" style="z-index: 100;" v-if="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import * as turf from '@turf/turf'
  import {mapActions} from 'vuex';
  import LengthIcon from '~/components/svg/LengthIcon';
  import TsIcon from '~/components/svg/TsIcon';
  import TimeIcon from '~/components/svg/TimeIcon';
  import HandIcon from '~/components/svg/HandIcon';
  import UnderConsiderationIcon from '~/components/svg/UnderConsiderationIcon';
  import MetroIcon from '~/components/svg/MetroIcon';
  import StationsIcon from '~/components/svg/StationsIcon';
  import StationFromIcon from '~/components/svg/StationFromIcon';
  import StationToIcon from '~/components/svg/StationToIcon';
  import DiscussionsIcon from '~/components/svg/DiscussionsIcon';
  import FilterIcon from '~/components/NewStyle/svg/Filter';
  import InfoIcon from '~/components/NewStyle/svg/Info';
  import CloseIcon from '~/components/svg/CloseIcon';
  import Tabs from '~/components/NewStyle/Tabs';
  import CableWayIcon from '~/components/svg/CableWayIcon';
  import BusIcon from '~/components/svg/BusIcon2';

  export default {
    layout: 'new',
    components: {
      LengthIcon,
      TsIcon,
      TimeIcon,
      HandIcon,
      UnderConsiderationIcon,
      MetroIcon,
      StationsIcon,
      StationFromIcon,
      StationToIcon,
      DiscussionsIcon,
      FilterIcon,
      CloseIcon,
      InfoIcon,
      Tabs,
      CableWayIcon,
      BusIcon
    },
    data() {
      return {
        voteType: null,
        voteParams: null,
        voteComment: '',
        votePropTooltip: {
          id: null,
          content: '',
        },
        info: '',
        page: 0,
        filters: {},
        mobileFilterVisible: false,
        mInfoVisible: [],
        metros: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        sortTypes: {
          createdAt: {
            text: 'По новизне',
            value: 'createdAt',
            order: 'DESC',
            name: 'createdAt',
          },
          voteTotal: {
            text: 'По числу голосов',
            value: 'voteTotal',
            order: 'DESC',
            name: 'voteTotal'
          },
          popularity: {
            text: 'По числу комментариев',
            value: 'popularity',
            order: 'DESC',
            name: 'popularity'
          },
        },
        districts: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        divisions: [
          {
            text: 'Все',
            value: 'any'
          },
        ],
        statuses: [
          {
            text: 'Все',
            value: 'all',
          },
          {
            text: 'Активные',
            value: 'Активно',
          },
          {
            text: 'Закрытые',
            value: 'Закрыто',
          }
        ],
        directions: [
          {
            text: 'Все',
            value: 'all',
          },
          {
            text: 'Прямое',
            value: 0,
          },
          {
            text: 'Обратное',
            value: 1,
          }
        ],
        myVotes: [
          {
            text: 'Не учитывать',
            value: 0,
          },
          {
            text: 'Есть',
            value: 1,
          },
          {
            text: 'Нет',
            value: -1,
          }
        ],
        myProposals: [
          {
            text: 'Все',
            value: 0,
          },
          {
            text: 'Идея предложена',
            value: 1,
          },
          {
            text: 'Идея не предложена',
            value: -1,
          }
        ],
        myCableway: [
          {
            text: 'Все',
            value: 0,
          },
          {
            text: 'Канатная дорога',
            value: 2,
          },
          {
            text: 'Наземный транспорт',
            value: 1,
          }
        ],
        turf,
        loading: false,
        limit: 12,
        queryParams: {},
        loadingScrollPadding: 400,
        defaultFilters: {
          division: 'any',
          metro: 'any',
          district: 'any',
          status: 'all',
          page: 1,
          myVotes: 0,
          myCableway: 0,
          sort: 'createdAt',
        }
      }
    },
    methods: {
      updateUrl(resetPage) {
        if (!this.authorized) {
          delete this.filters.myVotes;
        }
        if (resetPage) {
          this.filters.page = 1;
          this.page = 0;
        }
        this.$router.replace({
          query: this.filters
        });
      },
      getStopsNames(vote) {
        if (this.pollsRoutesById[vote.routeID]) {
          const stops = this.pollsRoutesById[vote.routeID].fullname.replace(' – ', ' - ').split(' - ');
          if (vote.dir === 1) {
            return stops.reverse();
          }
          return stops;
        }
        return stops;
      },
      goToStats() {
        this.$router.push({
          path: '/votes/stats',
        });
      },
      goToVote(id) {
        this.$router.push({
          name: 'vote-id',
          params: {
            id,
            pageQuery: this.$route.query
          }
        });
      },
      ...mapActions({
        getPollsRoutes: 'polls/getPollsRoutes',
        getPollsList: 'polls/getPollsList',
        getAllPolls: 'polls/getAllPolls',
        clearPollsStore: 'polls/clearPollsStore',
        getAllProposals: 'proposals/getAllProposals',
        clearProposalStore: 'proposals/clearProposalStore',
      }),
      filtersReset() {
        this.filters = {...JSON.parse(JSON.stringify(this.defaultFilters)), sort: this.filters.sort};
        this.updateUrl(true);
      },
      showVotePropTooltip(id, content, e) {
        if (!content) {
          return;
        }
        if (e.target.parentNode.offsetWidth - e.target.offsetWidth <= 43) {
          this.votePropTooltip.content = content.join(', ');
          this.votePropTooltip.id = id;
        }
      },
      showMobileFilters() {
        this.filtersBackup = JSON.parse(JSON.stringify(this.filters));
        this.mobileFilterVisible = !this.mobileFilterVisible;
      },
      restoreFilters() {
        this.filters = JSON.parse(JSON.stringify(this.filtersBackup));
        this.updateUrl(true);
        this.mobileFilterVisible = false;
      },
      updatePolls(params = {}) {
        if (!this.loading && (this.$store.state.polls.pollsRemaining || params.reset)) {
          this.loading = true;
          this.page += 1;
          this.getPollsList({
            page: this.page,
            limit: this.limit,
            filter: this.queryParams,
            sort: {
              name: this.sortTypes[this.filters.sort].name,
              order: this.sortTypes[this.filters.sort].order
            }, ...params
          }).then(() => {
            this.loading = false;
          })
            .catch(e => {
              console.info(e);
              this.loading = false;
            })
        }
      },
      setQueryParams() {
        const filter = {};

        if (this.filters.division !== 'any') {
          filter.divisions = [this.filters.division];
        }

        if (this.filters.district !== 'any') {
          filter.districts = [this.filters.district];
        }

        if (this.filters.metro !== 'any') {
          filter.metroStations = [this.filters.metro];
        }

        if (this.filters.status !== 'all') {
          filter.statuses = [this.filters.status];
        }

        if (this.filters.myVotes === 1) {
          filter.isVoted = true;
        }
        if (this.filters.myVotes === -1) {
          filter.isVoted = false;
        }

        if (this.kd) {
          if (this.filters.myCableway !== 0) {
            filter.routeMainType = this.filters.myCableway;
          }
        } else {
          filter.routeMainType = 1;
        }

        this.queryParams = filter;
      },
      compareFilters(a, b) {
        if (Object.keys(a).length !== Object.keys(b).length) {
          return false;
        }
        else {
          const keys = Object.keys(a);
          for (let i in a) {
            if (a[i] !== b[i]) {
              return false;
            }
          }
          return true;
        }
      },
      // onScroll() {
      //   const dom = document.body.parentElement;
      //   const availHeight = window.screen.availHeight;
      //   if (dom.scrollHeight - availHeight - dom.scrollTop < this.loadingScrollPadding) {
      //     this.updatePolls();
      //   }
      // }
    },
    computed: {
      kd() {
        return process.env.kd;
      },
      pollsRoutesById() {
        const obj = {};
        this.$store.state.polls.pollsRoutes.forEach((route, index) => {
          if (obj[route.routeID] === undefined) {
            obj[route.routeID] = route;
          } else if (route.dir === 0) {
            obj[route.routeID] = route;
          }
        });
        return obj;
      },
      allPolls() {
        return this.$store.state.polls.allPolls;
      },
      allPollsById() {
        return this.allPolls.reduce((acc, curr) => {
          acc[curr.id] = curr;
          return acc;
        }, {});
      },
      polls() {
        return this.$store.state.polls.pollsList;
      },
      allProposals() {
        return this.$store.state.proposals.allProposals;
      },
      tabs() {
        return [
          {
            name: 'Голосования',
            to: '/votes',
            count: this.allPolls.length
          },
          {
            name: 'Идеи',
            to: '/proposals',
            count: this.allProposals.length
          }
        ];
      },
      authorized() {
        return this.$store.state.auth.data.authorized;
      },
      redirectParams() {
        return this.$store.state.auth.redirectParams;
      },
      resetBtnVisible() {
        if (this.authorized) {
          return !this.compareFilters({...this.filters, sort: "same"}, {...this.defaultFilters, sort: "same"});
        }
        else {
          return !this.compareFilters({...this.filters, sort: "same", myVotes: "same"}, {...this.defaultFilters, sort: "same", myVotes: "same"});
        }
      }
    },
    beforeMount() {
      this.filters = {
        division: this.$route.query.division || 'any',
        metro: this.$route.query.metro || 'any',
        district: this.$route.query.district || 'any',
        status: this.$route.query.status || 'all',
        page: +this.$route.query.page || 1,
        myVotes: +this.$route.query.myVotes || 0,
        myCableway: +this.$route.query.myCableway || 0,
        sort: this.$route.query.sort || 'createdAt',
      };
    },
    mounted() {
      if (this.redirectParams) {
        this.$store.commit('auth/setRedirectParams', null);
      }
      if (this.$route.params.info) {
        this.$snotify[this.$route.params.info.status](
          this.$route.params.info.text,
          {
            position: 'centerTop',
            titleMaxLength: 100
          }
        )
      }
      Promise.all([
        this.getAllPolls(),
        this.getPollsRoutes(),
      ]).then(() => {
        let metroStations = [];
        let districts = [];
        let divisions = [];
        this.allPolls.forEach(poll => {
          if (poll.metroStations) {
            metroStations = metroStations.concat(poll.metroStations);
          }
          if (poll.districts) {
            districts = districts.concat(poll.districts);
          }
          if (poll.divisions) {
            divisions = divisions.concat(poll.divisions);
          }
        });
        this.metros = this.metros.concat([...new Set(metroStations)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.divisions = this.divisions.concat([...new Set(divisions)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.districts = this.districts.concat([...new Set(districts)].filter(i => i).sort((a, b) => a.localeCompare(b)));
        this.loading = false;
      });
      this.getAllProposals();
      // document.addEventListener('scroll', this.onScroll);
    },
    beforeDestroy() {
      // this.clearPollsStore();
      // this.clearProposalStore();
      // document.removeEventListener('scroll', this.onScroll);
    },
    watch: {
      'filters.page'() {
        this.updateUrl();
      },
      filters: {
        handler: function () {
          this.setQueryParams();
          this.updatePolls({reset: true})
        },
        deep: true
      },
      mobileFilterVisible(visible) {
        const body = document.querySelector('body');
        if (visible) {
          body.classList.add('no-scroll');
        } else {
          body.classList.remove('no-scroll');
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .votes {
    width: 100%;

    &__container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0;
      max-width: none;
    }

    &__list {
      margin: 5px -20px 20px;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 992px) {
        margin: -3px -10px 10px;
      }
      @media (max-width: 640px) {
        margin: -3px -20px 20px;
      }

    }

    &__top {
      padding-top: 9px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 27px;
    }

    &__info {
      margin: auto auto 30px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      border-radius: 28px;
      background-color: #4cae50;
      padding: 15px 50px;
    }

    &__more {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  .vote {
    margin: 20px;
    border-radius: 10px;
    width: calc(25% - 40px);
    display: flex;
    flex-direction: column;
    background-color: #fff;

    @media (max-width: 1199px) {
      width: calc(33.33333% - 40px);
    }
    @media (max-width: 992px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media (max-width: 640px) {
      width: calc(100% - 40px);
      margin: 20px 20px 0;
    }


    &__container {
      padding: 0 28px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (max-width: 992px) {
        padding: 0 19px;
      }

      .vote__message {
        display: flex;
        width: 100%;
        justify-content: center;
        color: #8e8d8d;
        font-size: 13px;
        margin-top: auto;
      }
    }

    &__name {
      text-align: center;
      color: #2b7ae6;
      font-size: 20px;
      padding: 19px 20px 9px;
      margin-bottom: 8px;
      position: relative;
      font-weight: 500;
      @media (max-width: 992px) {
        font-size: 16px;
        margin-bottom: 13px;
        padding: 19px 40px 9px;
      }
    }

    &__stops {
      font-weight: 300;
      position: relative;
      @media (max-width: 992px) {
        margin-right: 25px;
      }

      b {
        font-weight: 500;
        margin-right: 3px;
      }

      & > div {
        margin-bottom: 12px;

        @media (max-width: 992px) {
          margin-bottom: 1.7rem;
        }
      }
    }

    &__prop {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-family: 'Moscow Sans', Arial, sans-serif;
      font-size: 14px;

      &_mh {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }

    &__icon {
      margin-right: 13px;
      width: 30px;
      height: 30px;
      flex: 0 0 auto;
    }

    &__box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      cursor: pointer;
    }

    &__discussions {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      padding: 10px;
      @media (max-width: 992px) {
        right: -12px;
      }
    }

    &__discussions-cnt {
      color: #333;
      font-size: 14px;
      margin-right: 7px;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      margin-top: -3px;
    }

    &__m-info {
      position: absolute;
      bottom: 5px;
      right: -28px;
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
    }

    &__route-type-icon {
      position: absolute;
      left: 0;
      top: 19px;
      border: 1px solid #9b9b9b;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 17px;
        height: 17px;
      }
    }
  }

  .vote-information {
    z-index: 1;
    position: relative;
    top: 16px;
    height: 48px;
    font-size: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    background-color: #a5a4a5;
    @media (max-width: 992px) {
      margin-top: -16px;
    }

    &_for {
      background-color: #5b9ae4;
    }

    &_against {
      background-color: #D62529;
    }
  }

  .vote-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -.3rem;
    padding: 0 1.9rem;
    font-size: 18px;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;

    &__count {
      display: flex;
      align-items: center;
      font-weight: 500;
      @media (max-width: 992px) {
        font-size: 16px;
      }

      span {
        position: relative;
        top: 4px;
      }

      &_for {
        color: #2b7ae6;
      }

      &_against {
        color: #D62529;
      }
    }

    &__btn {
      padding: 14px 0 20px;

      &[disabled] {
        opacity: .5;
      }
    }

    &__text {
      margin-right: 4px;
      font-weight: 300;

      &-icon {
        margin-right: 6px;
        margin-left: 4px;
        width: 20px;
        height: 25px;
      }
    }

  }

  .votes-filter {
    display: flex;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #f3f5f7;
    padding-top: 25px;
    padding-bottom: 20px;

    @media (max-width: 992px) {
      display: none;
    }

    &__close-btn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 15px;
    }

    &_mv {
      display: flex;
      align-items: flex-start;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #fff;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      .votes-filter__container {
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
        width: 100%;
        margin-top: 20px;
      }

      .v-select {
        margin-left: 0 !important;
        min-height: 100px;
        width: 100%;
        max-width: none !important;

        &:nth-child(1) {
          margin-left: 0;
        }
      }

      .votes-filter__reset {
        display: none;
      }

      .votes-filter__close-btn {
        display: block;
      }

      .votes-filter__m-buttons {
        display: flex;
      }
    }

    &__container {
      display: flex;
      @media (max-width: 767px) {
        &:not(:last-child) {
          margin: 20px 0;
        }
      }
    }

    .v-select {
      max-width: 184px;
      margin-left: 41px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__reset {
      margin-left: 30px;
      margin-top: -8px;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
    }

    &__m-buttons {
      display: none;
      width: 100%;
      justify-content: space-between;
    }
  }

  .votes-head {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 30px;
    }

    @media (max-width: 767px) {
      margin-top: 20px;
    }

    &__title {
      display: flex;
      font-size: 36px;
      white-space: nowrap;
      margin-bottom: 45px;
      font-weight: 800;
      font-family: 'Moscow Sans', Arial, sans-serif;
      @media (max-width: 992px) {
        font-size: 32px;
        margin-bottom: 0;
      }

      span {
        color: #2b7ae6;
        font-size: 14px;
        @media (max-width: 992px) {
          display: none;
        }
      }
    }

    &__switcher {
      display: flex;
      font-size: 30px;
      margin-left: 48px;

      @media (max-width: 992px) {
        margin-left: 0;
        margin-top: 7px;
        margin-bottom: 5px;
      }

      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: #fff;
        border: 1px solid #ccc;
        font-weight: 300;
        font-size: 14px;
        padding: 4px 16px;

        &:nth-child(2) {
          border-left: none;
        }

        &-active {
          color: #fff;
          background: #2b7ae6;
          border: 1px solid #2b7ae6;
        }
      }
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__filter-btn {
      display: none;
      margin-left: 10px;
      @media (max-width: 992px) {
        display: block;
      }
    }

    &__tabs {
      margin-bottom: 25px;
      @media (max-width: 992px) {
        margin-bottom: 0;
      }
    }
  }

  .modal_vote-for,
  .modal_vote-against {
    .modal__btn {
      padding: 8px 20px;

      &_color {
        padding-left: 36px;
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;

          svg {
            margin-left: 15px;
          }
        }
      }
    }

    .modal__textarea {
      height: 105px;
    }

    .modal__row:last-child {
      margin-bottom: 5px;
    }

    .modal__footer {
      padding: 26px 30px 27px;
    }
  }
</style>
