<template>
  <div class="votes">
    <div class="container votes__container" v-if="$store.state.polls.allPolls.length">
      <div class="votes__top">

        <div class="votes-head">
          <h1 class="votes-head__title">Голосования <span>{{votesByRouteName.length}}</span></h1>
          <div class="votes-head__switcher">
            <div class="votes-head__switcher__item" @click="goToVotes()">Голосование</div>
            <div class="votes-head__switcher__item votes-head__switcher__item-active">Результаты</div>
          </div>
        </div>

        <div class="votes-body">
          <div class="votes-body__item">
            <div class="votes-body__item__heading">
              <div class="votes-body__item__heading__title">Всего голосов {{voteSummary}}</div>
              <!-- <div class="votes-body__item__heading__control"><BurgerMenuIcon class=""/></div> -->
            </div>
            <div style="position: relative; height: 400px; position: relative;"><PieChart :items="votesByRouteName"/></div>
          </div>
          <div class="votes-body__item">
            <div class="votes-body__item__heading">
              <div class="votes-body__item__heading__title">Голоса отдельно</div>
              <!-- <div class="votes-body__item__heading__control"><BurgerMenuIcon class=""/></div> -->
            </div>
            <div style="position: relative; min-height: 400px; position: relative; padding: 0 12px">
              <div>
                <v-data-table
                  :headers="headers"
                  :items="votesByRouteName"
                  class="v-datatable"
                  item-key="id"
                  :items-per-page="15"
                >
                  <template v-slot:body="{ items }">
                    <tbody>
                      <tr v-for="item in items" :key="item.id">
                        <td>
                          <nuxt-link :to="'/vote/' + item.id" style="display: block; color: black;">{{item.routeName}}</nuxt-link>
                        </td>
                        <td>
                          <span class="votes-body__count">{{item.voteFor}}</span>
                          <v-progress-linear
                            :value="item.voteForPercent"
                            color="#2a79e6"
                            background-color="white"
                            height="25"
                            class="votes-body__progress"
                          >
                            <template v-slot="{ value }">
                              <strong>{{item.voteForPercent}}%</strong>
                            </template>
                          </v-progress-linear>
                        </td>
                        <td>
                          <span class="votes-body__count">{{item.voteAgainst}}</span>
                          <v-progress-linear
                            :value="item.voteAgainstPercent"
                            color="#f5a522"
                            background-color="white"
                            height="25"
                            class="votes-body__progress"
                          >
                            <template v-slot="{ value }">
                              <strong>{{item.voteAgainstPercent}}%</strong>
                            </template>
                          </v-progress-linear>
                        </td>
                        <td>
                          <span class="votes-body__count">{{item.summary}}</span>
                          <v-progress-linear
                            :value="item.voteForPercent"
                            color="#2a79e6"
                            :background-color="item.summary ? '#f5a522' : 'white'"
                            height="25"
                            class="votes-body__progress"
                          ></v-progress-linear>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-data-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  // import BurgerMenuIcon from '~/components/svg/BurgerMenuIcon';
  import PieChart from '~/components/PieChart';
  import BarChart from '~/components/BarChart';
  import TimeIcon from '~/components/svg/TimeIcon';
  import HandIcon from '~/components/svg/HandIcon';
  import MetroIcon from '~/components/svg/MetroIcon';
  import StationsIcon from '~/components/svg/StationsIcon';

  export default {
    layout: 'new',
    components: {
      PieChart,
      BarChart,
      // BurgerMenuIcon,
      TimeIcon,
      HandIcon,
      MetroIcon,
      StationsIcon
    },
    data() {
      return {
        info: '',
        headers: [
          {text: 'Маршрут', value: 'routeName', sortable: false},
          {text: 'За', value: 'voteForPercent'},
          {text: 'Против', value: 'voteAgainstPercent'},
          {text: 'Всего', value: 'summary', sortable: false}
        ],
      }
    },
    methods: {
      goToVotes() {
        this.$router.push({
          path: '/votes',
        });
      },
      ...mapActions({
        getAllPolls: 'polls/getAllPolls',
        getAggregationPolls: 'polls/getAggregationPolls',
        getRoutes: 'ngpt/getRoutes',
      })
    },
    computed: {
      routesById() {
        return this.$store.state.ngpt.routes.reduce((acc, curr) => {
          acc[curr.routeID] = curr;
          return acc;
        }, {});
      },
      votesByRouteName() {
        let firstIter = this.$store.state.polls.allPolls.map((item, ind) => {
          let voteFor = item.voteFor || 0,
              voteAgainst = item.voteAgainst || 0,
              summary = voteFor + voteAgainst
          return {
            id: item.id,
            routeName: item.title,
            voteFor: voteFor,
            voteForPercent: summary ? Math.round(voteFor / summary * 100) : 0,
            voteAgainst: voteAgainst,
            voteAgainstPercent: summary ? Math.round(voteAgainst / summary * 100) : 0,
            summary: summary,
            proposals: this.infoRoute[item.routeID] ? this.infoRoute[item.routeID].proposals : 0
          }
        });
        let secondIter = firstIter.reduce((accum, curr, arr) => {
          const found = accum.find((val) => {
            return val.routeName === curr.routeName;
          });
          if (found) {
            found.voteFor += curr.voteFor;
            found.voteAgainst += curr.voteAgainst;
            found.summary += curr.summary;
            found.voteForPercent = found.summary ? Math.round(found.voteFor / found.summary * 100) : 0;
            found.voteAgainstPercent = found.summary ? Math.round(found.voteAgainst / found.summary * 100) : 0;
          } else {
            accum.push(curr);
          }
          return accum;
        }, []);
        return secondIter.sort((a, b) => a.routeName.localeCompare(b.routeName));
      },
      voteFor() {
        return this.votesByRouteName.reduce((acc, curr) => {
          acc += curr.voteFor;
          return acc;
        }, 0);
      },
      voteAgainst() {
        return this.votesByRouteName.reduce((acc, curr) => {
          acc += curr.voteAgainst;
          return acc;
        }, 0);
      },
      voteSummary() {
        return this.voteFor + this.voteAgainst;
      },
      infoRoute() {
        return this.$store.state.proposals.infoRoute;
      },
      newStyle() {
        return this.$route.name.includes('new-style');
      }
    },
    beforeMount() {},
    mounted() {
      this.getRoutes();
      this.getAllPolls();
    }
  }
</script>

<style lang="scss" scoped>
  .votes {
    width: 100%;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__list {
      margin: 20px -20px;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__top {
      padding-top: 9px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 27px;
    }

    &__info {
      margin: auto auto 30px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      border-radius: 28px;
      background-color: #4cae50;
      padding: 15px 50px;
    }
  }

  .votes-head {
    display: flex;
    align-items: center;

    &__title {
      display: flex;
      font-weight: 300;
      font-size: 36px;
      font-family: 'Roboto Condensed', sans-serif;
      white-space: nowrap;
      span {
        color: #2b7ae6;
        font-size: 14px;
      }
    }

    &__switcher {
      display: flex;
      font-size: 30px;
      margin-left: 48px;

      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: #fff;
        border: 1px solid #ccc;
        font-weight: 300;
        font-size: 14px;
        padding: 4px 16px;
        &:nth-child(2) {
          border-left: none;
        }
        &-active {
          color: #fff;
          background: #2b7ae6;
          border: 1px solid #2b7ae6;
        }
      }
    }
  }

  .votes-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -24px;
    &__item {
      width: 100%;
      // height: 360px;
      margin: 24px;
      padding: 24px;
      border-radius: 8px;
      border: 1px solid #dcdcdc;
      background: #fff;
      &__heading {
        display: flex;
        justify-content: space-between;
        &__title {
          font-size: 18px;
        }
      }
    }
    .v-datatable {
      tr {
        height: 32px;
        cursor: default;
        &:hover {
          background: none!important;
        }
      }
      td {
        padding: 0; 
        width: calc(68% / 3);
        height: auto; 
        border-bottom: 1px solid rgb(231, 231, 231)!important;
        &:first-child {
          width: 32%;
        }
      }
      strong {
        font-weight: 500;
        line-height: 1;
        text-shadow: 
          1px 0 2px rgba(255,255,255, 0.8),
          -1px 0 2px rgba(255,255,255, 0.8);
      }
    }
    &__count {
      display: inline-block;
      vertical-align: middle;
      width: 27px;
    }
    &__progress {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 75px);
      border: 1px solid #acacac;
    }
  }
</style>
